<template>
    <require from="./document"></require>
    <require from="lib/date-format"></require>
    <require from="lib/component/animation/loading"></require>

    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    <style>
        .panel{
            overflow: hidden;
            position: relative;
            max-height: 100vh;
            border: 1px solid rgba(189, 195, 199, 0.5);
            border-radius: 2px;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: stretch;
            -moz-align-items: stretch;
            -ms-align-items: stretch;
            -o-align-items: stretch;
            align-items: stretch;
            -webkit-justify-content: flex-start;
            -moz-justify-content: flex-start;
            -ms-justify-content: flex-start;
            -o-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-flex-wrap: nowrap;
            -moz-flex-wrap: nowrap;
            -ms-flex-wrap: nowrap;
            -o-flex-wrap: nowrap;
            flex-wrap: nowrap;
            -webkit-transition: max-height 0.5s;
            -moz-transition: max-height 0.5s;
            -ms-transition: max-height 0.5s;
            -o-transition: max-height 0.5s;
            transition: max-height 0.5s;
        }

        .body_pan{
            position: relative;
            background: #151315;
            -webkit-flex: 1 1 auto;
            -moz-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            -o-flex: 1 1 auto;
            flex: 1 1 auto;
        }
    </style>

    <!-- <section class="container-fluid bottom-table minhight" show.bind="!isEditing">
        <div class="container tab-content">
            <div class="tab-pane fade in active">
                
                <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                    <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_certificate" aria-hidden="true"></i></h4>
                            </ui-column>
                            
                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr" disabled.bind="!permission.Add">
                                        <i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i>
                                        <span class="tooltip_text">Add New Document</span>
                                    </button>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>
                <div class="container-fluid minhight padding-5 media-mn">
                    <!-- <ul>
                        <li repeat.for="document of documents">
                            <span class="media-group-btn media-tb-btn" click.delegate="showDocumentTable(document)">
                                Mission - ${document.MissionName}
                                <span class="glyphicon glyphicon-chevron-down" if.bind="!document.OpenTable"></span>
                                <span class="glyphicon glyphicon-chevron-up" if.bind="document.OpenTable"></span>
                            </span>

                            <table class="table table-striped table-custom table-bordered dataTable no-footer" id="tab-${document.AssetId}" aurelia-table="data.bind: document.AssetItemList; display-data.bind: $displayData" if.bind="document.OpenTable">
                                <thead>
                                    <tr>                                        
                                        <th aut-sort="key: Title">Title<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                        <th>Description</th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                        <th colspan="3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $displayData">
                                        <td>${item.AssetName}</td>
                                        <td>${item.AssetComment}</td>
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td colspan="3" class="action-btn">
                                            <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.AssetId)" title="Edit">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i> 
                                            </a>
                                  
                                            <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.AssetId)" title="Delete">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i> 
                                            </a>
                                       
                                            <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="downloadDocument(item.AssetLocation)" title="Download">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </li>
                    </ul> 

                    <ui-panel class="ui-panel-document" repeat.for="document of documents">
                        <ui-header class="ui-header-documents">
                            <ui-header-title>
                                <span class="media-group-btn media-tb-btn">
                                    Mission - ${document.MissionName}
                                </span>
                            </ui-header-title>
                            <ui-header-tool collapse class="ui-header-buton-document"></ui-header-tool>
                        </ui-header>
                        <ui-panel-body padded scroll>
                            <table class="table table-striped table-custom table-bordered dataTable no-footer" aurelia-table="data.bind: document.AssetItemList; display-data.bind: $displayData">
                                <thead>
                                    <tr>                                        
                                        <th aut-sort="key: Title">Title<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                        <th>Description</th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                        <th colspan="3">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $displayData">
                                        <td>${item.AssetName}</td>
                                        <td>${item.AssetComment}</td>
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td colspan="3" class="action-btn">
                                            <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.AssetId)" title="Edit">
                                                <i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i> 
                                            </a>
                                    
                                            <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.AssetId)" title="Delete">
                                                <i class="fa fa-trash"
                                                    aria-hidden="true"></i> 
                                            </a>
                                        
                                            <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="downloadDocument(item.AssetLocation)" title="Download">
                                                <i class="fa fa-download" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ui-panel-body>
                    </ui-panel>
                </div>
                <template if.bind="isEditing" class="col-sm-6 col-md-12 card-container au-animate">
                    <document document.bind="document" save.call="saveItem()"></document>
                </template>
            </div>
        </div>
    </section> -->

    <ui-row show.bind="!isEditing">
        <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <div class="panel">
                    <div class="panel_body body_pan">
                        <ui->
                            <ui-column size="md-12 lg-12 xs-12">
                                <ui-row>
                                    <ui-column size="md-12 lg-12 xs-12">
                                        <ui-row class="header-top">
                                            <ui-column size="md-6 lg-6 xs-8">
                                                <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_certificate" aria-hidden="true"></i></h4>
                                            </ui-column>
                    
                                            <ui-column size="md-6 lg-6 xs-4">
                                                <div class="pull-right">
                                                    <button click.delegate="add(0)" type="button" class="btn btn-add btn-lg tooltip add_opr" disabled.bind="!permission.Add">
                                                        <i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i>
                                                        <span class="tooltip_text">Add New Document</span>
                                                    </button>
                                                </div>
                                            </ui-column>
                                        </ui-row>
                                    </ui-column>
                    
                                    <ui-column size="md-12 lg-12">
                                        <ui-panel class="ui-panel-document" repeat.for="document of documents">
                                            <ui-header class="ui-header-documents">
                                                <ui-header-title>
                                                    <span>
                                                        Mission - ${document.MissionName}
                                                    </span>
                                                </ui-header-title>
                                                <ui-header-tool collapse class="ui-header-buton-document"></ui-header-tool>
                                            </ui-header>
                                            <ui-panel-body class="document-panel-body" padded scroll>
                                                <div class="table-responsive des-table">
                                                    <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: document.AssetItemList; display-data.bind: $displayData">
                                                        <thead>
                                                            <tr>                                        
                                                                <th aut-sort="key: Title">Title<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                                                <th>Description</th>
                                                                <th aut-sort="key: DateCreated; default: desc">Creation Date<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                                                <th colspan="3">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr repeat.for="item of $displayData">
                                                                <td>${item.AssetName}</td>
                                                                <td>${item.AssetComment}</td>
                                                                <td>${item.DateCreated | dateFormat}</td>
                                                                <td colspan="3" class="action-btn">
                                                                    <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.AssetId)" title="Edit">
                                                                        <i class="fa fa-pencil-square-o"
                                                                            aria-hidden="true"></i> 
                                                                    </a>
                                                            
                                                                    <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.AssetId)" title="Delete">
                                                                        <i class="fa fa-trash"
                                                                            aria-hidden="true"></i> 
                                                                    </a>
                                                                
                                                                    <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="downloadDocument(item.AssetLocation)" title="Download">
                                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ui-panel-body>
                                        </ui-panel>
                                    </ui-column>
                                </ui-row>

                                <ui-row>
                                    <ui-column size="md-12 lg-12">
                                        <button class="btn btn-primary btn-lg au-target pull-right" click.delegate="cancel()" au-target-id="749"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back </button>
                                    </ui-column>
                                </ui-row>
                            </ui-column>
                        </ui-row>
                    </div>
                </div>
            </ui-container>
        </ui-column>
    </ui-row>

  
    <document if.bind="isEditing" document.bind="document" save.call="saveItem()"></document>
</template>
