﻿<template>
    <require from="./blob-to-url"></require>
    <require from="./file-list-to-array"></require>
    <require from="lib/date-format"></require>

    <ui-loader busy.bind="isWaiting"></ui-loader>

    <style>
        .box_doc{
           border:2px solid #000;
        }

        .btnBox_doc{
           margin: 10px 0;
        }

        .gen_upload{
           position: absolute;
           top: 10%;
           left: 25%;
           width: 50%;
           background-color: #333;
        }
    </style>

    <ui-row>
        <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel>
                    <ui-panel-body class="panel_body">
                        <ui-row>
                            <ui-column size="md-12 lg-12">
                                <ui-row class="header-top">
                                    <ui-column size="md-6 lg-6 xs-8">
                                        <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_certificate"></i> </h4>
                                    </ui-column>
                                </ui-row>
                            </ui-column>

                            <ui-column size="md-12 lg-12" class="box_doc">
                                <ui-row>
                                    <ui-column size="md-4 lg-4 xs-6">
                                        <ui-input-group>
                                            <ui-input-label> Mission </ui-input-label>
                                            <select class="select-ui-input"  value.bind="asset.ReferenceId & validate" change.delegate="setMissionItems($event)">
                                                <option value="0">Select</option>
                                                <option repeat.for="item of asset.MissionLookup" model.bind="item.Gufi">${item.Name}</option>
                                            </select>
                                        </ui-input-group>
                                    </ui-column>
                                </ui-row>
                                
                                <ui-row if.bind="asset.AssetName">
                                    <ui-column size="md-4 lg-4 xs-6">
                                        <ui-input-group>
                                           <label class="control-label" for="file">Uploaded File : ${uploadedFileName}</label>
                                        </ui-input-group>
                                    </ui-column>
                                </ui-row>
                            </ui-column>

                            <ui-column size="md-12 lg-12" class="btnBox_doc">
                                <button click.delegate="showUpload()" type="button" class="btn btn-primary btn-lg">
                                    <i class="fa fa-upload" aria-hidden="true"></i> Upload
                                </button>
                                &nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </ui-column>

                            <ui-column size="md-12 lg-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-custom dataTable no-footer" if.bind="isView" >
                                        <thead>
                                            <tr>                                        
                                                <th aut-sort="key: Title">Title<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                                <th>Description</th>
                                                <th aut-sort="key: DateCreated; default: desc">Creation Date<span class="glyphicon glyphicon-sort glyStyle"></span></th>
                                                <th colspan="3">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr repeat.for="item of document.AssetItemList" >
                                                <td>${item.AssetName}</td>
                                                <td>${item.AssetComment}</td>
                                                <td>${item.DateCreated | dateFormat}</td>
                                                <td colspan="1" class="action-btn">
                                                    <a href="javascript:;"  click.delegate="downloadDocument(item.AssetLocation)" title="Download">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-panel-body>
                </ui-panel>
            </ui-container>
        </ui-column>
    </ui-row>
    <compose view-model="components/generic-upload"></compose>
  
</template>
