<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    <ui-row>
        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12">
                    <ui-row class="header-top">
                        <ui-column size="md-6 lg-6 xs-8">
                            <h4 class="pull-left heading_title" style="font-size:28px">View equipment Information &nbsp;<i class="fa fa-wifi"></i> </h4>
                        </ui-column>
                    </ui-row>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Name</label>
                            <span class="meetup">${equipment.Name}&nbsp;</span>
                        </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Purchase Date</label>
                        <span class="meetup">${equipment.PurchaseDate}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Serial Number</label>
                        <span class="meetup">${equipment.SerialNumber}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Status</label>
                        <span class="meetup">${equipment.IsActive==true?'Active':'Inactive'}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Type</label>
                            <span class="meetup">${types | filterOnProperty:'TypeId':equipment.TypeId:'Name'}</span>
                        </div>
                    </ui-column>

                

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Drones</label>
                        <span class="meetup">${drones | filterOnProperty:'DroneId':equipment.DroneId:'Title'}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Weight</label>
                        <span class="meetup">${equipment.Weight}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Firmware Version</label>
                        <span class="meetup">${equipment.FirmwareVersion}&nbsp;</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Hardware Version</label>
                        <span class="meetup">${equipment.HardwareVersion}</span>
                    </div>
                </ui-column>

                <ui-column size="md-4 lg-4 xs-4">
                    <div class="wrapper">
                        <label class="upper">Organization</label>
                        <span class="meetup">${organizations | filterOnProperty:'OrganizationId':equipment.OrganizationId:'Name'}</span>
                    </div>
                </ui-column>



                <ui-column size="md-8 lg-8 xs-8">
                    <div class="wrapper">
                        <label class="upper">Notes</label>
                        <span class="meetup">${equipment.Notes}&nbsp;</span>
                    </div>
                </ui-column>

            </ui-row>

            <ui-row>
                <ui-column class="boxForm" size="md-12 lg-12 xs-12">
                    <ui-input-group class="pull-right">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(battery.BatteryId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </ui-input-group>
                </ui-column>
            </ui-row>
        </ui-column>
    </ui-row>
</template>
    

<template>
    <section class="container-fluid edit-view-mn">
        <div class="container das-middle-sec edit-view panel padding-5">
			<div class="row">
				<div class="container">
					<div class="col-md-12">
					  <div class="page-header">
						<h2>View Equipment Information &nbsp; <img src="../../image/otherEquipments.png" style="max-height:21px;background:#fff;"> </h2>
					  </div>
					</div>
				</div>
			</div>
          <div class="container">
            <div class="row">
                <form class="add-form view">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Name</label>
                                    <span class="view-fl">${equipment.Name}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Purchase Date</label>
                                    <span class="view-fl">${equipment.PurchaseDate}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="serial">Serial Number</label>
                                    <span class="view-fl">${equipment.SerialNumber}</span>

                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="drone">For Drone</label>
                                    <span class="view-fl">${drones | filterOnProperty:'DroneId':equipment.DroneId:'Title'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="cellcount">Type</label>
                                    <span class="view-fl">${types | filterOnProperty:'TypeId':equipment.TypeId:'Name'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="capacity">Weight (${massUnit})</label>
                                    <span class="view-fl">${equipment.Weight}</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="fwversion">Firmware Version</label>
                                    <span class="view-fl">${equipment.FirmwareVersion}&nbsp;</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="hwversion">Hardware Version</label>
                                    <span class="view-fl">${equipment.HardwareVersion}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="drone">Organization</label>
                                    <span class="view-fl">${organizations | filterOnProperty:'OrganizationId':equipment.OrganizationId:'Name'}</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="notes">Notes</label>
                                    <span class="view-fl">${equipment.Notes}&nbsp;</span>
                                </fieldset>
                            </div>

                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="active">Status</label>
                                    <span class="view-fl">${equipment.IsActive==true?'Active':'Inactive'}</span>
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>&nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="edit(equipment.EquipmentId)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>
</template>
