<template>
        <style>
        
        </style>
          <ui-loader busy.bind="isWaiting" big></ui-loader>   
         
          <ui-fieldset legend="Equipment Information" checked.bind="ShowEquipmentInfo">
              <div ref="errorHolder" class="errorholder"></div>
            <ui-form submit.trigger="saveItem()">
                <ui-row>
                    <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                      <ui-row>
                        <ui-column size="md-4 lg-4 xs-4">
                            <ui-input-group>
                              <ui-input-label required class="ui-label-custom"> Name </ui-input-label>
                              <ui-input  class="login-input"  value.bind="equipment.Name & validate" placeholder="Name"></ui-input>
                            </ui-input-group>
                        </ui-column>
              
                        <ui-column size="md-4 lg-4 xs-4">
                          <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Purchase Date </ui-input-label>
                            <ui-date date date.bind="equipment.PurchaseDate & validate" >
                          </ui-input-group>
                        </ui-column>
          
                        <ui-column size="md-4 lg-4 xs-4">
                          <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Serial Number </ui-input-label>
                            <ui-input text  value.bind="equipment.SerialNumber & validate" placeholder="Serial Number">
                              <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                            </ui-input>
                          </ui-input-group>
                        </ui-column>
              
                      
                        <ui-column size="md-4 lg-4 xs-4" >
                          <ui-input-group>
                            <ui-input-label class="ui-label-custom">Drone </ui-input-label>
                            <select class="select-ui-input" value.bind="equipment.DroneId & validate">
                              <option value="0">Select</option>
                              <option repeat.for="item of drones" model.bind="item.DroneId">${item.Title}</option>
                            </select>
                          </ui-input-group>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4" >
                            <ui-input-group>
                                <ui-input-label class="ui-label-custom">Type </ui-input-label>
                                <select class="select-ui-input" value.bind="equipment.TypeId & validate">
                                    <option value="0">Select</option>
                                    <option repeat.for="item of types" model.bind="item.TypeId" if.bind="item.Name!='Sensors'">${item.Name}</option>
                                </select>
                            </ui-input-group>
                        </ui-column>
                        
                        <ui-column size="md-4 lg-4 xs-4">
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom">Active</ui-input-label>
                              <ui-switch info width="8" checked.bind="equipment.IsActive" label-off="No" label-on="Yes"></ui-switch>
                            </ui-input-group>
                        </ui-column>
              
                        <ui-column size="md-4 lg-4 xs-4">
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom">Weight (${massUnit})  </ui-input-label>
                              <ui-input number min="0" value.bind="equipment.Weight & validate" min="0" placeholder="Weight">
                                <ui-input-addon> <i class="glyphicon anra-ico_geofence"></i> </ui-input-addon>
                              </ui-input>
                            </ui-input-group>
                        </ui-column>
              
                        <ui-column size="md-4 lg-4 xs-4">
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom"> Firmware Version </ui-input-label>
                              <ui-input text class="input-ui" value.bind="equipment.FirmwareVersion & validate"/>
                                <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                              </ui-input>
                            </ui-input-group>
                        </ui-column>
              
                        <ui-column size="md-4 lg-4 xs-4">
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom">Hardware Version </ui-input-label>
                              <ui-input text class="input-ui" value.bind="equipment.HardwareVersion & validate" info="Latitude">
                                <ui-input-addon> <i class="glyphicon glyphicon-barcode"></i> </ui-input-addon>
                              </ui-input>
                            </ui-input-group>
                        </ui-column>
      
                        <ui-column size="md-4 lg-4 xs-4" show.bind="equipment.IsAdmin">
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom"> Organization </ui-input-label>
                              <select class="select-ui-input"  value.bind="equipment.OrganizationId">
                                <option model.bind="0">Select</option>
                                <option repeat.for="item of organizations" model.bind="item.OrganizationId">${item.Name}</option>
                              </select>
                            </ui-input-group>
                          </ui-column>
                
                        
          
                        <ui-column size="md-8 lg-11 xs-8">
                            <ui-input-group>
                                <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                                <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="equipment.Notes" auto-complete=""></ui-textarea>
                            </ui-input-group>
                        </ui-column>
                      </ui-row>
                    </ui-column>
              
                    <ui-column size="md-12 lg-12" class="boxForm">
                        <ui-input-group class="pull-right">
                            <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                <i class="fa fa-check" aria-hidden="true"></i> Save
                            </button>
                              &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                              <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </ui-input-group>
                    </ui-column>
              
                  </ui-row>
            </ui-form>
             
          </ui-fieldset>
      
          
      </template>
