<template>
    <ui-loader busy.bind="isWaiting" big></ui-loader>
    <ui-fieldset legend="Incident Information" checked.bind="ShowIncidentForm">
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                <ui-row>
                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom" required>Title</ui-input-label>
                            <ui-input text value.bind="incident.Name & validate">
                                <ui-input-addon text-dark> <i class="glyphicon glyphicon-tag"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Incident Date</ui-input-label>
                             <ui-date date.bind="incident.IncidentDate"></ui-date>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom" required> Mission </ui-input-label>
                                <select class="select-ui-input" value.bind="incident.MissionId & validate" change.delegate="fillIncident()">
                                    <option value="0">Select</option>
                                    <option repeat.for="item of missions" model.bind="item.MissionId">${item.Name}</option>
                                </select>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Project</ui-input-label>
                            <ui-input text class="disabled input-ui" value.bind="incident.ProjectName"></ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Drone</ui-input-label>
                            <ui-input text class="disabled input-ui" value.bind="incident.DroneName"></ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Incident Location</ui-input-label>
                            <ui-input text class="disabled input-ui" value.bind="incident.LocationName"></ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Organization</ui-input-label>
                            <ui-input text class="disabled input-ui" value.bind="incident.OrganizationName"></ui-input>
                        </ui-input-group>
                    </ui-column>
    
                    <ui-column size="md-6 lg-4 xs-6">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Incident Cause </ui-input-label>
                                <select class="select-ui-input" value.bind="incident.IncidentCauseId & validate">
                                    <option value="0">Select</option>
                                    <option repeat.for="item of causes" model.bind="item.Id" >${item.Name}</option>
                                </select>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-8 lg-11 xs-8">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Aircraft Damage </ui-input-label>
                            <ui-textarea clear counter rows="3" value.bind="incident.AircraftDamage & validate"
                            auto-complete=""></ui-textarea>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-8 lg-10 xs-8">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Other Damage </ui-input-label>
                            <ui-textarea clear counter rows="4" value.bind="incident.OtherDamage"
                            auto-complete=""></ui-textarea>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-8 lg-9 xs-8">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                            <ui-textarea clear counter  rows="4" value.bind="incident.Notes" placeholder="Notes"></ui-textarea>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-12 lg-12">
                        <ui-input-group class="pull-right">
                            <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                <i class="fa fa-check" aria-hidden="true"></i> Save
                            </button>
                            &nbsp;&nbsp;&nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </ui-input-group>
                    </ui-column>

                </ui-row>
            </ui-column>
        </ui-row>
    </ui-fieldset>
</template>
