<template>
    <require from="blur-image"></require>
    <require from="./incident-editor"></require>
    <require from="./incident-view"></require>
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->

    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    <section class="container-fluid bottom-table minhight" show.bind="!isEditing && !isViewing">
        <ui-row>
            <ui-column size="md-12 lg-12">
                <ui-row class="header-top">
                    <ui-column size="md-6 lg-6 xs-8">
                        <h4 class="pull-left heading_title">${heading} &nbsp;<i class="anra-ico_warning_dark"></i> </h4>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-4">
                        <div class="pull-right">
                            <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                            <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <span class="tooltip_text">New Incident </span>
                            </button>
                        </div>
                    </ui-column>
                </ui-row>
            </ui-column>

            <ui-column size="md-12 lg-12 xs-12">
                <div class="table-responsive des-table">
                    <table class="table table-striped table-custom  dataTable no-footer" aurelia-table="data.bind: incidents; display-data.bind: $incidents;
                    current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                <thead>
                    <tr>
                        <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: IncidentDate">Incident Date <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: IncidentCause">Incident Cause <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr repeat.for="item of $incidents">
                        <td>${item.Name}</td>
                        <td>${item.MissionName}</td>
                        <td>${item.IncidentDate | dateFormat}</td>
                        <td>${item.IncidentCause}</td>
                        <td>${item.OrganizationName}</td>
                        <td>${item.DateCreated | dateFormat}</td>
                        <td colspan="3" nowrap>
                            <aup-dropdown direction="down" right="false">
                                <div slot="dropdown-toggle">Action</div>
                                <div slot="dropdown-menu" class="dropdown_menu">
                                    <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.IncidentId)" title="Edit">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        <span> Edit </span>
                                    </a>
                                    <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.IncidentId)" title="Delete">
                                        <i class="fa fa-trash" aria-hidden="true"></i> 
                                        <span> Delete </span>
                                    </a>
                                    <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.IncidentId)" title="View">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span> View </span>
                                    </a>
                                </div>
                            </aup-dropdown>
                        </td>
                    </tr>
                </tbody>
            </table>
                </div>
            </ui-column>

        </ui-row>

        <!-- pagination -->
        <ui-row>
            <ui-column size="md-9 lg-9 xs-12">
                <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                    pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
            </ui-column>
            <ui-column size="md-3 lg-3 xs-12">
                <div class="form-group pull-right">
                    <label for="pageSize">Page Size: </label>
                    <select value.bind="pageSize" id="pageSize" class="pagination-select">
                        <option model.bind="5">5</option>
                        <option model.bind="10">10</option>
                        <option model.bind="20">20</option>
                        <option model.bind="50">50</option>
                    </select>
                </div>
            </ui-column>
        </ui-row>
        <!-- pagination -->
    
    </section>

    <incident-editor if.bind="isEditing" incident.bind="incidentAggregate.Incident" drones.bind="incidentAggregate.Drones" projects.bind="incidentAggregate.Projects" locations.bind="incidentAggregate.Locations" causes.bind="incidentAggregate.IncidentCauses" organizations.bind="incidentAggregate.OrganizationLookup" missions.bind="incidentAggregate.Missions" save.call="saveItem()"></incident-editor>
    <incident-view if.bind="isViewing" incident.bind="incidentAggregate.Incident" drones.bind="incidentAggregate.Drones" projects.bind="incidentAggregate.Projects" locations.bind="incidentAggregate.Locations" causes.bind="incidentAggregate.IncidentCauses" organizations.bind="incidentAggregate.OrganizationLookup" missions.bind="incidentAggregate.Missions" save.call="saveItem()"></incident-view>
    
</template>
