<template>
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    <ui-row>
        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                        <h4 class="pull-left heading_title"> View Incident Information </h4>
                </ui-column>
            </ui-row>

            <ui-row>
                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="title">Title</label>
                        <span class="view-fl">${incident.Name}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="date">Incident Date</label>
                        <span class="view-fl">${incident.IncidentDate}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="mission">Mission</label>
                        <span class="view-fl">${incident.MissionName}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="project">Project</label>
                        <span class="view-fl">${incident.ProjectName}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="drone">Drone</label>
                        <span class="view-fl">${incident.DroneName}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="location">Incident Location</label>
                        <span class="view-fl">${incident.LocationName}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="airdamage">Aircraft Damage</label>
                        <span class="view-fl">${incident.AircraftDamage}</span>
                    </div>
                </ui-column>
                
                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="org">Organization</label>
                        <span class="view-fl">${incident.OrganizationName}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="otherdamage">Other Damage</label>
                        <span class="view-fl">${incident.OtherDamage}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 xs-6 lg-6">
                    <div class="wrapper">
                        <label class="control-label" for="cause">Incident Cause</label>
                        <span class="view-fl">${causes | filterOnProperty:'Id':incident.IncidentCauseId:'Name'}</span>
                    </div>
                </ui-column>
            </ui-row>

            <ui-row>
                <ui-column class="boxForm" size="md-12 lg-12 xs-12">
                    <ui-input-wrapper class="pull-right">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(incident.IncidentId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </ui-input-wrapper>
                </ui-column>
            </ui-row>
        </ui-column>
    </ui-row>
</template>