@font-face {
    font-family: 'ANRA';
    src:
        url('fonts/ANRA.ttf?x9h1a4') format('truetype'),
        url('fonts/ANRA.woff?x9h1a4') format('woff'),
        url('fonts/ANRA.svg?x9h1a4#ANRA') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="anra-"], [class*=" anra-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ANRA' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ico-xs {
	font-size:9px;
}
.ico-sm {
	font-size:12px;
}
.ico-md {
	font-size:16px;
}
.ico-lg {
	font-size:24px;
}
.ico-xl {
	font-size:32px;
}

.ico-default .ico-nav > .active > a,
.ico-default .ico-nav > .active > a:hover,
.ico-default .ico-nav > .active > a:focus {
  color: #27C3A5;
}

.anra-ico_anralogo .path1:before {
    content: "\e907";
    color: rgb(163, 164, 160);
}
.anra-ico_anralogo .path2:before {
    content: "\e908";
    margin-left: -3.033203125em;
    color: rgb(163, 164, 160);
}
.anra-ico_anralogo .path3:before {
    content: "\e909";
    margin-left: -3.033203125em;
    color: rgb(163, 164, 160);
}
.anra-ico_anralogo .path4:before {
    content: "\e90a";
    margin-left: -3.033203125em;
    color: rgb(163, 164, 160);
}
.anra-ico_anralogo .path5:before {
    content: "\e90b";
    margin-left: -3.033203125em;
    color: rgb(91, 175, 70);
}
.anra-ico_anralogo .path6:before {
    content: "\e90c";
    margin-left: -3.033203125em;
    color: rgb(91, 175, 70);
}
.anra-ico_anralogo .path7:before {
    content: "\e90d";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path8:before {
    content: "\e90e";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path9:before {
    content: "\e90f";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path10:before {
    content: "\e910";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path11:before {
    content: "\e911";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path12:before {
    content: "\e912";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path13:before {
    content: "\e913";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path14:before {
    content: "\e914";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path15:before {
    content: "\e915";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path16:before {
    content: "\e916";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path17:before {
    content: "\e917";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anralogo .path18:before {
    content: "\e918";
    margin-left: -3.033203125em;
    color: rgb(11, 11, 11);
}
.anra-ico_anrasymbol:before {
    content: "\e919";
}
.anra-ico_quadcopter .path1:before {
    content: "\e95f";
}
.anra-ico_quadcopter .path2:before {
    content: "\e960";
    margin-left: -1em;
    color: rgb(237, 28, 36);
}
.anra-ico_quadcopter .path3:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(0, 161, 75);
}
.anra-ico_quadcopter .path4:before {
    content: "\e962";
    margin-left: -1em;
    color: rgb(237, 28, 36);
}
.anra-ico_quadcopter .path5:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(0, 161, 75);
}
.anra-ico_stabilize:before {
    content: "\e979";
}
.anra-ico_cockpit_dark:before {
    content: "\e930";
}
.anra-ico_cockpit_light:before {
    content: "\e931";
}
.anra-ico_logbook_dark:before {
    content: "\e9a9";
}
.anra-ico_logbook_light:before {
    content: "\e9aa";
}
.anra-ico_flightplan_dark:before {
    content: "\e93e";
}
.anra-ico_flightplan_light:before {
    content: "\e93f";
}
.anra-ico_reporting_dark:before {
    content: "\e96b";
}
.anra-ico_reporting_light:before {
    content: "\e96c";
}
.anra-ico_maintenance_dark:before {
    content: "\e94b";
}
.anra-ico_maintenance_light:before {
    content: "\e94c";
}
.anra-ico_adminstration_dark:before {
    content: "\e904";
}
.anra-ico_adminstration_light:before {
    content: "\e905";
}
.anra-ico_logout_dark:before {
    content: "\e949";
}
.anra-ico_logout_light:before {
    content: "\e94a";
}
.anra-ico_plane_dark:before {
    content: "\e95b";
}
.anra-ico_plane_light:before {
    content: "\e95c";
}
.anra-ico_location_dark:before {
    content: "\e99c";
}
.anra-ico_location_light:before {
    content: "\e99d";
}
.anra-ico_certificate:before {
    content: "\e99f";
}
.anra-ico_incident .path1:before {
    content: "\e92d";
}
.anra-ico_incident .path2:before {
    content: "\e97a";
    margin-left: -2.369140625em;
}
.anra-ico_incident .path3:before {
    content: "\e98d";
    margin-left: -2.369140625em;
}
.anra-ico_incident .path4:before {
    content: "\e98e";
    margin-left: -2.369140625em;
}
.anra-ico_incident .path5:before {
    content: "\e98f";
    margin-left: -2.369140625em;
}
.anra-ico_incident .path6:before {
    content: "\e990";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path7:before {
    content: "\e991";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path8:before {
    content: "\e992";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path9:before {
    content: "\e993";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path10:before {
    content: "\e994";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path11:before {
    content: "\e995";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path12:before {
    content: "\e996";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path13:before {
    content: "\e997";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path14:before {
    content: "\e998";
    margin-left: -2.369140625em;
    
}
.anra-ico_incident .path15:before {
    content: "\e999";
    margin-left: -2.369140625em;
    color: rgb(255, 255, 255);
}
.anra-ico_drone:before {
    content: "\e99e";
}
.anra-ico_battery_dark:before {
    content: "\e9a5";
}
.anra-ico_battery_light:before {
    content: "\e9a6";
}
.anra-ico_camera_dark:before {
    content: "\e923";
}
.anra-ico_camera_light:before {
    content: "\e924";
}
.anra-ico_users_dark:before {
    content: "\e9a7";
}
.anra-ico_users_dark:focus {
    content: "\e9a7";
}
.anra-ico_users_light:before {
    content: "\e9a8";
}
.anra-ico_role_dark:before {
    content: "\e9a1";
}
.anra-ico_role_light:before {
    content: "\e9a2";
}
.anra-ico_client_dark:before {
    content: "\e929";
}
.anra-ico_client_light:before {
    content: "\e92a";
}
.anra-ico_system_dark:before {
    content: "\e9a4";
}
.anra-ico_system_light:before {
    content: "\e9a3";
}
.anra-ico_location:before {
    content: "\e946";
}
.anra-ico_distance:before {
    content: "\e935";
}
.anra-ico_waypoints:before {
    font-family: "FontAwesome";
    content: "\f05e";
}
.anra-ico_mappoint_quadcopter .path1:before {
    content: "\e954";
    
}
.anra-ico_mappoint_quadcopter .path2:before {
    content: "\e955";
    margin-left: -0.8330078125em;
    
}
.anra-ico_mappoint_quadcopter .path3:before {
    content: "\e956";
    margin-left: -0.8330078125em;
    color: rgb(237, 28, 36);
}
.anra-ico_mappoint_quadcopter .path4:before {
    content: "\e957";
    margin-left: -0.8330078125em;
    color: rgb(0, 161, 75);
}
.anra-ico_mappoint_quadcopter .path5:before {
    content: "\e958";
    margin-left: -0.8330078125em;
    color: rgb(237, 28, 36);
}
.anra-ico_mappoint_quadcopter .path6:before {
    content: "\e959";
    margin-left: -0.8330078125em;
    color: rgb(0, 161, 75);
}
.anra-ico_mappoint_drone1 .path1:before {
    content: "\e94d";
    
}
.anra-ico_mappoint_drone1 .path2:before {
    content: "\e94e";
    margin-left: -0.8330078125em;
    color: rgb(1, 1, 1);
}
.anra-ico_mappoint_drone2 .path1:before {
    content: "\e94f";
    
}
.anra-ico_mappoint_drone2 .path2:before {
    content: "\e950";
    margin-left: -0.8330078125em;
    color: rgb(1, 1, 1);
}
.anra-ico_mappoint_drone3 .path1:before {
    content: "\e951";
    
}
.anra-ico_mappoint_drone3 .path2:before {
    content: "\e952";
    margin-left: -0.8330078125em;
    color: rgb(1, 1, 1);
}
.anra-ico_mappoint_empty:before {
    content: "\e953";
}
.anra-ico_drawpolygon:before {
    content: "\e936";
}
.anra-ico_checklist:before {
    content: "\e9a0";
}
.anra-ico_add_dark:before {
    content: "\e900";
}
.anra-ico_add_light:before {
    content: "\e901";
}
.anra-ico_edit_dark:before {
    content: "\e937";
}
.anra-ico_edit_light:before {
    content: "\e938";
}
.anra-ico_remove_dark:before {
    content: "\e966";
}
.anra-ico_remove_light:before {
    content: "\e967";
}
.anra-ico_close_dark:before {
    content: "\e92e";
}
.anra-ico_close_light2:before {
    content: "\e92f";
}
.anra-ico_success_dark:before {
    content: "\e97c";
}
.anra-ico_success_light:before {
    content: "\e97d";
}
.anra-ico_help_dark:before {
    content: "\e941";
}
.anra-ico_help_light:before {
    content: "\e942";
}
.anra-ico_admin_dark:before {
    content: "\e902";
}
.anra-ico_admin_light:before {
    content: "\e903";
}
.anra-ico_automatic:before {
    content: "\e91a";
}
.anra-ico_battery_0:before {
    content: "\e91b";
}
.anra-ico_battery_1:before {
    content: "\e91c";
}
.anra-ico_battery_2:before {
    content: "\e91d";
}
.anra-ico_battery_3:before {
    content: "\e91e";
}
.anra-ico_battery_4:before {
    content: "\e91f";
}
.anra-ico_batterycharge_dark:before {
    content: "\e920";
}
.anra-ico_batterycharge_light:before {
    content: "\e921";
}
.anra-ico_calendar:before {
    content: "\e922";
}
.anra-ico_clock_dark:before {
    content: "\e92b";
}
.anra-ico_clock_light:before {
    content: "\e92c";
}
.anra-ico_circle_dark:before {
    content: "\e927";
}
.anra-ico_circle_light:before {
    content: "\e928";
}
.anra-ico_collapse:before {
    content: "\e932";
}
.anra-ico_expand:before {
    content: "\e939";
}
.anra-ico_filter_clear:before {
    content: "\e93a";
}
.anra-ico_filter_dark:before {
    content: "\e93b";
}
.anra-ico_filter_light:before {
    content: "\e93c";
}
.anra-ico_filter_used:before {
    content: "\e93d";
}
.anra-ico_login_dark:before {
    content: "\e947";
}
.anra-ico_login_light:before {
    content: "\e948";
}
.anra-ico_user_dark:before {
    content: "\e980";
}
.anra-ico_user_light:before {
    content: "\e981";
}
.anra-ico_showpassword:before {
    content: "\e975";
}
.anra-ico_hidepassword:before {
    content: "\e943";
}
.anra-ico_password:before {
    content: "\e95a";
}
.anra-ico_repair_dark:before {
    content: "\e969";
}
.anra-ico_repair_light:before {
    content: "\e96a";
}
.anra-ico_retry_dark:before {
    content: "\e96e";
}
.anra-ico_retry_light:before {
    content: "\e96f";
}
.anra-ico_returntolaunch:before {
    content: "\e970";
}
.anra-ico_satellite:before {
    content: "\e971";
}
.anra-ico_search:before {
    content: "\e972";
}
.anra-ico_serialnumber:before {
    content: "\e973";
}
.anra-ico_settings:before {
    content: "\e974";
}
.anra-ico_resize:before {
    content: "\e96d";
}
.anra-ico_speed_dark:before {
    content: "\e977";
}
.anra-ico_speed_light:before {
    content: "\e978";
}
.anra-ico_reorder:before {
    content: "\e968";
}
.anra-ico_positionupdates_dark:before {
    content: "\e95d";
}
.anra-ico_positionupdates_light:before {
    content: "\e95e";
}
.anra-ico_stompmessages_dark:before {
    content: "\e99a";
}
.anra-ico_stompmessages_light:before {
    content: "\e99b";
}
.anra-ico_streetview:before {
    content: "\e97b";
}
.anra-ico_geofence:before {
    content: "\e940";
}
.anra-ico_translate_dark:before {
    content: "\e97e";
}
.anra-ico_translate_light:before {
    content: "\e97f";
}
.anra-ico_videocamera_dark:before {
    content: "\e982";
}
.anra-ico_videocamera_light:before {
    content: "\e983";
}
.anra-ico_alert:before {
    content: "\e906";
}
.anra-ico_info_dark:before {
    content: "\e944";
}
.anra-ico_info_light:before {
    content: "\e945";
}
.anra-ico_warning_dark:before {
    content: "\e984";
}
.anra-ico_warning_light:before {
    content: "\e985";
}
.anra-ico_caution_dark:before {
    content: "\e925";
}
.anra-ico_caution_light:before {
    content: "\e926";
}
.anra-ico_danger_dark:before {
    content: "\e933";
}
.anra-ico_danger_light:before {
    content: "\e934";
}
.anra-ico_signal:before {
    content: "\e976";
}
.anra-ico_radio_dark:before {
    content: "\e964";
}
.anra-ico_radio_light:before {
    content: "\e965";
}
.anra-ico_wifi_dark:before {
    content: "\e987";
}
.anra-ico_wifi_light:before {
    content: "\e988";
}
.anra-ico_wireless_0:before {
    content: "\e989";
}
.anra-ico_wireless_1:before {
    content: "\e98a";
}
.anra-ico_wireless_2:before {
    content: "\e98b";
}
.anra-ico_wireless_3:before {
    content: "\e98c";
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
