.leaflet-marker-photo { 
	border: 2px solid #fff; 
	box-shadow: 3px 3px 10px #888; 
}	

.leaflet-marker-photo div { 
    width: 100%;  
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}	

.leaflet-marker-photo b {
	position: absolute;
	top: -2px;
	right: -11px;
	color: #555;
	background-color: cyan;
	border-radius: 8px;
	height: 16px;
	min-width: 16px;
	line-height: 16px;
	text-align: center;
	padding: 2px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}