﻿.wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
}

  .wrapper > img {
    display: inline-block;
    *display: inline;
    *zoom: 1;
  }

legend {
  border-bottom: none !important;
}

.ui-dialog .ui-dialog-buttonpane {
  margin-top: 0px;
}

.ui-dialog {
  width: 220px !important;
}
  /*.ui-widget-content {
      height: auto !important;
      }*/
  .ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable legend {
    font-size: 12px !important;
    padding-top: 2px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
  }

.carousel-item {
  padding-top: 10px;
}

.das-middle-sec {
  margin-top: 0px;
}

.img-wrap1 {
  position: relative;
  display: inline-block;
}

  .img-wrap1 .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    color: black;
    opacity: 0.5;
  }

.liStyle {
  border-bottom: 1px solid rgba(167,167,167,.233);
  padding-top: 8px;
  padding-bottom: 8px;
}

.workspace-slider .img-wrap button.slider-button-next {
  margin-right: 0px;
}

.workspace-slider .img-wrap .buttons button.slider-button-prev {
  margin-left: 0px;
}

.map {
  width: 100%;
  max-height:400px;
  /*height: 400px;*/
}

.mini-ol3-view {
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 340px;
  height: 170px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,.24);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,.24);
  overflow: hidden;
  background-color: #f6f6f6;
  z-index: 1;
}

.inspection-map-btn {
  /* font-size: 1.3em; */
  color: #fff;
  background-color: #36e4c6;
  text-align: center;
  cursor: pointer;
  z-index: 1001;
}

.inspection-map-btn-stack.right > :first-child {
  border-radius: 0 0 0 4px;
}

.inspection-map-btn-stack.left > .inspection-map-btn, .inspection-map-btn-stack.right > .inspection-map-btn {
  float: left;
}

.inspection-map-btn-stack > .inspection-map-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.inspection-map-btn-stack.right {
  right: 0;
}

.inspection-map-btn-stack {
  position: absolute;
  top: 0;
}


.panel {
  position: absolute !important;
  /*width: 300px !important;
  height: 400px !important;*/
  /*background-color: rgba(255,255,255,.9) !important;*/
  /*z-index: 10 !important;
  right: 0 !important;
  top: 0 !important;*/
  /*overflow-y: auto !important;*/
  /*-webkit-box-shadow: 0 3px 12px 0 rgba(0,0,0,.16) !important;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.16) !important;*/
}

.btnMargin {
  margin: 25px;
}

.panel-default > .panel-heading {
  color: #31c5ac;
  font-weight: 900;
}
