.splash {
  text-align: center;
  margin: 10% 0 0 0;
  box-sizing: border-box;
}

  .splash .message {
    font-size: 55px;
    line-height: 55px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 72px;
    margin-top: 50px;
  }

.ui-app-logo {
  margin: 0.25em 0 0.25em 0 !important;
}

.ui-page .ui-page-title {
  background: rgba(54, 228, 198, 0.33);
  color: black;
  line-height: 2;
  font-weight: 600;
  text-align: left;
  font-size: 16px;
  padding: 0 0 0 5px;
}

.ui-link,
a,
.ui-link:hover,
a:hover {
  color: gray;
}

.ui-datagrid .ui-dg-header .ui-dg-row,
.ui-datagrid .ui-dg-header .ui-dg-row .ui-dg-cell,
.ui-datagrid .ui-dg-header .ui-dg-row .ui-dg-group {
  background: #3e1b3e;
  color: #fff;
  font-weight: 600;
}

.ui-input-group .ui-input-label {
  width: 100%;
  font-weight: 600;
  flex-basis: auto !important;
  line-height: 2;
}

.ui-input-wrapper .ui-input-control input,
.ui-input-wrapper .ui-input-control textarea {
  background: #ffffff;
  border: 1px solid #ececec;
}

.link-white {
  color: white;
}

.ui-viewport .ui-viewport-header {
  background: #151315;
  color: #fffefc;
  min-height: 5em;
  padding: 12px;
}



.row-centered {
  align-items: center;
  justify-content: center;
}

.ui-button .ui-button-el.ui-primary {
  font-size: 16px;
  text-shadow: none;
}

.ui-input-group .ui-input-label {
  justify-content: left;
}

.ui-tab-panel .ui-tabbar .ui-tab-button.ui-active {
  color: #000000;
}

.ui-tab-button.ui-active {
  box-shadow: 4px 0 0 0 #31c5ac inset;
}

.ui-tab-button:hover {
  box-shadow: 4px 0 0 0 #31c5ac inset;
}

.ui-tab-panel .ui-tabbar .ui-tab-button.ui-active:after {
  height: 0;
  top: 0;
  bottom: auto;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 1px #31c5ac;
}

.ui-tab-panel .ui-tabbar .ui-tab-button:after {
  display: block;
  content: "";
  bottom: 0;
  z-index: 5;
  left: 50%;
  right: 50%;
  position: absolute;
  height: 0;
  margin: 0 auto;
  background: #31c5ac;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

.uss-intances-controller-wrapper {
  background-color: #fff;
  padding: 10px 10px 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

  .uss-intances-controller-wrapper .form-wrapper label {
    margin-left: 5px;
    vertical-align: middle;
  }

.trackdrone-radius-controller-wrapper {
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

  .trackdrone-radius-controller-wrapper label {
    font-weight: 700;
    margin-right: 5px;
  }

  .trackdrone-radius-controller-wrapper select {
    width: 185px;
  }

ul.track-operation-details {
  padding: 0;
  font-size: 12px;
  list-style-type: none;
}

.track-operation-details span.details {
  display: block;
  padding-left: 15px;
}

.track-operation-details span.title {
  font-weight: 700;
  display: block;
  text-decoration: underline;
}

.statusFilter-controller-wrapper {
  background-color: #fff;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
}

  .statusFilter-controller-wrapper .statusFilter-label {
    font-weight: 700;
    margin-right: 5px;
  }

.reset-controller-wrapper .trackdrone-reset {
  background-color: #fff;
  padding: 5px 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  border: none;
  font-weight: 700;
}

.list-unstyled {
  list-style: none;
}

.ui-page .ui-page-body {
  overflow: auto;
}

/* .ui-page .ui-page-body {
  overflow: auto;
  overflow: hidden;
  overflow-y: scroll;
  display: block;
  height: 85vh;
  position: absolute;
  top: 35px;
} */

.weather-details-wrapper .weather-icon-wrapper {
  text-align: center;
}

.weather-details-wrapper .weather-details-wrapper ul {
  list-style-type: none;
  padding: 0;
}

.weather-details-wrapper .weather-details-wrapper strong {
  font-weight: 700;
}

.ui-viewport .ui-dialog-container {
  z-index: 999999999;
}

.drone-view-link i {
  font-size: 18px;
  color: #36e4c6;
}

.drone-view-link.disabled-drone-view-link i {
  color: grey;
}

.drone-view-link.disabled-drone-view-link {
  cursor: not-allowed;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.header-logo-img {
  width: auto;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.header-logo-wrapper {
  margin-right: 10px;
  background-image: url(../images/new_icons/border3.png);
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 58px;
}

.list-action-icon {
  margin: 5px 10px;
}

.geolocation-listing {
  position: relative;
}

  .geolocation-listing ul {
    position: absolute;
    width: 500px;
    top: 28px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-top: none;
    padding: 0;
    list-style-type: none;
    z-index: 99;
  }

    .geolocation-listing ul li {
      border-bottom: 1px solid #eee;
      cursor: pointer;
      padding: 0 8px;
    }

      .geolocation-listing ul li:last-child {
        border-bottom: none;
      }

      .geolocation-listing ul li:nth-child(2n) {
        background-color: #eee;
      }

      .geolocation-listing ul li:hover {
        background-color: #ddd;
      }

.navbar-notification-btn-wrapper {
  margin-right: 35px;
}

.powered-anra-logo {
  display: flex;
  margin-right: 25px;
}

.powered-anra-logo .anra-logo {
  height: 35px;
  margin-left: 5px;
}

.powered-anra-logo span {
  font-weight: bold;
  font-size: 14px;
}

.Healthy {
  color: #62f067;
}

.Unhealthy {
  color: #ffc800;
}

.ui-button .ui-button-el, .ui-button .ui-normal, .ui-button .ui-info, .ui-button .ui-success {
  border-radius: 0;
  background: grey !important;
  border: none !important;
  color: #333 !important;
  padding: 2px 8px !important;
  font-weight: 600;
}

.ui-button .ui-button-el:hover, .ui-button .ui-normal:hover, .ui-button .ui-info:hover, .ui-button .ui-success:hover {
  opacity: .8;
  background: grey !important;
  color: #333 !important;
}

.trackdrone-reset {
  border-radius: 5px;
  background: #fff !important;
  border: 2px solid rgba(13, 186, 188, 1) !important;
  color: rgba(13, 186, 188, 1) !important;
  padding: 2px 8px !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 3;
  color: #ffffff;
  background-color: #36e4c6;
  border-color: #36e4c6;
  cursor: default;
}

.ui-input-wrapper.ui-invalid {
  z-index: auto;
  box-shadow: 0 0 1px 0 #36e4c6;
}

.ui-list-container .ui-list-item.ui-hilight {
  color: #090605;
  background: rgba(54, 228, 198, 0.5);
}

::selection {
  background: rgba(54, 228, 198, 0.5);
  color: #090605;
}

.ui-list-container .ui-list-item.ui-selected, .ui-list-container .ui-list-item:active {
  color: #090605;
  font-weight: bold;
  background: rgba(13, 186, 188, 1);
}

.ui-input-wrapper .ui-input-control:before {
  background: rgba(13, 186, 188, 1);
}

.ui-sidebar .ui-menu a {
  color: #2a323c;
  display: block;
  padding: 15px 25px 15px 40px;
  background-color: #ffffff;
  font-size: 15px;
  height: 50px !important;
  line-height: 1.3;
  text-decoration: none;
}

  .ui-sidebar .ui-menu a:hover {
    text-decoration: none;
    background: rgba(54, 228, 198, 0.3);
  }

a.ui-menu-item {
  color: rgba(13, 186, 188, 1);
}

.ui-header .ui-header-button {
  border-color: #36e4c6;
  color: #36e4c6;
}

  .ui-header .ui-header-button:active, .ui-header .ui-header-button:hover {
    color: #36e4c6;
    background: rgba(54, 228, 198, 0.3) !important;
  }

.ui-drawer-toggle {
  color: #2cc9b0;
}

/**New css by ajeet sonkar**/
.trackdrone-radius-controller-wrapper.leaflet-control {
  padding: 10px;
  max-width: 254px;
}

  .trackdrone-radius-controller-wrapper.leaflet-control select {
    height: 25px;
    border-color: #ccc;
    border-radius: 4px;
    float: right;
    width: 163px;
    font-size: 12px;
  }

.trackdrone-radius-controller-wrapper hr {
  display: inline-block;
  width: 100%;
}

.ui-dialog-container .ui-switch-control.ui-success .ui-switch > .ui-switch-input:checked ~ .ui-switch-inner,
.ui-dialog-container ui-header.au-target.ui-header.ui-dark {
  background-color: #0dbabc;
}

.ui-option input:focus ~ .ui-icon, .ui-option input:hover ~ .ui-icon, ui-glyph.au-target.ui-icon.glyph-check-on {
  color: #0dbabc !important;
}

.ui-header.ui-dark .ui-header-button {
  background-color: transparent !important;
  border-color: #fff !important;
  color: #fff;
}

.ui-dialog-container .ui-dialog-wrapper.ui-modal > .ui-dialog.ui-maximize {
  width: 95% !important;
  height: 95% !important;
}

.ui-dialog-container .ui-dialog-wrapper.ui-modal > .ui-dialog label.au-target.ui-input-label {
  margin-bottom: 10px;
}

.reset-controller-wrapper .trackdrone-reset {
  padding: 5px 10px !important;
  font-weight: 500;
}

th.aut-sort.aut-asc {
  color: #0dbabc;
}

.right-sidebar .ui-header.ui-dark .ui-header-button {
  border: none;
}

.ui-dialog-container .ui-dialog-wrapper.ui-modal ui-toolbar.au-target.ui-toolbar {
  border: none;
}

.ui-sidebar .ui-panel .ui-panel-body h7 {
  background: #d4dce4;
  color: #354052;
  display: block;
  padding: 3px 9px;
  margin: 8px 8px;
}

.rsb-2 > label.au-target.ui-input-label:nth-child(1) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-2 > label.au-target.ui-input-label:nth-child(3) .ui-switch-input:checked ~ .ui-switch-inner {
  background-color: #1a74b3;
}

.rsb-2 > label.au-target.ui-input-label:nth-child(2) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-2 > label.au-target.ui-input-label:nth-child(4) .ui-switch-input:checked ~ .ui-switch-inner {
  background-color: #9b6c9d;
}

.rsb-3 > label.au-target.ui-input-label:nth-child(1) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-3 > label.au-target.ui-input-label:nth-child(2) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-3 > label.au-target.ui-input-label:nth-child(5) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-3 > label.au-target.ui-input-label:nth-child(6) .ui-switch-input:checked ~ .ui-switch-inner {
  background-color: #e01212;
}

.rsb-3 > label.au-target.ui-input-label:nth-child(3) .ui-switch-input:checked ~ .ui-switch-inner,
.rsb-3 > label.au-target.ui-input-label:nth-child(4) .ui-switch-input:checked ~ .ui-switch-inner {
  background: #354052;
}

.rsb-4 > label.au-target.ui-input-label .ui-switch-input:checked ~ .ui-switch-inner {
  background: #1a74b3 !important;
}

.color-div {
  float: right;
  border-top: 5px solid #1a74b3;
  height: 1px;
  width: 35px;
  margin-top: 4px;
  margin-left: 20px;
}

ui-sidebar .ui-input-group .ui-input-label > span {
  width: 100%;
  text-align: left;
}

.rsb-2 label.au-target.ui-input-label:nth-child(2) .color-div {
  border-color: #9b6c9d;
}

.rsb-2 label.au-target.ui-input-label:nth-child(3) .color-div {
  border-top: 3px dotted #1a74b3;
}

.rsb-2 label.au-target.ui-input-label:nth-child(4) .color-div {
  border-top: 3px dotted #9b6c9d;
}

.help-div {
  float: right;
}

.ui-dialog-container .ui-dialog-wrapper .ui-dialog.ui-active {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 4px;
}

.ui-date-view .ui-dv-container .weekdays, .ui-date-view .ui-dv-container .weekdays .week {
  background: #62ecd3;
}

.ui-date-view .ui-dv-container span.selected {
  background: #37e4c6;
}

.ui-date-view .ui-dv-container span.hover:hover, .ui-date-view .ui-dv-footer a:hover, .ui-date-view .ui-dv-header a:hover,
.ui-date-view .ui-dv-time-wrapper > div > div a:not(.disabled):hover, .ui-list-container .ui-list-item.ui-selected, .ui-list-container .ui-list-item:active {
  background: #37e4c6;
}

.ui-date-view .ui-dv-container .week {
  color: #000;
}

.ui-statsbar .ui-stat.ui-bg-info {
  background: grey !important;
  padding: 6px;
}

.ui-switch-control .ui-switch > .ui-switch-input:checked ~ .ui-switch-inner {
  background-color: #41e4c6 !important;
}

.ui-switch-control.ui-muted .ui-switch > .ui-switch-input ~ .ui-switch-inner:before {
  text-shadow: none;
  color: #fff;
}

.ui-switch-control.ui-muted .ui-switch > .ui-switch-input ~ .ui-switch-inner {
  background-color: #aaa;
}

.ui-dialog-container .ui-dialog-wrapper .ui-dialog.ui-active ui-header.au-target.ui-header.ui-dark {
  border-radius: 6px 6px 0 0;
}

div .ui-menu .ui-menu-item:hover {
  background-color: rgb(188, 245, 234);
  box-shadow: 4px 0 0 0 #4fe0c4 inset;
}

.leaflet-popup-style .leaflet-popup-tip,
.leaflet-popup-style .leaflet-popup-content-wrapper {
  background: #fffbe0;
  color: #040f6f;
}

.popup-data-title {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 14px;
  border-bottom: 1px solid gray;
  width: 100%;
}

.popup-data-item {
  font-size: 12px;
}

.popup-data-item {
  vertical-align: top;
}

  .popup-data-item label:first-child {
    font-size: 12px;
    font-weight: 600;
    text-wrap: none;
    min-width: 15%;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: top;
  }

  .popup-data-item div {
    width: 330px;
    display: inline-block;
  }

/*********Css changes 14-Jan-19*********/
.or {
  text-align: center;
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

  .or > span {
    position: relative;
    top: 10px;
    background: #26282a;
    padding: 0 15px;
  }

.login-page .ui-panel .ui-panel-body {
  background: rgba(0, 0, 0, 0.45);
  padding: 30px 30px 45px;
  border-radius: 10px;
  border: 1px solid #666;
  color: #fff;
}

.login-page ui-panel {
  border: none;
}

.login-page .ui-input-group .ui-input-label {
  color: #bbb;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 2px;
}

.login-page .ui-input-group {
  margin: 0 0 20px;
}

.login-page .ui-input-wrapper .ui-input-control input {
  height: 35px;
  background: #22252a;
  border: 1px solid #444;
  padding-left: 38px;
  color: #fff;
}

.login-page .ui-input-wrapper .ui-input-control,
.login-page .ui-input-group .ui-group-wrapper {
  background: transparent;
  box-shadow: none;
}

  .login-page .ui-input-wrapper .ui-input-control input[type=text],
  .login-page .ui-input-wrapper .ui-input-control input[type=password] {
    background-image: url(../images/new_icons/user.png);
    background-repeat: no-repeat;
    background-position: 8px center;
  }

  .login-page .ui-input-wrapper .ui-input-control input[type=password] {
    background-image: url(../images/new_icons/pass.png);
  }

.login-page ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #666;
  opacity: 1; /* Firefox */
}

.login-page :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

.login-page ::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}

ui-button.login-btn {
  width: 100% !important;
  margin-top: 15px !important;
}

  ui-button.login-btn .ui-button-el {
    color: #000 !important;
  }

ui-button.ui-button {
  margin: 0;
}

.remember-bx .ui-input-group * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: auto;
}

.remember-bx .ui-input-group .ui-input-label:after {
  display: none;
}

.remember-bx ui-input-group {
  display: block;
  margin: 0 !important;
  float: left;
}

a.for-pass {
  float: right;
  color: #fff;
  margin-top: -5px;
  font-weight: 400;
  font-size: 13px;
}

.remember-bx ui-input-group .au-target {
  min-width: unset !important;
}

.remember-bx ui-input-group div.au-target {
  float: left;
  margin-right: 7px;
}

.login-page .or {
  margin-top: 15px;
  margin-bottom: 20px;
  color: #888;
  font-weight: 600;
}

ui-button.login-btn.white-btn a.ui-button-el {
  background: transparent !important;
  border: 1px solid #999 !important;
  border-radius: 2px;
  color: #999 !important;
}

  ui-button.login-btn.white-btn a.ui-button-el:hover {
    background: #272526 !important;
  }

body {
  background: #000;
  color: #fff;
}

.dashboard-item > ui-stat {
  background: #151315;
  color: #a3a5a1;
  margin: 0 8px;
  border: none !important;
  position: relative;
  padding: 25px !important;
  line-height: 1;
}

ui-statsbar.ui-statsbar {
  background: transparent;
  border: none;
  padding: 35px 20px 6px;
}

.ui-panel .ui-panel-body {
  background: #151315;
}

.ui-panel {
  border: none;
}

.ui-container {
  max-width: 100%;
  padding: 0 10px;
}

.ui-row.ui-gutter {
  padding: 0;
}

.ui-pad-all {
  padding: 7px 10px;
}

.dashboard-item > ui-stat a {
  color: inherit;
}

.dashboard-item > ui-stat .ui-stat-value {
  color: inherit !important;
  font-size: 30px !important;
  text-align: left !important;
  margin-bottom: 15px;
}

.dashboard-item > ui-stat .ui-stat-label {
  color: inherit !important;
  font-size: 15px !important;
  font-weight: normal !important;
  float: left;
}

.dashboard-item > ui-stat > div {
  width: 100%;
}

.anr-ico {
  background-image: url(../image/DroneOSS/dashflights.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 25px;
  top: 50%;
  margin-top: -25px;
}

.anr-ico.ico_2 {
  background-image: url(../image/DroneOSS/icn3.png);
}

.anr-ico.ico_3 {
  background-image: url(../image/DroneOSS/incident.svg);
}

.anr-ico.ico_4 {
  background-image: url(../image/DroneOSS/ico_drone.svg);
}

.anr-ico.ico_5 {
  background-image: url(../image/DroneOSS/maintenance.svg);
}

.anr-ico.ico_6 {
  background-image: url(../image/DroneOSS/ico_reporting_dark.svg);
}

.main_menus {
  -webkit-flex: 1 1 1em;
  -moz-flex: 1 1 1em;
  -ms-flex: 1 1 1em;
  -o-flex: 1 1 1em;
  flex: 1 1 1em;
  font-size: 0;
  padding-left: 100px;
  margin-top:17px;
}

  .main_menus > ui-menu {
    display: inline-block !important;
  }

  .main_menus > ui-menu > a {
    display: inline-block;
    vertical-align: top;
    padding: 0 20px;
    position: relative;
  }

  .main_menus > ui-menu i {
    width: 18px;
    height: 18px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: top;
    color: #b7bfcc;
    line-height: 18px;
  }

  /* .main_menus > ui-menu i.anra-ico_cockpit_dark {
    background-image: url(../image/new_icons/home.png);
  }

  .main_menus > ui-menu i.anra-ico_cockpit_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_cockpit_dark {
    background-image: url(../image/new_icons/home1.png);
  }

  .main_menus > ui-menu i.anra-ico_flightplan_dark {
    background-image: url(../image/new_icons/op.png);
  }

  .main_menus > ui-menu i.anra-ico_flightplan_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_flightplan_dark {
    background-image: url(../image/new_icons/op1.png);
  }

  .main_menus > ui-menu i.anra-ico_plane_dark {
    background-image: url(../image/new_icons/flt.png);
  }

  .main_menus > ui-menu i.anra-ico_plane_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_plane_dark {
    background-image: url(../image/DroneOSS/dashflights.svg);
    background-size: 18px;
  }

  .main_menus > ui-menu i.anra-ico_plane_dark.rm_id {
    background-image: url(../image/new_icons/rm_id.png);
  }

  .main_menus > ui-menu i.anra-ico_plane_dark.rm_id.act,
  .main_menus > ui-menu > a:hover i.anra-ico_plane_dark.rm_id {
    background-image: url(../image/new_icons/rm_id1.png);
  }

  .main_menus > ui-menu i.anra-ico_users_dark {
    background-image: url(../images/new_icons/users.png);
  }

  .main_menus > ui-menu i.anra-ico_users_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_users_dark {
    background-image: url(../image/new_icons/users1.png);
  }

  .main_menus > ui-menu i.anra-ico_client_dark {
    background-image: url(../image/new_icons/uss.png);
  }

  .main_menus > ui-menu i.anra-ico_client_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_client_dark {
    background-image: url(../image/new_icons/uss1.png);
  }

  .main_menus > ui-menu i.anra-ico_info_dark {
    background-image: url(../image/new_icons/uss-ex.png);
  }

  .main_menus > ui-menu i.anra-ico_info_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_info_dark {
    background-image: url(../image/new_icons/uss-ex1.png);
  }

  .main_menus > ui-menu i.anra-ico_stompmessages_dark {
    background-image: url(../image/new_icons/bag.png);
  }

  .main_menus > ui-menu i.anra-ico_stompmessages_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_stompmessages_dark {
    background-image: url(../image/new_icons/bag1.png);
  } */
  

  /* i.anra-ico_cockpit_dark{
    font-size: 18px;
    color: #b7bfcc;
  }


  i.anra-ico_cockpit_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  } */

  i.anra-ico_flightplan_dark{
    font-size: 18px;
    color: #b7bfcc;
  }

  i.anra-ico_flightplan_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  }

  i.anra-ico_maintenance_dark{
    font-size: 18px;
    color: #b7bfcc;
  }

  i.anra-ico_maintenance_dark.act {
    font-size: 18px;
    color: #37e4c6 !important;
  }

  i.anra-ico_plane_dark{
    font-size: 18px;
    color: #b7bfcc;
  }

  i.anra-ico_plane_dark.act{
    font-size: 16px;
    color: #37e4c6 !important;
  }

  i.anra-ico_reporting_dark{
    font-size: 18px;
    color: #b7bfcc;
  }
  i.anra-ico_reporting_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  }

  i.anra-ico_checklist{
    font-size: 18px;
    color: #b7bfcc;
  }

  i.anra-ico_checklist.act{
    font-size: 18px;
    color: #37e4c6 !important;
  }

  i.anra-ico_certificate{
    font-size: 18px;
    color: #b7bfcc;
  }
  i.anra-ico_certificate.act{
    font-size: 18x;
    color: #37e4c6 !important;
  }

  i.anra-ico_adminstration_dark{
    font-size: 18px;
    color: #b7bfcc;
  }

  i.anra-ico_adminstration_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  }


  .main_menus > ui-menu i.anra-ico_info_dark {
    background-image: url(../image/new_icons/uss-ex.png);
  }

  .main_menus > ui-menu i.anra-ico_info_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_info_dark {
    background-image: url(../image/new_icons/uss-ex1.png);
  }

  .main_menus > ui-menu i.anra-ico_cockpit_dark {
    background-image: url(../image/new_icons/home.png);
  }

  .main_menus > ui-menu i.anra-ico_cockpit_dark.act,
  .main_menus > ui-menu > a:hover i.anra-ico_cockpit_dark {
    background-image: url(../image/new_icons/home1.png);
  }
  

  .main_menus > ui-menu > a:hover i {
    color: #37e4c6;
  }

  .main_menus > ui-menu > a i.act::after,
  .main_menus > ui-menu > a:hover i::after {
    content: "";
    position: absolute;
    border-bottom: 3px solid #37e4c6;
    left: 7px;
    right: 7px;
    bottom: -25px;
  }

  ul.dropdown-menu {
    list-style: none;
    display: none;
    position: absolute;
    right: 0;
    z-index: 9991;
    white-space: nowrap;
    background: #5c5b5c;
    padding: 8px 18px;
    border-radius: 6px;
    line-height: 1.7;
  }

  li.list-unstyled:hover ul.dropdown-menu {
    display: block;
  }

  ul.top_users {
    padding: 0;
    position: relative;
  }

  ul.top_users i.anra-ico_users_dark {
    background-color: #5c5b5c;
    width: 36px;
    height: 36px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    font-size: 0;
    background-image: url(../images/new_icons/user-bt.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  ul.top_users a.profile {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/new_icons/arrow.png);
    background-repeat: no-repeat;
    background-position: center right;
  }

  ul.top_users li.list-unstyled:hover a.profile {
    background-image: url(../images/new_icons/arrow1.png);
  }

  ul.top_users li.list-unstyled:hover a.profile i.anra-ico_users_dark {
    background-color: #37e4c6;
    background-image: url(../images/new_icons/user-bt1.png);
  }

  .navbar-notification-btn-wrapper {
    color: #b7bfcc;
  }

  .navbar-notification-btn-wrapper:hover {
    color: #37e4c6;
  }
  /* .ui-section {
      overflow: unset;
  } */
  .ui-section {
    overflow: auto;
  }

  .dashboard-page h4 {
    font-size: 14px;
    font-weight: 600;
    color: #a3a5a1;
    padding-top: 15px;
    padding-left: 10px;
  }

  .op_history table {
    width: 100%;
    table-layout: initial;
  }

  .op_history table thead {
    background: #000;
  }

  .op_history table th, .op_history table td {
    padding: 12px 18px;
    font-weight: 300;
    color: #ccc;
  }

  .op_history table tbody tr {
    border-bottom: 1px solid #222;
  }

  .op_history table td div {
    font-size: 12px;
    color: #aaa;
  }

  .op_history table td:nth-child(3) {
    font-size: 12px;
    text-transform: uppercase;
  }

  .op_history table td i {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ddd;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
  }

    .op_history table td i.act {
      background: #37e4c6;
    }

    .op_history table td i.rog {
      background: #fdb858;
    }

    .op_history table td i.cls {
      background: #ec444c;
    }

select.select-bx {
  background: #000;
  border: none;
  color: #aaa;
  padding: 8px 22px;
  font-weight: 300;
  border-radius: 5px;
  outline: none;
  font-family: inherit;
}

.op_history {
  margin: 0 -10px 12px;
  height: 350px;
  overflow-y: auto;
}

select.select-bx.city-bx {
  float: right;
  margin-top: -28px;
  background: transparent;
}

.flight-activity {
  margin: 0 -10px;
}

  .flight-activity img.img-responsive {
    width: 100%;
    max-height: 310px;
    object-fit: cover;
  }

/*****new css****/
.lf_op, .lf_op2, .lf_op3 {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  background: #151315;
  border-right: 1px solid #222;
  border-top: 1px solid #222;
  color: #ccc;
  overflow-y: auto;
  font-size: 14px;
  z-index: 9999;
}

.lf_op2 {
  left: 290px;
}

.lf_op3 {
  left: inherit;
  right: 0;
}

.op_title, .short_by, .op_dt, .op_title2 {
  background: #000;
  padding: 10px 10px;
  border-bottom: 1px solid #222;
  text-transform: uppercase;
  position: relative;
}

.op_title2 {
  background: #111;
}

.op_title button {
  background: #fff;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  outline: none;
}

.op_data ul {
  list-style: none;
  padding: 0;
}

.op_data > ul > li > span {
  padding: 5px 10px;
  display: block;
  font-weight: 600;
}

.op_data > ul > li li {
  padding: 7px 10px;
  position: relative;
}

.op_data {
  height: 285px;
  overflow-y: auto;
  padding: 10px 0 33px;
}

a.search {
  color: inherit;
  margin-right: 5px;
}

.op_title {
  color: #fff;
  font-size: 16px;
}

.op_data i.fa.fa-eye {
  margin-right: 10px;
  margin-right: 10px;
  color: #ccc;
}

  .op_data i.fa.fa-eye.act {
    margin-right: 10px;
    color: aqua;
  }

.op_data i.fa.fa-plane {
  margin-right: 2px;
}

.op_details {
  padding: 10px 15px;
  font-size: 12px;
}

.op_data > ul > li li:hover {
  background: #2A2A2E;
}

.op_data > ul > li li.active {
  background: #2A2A2E !important;
}

.short_by span {
  text-transform: none;
  font-size: 13px;
  color: #aaa;
  padding-left: 15px;
}

.op_data span i.fa.fa-eye {
  margin-right: 10px;
}

.op_dt_tt {
  display: inline-block;
  vertical-align: top;
  min-width: 84px;
  font-weight: 600;
}

.op_details > div {
  padding: 3px 0;
}

  .op_details > div > span:last-child {
    display: inline-block;
    width: calc(100% - 88px);
    padding-left: 9px;
  }

select.select_act {
  display: inline-block;
  background: #252428;
  border: none;
  padding: 8px 20px;
  width: 100%;
  margin-top: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
  color: inherit;
}

.op_action {
  font-size: 18px;
  color: #fff;
  margin-top: 11px;
  text-align: center;
  margin-bottom: 15px;
}

  .op_action > span {
    padding: 0 7px;
  }

.activated {
  background: #37e4c6;
  color: #111;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
}

.op_details > div > span.activated {
  padding: 1px 8px;
  width: auto;
  margin-left: 10px;
  font-weight: 600;
}

.op_form {
  background: #2A2A2E;
  padding: 15px 12px;
}

.op_form label {
  width: 100%;
  font-weight: normal;
}

.op_form select, .op_form input[type="text"] {
  outline: none;
  width: 100%;
  border: none;
  height: 30px;
  border-radius: 5px;
  color: #000;
  padding: 2px 10px;
}

.ui-input-wrapper .ui-input-control,
.ui-input-wrapper.ui-invalid .ui-input-control {
  background: #aaa;
  border-radius: 3px;
}


.ui-input-wrapper .ui-input-control input{
  background: #aaa;
  border-color: #aaa;
  border-radius: 3px;
  height: 35px;
  font-weight: 600;
  color: black;
  /* pointer-events: none; */
}

.ui-input-group .ui-group-wrapper {
  background: transparent;
  box-shadow: none;
}

.ui-input-wrapper .ui-input-control.ui-textarea textarea {
  margin: 0;
  font-weight: 600;
  color: black;
  background: #aaa;
  border-color: #aaa;
  border-radius: 3px;
}

.ui-input-list .ui-list-container .ui-list-item {
  max-width: 248px;
  flex-wrap: wrap;
  background: #ddd;
  font-weight: normal;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-grn {
  background: #37e4c6 !important;
  color: #111 !important;
}

.btn-grey {
  background: #58595A !important;
  color: #222 !important;
}

.btn:hover {
  opacity: .8 !important;
}

.form-group {
  margin-bottom: 12px;
}

.check_list {
  padding: 15px 15px;
}

  .check_list label {
    font-weight: normal;
    vertical-align: top;
    padding-left: 7px;
  }

  .check_list .form-group {
    position: relative;
  }

    .check_list .form-group label::before {
      content: "";
      display: inline-block;
      width: 15px;
      height: 15px;
      background: #A9A9A9;
      border-radius: 3px;
      line-height: 1;
      vertical-align: top;
      position: absolute;
      left: 0;
      top: 3px;
    }

    .check_list .form-group input:checked + label::before {
      background: #37e4c6;
      content: "\f00c";
      font-family: fontawesome;
      color: #000;
    }

    .check_list .form-group input[type=checkbox] {
      opacity: 0;
    }

.uss-msm-wrp {
  padding: 15px;
}

.uss-sms {
  margin-bottom: 15px;
}

.uss-sms-tt {
  font-weight: 600;
}

.op_data > ul > li li .fa.fa-ellipsis-h {
  font-size: 17px;
  padding-top: 2px;
  cursor: pointer;
  display: none;
}

.op_data > ul > li li:hover .fa.fa-ellipsis-h {
  display: inline-block;
}

ul.op_data_act {
  position: absolute;
  right: 5px;
  background: #151314;
  border: 1px solid #666;
  display: none;
  z-index: 1;
  top: -10px;
}

  ul.op_data_act li {
    padding: 0 !important;
    font-size: 12px;
    border-bottom: 1px solid #666;
    font-family: 'Open Sans', sans-serif;
  }

    ul.op_data_act li a {
      display: block;
      color: inherit;
      padding: 3px 15px;
    }

    ul.op_data_act li:last-child {
      border: none;
    }

.op_data > ul > li li .fa.fa-ellipsis-h:hover ul.op_data_act {
  display: block;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 4px; 
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 12px;
}
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #666;
  }

.form-group.frm-btn {
  margin-top: 20px;
}

.op_form .ui-row.ui-gutter .ui-column {
  flex-basis: 100% !important;
  padding: 0;
}

  .op_form .ui-row.ui-gutter .ui-column .table-responsive {
    height: auto !important;
  }

.op_form .au-target.ui-page-body {
  display: block;
  flex: unset;
}

.op_form .ui-page-title {
  display: none;
}

.op_form .ui-input-group .ui-input-label {
  color: inherit;
  font-weight: bolder;
  font-size: 14px;
}

.op_form .x-view {
  height: auto;
}

map-control.op_map {
  padding-left: 289px;
  display: inline-block;
  width: 100%;
}

.flight-activity div#map {
  max-height: 300px;
}

.right-menu {
  position: fixed;
  top: 31px;
  right: 216px;
  font-size: 18px;
  color: #b7bfcc;
}

.right-menu:hover,
.ui-viewport .ui-viewport-header a:hover i {
  color: #37e4c6;
}

.ui-viewport .ui-viewport-header a i {
  color: #b7bfcc;
}

.ui-drawer > .ui-drawer-content {
  background: #151315;
}

  .ui-drawer > .ui-drawer-content > .ui-drawer-close {
    color: #fff;
  }

.lf_op3 {
  width: 306px;
}

.ui-drawer > .ui-drawer-content {
  width: 330px;
}

.ui-input-wrapper .ui-input-control.ui-textarea textarea {
  margin: 0;
}

.op_form ui-toolbar.au-target.ui-toolbar {
  background: transparent;
  padding: 15px 0px 20px;
  display: inline-block;
  width: 100%;
  border: none;
}

  .op_form ui-toolbar.au-target.ui-toolbar ui-button.au-target.ui-icon-start.ui-button {
    float: left;
  }

    .op_form ui-toolbar.au-target.ui-toolbar ui-button.au-target.ui-icon-start.ui-button:last-child {
      float: right;
    }

    .op_form ui-toolbar.au-target.ui-toolbar ui-button.au-target.ui-icon-start.ui-button .ui-button-el {
      border-radius: 4px;
    }

.op_title2 .glyphicon, .op_dt .glyphicon {
  float: right;
  position: static;
}

.f-r{
  float: right;
}

/* .glyphicon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.glyphicon-arrow{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.glyphicon-chevron-up:before {
  content: "\f106";
}

.glyphicon-chevron-down:before {
  content: "\f107";
}

.op_title2 .glyphicon::after, .op_dt .glyphicon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}

nav.top_views {
  color: #fff;
  position: fixed;
  top: 25px;
  right: 205px;
}

  nav.top_views li {
    list-style: none;
    display: inline-block;
  }

    nav.top_views li a {
      display: block;
      color: #b7bfcc;
      padding: 0 12px;
      text-transform: uppercase;
      font-weight: 600;
    }

.alert_bx {
  position: absolute;
  z-index: 9991;
  width: 330px;
  right: 35px;
  top: 25px;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #222;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 13px;
  color: #b7bfcc;
}

  .alert_bx h4 {
    font-size: 16px;
    margin-bottom: 7px;
    color: #ea676d;
  }

  .alert_bx p {
    margin-bottom: 0;
  }

  .alert_bx h4 span {
    font-weight: 600;
    padding-left: 10px;
  }

  .alert_bx i.fa {
    font-size: 17px;
  }

  .alert_bx .fa-times {
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
  }

.alert_bx1 {
  top: 156px;
}

.alert_bx2 {
  top: 286px;
}

.alert_bx1 h4 {
  color: #62cbe5;
}

.alert_bx2 h4 {
  color: #fdb858;
}

.op_form .ui-pad-all {
  padding: 0;
}

.op_form fieldset.ui-fieldset {
  border: none;
  margin: 0;
}

  .op_form fieldset.ui-fieldset > legend {
    display: none;
  }

.op_form .ui-panel .ui-panel-body {
  background: transparent;
}

div#mapLoc2 {
  height: auto !important;
}

.ui-date-view .ui-dv-container span {
  padding: 0;
  width: 25px;
  height: 25px;
  margin: 1px;
  line-height: 25px;
  color: #fff;
}

.ui-date-view .ui-dv-container .weekdays, .ui-date-view .ui-dv-container .weekdays .week {
  background: transparent;
  font-weight: 300;
  height: auto;
  line-height: 1;
}

.ui-date-view .ui-dv-container .dates {
  line-height: 1;
}

.ui-date-view.floating {
  overflow-y: auto;
}

.op_data > ul > li li .fa-paper-plane {
  font-size: 12px;
  margin-right: 2px;
}

.ui-drawer.ui-drawer-show > .ui-drawer-content {
  box-shadow: none;
}

.ui-input-group .ui-input-label {
  color: inherit;
  font-weight: normal;
}

  /* .ui-input-wrapper .ui-input-control .ui-error,
  .ui-input-group .ui-input-label.ui-required::after {
    color: #37e4c6;
  } */

.ui-input-wrapper.ui-invalid .ui-input-control:before {
  background: #37e4c6;
}

.ui-option .ui-option-label, .ui-input-group .ui-group-wrapper {
  color: #a3a5a1;
  font-size: 14px;
  font-weight: 600;
}

.ui-input-wrapper.ui-invalid {
  box-shadow: none;
}

.ui-date-view.floating {
  background: #444;
  border: 1px solid #888;
  font-size: 13px;
}

  .ui-date-view.floating .week {
    display: none;
  }

.ui-date-view .ui-dv-header a {
  padding: 0 !important;
  color: #fff !important;
  font-weight: 400;
  background: transparent !important;
}

.ui-date-view .ui-dv-header {
  background: #000;
}

.ui-date-view .ui-dv-time-wrapper > div > div {
  padding: 0 4px;
}

  .ui-date-view .ui-dv-time-wrapper > div > div a {
    line-height: 1.2;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
  }

.ui-date-view .ui-dv-time-wrapper svg {
  fill: #fff;
}

.ui-date-view .ui-dv-footer a {
  color: #fff;
  font-weight: 300;
}

.op_data > ul > li > ul > li > span {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 65px);
  padding-left: 5px;
}

div .form-control-uss {
  background: #aaa;
  border-color: #aaa;
}

select#usslist {
  width: calc(100% - 20px);
  margin: 10px;
}

.op_form ui-toolbar.au-target.ui-toolbar ui-button.au-target.ui-icon-start.ui-button:last-child a.ui-button-el {
  background: transparent !important;
  border: 2px solid #fff !important;
  color: #fff !important;
}

.op_form ui-toolbar.au-target.ui-toolbar ui-button.au-target.ui-icon-start.ui-button .ui-button-el {
  background: transparent !important;
  border: 2px solid #37e4c6 !important;
  color: #37e4c6 !important;
  text-shadow: none;
  box-shadow: none;
  font-weight: 400;
}

.ui-viewport .ui-overlay-container {
  padding-right: 50px;
  padding-top: 76px;
  z-index: 9999;
}

ul.top_users a.profile > img {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  margin: 2px 5px;
}

.ui-dialog-container ui-header.au-target.ui-header.ui-dark {
  background-color: #222;
}

.ui-dialog-container .ui-dialog-wrapper.ui-modal > .ui-dialog {
  font-weight: 300;
  background: #222;
  color: #ccc;
  font-family: 'Open Sans', sans-serif;
}

.ui-dialog-container .table-bordered th, .table-bordered td,
.ui-dialog-container .table-bordered {
  border: none;
}

.ui-dialog-container .table-striped tbody tr:nth-of-type(odd) {
  background: #28282c;
}

.ui-dialog-container .ui-row.ui-gutter .ui-column {
  padding: 12px;
}

.ui-dialog-container .ui-header .ui-header-title {
  font-weight: 600;
  color: #ddd;
}

.cesium-animation-shuttleRingPointer {
  fill: #37e4c6;
}

.ui-viewport .ui-viewport-footer {
  color: #fff;
  font-size: 13px;
  text-align: center;
  display: block;
  padding: 5px 10px;
  background: #151315;
  border-top: 1px solid #333;
}

.ui-viewport .ui-viewport-header > li {
  list-style: none;
  padding: 0 20px;
}

.tooltip {
  position: relative;
}

.tooltip_text {
  display: none;
}

.tooltip:hover .tooltip_text {
  position: absolute;
  background: #666;
  border-radius: 5px;
  white-space: nowrap;
  padding: 2px 12px;
  font-size: 12px;
  left: 50%;
  transform: translate(-50%);
  margin-top: 3px;
  z-index: 999999;
  display: block;
  color: #fff;
}

.tooltip .tooltip_text::before {
  content: "\f0de";
  position: absolute;
  font-family: fontawesome;
  font-size: 20px;
  top: -8px;
  line-height: 1;
  left: 50%;
  color: #666;
  margin-left: -6px;
}

.cesium-button {
  color: #fff !important;
  fill: #fff !important;
  box-shadow: none !important;
  border: 1px solid #444 !important;
}

.cesium-button:hover, .cesium-button:active, .cesium-button:focus {
  background: #00947b !important;
  border-color: #00947b !important;
}

/* .cesium-navigation-help-instructions {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

.cesium-animation-buttonToggled .cesium-animation-buttonGlow,
.cesium-animation-rectButton .cesium-animation-buttonGlow {
  fill: #37e4c6;
  filter: unset;
}

.cesium-animation-rectButton:hover .cesium-animation-buttonMain {
  fill: #37e4c6;
}

.cesium-animation-buttonToggled:hover .cesium-animation-buttonMain,
.cesium-animation-rectButton:hover .cesium-animation-buttonMain {
  stroke: #37e4c6 !important;
}

.cesium-animation-buttonToggled .cesium-animation-buttonMain,
.cesium-animation-rectButton .cesium-animation-buttonMain {
  fill: #333;
}

div .cesium-animation-buttonToggled .cesium-animation-buttonMain {
  stroke: #333;
} */

.op_form table th, .op_form table td {
  padding: 3px 3px;
  font-size: 13px;
  word-break: break-all !important;
}

.greenDot {
  color: green;
  font-size: 10px !important;
}

.redDot {
  color: red;
  font-size: 10px !important;
}

.activeEyeHover:hover i {
  color: aqua !important;
}

.target_uss {
  width: 122px !important;
}

.exchange_model_eye {
  margin-left: 10px !important;
  margin-right: 0px !important;
}

.lf_op3 .op_form {
  padding: 0;
}

.table_op {
  padding: 7px 7px 10px;
}

.op_form table th {
  background: #000000;
  font-weight: normal;
}

.lf_op3 .op_form .op_details {
  font-size: 13px;
}

.lf_op3 .op_details > div > span:last-child {
  width: calc(100% - 122px);
}

.lf_op3 .op_dt_tt {
  min-width: 120px;
}

div .leaflet-draw-actions a {
  background: #151315;
  font-family: 'Open Sans', sans-serif;
  color: #fff !important;
}

  div .leaflet-draw-actions a:hover {
    background: #000;
  }

div .leaflet-bar a, div .leaflet-bar a:hover {
  background-color: #eee;
  border-color: #aaa;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  border: none;
}

  div .leaflet-bar a:hover {
    background-color: #ccc;
  }

.leaflet-control-layers-toggle {
  background-color: #eee;
  border-radius: 10px;
}

.ui-dialog-container .ui-dialog-wrapper.ui-modal > .ui-dialog fieldset.ui-fieldset.au-target {
  border: none;
}

.ui-dialog-container .ui-fieldset legend > span {
  color: #ddd;
  font-weight: 400;
}

ul.leaflet-draw-actions {
  left: 35px;
}

.more_details {
  color: #ddd;
  position: absolute;
  right: 35px;
  font-size: 16px;
  line-height: 1.2;
  z-index: 9;
}

div .leaflet-draw-toolbar a {
  background-size: 410px 45px;
}

div .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
  background-position: -2px -3px;
}

div .leaflet-draw-toolbar .leaflet-draw-draw-polygon {
  background-position: -43px -6px;
}

div.leaflet-draw-toolbar .leaflet-draw-draw-rectangle {
  background-position: -85px -5px;
}

div .leaflet-draw-toolbar .leaflet-draw-draw-circle {
  background-position: -126px -4px;
}

div .leaflet-draw-toolbar .leaflet-draw-draw-marker {
  background-position: -167px -5px;
}

div .leaflet-draw-toolbar .leaflet-draw-draw-circlemarker {
  background-position: -372px -6px;
}

.leaflet-draw-top-wrp {
  position: relative;
  left: 300px;
}

.leaflet-draw-top-sec {
  position: absolute;
  top: 9px;
  left: 55px;
  z-index: 9;
  background: #eee;
  border-radius: 4px;
}

  .leaflet-draw-top-sec > a {
    display: inline-block;
    vertical-align: top;
    padding: 4px 9px;
    font-size: 16px;
    color: #464646;
  }

    .leaflet-draw-top-sec > a:hover {
      background: #ccc;
    }

div .ui-alert-shim .ui-alert {
  background: #191919;
  padding: 0 0 20px;
}

.ui-alert-shim .ui-alert .ui-button-bar button:first-child {
  color: #36d9bd;
  border: 2px solid #36d9bd;
}

  .ui-alert-shim .ui-alert .ui-button-bar button:first-child:hover {
    opacity: .8;
  }

.ui-alert-shim .ui-alert .ui-button-bar button {
  color: #fff;
  margin: 0 23px;
  border: 2px solid #fff;
  padding: 8px 10px;
  border-radius: 4px;
  background: transparent;
}

  .ui-alert-shim .ui-alert .ui-button-bar button:hover {
    background: #222;
  }

.op_map_expand {
  padding-left: 580px;
  display: inline-block;
  width: 100%;
}

.op_map {
  padding-left: 283px;
  display: inline-block;
  width: 100%;
}

i.fa.fa-eye {
  color: #ccc;
}

i.fa.act {
  color: aqua;
}

.top_views a i.fa {
  font-size: 16px;
}

.icon_black {
  color: #000000 !important;
}

.icon_red {
  color: red !important;
}

.activated i {
  color: #000000;
}

/* css for marker button in operation listing add operation sidebar  */

ui-input-group a i {
  width: 12px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
  color: #b7bfcc;
  line-height: 18px;
}

.geo-input {
  width: 90%;
  float: left;
}

.marker_geo {
  width: 17%;
  float: left;
}

ui-input-group a i {
  margin: 5px 12px;
}

.marker_icon {
  background-image: url(../images/new_icons/op1.png);
}


/* css for disable sidebar on add or edit drawer */
.pointer_disable {
  pointer-events: none;
}

.pointer_disable_cursor {
  cursor: no-drop;
}

/* css for dropdown list font of operations page */
.au-target.ui-list-item {
  font-size: 12px;
  word-break: break-word;
}

/*css for remove sandwitch icon from navbar*/
.header-logo-wrapper {
  background-image: none !important;
}

/* css for  loader of all pages */
.ui-loader .ui-loader-el {
  background: transparent !important;
  box-shadow: none !important;
  font-size: 3rem !important;
}


/* css for table sorting and searching of all pages */
.table_operation td {
  border-top: none;
}

  .table_operation td:hover {
    background: #2A2A2E !important;
  }

    .table_operation td:hover .fa.fa-ellipsis-h {
      display: block;
    }

.aut-sort:after {
  font-family: FontAwesome;
  padding-right: 0.5em;
  width: 1.28571429em;
  display: inline-block;
  text-align: center;
  padding-left: 8px;
}

.aut-asc:after {
  content: "\f160";
}

.aut-desc:after {
  content: "\f161";
}

.sorted_by_text {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.alpha_text {
  text-transform: capitalize;
}

.head_table {
  padding: 5px 10px !important;
  border-bottom: none !important;
  background: #000;
}

.fa.fa-ellipsis-h {
  top: 6px;
  display: none;
}


  .fa.fa-ellipsis-h:hover ul.op_data_act {
    display: block;
  }

.fa.fa-paper-plane {
  font-size: 12px;
}

  .fa.fa-paper-plane .act {
    color: aqua !important;
  }

.op_data {
  height: 285px;
  overflow-y: auto;
  padding: 0px 0 33px;
}
/* 
input {
  outline: none;
} */

  /* input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 11px;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }


  input[type=search] {
    border: solid 1px #ccc;
    padding: 1px 20px 1px 10px;
    width: 45px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-left: 3%;
  }

    input[type=search]:focus {
      width: 70px;
      background-color: #fff;
      border-color: #66CC75;
      -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
      -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
      box-shadow: 0 0 5px rgba(109,207,246,.5);
    }


  input:-moz-placeholder {
    color: #999;
  }

  input::-webkit-input-placeholder {
    color: #999;
  } */


ul.op_data_act li a {
  display: inline-block;
  color: inherit;
  padding: 3px 15px;
  width: 80px;
  z-index: 9999;
}

.lower_text {
  font-size: 11px;
  font-style: italic;
}

.cont_items_ops {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 135px);
  padding-left: 7px;
}

.cont_items {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 65px);
  padding-left: 7px;
}

.ussExchange_items {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 35px);
  padding-left: 5px;
}

.item_uss_top {
  width: 200px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}


input[type=search].search_ops:focus {
  width: 47px;
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}

.refresh_op {
  font-size: 12px !important;
  margin-left: 4px;
  color: #ccc;
}


/* End css for table sorting and searching of all pages */


/* css for Toaster of error and info warnings */
.ui-toast .ui-close {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);
  font-size: 17px;
}

.ui-info.ui-wrapper.ui-icon {
  font-size: 17px;
  color: aqua;
}

.ui-toast.ui-info {
  z-index: 9991;
  width: 330px;
  right: 110px;
  top: 25px;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #222;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 13px;
  color: aqua;
}

/* .ui-info.ui-toast .ui-message p {
   margin: 0;
   color: aqua;
} */


.ui-toast.ui-danger {
  z-index: 9991;
  width: 330px;
  right: 110px;
  top: 25px;
  background: rgba(0, 0, 0, 0.85);
  border: 1px solid #222;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 300;
  font-size: 13px;
  color: #ed3c39;
}

.ui-danger.ui-wrapper.ui-icon {
  font-size: 17px;
  color: #ed3c39 !important;
}


span.ui-message {
  color: #fff;
}


/* .ui-toast.ui-danger.ui-wrapper.ui-message h1 {
  display: inline-block;
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 5px;
  color: #fff !important;
} */

.errorholder {
  z-index: 99985 !important;
  position: absolute;
  WIDTH: auto;
  LEFT: 42.5%;
}

.ui-toast.ui-open {
  max-height: 20rem;
  transition-timing-function: ease-out;
}



/* leaflet popup on fly drone click */
.leaflet-popup-style .leaflet-popup-tip, .leaflet-popup-style .leaflet-popup-content-wrapper {
  background: rgba(0, 0, 0, 0.75) !important;
  color: #040f6f;
}

.leaflet-popup-content {
  margin: 1px 16px !important;
  line-height: 1.4 !important;
  color: #fff !important;
}

.popup-data-title {
  display: none;
}



/* css for map hover popup color*/
.leaflet-popup-content {
  margin: 13px 19px;
  line-height: 1.4;
  color: #000;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: rgba(0, 0, 0, 0.75) !important;
}




/* css for Organisation top menu icon */
.anra-ico_organisation {
  background-image: url(../images/new_icons/organisation.png);
}

  .anra-ico_organisation.act {
    background-image: url(../images/new_icons/organisation1.png);
  }

  .anra-ico_organisation:hover {
    background-image: url(../images/new_icons/organisation1.png);
  }



/* css for Text bold of aside headings*/
.op_dt {
  font-weight: bold;
}

/* css for icon of operation status */
.proposed {
  color: rgba(32, 70, 236, 0.637) !important;
}

.acc_act {
  color: #37e4c6 !important;
}

.other {
  color: rgba(255, 0, 0, 0.698) !important;
}

.rogue {
  color: orange !important;
}


.op_details span {
  word-break: break-word;
}

.contigency_button {
  background: #fff;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  outline: none;
  margin-top: 12px;
}

/* some design issues */
ui-radio.au-target.ui-option.ui-radio {
  color: aqua;
}

.user_rolesList {
  padding: 0px;
}



.m-l-8 {
  margin-left: 8px !important;
}


.terrain_box {
  width: 390px !important;
}



/*
css rules for the draw helper components
*/

.toolbar {
  margin: 0px;
  padding: 0px;
  background: white;
  position: absolute;
  margin-left: 21%;
  top: 5px;
  left: 10px;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
}

  .toolbar > .button {
    padding: 2px 4px;
    border: 1px solid #eee;
    cursor: pointer;
  }

    .toolbar > .button:hover {
      background: #eee;
    }


/* Css for active toggle button */

.label_active {
  width: 20% !important;
}

.ui-switch-active {
  margin-top: 6px !important;
}


/* css for drone search page table drawer */

.table_drone_search {
  font-size: 12px;
  background: #1f1f1f;
  font-weight: bold;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

  .table_drone_search td {
    border: none;
  }

.op_title .tooltip:hover .tooltip_text {
  max-width: 90px;
  white-space: normal;
  padding: 2px 8px;
  text-transform: initial;
  line-height: 1.4;
  text-align: center;
}

.op_title .add_opr.tooltip:hover .tooltip_text {
  left: -14px;
  width: 76px;
}

  .op_title .add_opr.tooltip:hover .tooltip_text:before {
    left: 60px;
  }

.search_bx:hover input.search_ops {
  border: solid 1px #ccc;
  padding: 1px 20px 1px 10px;
  width: 43px;
}

.search_bx:hover input.search_ops {
  padding: 1px 20px 1px 10px;
}

input.search_ops {
  width: 0;
  padding: 0;
  border: none;
  margin: 0;
}

span.search_bx i.fa {
  font-size: 12px;
}

.op_dt button {
  background: #fff;
  border: none;
  font-weight: bold;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  outline: none;
}

.table_kml {
  width: 95% !important;
  margin-left: 8px !important;
}













.ui-viewport .ui-viewport-footer {
  display: block;
}

.active {
  background-color: aqua !important;
}

.cesium_container {
  margin-left: 21% !important;
  width: 79vw;
  height: 82vh;
  margin: 0;
  padding: 0;
}


/* #cesiumContainer {
  width: 79vw;
  height: 88vh;
  margin: 0;
  padding: 0;
   margin-left: 21%; 
  overflow: hidden; 
} */

.cesium-infoBox-defaultTable {
  color: black !important;
  background: white !important;
}

.cesium-credit-image {
  display: none;
}

.cesium-credit-text {
  display: none;
}

.toolbar-left {
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
}

.cesium_btn {
  padding: 7px 15px;
  background: #353434;
  color: #fff;
  border-radius: 6px;
  border: 1px solid #353434;
  min-width: 115px;
  font-size: 11px;
}

.heading_ops {
  font-size: 14px;
  font-weight: bold;
  color: #aaaaaa !important
}

.exchange_model_eye {
  margin-top: 23px;
}

i.fa.fa-circle.redDot {
  margin-top: 23px;
}

i.fa.fa-circle.greenDot {
  margin-top: 23px;
}


/* leaflet pop Scroller */
.leaflet-popup-content {
  max-height: 180px !important;
  overflow: hidden !important;
  min-height: 20px !important;
  overflow-y: scroll !important;
}

.popup-data-item div {
  width: auto !important;
  display: inline-block;
}

/* Toaster Resize  Width*/
#toast-container.toast-top-center > div, #toast-container.toast-bottom-center > div {
  width: 326px;
  margin-left: auto;
  margin-right: auto;
}

.box_time_local {
  font-size: 10px;
  float: left;
  background: #00947b;
  width: 48%;
  font-weight: bolder;
}

.box_time_utc {
  width: 48%;
  font-size: 10px;
  float: right;
  background: #00947b;
  font-weight: bolder;
}

/* Profile page css start here */
.profile_section {
  background: #000; /* #e8e8e8*/
  color: #fff; /* #000 */
}

.profile_cont {
  width: 1160px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background: #151315; /* #fff */
}

.box_user {
  border: 1px solid #000;
  margin: 10px 0;
  background: #000; /* #eee*/
  padding: 5px;
}

.profile_img_custom {
  max-width: 100%;
  max-height: 85px;
  padding: 5px;
  margin: 0 38%;
  position: relative;
}

.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.view_inner_custom {
  padding: 0px !important;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: transparent !important;
}

.padding-user {
  padding-left: 5px !important;
  padding-right: 5px !important;
  padding-top: 10px;
}

span.view-fl {
  display: block;
  line-height: 1.5;
  color: #a3a5a1;
}

.control-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

.heading-main {
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  padding: 4px 6px;
  width: 100%;
  background: #000;
}

.table-profile thead {
  background: #000;
  color: #fff;
}

  .table-profile thead th {
    border-bottom: none !important;
    border-top: none !important;
  }

.profile_title {
  font-size: 16px;
  font-weight: 800;
}

.chngPassword {
  color: #fff;
}

.box_left {
  word-break: break-all;
}

/* Profile page css Ends here */

.geolocation-listing ul li {
  color: #000000;
  font-weight: bold;
}


/* Cesium timeline css*/
.cesium-animation-shuttleRingBack {
  fill: #000 !important;
  fill-opacity: 1 !important;
  stroke: #000 !important;
}

.cesium-animation-blank {
  fill: #000 !important;
  fill-opacity: .01 !important;
  stroke: none;
}

.cesium-animation-shuttleRingPointer {
  fill: aqua !important;
}

.cesium-animation-knobInner {
  fill: #000 !important;
}

.cesium-animation-buttonToggled .cesium-animation-buttonMain, .cesium-animation-rectButton .cesium-animation-buttonMain {
  fill: #000 !important;
}

.cesium-timeline-bar {
  background: #000 !important;
  color: #fff !important;
  font-weight: bold !important;
}

.cesium-infoBox-defaultTable {
  color: black !important;
  background: white !important;
}

.cesium-credit-image {
  display: none
}


.radius_select {
  width: 100%;
  height: 28px;
  background: #aaa;
  border-color: #aaa;
  border-radius: 3px;
}























.active {
  background-color: #151315 !important;
}


.active-type {
  color: aqua !important;
}

.switch-op {
  margin-top: -14px !important;
  background: black;
}

.errorholder {
  z-index: 99985 !important;
  position: absolute;
  WIDTH: auto;
  LEFT: 42.5%;
}

.form-control-uss {
  display: block;
  width: 100%;
  height: 27px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

.ui-option {
  font-size: 14px;
  float: right;
  margin: 8px 5px;
}

.ui-dialog-container .ui-dialog-wrapper .ui-dialog .ui-resizer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  display: none;
  line-height: 1;
  opacity: 0.3 !important;
  pointer-events: all !important;
}



.op_data > ul > li > ul > li > span {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  padding-left: 8px;
  font-size: 12px;
}


.btn-sm_conflict {
  border-radius: 10px;
  border: none;
  font-size: 10px !important;
  background: #ccc;
  margin-right: 10px;
  padding: 2px 5px;
  margin-left: 32px;
}

  .btn-sm_conflict span {
    margin-left: 5px;
    font-size: 11px;
    font-weight: 600;
    color: #000000;
  }

.fa.fa-map-o {
  font-size: 11px !important;
  margin-right: 5px !important;
  color: white !important;
}

  .fa.fa-map-o.act {
    font-size: 11px !important;
    margin-left: 0px !important;
    color: aqua !important;
  }

.actve {
  color: #37e4c6 !important;
}

.nonactve {
  background-color: orange !important;
  color: #000 !important;
}

.closed {
  background-color: rgba(255, 0, 0, 0.698) !important;
  color: #000 !important;
}

.graph_op_form {
  background: transparent !important;
}

.External_ops_header {
  background: rgb(0, 0, 0);
  padding: 5px 10px;
  display: block;
  font-weight: 600;
}

.eye_external_ops {
  margin-right: 6px;
}

.op_dt {
  font-size: 15px !important;
  color: #aaaaaa !important;
}

.leaflet-control-geosearch .leaflet-bar-part {
  margin-left: 0px !important;
}

.leaflet-control-geosearch form {
  display: none;
  position: absolute;
  top: -2px;
  left: 28px;
  border-radius: 0 4px 4px 0;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-left: none;
  background-color: #333432 !important;
  background-clip: padding-box;
  z-index: -1;
  height: auto;
  margin: 0;
  padding: 0 8px;
}

.leaflet-control-geosearch a.reset {
  display: none;
}



/* Cesium widget */

.cesium-baseLayerPicker-dropDown {
  background: #141214 !important;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  border-radius :0px  !important;
}

.cesium-baseLayerPicker-item{
  margin: 4px !important;
  width: 70px !important;
}

.cesium-baseLayerPicker-itemIcon{
  border-radius: 0px !important;
}

.cesium-baseLayerPicker-sectionTitle{
  font-family: "Open Sans", sans-serif !important;
  font-size: 14px !important;
  border-bottom: none !important;
  margin-bottom: 0px !important;
  padding: 5px 0px;
}

.cesium-baseLayerPicker-itemLabel{
  display: none !important; 
}

.cesium-toolbar-button{
  width: 54px !important;
  height: 24px !important;
  border-radius: 0% !important;
  background: #151315 !important
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input{
  height: 24px !important;
}

.cesium-geocoder-searchButton{
  width: 32px !important;
  height: 23px !important;
  background: #151315 !important
}

.cesium-navigationHelpButton-wrapper{
  display: none !important;
}

.toolbar-right{
  display: block;
  position: absolute;
  top: 80px;
  bottom: auto;
  right: 20px;
}

button.cesium_btn_right {
  border-radius: 50%;
  display: block;
  float: inherit;
  background: #151315;
  color: #fff;
  height: 40px;
  width: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  margin-top: 15px;
}

button.cesium_btn_right img{
  width: 24px;
  margin-top: 3px;
}

.tooltip_3d{
  max-width: 90px !important;
  white-space: normal !important;
  padding: 2px 8px !important;
  text-transform: initial !important;
  line-height: 1.4 !important;
  text-align: center !important;
}









@media (max-width: 1050px) {
  .main_menus {
    padding: 0;
  }

  .main_menus > ui-menu > a {
    padding: 8px;
  }

  nav.top_views li a {
    padding: 0 8px;
  }
}
