    <template>
		<require from="../lib/component/animation/loading"></require>
		<ui-loader busy.bind="isWaiting" big></ui-loader>
		<ui-row>
			<ui-column size="md-12 lg-12 xs-12">
				<ui-row class="header-top">
					<ui-column size="md-8 lg-8 xs-8">
						<h4 class="pull-left heading_title">${heading} &nbsp;&nbsp;&nbsp;<i class="fa fa-file" aria-hidden="true" ></i> </h4>
					</ui-column>
					<ui-column size="md-4 lg-4 xs-4">
						<ul class="top_users login_nav_box pull-right">
							<li class="list-unstyled">
								<a class="dropdown_download" title="Profile" href=""  data-toggle="dropdown" aria-expanded="true">
									<i class="fa fa-download"></i>
								</a>
								<ul class="dropdown-menu dropmenu_download">
									<li><a click.trigger="downloadPDF()()"> PDF </a></li>
									<li><a href="#" click.trigger="downloadCSV({ filename: 'IncidentReport.csv'})" > CSV </a></li>
								</ul>
							</li>
						</ul>
					</ui-column>
				</ui-row>
			</ui-column>

			<ui-column size="md-12 lg-12 xs-12">
				<ui-row>
					<ui-column size="md-12 lg-12 xs-12">
						<div class="table-responsive des-table">                    
							<table class="table table-custom table-striped  dataTable no-footer" aurelia-table="data.bind: incidents; display-data.bind: $incidents;
										current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
								<thead>
									<tr>
										<th aut-sort="key: Name; default: desc">Name <span class="glyphicon glyphicon-sort"></span></th>
										<th aut-sort="key: IncidentCause">Cause <span class="glyphicon glyphicon-sort"></span></th>
										<th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
										<th aut-sort="key: ProjectName">Project <span class="glyphicon glyphicon-sort"></span></th>
										<th aut-sort="key: DroneName">Drone <span class="glyphicon glyphicon-sort"></span></th>
										<th aut-sort="key: LocationName">Location <span class="glyphicon glyphicon-sort"></span></th>
									</tr>
								</thead>
								<tbody>
									<tr if.bind="!showNoRecordFound" repeat.for="item of $incidents">
										<td>${item.Name}</td>
										<td>${item.IncidentCause}</td>
										<td>${item.MissionName}</td>
										<td>${item.ProjectName}</td>
										<td>${item.DroneName}</td>
										<td>${item.LocationName}</td>
									</tr>
									<tr if.bind="showNoRecordFound">
										<td colspan="6">No Record Found.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</ui-column>
				</ui-row>

				<!-- pagination -->
				<ui-row>
					<ui-column size="lg-9 md-9 xs-8">
						<aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems" pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
					</ui-column>
					<ui-column size="lg-3 md-3 xs-4">
						<div class="form-inline">
							<div class="form-group pull-right">
								<label for="pageSize">Page Size: </label>
								<select value.bind="pageSize" id="pageSize" class="form-control">
									<option model.bind="5">5</option>
									<option model.bind="10">10</option>
									<option model.bind="20">20</option>
									<option model.bind="50">50</option>
								</select>
							</div>
						</div>
					</ui-column>	
				</ui-row>
				<!-- pagination -->
			</ui-column>
		</ui-row>

		<!-- Back Button -->
		<ui-row>
			<ui-column size="lg-12 md-12" class="boxForm">
				<ui-input-group class="pull-right">
					<button class="btn btn-primary btn-lg" click.delegate="cancel()">
						<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
					</button>
				</ui-input-group>
			</ui-column>
		</ui-row>
		<!-- Back Button -->
	</template>