<template>
        <require from="../lib/component/animation/loading"></require>
        <ui-loader busy.bind="isWaiting" big></ui-loader>
            <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                    <ui-row>
                        <ui-column size="md-8 lg-8 xs-8">
                            <h4 class="pull-left heading_title">Project Summary &nbsp;&nbsp;&nbsp;<i class="fa fa-file" aria-hidden="true" ></i> </h4>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4">
                            <ul class="top_users login_nav_box pull-right">
                                <li class="list-unstyled">
                                    <a class="dropdown_download" title="Profile" href=""  data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-download"></i>
                                    </a>
                                    <ul class="dropdown-menu dropmenu_download">
                                        <!-- <li><a click.trigger="getPDF()"> PDF </a></li> -->
                                        <li><a href="#" click.trigger="getSummaryReport({ filename: 'MissionSummaryReport.csv'})" > CSV </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </ui-column>
                    </ui-row>
                </ui-column>

                <ui-column size="md-12 lg-12 xs-12">
                    <ui-row>
                        <ui-column size="md-6 lg-4 xs-6">
                            <ui-input-group>
                                <ui-input-label> Project </ui-input-label>
                                <select class="select-ui-input" value.bind="ProjectId ">
                                    <option value="0">Select</option>
                                    <option repeat.for="item of projects" model.bind="item.ProjectId" change.trigger="getReport()">${item.Name}</option>
                                </select>
                            </ui-input-group>
                        </ui-column>
                        
                        <ui-column size="md-6 lg-2 xs-6">
                            <ui-input-group class="pull-right" style="margin-top:20px;">
                                <button class="btn btn-primary btn-lg" click.delegate="drawPieChart()" title="Search" ><i class="fa fa-search fa-lg" aria-hidden="true"></i>&nbsp;Search  </button>
                            </ui-input-group>
                        </ui-column>	
                    </ui-row>


                    <ui-row show.bind="showDetails">
                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Battery Used</label>
                                <span class="meetup">${ TotalBatteryUsed}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Completed Mission</label>
                                <span class="meetup">${TotalCompletedMission}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Drone Used</label>
                                <span class="meetup">${TotalDroneUsed}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Flight Hours</label>
                                <span class="meetup">${TotalFlightHours}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Onsite Time</label>
                                <span class="meetup">${TotalOnsiteTime}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Travel Time</label>
                                <span class="meetup">${TotalTravelTime}</span>
                            </div>
                        </ui-column>

                        <ui-column size="lg-3 md-3 xs-6">
                            <div class="wrapper">
                                <label class="upper">Total Resources</label>
                                <span class="meetup">${TotalResources}</span>
                            </div>
                        </ui-column>
                    </ui-row>

                    <ui-row>
                        <ui-column size="md-3 lg-3 xs-12" class="chart_box_report">
                            <div id="piechart" class="chart_report"></div>	
                        </ui-column>
                    </ui-row>

                    <ui-row>
                        <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                            <ui-input-group class="pull-right">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>
                            </ui-input-group>
                        </ui-column>
                    </ui-row>
            </ui-column>
        </ui-row>
    </template>
    

<template>
    <require from="../lib/component/animation/loading"></require>
    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid minhight edit-view-mn ">
        <div class="container tab-content das-middle-sec edit-view padding-20 ">
            <div class="col-md-12">            
                <div class="page-header">
                    <h2>Project Summary Report &nbsp;&nbsp;&nbsp;<i class="fa fa-file" aria-hidden="true" ></i></h2>
                </div>
            </div>
            <div class="container" >
                <div class="row">
                    <form >
                    <div class="col-md-3">
                        <fieldset class="form-group">
                            <label class="control-label" for="drone">Project</label>
                            <select class="form-control" value.bind="ProjectId ">
                                <option value="0">Select</option>
                                <option repeat.for="item of projects" model.bind="item.ProjectId" change.trigger="getReport()">${item.Name}</option>
                            </select>
                        </fieldset>
                    </div>
                    <div class="col-md-8">
                        <fieldset class="form-group">
                            <div class="pull-right" style="margin-top:12px" >
                                <ul class="nav navbar-nav" title="Download CSV" style="padding: 10px;margin-right:15px" show.bind="showDetails">
                                    <li class="dropdown">
                                      <h2 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-download text-anra" aria-hidden="true"></i></h2>
                                      <ul class="dropdown-menu">
                                        <li><a click.delegate="getSummaryReport({ filename: 'MissionSummaryReport.csv'})"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</a></li>
                                      </ul>
                                    </li>
                                  </ul>
                                <button type="button" class="btn btn-primary btn-lg " click.delegate="drawPieChart()" title="Search" ><i class="fa fa-search fa-lg" aria-hidden="true"></i>&nbsp;Search</button>
                            </div>
                            <!-- <div class="pull-right" style="margin-top:12px"  >
                                <button type="button" class="btn btn-primary btn-lg " click.delegate="getSummaryReport()" title="Search" ><i class="fa fa-download fa-lg" aria-hidden="true"></i>&nbsp;Download</button>
                            </div> -->
                        </fieldset>
                    </div>
                    </form>
                </div>
                <div show.bind="showDetails">
                    <div class="row" style="margin-top:10px;"  >
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="name">Total Battery Used</label>
                                <span class="view-fl">${ TotalBatteryUsed}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="name">Total Completed Mission</label>
                                <span class="view-fl">${TotalCompletedMission}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Total DroneUsed</label>
                                <span class="view-fl">${TotalDroneUsed}</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Total Flight Hours</label>
                                <span class="view-fl">${TotalFlightHours}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Total OnsiteTime</label>
                                <span class="view-fl">${TotalOnsiteTime}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Total TravelTime</label>
                                <span class="view-fl">${TotalTravelTime}</span>
                            </fieldset>
                        </div>
                        <div class="col-md-3">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Total Resources</label>
                                <span class="view-fl">${TotalResources}</span>
                            </fieldset>
                        </div>
                    </div>
                </div>
               
					
				</div>
                <div id="piechart" class="chart"   >
                </div>
                <div class="pull-left">
                    <button type="button" class="btn btn-primary btn-lg " click.delegate="cancel()"  ><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                </div>
            </div>
        </div>
    </section>
</template>
    