<template>
    <!-- <require from="./dashboard/welcome"></require> -->
    <ui-tab-panel active-tab.bind="activeTab" class="tab-panel">
        <ui-tab view-model="./reports">Reports &nbsp;<i class="anra-ico_reporting_dark" aria-hidden="true"></i></ui-tab>
        <ui-tab view-model="../incidents/incidents">Incidents &nbsp;<i class="anra-ico_warning_dark"></i></ui-tab>
        <compose view.bind="activeTab.view" view-model.bind="activeTab.viewModel"></compose>
    </ui-tab-panel>
</template>