﻿<template>
    <require from="blur-image"></require>
    <require from="./incident-report"></require>
    <require from="./summary-report"></require>
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    <require from="./project-summary"></require>
    <ui-loader busy.bind="isWaiting" big></ui-loader>    
    
    <ui-row show.bind="!showReportList && !showProjectReport">
        <ui-column size="md-12 lg-12 xs-12" >
            <ui-row class="header-top">
                <ui-column size="md-6 lg-6 xs-8">
                    <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_reporting_dark" aria-hidden="true"></i></h4>
                </ui-column>
            </ui-row>
        </ui-column>
        <ui-column size="md-12 lg-12 xs-12">
            <section class="container-fluid minhight edit-view-mn"  >
                <div class="container tab-content das-middle-sec edit-view padding-20">
                    <div class="tab-pane fade in active">
                       <div class="row no-margin">
                            <div class="table-responsive des-table">
                                <table class="table table-striped table-custom no-footer" aurelia-table="data.bind: reports; display-data.bind: $reports">
                                    <thead>
                                        <tr>
                                            <th aut-sort="key: ReportName; default: desc">Name</th>
                                            <th aut-sort="key: Notes; default: desc">Description</th>
                                            <th> Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr repeat.for="item of $reports">
                                            <td>${item.ReportName}</td>
                                            <td>${item.Notes}</td>
                                            <td>
                                                <a href="javascript:;" class="ed" click.delegate="viewItem(item.ReportId)">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Inspection Report</td>
                                            <td>Select Mission To Generate Report</td>
                                            <td>
                                                <a href="javascript:;" class="ed" click.delegate="onSelectMission()">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Project Report</td>
                                            <td>Select Project To Generate  Report</td>
                                            <td>
                                                <a href="javascript:;" class="ed" click.delegate="onSelectProject()">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </ui-column>
    </ui-row>
  
    <incident-report if.bind="reportAggregate.ShowIncidentReport" reports.bind="reportAggregate" search.call="searchReport()"></incident-report>
    <summary-report if.bind="reportAggregate.ShowSummaryReport" reports.bind="reportAggregate" search.call="searchReport()"></summary-report>
    <project-summary if.bind="showProjectReport" ></project-summary>
   <compose view-model="./select-mission-dialog" model.bind="gufi"></compose>
</template>
