<template>
  <require from="../components/dialog"></require>
  <style>
    div#myModal.ml-dialog-3d .modal-dialog {
      max-height: 552px;
    }
    .textColor{
      color:fff;
      margin-left:10%;
    }
    .media-group-btn.media-tb-btn.missionBackground {
      background-color: #505050 !important;
      border: 2px solid #292929 !important;
      
    }
    .media-group-btn.media-tb-btn.projectBackground {
      background-color: #1d3b53 !important;
      border: 2px solid #1d3b53 !important;
    }    
  </style>
  <anra-dialog class="gen_upload" if.bind="isSelectMission" display.two-way="isSelectMission" title.bind="'Select Organization'" display-footer.bind="false" on-close.call="cancelMissionDialog()">
    <template replace-part="dialog-body">
      <div class="container-fluid minhight padding-5 media-mn">
         <!--List of Organizations.-->

        <ul class="list-unstyled">
          <li repeat.for="organization of totalOrganizations">
            <span class="media-group-btn media-tb-btn">
              Organization - ${organization.Name}
              <span style="margin-left:10%">Total Projects (${organization.projectInsideOrganization.length})</span>
              <i class="${ showProjectId==$index ? 'fr fa fa-minus' : 'fr fa fa-plus' }" click.delegate="toggleOrganization($index)"></i>
            </span>
            <!--List of Projects under Organizations.-->

            <ul class="list-unstyled" if.bind="showProjectId==$index">
              <li class="box_message_Report" if.bind="organization.projectInsideOrganization.length==0">
                  <span class="textColor"> No Projects Found Under This Mission !</span>
              </li>
              
              <li class="plr-20" repeat.for="project of organization.projectInsideOrganization">
                <span class="media-group-btn media-tb-btn projectBackground">
                  Project - ${project.Name}
                  <span style="margin-left:10%">Total Mission (${project.missionInsideProject.length})</span>
                  <span class="${ showMissionId==$index ? 'fr fa fa-minus' : 'fr fa fa-plus' }" click.delegate="toggleProject($index)"></span>
                </span>

                <!--List of Missions under Projects.-->
                <ul class="list-unstyled" if.bind="showMissionId==$index">
                  <span if.bind="project.missionInsideProject.length==0" class="textColor"> No Missions Found Under This Project !</span>
                  <li class="plr-20" repeat.for="mission of project.missionInsideProject">
                    <span class="media-group-btn media-tb-btn missionBackground" click.delegate="generateReport(mission.Gufi)">
                      Mission - ${mission.MissionName}
                    </span>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </anra-dialog>
</template>
