<template>
	<require from="../lib/component/animation/loading"></require>
	<ui-loader busy.bind="isWaiting" big></ui-loader>
	 <ui-row>
		<ui-column size="md-12 lg-12 xs-12">
			<ui-row>
				<ui-column size="md-12 lg-12 xs-12">
					<ui-row class="header-top">
						<ui-column size="md-8 lg-8 xs-8">
							<h4 class="pull-left heading_title"> ${heading} &nbsp;&nbsp;&nbsp;<i class="fa fa-file" aria-hidden="true" ></i> </h4>
						</ui-column>
						<ui-column size="md-4 lg-4 xs-4">
							<ul class="top_users login_nav_box pull-right">
								<li class="list-unstyled">
									<a class="dropdown_download" title="Profile" href=""  data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-download"></i>
									</a>
									<ul class="dropdown-menu dropmenu_download">
										<li><a click.trigger="getPDF()"> PDF </a></li>
										<li><a href="#" click.trigger="downloadCSV({ filename: 'SummaryReport.csv'})" > CSV </a></li>
									</ul>
								</li>
							</ul>
						</ui-column>
					</ui-row>
				</ui-column>

				<ui-column size="md-12 lg-12 xs-12">
					<ui-row>
						<ui-column size="md-6 lg-6 xs-12">
							<ui-option-group cols="4" value.bind="searchBy" ref="optionFilter" name="Filter" change.delegate="showCustomFilter($event)">
								<ui-input-label>Filter Criteria :  </ui-input-label>
								<ui-radio repeat.for="item of filterOptions" value.bind="item.Code" model.bind="item.Code">${item.Name}</ui-radio>
								<div row report-srh><span class="ui-bold">${reportPeriod}</span></div>
							</ui-option-group>
						</ui-column>

						<ui-column size="md-2 lg-2 xs-12"  show.bind="flagCustomFilter">  
							<ui-option-group>
								<ui-input-label></ui-input-label>
								<input type="date" class="ui-input-custom " id="fromDt" blur.trigger="setSearchPeriod()" max="9999-12-31"/>
							</ui-option-group>
						</ui-column>

						<ui-column size="md-2 lg-2 xs-12"  show.bind="flagCustomFilter">  
							<ui-option-group>
								<ui-input-label></ui-input-label>
								<input type="date" class="ui-input-custom " id="toDt" blur.trigger="setSearchPeriod()" max="9999-12-31"/>
							</ui-option-group>
						</ui-column>
						
						<ui-column size="md-3 lg-2 xs-12" class="boxForm">
							<ui-input-group class="pull-right">
								<button class="btn btn-primary btn-sm" click.delegate="searchReport()" title="Search" ><i class="fa fa-search fa-lg" aria-hidden="true"></i>&nbsp;Run Report </button>
							</ui-input-group>
						</ui-column>	
					</ui-row>

					<ui-row>
						<ui-column size="lg-3 md-3 xs-6">
								<div class="wrapper">
									<label class="upper">Total Flights</label>
									<span class="meetup">${ flight.TotalFlights}</span>
								</div>
						</ui-column>
						<ui-column size="lg-3 md-3 xs-6">
									<div class="wrapper">
										<label class="upper">Total Hours</label>
										<span class="meetup">${flight.TotalHours}</span>
									</div>
						</ui-column>
						<ui-column size="lg-3 md-3 xs-6">
								<div class="wrapper">
									<label class="upper">Total Drone Used</label>
									<span class="meetup">${flight.TotalDroneUsed}</span>
								</div>
						</ui-column>
						<ui-column size="lg-3 md-3 xs-6">
								<div class="wrapper">
									<label class="upper">Total Incidents</label>
									<span class="meetup">${flight.TotalIncidents}</span>
								</div>
						</ui-column>
						<ui-column size="lg-3 md-3 xs-6">
								<div class="wrapper">
									<label class="upper">Total OnsiteTime</label>
									<span class="meetup">${flight.TotalOnsiteTime}</span>
								</div>
						</ui-column>
						<ui-column size="lg-3 md-3 xs-6">
								<div class="wrapper">
									<label class="upper">Total Travel Time</label>
									<span class="meetup">${flight.TotalTravelTime}</span>
								</div>
						</ui-column>
					</ui-row>
					<ui-row>
						<ui-column size="md-4 lg-4 xs-12" class="chart_box_report">
							<div id="piechart" class="chart_report"></div>
						</ui-column>
					</ui-row>
				</ui-column>
			</ui-row>
			<ui-row>
				<ui-column size="md-12 lg-12 xs-12" class="boxForm">
					<ui-input-group class="pull-right">
						<button class="btn btn-primary btn-lg" click.delegate="cancel()">
							<i class="fa fa-arrow-left" aria-hidden="true"></i> Back
						</button>
					</ui-input-group>
				</ui-column>
			</ui-row>
		</ui-column>
	</ui-row>
    
</template>
