<template>
    <require from="../lib/component/animation/loading"></require>

    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel padding-5">
                <form role="form">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
								<div class="page-header">
									<h2 class="text-primary">Project Information &nbsp;<i class="anra-ico_project_dark"></i></h2>
								</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="name">Name</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-tags"></i></div>
                                                <input type="text" class="form-control" placeholder="Project Name" value.bind="project.Name & validate" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="drone">Client</label>
                                            <select class="form-control" value.bind="project.ClientId & validate">
                                                <option value="0">Select</option>
                                                <option repeat.for="item of project.Clients" model.bind="item.ClientId">${item.Name}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="date">Revenue Amount</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class=${project.CurrencyGlyphicon}></i></div>
                                                <input type="number" class="form-control" placeholder="" value.bind="project.RevenueAmount & validate" />
                                            </div>
                                        </fieldset>
                                    </div>                                    
                                </div>
                                <div class="row">                                    
									<div class="col-md-4" show.bind="project.IsAdmin">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="organization">Organization</label>                                            
                                            <select class="form-control" value.bind="project.OrganizationId  & validate">
                                                <option model.bind="0">Select</option>
                                                <option repeat.for="item of organizations" model.bind="item.OrganizationId">${item.Name}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="active">Active</label>
                                            <br />
                                            <ui-switch info width="8" checked.bind="project.IsActive" label-off="No" label-on="Yes"></ui-switch>
                                        </fieldset>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <fieldset class="form-group">
                                                <label class="control-label" for="file">Project Geography For Upload</label>
                                                <input type="file" id="ctrlFile" name="files" accept=".kml" data-min-file-count="1" change.delegate="fileSelected($event)">
                                                <small class="text-muted">kml file only.</small>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" if.bind="project.ProjectGeography">
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="notes">Project Geography</label>
                                            <textarea disabled class="form-control" id="notes" rows="3" value.bind="project.ProjectGeography"></textarea>
                                        </fieldset>
                                    </div>
                                </div>   
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="notes">Notes</label>
                                            <textarea class="form-control" id="notes" rows="3" value.bind="project.Notes"></textarea>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                                <div class="col-md-12">
                                    <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                        <i class="fa fa-check" aria-hidden="true"></i> Save
                                    </button>
                                    &nbsp;
                                    <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                    </button>
                                </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>
