<template>
    <section class="container-fluid edit-view-mn">
	   <div class="container das-middle-sec edit-view panel padding-5">
        <div class="row">
            <div class="container">
				<div class="col-md-12">
					<div class="page-header">
						<h2>View Project &nbsp;<i class="anra-ico_project_dark"></i></h2>
					</div>
				</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="add-form view">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Name</label>
                                    <span class="view-fl">${project.Name}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">                                
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="pilot">Client</label>
                                    <span class="view-fl">${project.Clients | filterOnProperty:'ClientId':project.ClientId:'Name'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Revenue Amount</label>
                                    <span class="view-fl">${project.RevenueAmount}</span>
                                </fieldset>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="serial">Currency</label>
                                    <span class="view-fl">${project.Currency}</span>
                                </fieldset>
                            </div>
							<div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="organization">Organization</label>
                                    <span class="view-fl">${organizations | filterOnProperty:'OrganizationId':project.OrganizationId:'Name'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Status</label>
                                    <span class="view-fl">${project.IsActive==true?'Active':'Inactive'}</span>
                                </fieldset>
                            </div>
                        </div>                                            
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner" if.bind="!showMap">
                                    <label class="control-label" for="metar">Project Geography Not Available.</label>
                                </fieldset>
                                <div style="display:block; width:100%;" show.bind="showMap">
                                    <div id="map" style="height:75vh;width:100%;position:relative;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="notes">Notes</label>
                                    <span class="view-fl">${project.Notes}</span>
                                </fieldset>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(project.ProjectId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </section>
</template>
