<template>
    <require from="blur-image"></require>
    <require from="../lib/date-format"></require>
      <require from="./effort"></require>
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
        <ui-row show.bind="!isEditing">
            <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel>
                <ui-panel-body>
                    <ui-row>

                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">${heading} &nbsp; <i class="fa fa-clock-o"></i> </h4>
                            </ui-column>

                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span class="tooltip_text">Mission Time </span>
                                    </button>
                                    <button click.delegate="showMissions()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>

                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: efforts; display-data.bind: $displayData;
                            current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
                                        <th>User</th>
                                        <th>Onsite Start Time</th>
                                        <th>Onsite End Time</th>
                                        <th>Onsite Time</th>
                                        <th>Travel Time</th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $displayData">
                                        <td>${item.MissionName}</td>
                                        <td>${item.UserName}</td>
                                        <td>${item.StartDateTime|dateFormat}</td>
                                        <td>${item.EndDateTime|dateFormat}</td>
                                        <td>${item.TotalEffortHours}</td>
                                        <td>${item.TotalTravelHours}</td>
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td colspan="2" class="action-bt">
                                            <a href="javascript:;" class="ed" click.delegate="editItem(item.TrackId)">
                                                <i class="fa fa-pencil-square-o"
                                                    aria-hidden="true"></i> 
                                            </a>
                                            <a href="javascript:;" class="ed" click.delegate="deleteItem(item.TrackId)">
                                                <i class="fa fa-trash"
                                                    aria-hidden="true"></i> 
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ui-column>

                    </ui-row>

                    <!-- pagination -->
                    <ui-row>
                        <ui-column size="md-9 lg-9 xs-12">
                            <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                        </ui-column>
                        <ui-column size="md-3 lg-3 xs-12">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </ui-column>
                    </ui-row>
                    <!-- pagination -->

                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>


        <effort if.bind="isEditing" effort.bind="effort" save.call="saveItem()"></effort>
    
</template>

<template>
  <style>

    .table-condensed > tbody > tr > td
    {
      padding: 3px !important;
    }
    .datepicker table tr td, .datepicker table tr th {
      height:20px !important;
    }
  </style>
    <require from="blur-image"></require>
    <!-- <require from="./effort"></require> -->
    <require from="../lib/datetime-format"></require>
    <require from="../lib/component/animation/loading"></require>

	<div class="">
		<div class="page-header-title">
			<!--h4 class="page-title">Dashboard</h4>--> </div>
	</div>
    <loading displayed.bind="isWaiting"></loading>

    <section class="container-fluid bashboard-section small-das">
        <div class="container">
            <ul class="row bashboard-block nav nav-pills">
                <li class="col-md-4 bas-bx-1 active">
                    <a href="#/missions">
                        <div class="das-bx">
							
                            <div class="image-sec"><i class="anra-ico_plane_dark"></i></div>
                            <h3>missions</h3>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 bas-bx-2">
                    <a href="#/locations">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_location_dark"></i></div>
                            <h3>locations</h3>
                        </div>
                    </a>
                </li>
                <li class="col-md-4 bas-bx-3">
                    <a href="#/documents">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_certificate"></i></div>
                            <h3>documents</h3>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="container-fluid minhight bottom-table" show.bind="!isEditing">
        <div class="container tab-content">
            <div class="tab-pane fade in active">
                <!----Dashboard Middle --->
                <div class="row">
                    <div class="container-fluid das-middle-sec">
                        <h2 class="pull-left">${heading}</h2>
                        <div class="right-botton pull-right">
                            <input type="text" class="searchTable" value.bind="filters[0].value" placeholder="Search" />
                            <button click.delegate="add()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> Mission Time</button>
                            <button click.delegate="showMissions()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive des-table">
                    <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: efforts; display-data.bind: $displayData;
                           current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                        <thead>
                            <tr>
                                <th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
                                <th>User</th>
                                <th>Onsite Start Time</th>
                                <th>Onsite End Time</th>
                                <th>Onsite Time</th>
                                <th>Travel Time</th>
                                <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="item of $displayData">
                                <td>${item.MissionName}</td>
                                <td>${item.UserName}</td>
                                <td>${item.StartDateTime|dateFormat}</td>
                                <td>${item.EndDateTime|dateFormat}</td>
                                <td>${item.TotalEffortHours}</td>
                                <td>${item.TotalTravelHours}</td>
                                <td>${item.DateCreated | dateFormat}</td>
                                <td colspan="2" class="action-bt">
                                    <a href="javascript:;" class="ed" click.delegate="editItem(item.TrackId)">
                                        <i class="fa fa-pencil-square-o"
                                           aria-hidden="true"></i> 
                                    </a>
                                    <a href="javascript:;" class="ed" click.delegate="deleteItem(item.TrackId)">
                                        <i class="fa fa-trash"
                                           aria-hidden="true"></i> 
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <div class="row">
                    <div class="col-md-9">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </div>

                    <div class="col-md-3">
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="form-control">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
                <template if.bind="isEditing" class="col-sm-6 col-md-12 card-container au-animate">
                    <effort effort.bind="effort" save.call="saveItem()"></effort>
                </template>
            </div>
        </div>
    </section>
    <effort if.bind="isEditing" effort.bind="effort" save.call="saveItem()"></effort>
</template>
