<template>
        <ui-loader busy.bind="isWaiting" big></ui-loader>   
        <style>
        .text-muted
        {
          font-size: 0.8em;
          margin-left: -279px;
          margin-top: 24px;
        }
        .view-doc
        {
          margin-left: 102px;
          margin-top: 20px;
          font-weight: 500;
          color: white !important;
        }
        </style>
        <ui-fieldset legend="Manage Mission Time" checked.bind="ShowMissionTime">
            <div ref="errorHolder" class="errorholder"></div>
          <ui-form submit.trigger="saveItem()">
              <ui-row>
                  <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                    <ui-row>
                     
                     
      
                        <ui-column size="md-4 lg-4 xs-4">
                          <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Mission  Name </ui-input-label>
                            <ui-input text class="input-ui"  value.bind="effort.MissionName" disabled/>
                              <ui-input-addon> <i class="glyphicon anra-ico_user_light"></i> </ui-input-addon>
                            </ui-input>
                          </ui-input-group>
                      </ui-column>

                        <ui-column size="md-6 lg-6 xs-6" >
                            <ui-input-group>
                              <ui-input-label class="ui-label-custom">User </ui-input-label>
                              <select class="select-ui-input" value.bind="effort.UserId & validate">
                                    <option value="">Select</option>
                                    <option repeat.for="item of effort.UserLookup" model.bind="item.UserId">${item.FullName}</option>
                                </select>
                            </ui-input-group>
                        </ui-column>
      
                  
                      <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                          <ui-input-label class="ui-label-custom">Total Travel Hours </ui-input-label>
                                <ui-input text class="input-ui" value.bind="effort.TotalTravelHours & validate"/>
                              </ui-input>
                        </ui-input-group>
                      </ui-column>


                      
                      <!-- <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Total Travel Hours </ui-input-label>
                                <ui-input text class="input-ui" value.bind="effort.TotalTravelHours & validate"/>
                                </ui-input>
                        </ui-input-group>
                    </ui-column>
                       -->
                      <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                          <ui-input-label class="ui-label-custom"> Onsite Start Time</ui-input-label>
                          <ui-date datetime  ref="startdatetime" id='startdt' date.bind="effort.StartDateTime & validate" >
                        </ui-input-group>
                      </ui-column>

                      <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom"> Onsite End Time</ui-input-label>
                            <ui-date datetime  ref="enddatetime" id='enddt' date.bind="effort.EndDateTime & validate" blur.trigger="calcEffort()" >
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Total Effort  Hours </ui-input-label>
                                <ui-input text class="input-ui" value.bind="effort.TotalEffortHours" disabled/>
                                </ui-input>
                        </ui-input-group>
                    </ui-column>
                      
                      
                      <ui-column size="md-8 lg-11 xs-8">
                          <ui-input-group>
                              <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                              <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="effort.Notes" auto-complete=""></ui-textarea>
                          </ui-input-group>
                      </ui-column>
                    </ui-row>
                  </ui-column>
            
                  <ui-column size="md-12 lg-12" class="boxForm">
                      <ui-input-group class="pull-right">
                          <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                              <i class="fa fa-check" aria-hidden="true"></i> Save
                          </button>
                            &nbsp;&nbsp;
                          <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                          </button>
                      </ui-input-group>
                  </ui-column>
            
                </ui-row>
          </ui-form>
           
        </ui-fieldset>
      
        
      </template>
      
      

<template>    
    <require from="../lib/datetime-format"></require>
    <require from="../lib/component/animation/loading"></require>

    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel effort">
                <form role="form">
                    <div class="container-fluid padding-10">
                        <div class="col-md-12">
                            <div class="page-header">
                                <h2 class="page_header">
                                    ${heading}
                                </h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="mission">Mission</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" value.bind="effort.MissionName" disabled/>
                                        </div>
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="user">User</label>
                                        <select class="form-control" value.bind="effort.UserId & validate">
                                            <option value="">Select</option>
                                            <option repeat.for="item of effort.UserLookup" model.bind="item.UserId">${item.FullName}</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="traveltime">Travel Time(Hrs.)</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="" value.bind="effort.TotalTravelHours & validate" />
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="startdate">Onsite Start Time</label>
                                        <input type="text" class="form-control" ref="startdatetime" id='startdt' value.bind="effort.StartDateTime & validate" />
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="enddate">Onsite End Time</label>
                                        <input type="text" class="form-control" ref="enddatetime" id='enddt' value.bind="effort.EndDateTime & validate" blur.trigger="calcEffort()" />
                                    </fieldset>
                                </div>
                                <div class="col-md-4">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="effort">Onsite Time(Hrs.)</label>
                                        <div class="input-group">
                                            <input type="text" id="totEffortTime" class="form-control" placeholder="0" value.bind="effort.TotalEffortHours" disabled/>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <fieldset class="form-group">
                                        <label class="control-label" for="notes">Notes</label>
                                        <textarea class="form-control" id="notes" rows="3" value.bind="effort.Notes"></textarea>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                <i class="fa fa-check" aria-hidden="true"></i> Save
                            </button>
                            &nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>
