
<template>
  <style>
    .leaflet-control-geosearch form {
      display: block !important;
      height: 30px;
    }

      .leaflet-control-geosearch form input {
        height: 25px;
      }
  </style>
  <link rel="stylesheet" href="styles/leaflet-control-geosearch.css">
  <ui-loader busy.bind="isWaiting" big></ui-loader> 
  <div ref="errorHolder" class="errorholder"></div>
  <ui-fieldset legend="Drone Information" checked.bind="ShowDroneInformation">
    <ui-form submit.trigger="saveItem()">
      <ui-row>
        <ui-column size="md-12 lg-8 xs-12" class="boxForm">
          <ui-row>
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Name </ui-input-label>
                  <ui-input text class="input-ui" value.bind="drone.Title & validate" placeholder="Name">
                    <ui-input-addon text-dark> <i class="glyphicon glyphicon-tag addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom">Legal Identification (FAA,CAA)</ui-input-label>
                  <ui-input text class="input-ui" placeholder="N2A2AG" value.bind="drone.LegalIdentification & validate">
                    <ui-input-addon text-dark> <i class="glyphicon anra-ico_certificate addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom">Active</ui-input-label>
                  <ui-switch info width="8" checked.bind="drone.IsActive" label-off="No" label-on="Yes"></ui-switch>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6" show.bind="drone.IsAdmin">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Organization </ui-input-label>
                <select class="select-ui-input" value.bind="drone.OrganizationId">
                  <option model.bind="0">Select</option>
                  <option repeat.for="item of organizations" model.bind="item.OrganizationId">${item.Name}</option>
                </select>
              </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom">Brand</ui-input-label>
                  <select class="select-ui-input" value.bind="drone.BrandId & validate">
                    <option value="0">Select</option>
                    <option repeat.for="item of drone.BrandLookup" model.bind="item.BrandId">${item.Name}</option>
                  </select>
                </ui-input-group>
            </ui-column>
  
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Model </ui-input-label>
                  <ui-input text class="input-ui" value.bind="drone.ModelName & validate" placeholder="Model"></ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Purchase Date </ui-input-label>
                  <input id="purchaseDate" type="date" class="ui-input-custom" value.bind="drone.PurchaseDate & validate" />
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Weight (${massUnit}) </ui-input-label>
                  <ui-input number min="0" value.bind="drone.Weight & validate" placeholder="Weight">
                    <ui-input-addon> <i class="glyphicon glyphicon-th-list addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Firmware Version </ui-input-label>
                  <ui-input text value.bind="drone.FirmwareVersion & validate" placeholder="Firmware Version">
                    <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                  </ui-input>
              </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Hardware Version</ui-input-label>
                  <ui-input text value.bind="drone.HardwareVersion & validate" placeholder="Hardware Version">
                    <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Base Altitude (${lengthUnit}) </ui-input-label>
                  <ui-input text class="disabled input-ui" value.bind="drone.BaseAlt & validate">
                    <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Base Latitude </ui-input-label>
                  <ui-input text class="disabled input-ui"value.bind="drone.BaseLat & validate" info="Latitude">
                    <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
            
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Base Longitude </ui-input-label>
                  <ui-input text class="disabled input-ui" info="BaseLng" value.bind="drone.BaseLng & validate">
                    <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom">Vertical Collision Threshold (${lengthUnit}) </ui-input-label>
                  <ui-input text class="disabled input-ui" value.bind="drone.CollisionThresholdV" min="0">
                    <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-6 lg-6 xs-6">
                <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Horizontal Collision Threshold (${lengthUnit}) </ui-input-label>
                  <ui-input text class="disabled input-ui" value.bind="drone.CollisionThresholdH" min="0">
                    <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                  </ui-input>
                </ui-input-group>
            </ui-column>
  
            <ui-column size="md-8 lg-11 xs-8">
                <ui-input-group>
                    <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                    <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="drone.Notes" auto-complete=""></ui-textarea>
                </ui-input-group>
            </ui-column>
          </ui-row>
        </ui-column>
  
        <ui-column size="md-12 lg-4 xs-12" class="boxForm">
          <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
                <span class="map-header">Click on the Map to set Drone Latitude/Longitude</span>
              <div id="map" style="height:332px;width:100%;position:relative;"></div>
            </ui-column>
          </ui-row>
        </ui-column>
  
        <ui-column size="md-12 lg-12 xs-12" class="boxForm">
            <ui-input-group class="pull-right">
                <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                    <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>
                  &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
            </ui-input-group>
        </ui-column>
  
      </ui-row>
    </ui-form>
   
  </ui-fieldset>

</template>
