<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
                <ui-row>
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-12 lg-12 xs-12">
                                <h4 class="pull-left heading_title" >View Drone &nbsp; <i class="anra-ico_drone fa-lg"></i> </h4>
                            </ui-column>
                        </ui-row>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                            <div class="wrapper">
                                <label class="upper">Name</label>
                                <span class="meetup">${drone.Title}</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Legal Identification</label>
                            <span class="meetup">${drone.LegalIdentification}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Status</label>
                            <span class="meetup">${drone.IsActive==true? 'Active':'Inactive'}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Brand</label>
                            <span class="meetup">${drone.BrandLookup | filterOnProperty:'BrandId':drone.BrandId:'Name'}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Model</label>
                            <span class="meetup">${drone.ModelName}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Purchase Date</label>
                            <span class="meetup">${drone.PurchaseDate}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Weight (${massUnit})</label>
                            <span class="meetup">${drone.Weight}&nbsp;</span>
                        </div>
                    </ui-column>


                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Firmware Version</label>
                            <span class="meetup">${drone.FirmwareVersion}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Firmware Version</label>
                            <span class="meetup">${drone.FirmwareVersion}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Hardware Version</label>
                            <span class="meetup">${drone.HardwareVersion}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Base Latitute</label>
                            <span class="meetup">${drone.BaseLat}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Base Longitude</label>
                            <span class="meetup">${drone.BaseLng}&nbsp;</span>
                        </div>
                    </ui-column>


                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Base Altitude (${lengthUnit})</label>
                            <span class="meetup">${drone.BaseAlt}&nbsp;</span>
                        </div>
                    </ui-column>

                    
                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Horizontal Collision Threshold</label>
                            <span class="meetup">${drone.CollisionThresholdV}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-6 xs-6">
                        <div class="wrapper">
                            <label class="upper">Organization</label>
                            <span class="meetup">${organizations | filterOnProperty:'OrganizationId':drone.OrganizationId:'Name'}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="wrapper">
                            <label class="upper">Notes</label>
                            <span class="meetup">${drones.notes}&nbsp;</span>
                        </div>
                    </ui-column>   
                </ui-row>

                <ui-row>
                    <ui-column class="boxForm" size="md-12 lg-12 xs-12">
                        <ui-input-wrapper class="pull-right">
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                            </button>&nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="edit(drone.DroneId)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                            </button>
                        </ui-input-wrapper>
                    </ui-column>
                </ui-row>
            </ui-column>
        </ui-row>
    
    
      
</template>



