<template>
    <style>
   
    .ui-tab-panel .ui-tabbar .ui-tab-button > div .ui-label {
    cursor: default;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 14em;
    pointer-events: none;
        }
    </style>
    <!-- <require from="./dashboard/welcome"></require> -->
    <ui-tab-panel active-tab.bind="activeTab" class="tab-panel">
        <ui-tab view-model="./drones">Drones &nbsp;<i class="anra-ico_drone fa-lg" aria-hidden="true"></i></ui-tab>
        <ui-tab view-model="../batteries/batteries" >Batteries &nbsp; <i class="anra-ico_batterycharge_dark" style="font-size: 10px;"></i></ui-tab>
        <ui-tab view-model="../sensors/listing"  >Sensors &nbsp; <i class="fa fa-wifi"></i> </ui-tab>
        <ui-tab view-model="../equipments/listing">Other Equipments</ui-tab>
        <compose view.bind="activeTab.view" view-model.bind="activeTab.viewModel"></compose>
    </ui-tab-panel>
</template>