﻿<template>
    <section class="container-fluid edit-view-mn">
        <div class="container das-middle-sec edit-view panel padding-5">
            <div class="row">
                <div class="container das-middle-sec">
                    <form role="form">
                        <div class="container-fluid">
                            <div class="col-md-12">
                                <div class="page-header">
                                    <h2 class="page_header">${heading}</h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="newpassword">New Password</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon anra-ico_password"></i></div>
                                                <input type="password" id="newPwd" value.bind="user.NewPassword & validate" class="form-control" placeholder="New Password" />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="confirmpassword">Confirm Password</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon anra-ico_password"></i></div>
                                                <input type="password" id="confirmPwd" validate="confirmPassword" class="form-control" value.bind="confirmPassword" placeholder="Confirm Password" />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span class="text-danger">&nbsp;[&nbsp;Password must have atleast 6 characters,1 lowercase letter & 1 numeric digit.&nbsp;]</span>
                                    </div>
                                </div>
                            </div>&nbsp;
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="resetPassword()">
                                    <i class="fa fa-check" aria-hidden="true"></i> Save
                                </button>
                                &nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </div>&nbsp;
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="alert alert-danger" if.bind="loginError">${loginError}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   </section>
</template>