<template>
  <require from="../lib/component/animation/loading"></require>
  <require from="../lib/date-format"></require>
  <require from="../components/dialog"></require>

    <style>
      button,
      a.btn {
        background-color: #31c5ac;
        color: white;
        /*padding: 10px 15px;*/
        border-radius: 3px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        text-shadow: none;
        display: inline-block;
        cursor: pointer;
      }

        input[type="file"] {
            cursor: pointer;
        }

        button:focus {
            outline: 0;
        }

        .file-btn {
            position: relative;
        }

            .file-btn input[type="file"] {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
            }

        .actions {
            padding: 5px 0;
        }

            .actions button {
                margin-right: 5px;
            }

        .upload .upload-wrap,
        .upload .upload-result,
        .upload.ready .upload-msg {
            display: none;
        }

        .upload.ready .upload-wrap {
            display: block;
        }

        .upload.ready .upload-result {
            display: inline-block;
        }

        .upload-wrap {
            width: 330px;
            height: 330px;
            margin: 0 auto;
        }

        .upload-msg {
            text-align: center;
            padding: 50px;
            font-size: 22px;
            color: #aaa;
            width: 330px;
            margin: 50px auto;
        }
      select[multiple]:focus option:checked {
        background: red linear-gradient(0deg, rgba( 13, 186, 188, 1 ) 0%, rgba( 13, 186, 188, 1 ) 100%) !important;
      }
      div#myModal.ml-dialog-3d .modal-dialog {
       max-height:552px;
      }

    </style>

  <loading displayed.bind="isWaiting"></loading>
  <section class="container-fluid edit-view-mn">
    <div class="row">
      <div class="container das-middle-sec edit-view panel padding-5">
        <form role="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h2>${heading} &nbsp; <i class="anra-ico_users_dark"></i></h2>
                </div>
                <div if.bind="user.UserName" class="right-botton pull-right change-password">
                  <button click.delegate="resetPassword()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i>Reset Password</button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="firstname">First Name</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon anra-ico_user_light"></i></div>
                        <input type="text" class="form-control" placeholder="First Name"
                               value.bind="user.FirstName & validate" />
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="lastname">Last Name</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon anra-ico_user_light"></i></div>
                        <input type="text" class="form-control" placeholder="Last Name"
                               value.bind="user.LastName & validate" />
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="phone">Phone</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                        <input class="form-control" masked="value.bind: user.PhoneNumber & validate; mask: (999) 999-9999;" />
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="email">Email</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                        <input type="email" class="form-control" placeholder="Email" value.bind="user.Email & validate" />
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label for="IMEINumber">IMEI Number:</label>
                      <input type="number" value.bind="user.IMEINumber & validate" class="form-control" id="imeinumber" placeholder="IMEI Number">
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label for="ApplicationKey">Application Key:</label>
                      <input type="text" validate="ApplicationKey" value.bind="user.ApplicationKey" class="form-control" id="applicationkey" placeholder="Application Key" disabled>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label for="license">Pilot License Number:</label>
                      <input type="text" value.bind="user.LicenseNumber" class="form-control" placeholder="Pilot License No.">
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label for="medical">Medical Certificate No.:</label>
                      <input type="text" value.bind="user.MedicalCertNumber" class="form-control" placeholder="Medical Certificate No.">
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="Organization">Organization</label>
                      <input type="text" value.bind="user.OrganizationName" class="form-control" id="organization" placeholder="" disabled>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="Unmanned">Previous Unmanned Hour</label>
                      <input type="text" value.bind="user.UnmannedHour" id="Unmanned" class="form-control"  placeholder="" >
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="manned">Previous Manned Hour</label>
                      <input type="text" value.bind="user.MannedHour" id="manned" class="form-control"  placeholder="" >
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="Role">Role</label>
                      <select class="form-control" id="ddlRole" multiple  style="width: 100%" change.delegate="setselectedOption($event)">
                        <option value="${role.RoleId}" repeat.for="role of user.RoleLookup" model.bind="role.RoleId" show.bind="role.RoleName!=='Administrator'">${role.RoleName}</option>
                      </select>
                    </fieldset>
                  </div>
                  <div class="col-md-4" show.bind="user.UserName==null">
                    <fieldset class="form-group">
                      <label class="control-label" for="password">Password</label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon anra-ico_password"></i></div>
                        <input type="password" id="password" class="form-control" placeholder="Password"
                               value.bind="user.Password & validate" focus.trigger="hideErrorMsg()" />
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4" show.bind="user.UserName==null">
                    <fieldset class="form-group">
                      <label class="control-label" for="repassword">Confirm Password<span class="text-danger" show.bind="!IsPasswordsMatched && (user.Password.length > 0 || ConfirmPassword.length > 0)">&nbsp;[&nbsp;Passwords do not match.&nbsp;]</span></label>
                      <div class="input-group">
                        <div class="input-group-addon"><i class="glyphicon anra-ico_password"></i></div>
                        <input type="password" id="confirmpassword" class="form-control" placeholder="Confirm Password"
                               value.bind="ConfirmPassword" focus.trigger="hideErrorMsg()" />
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="file">Pilot License</label>
                      <input id="licensedoc" type="file" name="files" accept="image/*|.pdf" data-min-file-count="1" change.delegate="fileSelected($event)">
                      <small class="text-muted">pdf,jpg,gif or png format only.</small>
                      <div if.bind="user.LicenseFile" class="view-doc">
                        <a click.delegate="downloadDocument(user.LicenseFile,'license')">View Document</a>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="file">Medical Certificate</label>
                      <input id="medicaldoc" type="file" name="files" accept="image/*|.pdf" data-min-file-count="1" change.delegate="fileSelected($event)">
                      <small class="text-muted">pdf,jpg,gif or png format only.</small>
                      <div if.bind="user.MedicalFile" class="view-doc">
                        <a click.delegate="downloadDocument(user.MedicalFile,'medical')">View Document</a>
                      </div>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="file">Other Documents</label>
                      <input id="otherdoc" type="file" name="files" accept="image/*|.pdf" data-min-file-count="1" change.delegate="fileSelected($event)">
                      <small class="text-muted">pdf,jpg,gif or png format only.</small>
                      <div if.bind="user.OtherFile" class="view-doc">
                        <a  click.delegate="downloadDocument(user.OtherFile,'other')">View Document</a>
                      </div>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="date">Pilot License Expiry Date</label>
                      <input id="plexpiryDate" type="date" class="form-control" placeholder="" value.bind="user.PilotLicenseExpiryDate" />
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="date">Medical License Expiry Date</label>
                      <input id="mlexpiryDate" type="date" class="form-control" placeholder="" value.bind="user.MedicalLicenseExpiryDate" />
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label class="control-label" for="active">Profile Photo</label>

                        <button class="btn btn-primary btn-lg" click.delegate="uploadPhoto()">
                          <i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload Photo
                        </button>
                        <label show.bind="isCropped" class="alert-upload" for="active">Uploaded</label>
                      </fieldset>
                    </div>
                    <div class="col-md-3">
                      <fieldset class="form-group">
                        <label class="control-label" for="active">Active</label>

                        <ui-switch info width="8" checked.bind="user.IsActive" label-off="No" label-on="Yes"></ui-switch>
                      </fieldset>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                  <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>
                &nbsp;
                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
              </div>
            </div>
          </div>
          <anra-dialog if.bind="isProfilePhotoSelected" display.two-way="isProfilePhotoSelected" title.bind="'Profile Photo'" display-footer.bind="false" on-close.call="closeDialog()">
            <template replace-part="dialog-body">
              <div class="upload">
                <div class="actions">
                  <a class="btn file-btn">
                    <span>Upload</span>
                    <input type="file" id="upload" value="Choose a file" accept="image/*" change.delegate="readProfilePhoto($event)" />
                  </a>

                  <!--<button class=".upload-result .ready" click.delegate="closeDialog()">Cancel</button>-->

                  <button class="upload-result" click.delegate="cropPhoto()">Crop & Save</button>
                </div>
                <div class="container">
                  <div class="upload-msg">
                    Upload a file to start cropping
                  </div>
                  <div class="upload-wrap">
                    <div id="profilephotouploaded"></div>
                  </div>
                  <button class=".upload-result .ready btn btn-primary pull-right" click.delegate="closeDialog()">Close</button>
                </div>
              </div>
            </template>
          </anra-dialog>
        </form>
      </div>
    </div>
  </section>
</template>
