<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    <style>
    .disabled_icon
    {
        pointer-events: none;
    }
    .enabled
    {
        color:#37e4c6;
    }
    </style>
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel>
                <ui-panel-body class="panel_body">
                    <ui-row>
    
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_users_dark"></i> </h4>
                            </ui-column>
    
                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span class="tooltip_text">New User</span>
                                    </button>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>
    
                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: users; display-data.bind: $users;
                                       current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: FullName">Name <span class="glyphicon glyphicon-sort"></span></th>                                
                                        <th aut-sort="key: Email">Email <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: RoleName">Role Name <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: StatusText">Status <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th>Drone(s)</th>
                                        <th colspan="4">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $users">
                                        <td>${item.FullName}</td>                                
                                        <td>${item.Email}</td>
                                        <td>${item.RoleName}</td>
                                        <td><div if.bind ="item.StatusText == 'Active'" title="Active"><div class="accepted"></div> </div>
                                            <div if.bind ="item.StatusText == 'Inactive'" title="Inactive"><div class="proposed"></div></div>
                                        </td>
                                        <td>${item.OrganizationName}</td>
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td>
                                            <span class="${item.pilotRole == true ? '' : 'disabled_icon'}">
                                                <a href="javascript:;" class="${item.pilotRole == true ? 'enabled' : 'disabled_icon'} ${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="associateDrones(item)" title="Drone">
                                                    <i class="anra-ico_drone" style="font-size: 25px;"></i>
                                                </a>
                                            </span>
                                        </td>
                                        <td colspan="4" class="action-btn">
                                            <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="resetPassword(item.Id)" title="Reset Password">
                                                <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.Id)"title="Edit">
                                                <i class="fa fa-pencil-square-o"
                                                   aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.Id)" title="Delete">
                                                <i class="fa fa-trash"
                                                   aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.Id)" title="View">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ui-column>
    
                    </ui-row>
    
                    <!-- pagination -->
                    <ui-row>
                        <ui-column size="md-9 lg-9 xs-12">
                            <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                        </ui-column>
                        <ui-column size="md-3 lg-3 xs-12">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </ui-column>
                    </ui-row>
                    <!-- pagination -->
    
                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>
    
    
        <user if.bind="isEditing" user.bind="user" save.call="saveItem()"></user>
    <user-view if.bind="isViewing" user.bind="user" dashboardItem.bind="dashboardItem"  save.call="saveItem()"></user-view>
      
</template>
