<template>
  <require from="blur-image"></require>
  <require from="../lib/date-format"></require>
  <loading displayed.bind="isWaiting"></loading>
  <section class="container-fluid edit-view-mn canvas_div_pdf" show.bind="!isEditing && !isViewing">
      <div class="container p-a-10 m-t-15 panel">
          <div class="row">
                <div class="container">
                    <div class="col-md-12">
                            <span class="page_header pull-left">View User &nbsp; <i class="anra-ico_users_dark"></i></span>
                            <div class="right-botton pull-right change-password">
                                <button class="btn btn-primary btn-anra-primary btn-sm" click.delegate="cancel()">
                                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>
                                <button click.delegate="getPDF()" type="button" class="btn btn-primary btn-anra-primary btn-sm" title="Download As PDF"><i class="fa fa-download" aria-hidden="true"></i>Download</button>
                                <!-- <button click.delegate="changePassword()" type="button" class="btn btn-primary btn-lg"><i class="fa fa-pencil" aria-hidden="true"></i>Change Password</button> -->
                            </div>
                    </div>
                </div>
          </div>
          <div class="container fs-12">
              <div class="row">
                  <!-- Left Side of Profile Page -->
                  <div class="col-md-3">
                      <div class="row">
                          <div class="col-md-12">
                              <div class="col-md-12 box_user_profile">
                                  <img if.bind="user.ProfilePhoto" class="profile_img_custom img-thumbnail" src="${user.ProfilePhoto}" >
                                  <img if.bind="!user.ProfilePhoto" class="profile_img_custom img-thumbnail" src="image/avatar-1.png" >
                                  
                                  <fieldset class="view_inner_custom">
                                    <div class="row">
                                        <div class="col-md-12">
                                             <span class="view-f1">${user.FullName}</span>
                                             <a>
                                                <i class="fa fa-camera fa-sm " style="font-size:16px"></i>
                                             </a>
                                        </div>
                                        <!-- <div class="col-md-4">
                                            <a><i class="fa fa-camera fa-lg text-anra pull-right" style="font-size:26px"></i></a>
                                        </div> -->
                                    </div>
                                  </fieldset>
                              </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">Email:</label>
                                  <span class="view-fl " style="color:#31c5ac;">${user.Email}&nbsp;</span>
                              </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">Pilot Hours:</label>
                                  <span class="view-fl">${userDetail.TotalFlightHours}</span>
                              </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">All Roles Hours:</label>
                                  <span class="view-fl">${userDetail.TotalCrewHours}</span>
                              </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">Previous Unmanned Pilot Hours:</label>
                                  <span class="view-fl">${user.UnmannedHour}</span>
                              </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">Previous Manned Pilot Hours:</label>
                                  <span class="view-fl">${user.MannedHour}</span>
                              </div>
                              <div class="padding-user">
                                <label class="control-label" for="active">Organization</label>
                                <span class="view-fl">${user.OrganizationName}</span>
                            </div>
                              <div class="padding-user">
                                  <label class="control-label" for="active">Contact No:</label>
                                  <span class="view-fl">${user.PhoneNumber}</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Right Side of Profile Page -->
                  <div class="col-md-9">
                      <div class="row">
                            <div class="row">
                                <div class="col-md-12 das-middle-user">
                                    <!-- <h4 class="pull-left">Documents &nbsp;<i class="anra-ico_reporting_dark  text-anra"></i></h4> -->
                                    <span class="heading-main pull-left">Roles &nbsp;<i class="fa fa-users fa-sm-user-view"></i></span>
                                </div>
                            </div>
                          <!-- <span class="heading-main pull-left">Roles &nbsp;<i class="fa fa-users fa-sm-user-view"></i></span> -->
                          <table class="table table-striped table-bordered dataTable user_table no-footer">
                              <thead>
                              <tr>
                                  <th>Name</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr repeat.for="role of userDetail.UserRoles">
                                  <td>${role.RoleName}</td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="row">
                          <div class="row">
                              <div class="container-fluid das-middle-user">
                                  <span class="heading-main pull-left">Documents &nbsp;<i class="anra-ico_reporting_dark fa-sm-user-view "></i></span>
                                  <!-- <h2 class="pull-left">Documents &nbsp;<i class="anra-ico_reporting_dark  "></i></h2> -->
                              </div>
                          </div>
                          <table class="table table-striped table-bordered dataTable user_table no-footer">
                              <thead>
                              <tr>
                                  <th>Name</th>
                                  <th>Details</th>
                                  <th>Expiry Date</th>
                                  <th colspan="3">Action</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr >
                                  <td>Pilot Licence No</td>
                                  <td>${user.LicenseNumber}</td>
                                  <td>${user.PilotLicenseExpiryDate}</td>
                                  <td colspan="1" >
                                  <a  if.bind="!user.LicenseFile"  title="No File is Present" ><i class="fa fa-download "></i></a>                                  
                                  <a href="#" if.bind="user.LicenseFile" click.delegate="downloadDocument(user.LicenseFile,'license')" title="Download"><i class="fa fa-download  text-anra"></i></a>
                                  </td>
                              </tr>
                              <tr >
                                  <td>Medical Certificate No</td>
                                  <td>${user.MedicalCertNumber}</td>
                                  <td>${user.MedicalLicenseExpiryDate}</td>
                                  <td colspan="1" >
                                  <a href="#" if.bind="user.MedicalFile" click.delegate="downloadDocument(user.MedicalFile,'medical')" title="Download" ><i class="fa fa-download  text-anra"></i></a>
                                  <a  if.bind="!user.MedicalFile" title="No File is Present"   ><i class="fa fa-download  "></i></a>
                                </td>
                              </tr>
                              <tr >
                                  <td>Other Documents</td>
                                  <td></td>
                                  <td></td>
                                  <td colspan="1">
                                  <a href="#" if.bind="user.OtherFile" click.delegate="downloadDocument(user.OtherFile,'other')" title="Download"><i class="fa fa-download  text-anra"></i></a>
                                  <a if.bind="!user.OtherFile" title="No File is Present"><i class="fa fa-download "></i></a>
                                </td>
                              </tr>
                              </tbody>
                          </table>
                      </div>
                      <div class="row">
                          <div class="row">
                              <div class="container-fluid das-middle-user">
                                    <span class="heading-main pull-left">Training/Certifications &nbsp;<i class="fa fa-certificate fa-sm-user-view "></i></span>
                                  <!-- <h2 class="pull-left">Training/Certifications &nbsp;<i class="fa fa-certificate "></i></h2> -->
                              </div>
                          </div>
                          <table class="table table-striped table-bordered dataTable no-footer" >
                            <thead>
                            <tr>
                                <th aut-sort="key: DateCreated; default: desc">User Name<span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: DateCreated; default: desc">Organization<span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: Name">Training Name<span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: OrganizationName">Provider<span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: DateCreated; default: desc">Date Completed<span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: DateCreated; default: desc">Expiry Date<span class="glyphicon glyphicon-sort"></span></th>    
                                <th colspan="3">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="item of certificateDetails">
                                    <td>${item.UserName}</td>
                                    <td>${item.OrganizationName}</td>
                                    <!-- <td>${item.OrganizationId}</td> -->
                                    <td>${item.CourseName}</td>
                                    <td>${item.CourseProvider}</td>
                                    <td>${item.CourseDateCompleted |dateFormat}</td>
                                    <td>${item.CourseDateExpiry |dateFormat}</td>
                                    <td colspan="2" nowrap>
                                        <a href="#" if.bind="item.CourseAttachment" click.delegate="downloadDocument(item.CourseAttachment,'certificate')" title="Download"><i class="fa fa-download  text-anra"></i></a>
                                        <a if.bind="!item.CourseAttachment" title="No File is Present"><i class="fa fa-download "></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                      </div>
                      <div class="row">
                          <div class="tab-pane fade in active">
                              <!----Dashboard Middle --->

                              <div class="row">
                                <div class="col-md-12 das-middle-user">
                                    <!-- <h4 class="pull-left">Documents &nbsp;<i class="anra-ico_reporting_dark  text-anra"></i></h4> -->
                                    <span class="heading-main pull-left">Latest Flights &nbsp; <i class="fa fa-plane fa-sm-user-view"></i></span>
                                </div>
                              </div>
                              <!-- <div class="row">
                                  <div class="container-fluid ">
                                  <h4 class="pull-left">Latest Flights</h4>
                                  </div>
                              </div> -->
                              <div class="table-responsive des-table">
                                  <table class="table table-striped table-bordered dataTable user_table no-footer" aurelia-table="data.bind: dashboardItem; display-data.bind: $dashboardItem;
                                          current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
                                  <thead>
                                      <tr>
                                          <th aut-sort="key: MissionName; default: desc"> Mission Name <span class="glyphicon glyphicon-sort"></span></th>
                                          <th aut-sort="key: EndTime; default: desc"> Date <span class="glyphicon glyphicon-sort"></span></th>
                                          <th aut-sort="key: OrganizationName; default: desc"> Organization <span class="glyphicon glyphicon-sort"></span></th>
                                          <th aut-sort="key: DroneName; default: desc"> Drone <span class="glyphicon glyphicon-sort"></span></th>
                                          <th aut-sort="key: Duration; default: desc"> Duration <span class="glyphicon glyphicon-sort"></span></th>
                                          <th aut-sort="key: StatusText; default: desc">Status <span class="glyphicon glyphicon-sort"></span></th>
                                          <th>Details</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                  <tr repeat.for="flight of dashboardItem">
                                      <td><a href="#/flight-data-listing">${flight.MissionName}</a></td>
                                      <td>${flight.EndTime | dateFormat}</td>
                                      <td>${flight.OrganizationName}</td>
                                      <td>${flight.DroneName}</td>
                                      <td>${flight.Duration}</td>
                                      <td>
                                        <div if.bind ="flight.StatusText == 'Accepted'" title="Accepted"><div class="accepted"></div> </div>
                                        <div if.bind ="flight.StatusText == 'Proposed'"  title="Proposed"><div class="proposed"></div> </div>
                                        <div if.bind ="flight.StatusText == 'Closed'" title="Closed"><div class="closed"></div> </div>
                                        <div if.bind ="flight.StatusText == 'New'" title="New"><div class="new"></div> </div>
                                        <div if.bind ="flight.StatusText == 'Started'" title="Started"><div class="started"></div> </div>
                                        <!-- ${item.StatusText} -->
                                    </td>
                                      <td>
                                      <a href="javascript:;" class="ed" click.delegate="viewItem2(flight.FlightId)"title="View">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                      </a>
                                      </td>
                                  </tr>
                                  </tbody>
                                  </table>
                              </div>
                              <!-- pagination -->
                              <div class="row padding-5">
                                  <div class="col-md-9">
                                      <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                                      pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                                  </div>
                                  <div class="col-md-3">
                                      <div class="form-inline">
                                          <div class="form-group pull-right">
                                              <label for="pageSize">Page Size: </label>
                                              <select value.bind="pageSize" id="pageSize" class="form-control">
                                                  <option model.bind="5">5</option>
                                                  <option model.bind="10">10</option>
                                                  <option model.bind="20">20</option>
                                                  <option model.bind="50">50</option>
                                              </select>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <change-password if.bind="isEditing" user.bind="user" save.call="savePassword()"></change-password>
</template>
