<template>
    <ui-row>
        <ui-column size="lg-12 md-12 xs-12">
            <div class="topbar-left">
                <a route-href="route: home;" class="header-logo-wrapper">
                    <img  src="image/logo_login_page.png" class="header-logo-img" alt="ANRA">
                </a>
            </div>
        </ui-column>
    </ui-row>
    <ui-menu class="ui-inline ui-custom-inline">
        <ui-menu-section>Menus </ui-menu-section>
        <ui-menu-item repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
            <a href.bind="route.href"><i class="${route.settings.icon}"></i>${route.title}</a>
        </ui-menu-item>
    </ui-menu>
</template>