<template class="navbar">
   <ui-row class="navbar">
      <ui-column size="md-6 lg-2 xs-6">
         <div class="topbar-left">
            <a route-href="route: home;" class="header-logo-wrapper">
               <img  src="image/logo3.png" class="header-logo-img" alt="ANRA">
            </a>
         </div>
      </ui-column>

      <ui-column size="lg-8" class="hidden-md hidden-xs">
         <div class="main_menus">
            <ui-menu repeat.for="route of router.navigation">
               <a class="menu-a tooltip" click.delegate="redirect(route.href)">
                  <i class="${route.isActive  ? route.settings.icon + ' ' + 'act' : route.settings.icon}"></i> ${route.title}
                  <span class="tooltip_text">${route.title}</span>
               </a>
            </ui-menu>
         </div>
      </ui-column>

      <ui-column size="md-6 lg-2 xs-6">
         <div class="topbar-right pull-right">
            <ul class="list-unstyled list-inline">
               <li class="menu_li_right hidden-xs"><a title="" click.trigger="logIssue()" class="tooltip notification-icon-box"> <i class="fa fa-bug"></i><span class="tooltip_text">Report Issue</span></a></li>
               <li class="menu_li_right"><a title="" href="${alertAggregate.AlertCount > 0 ? '#/alerts' : '#'}" class="tooltip waves-effect1 waves-light notification-icon-box"> <i class="fa fa-bell"></i> <span class="badge-alert" show.bind="alertAggregate.AlertCount > 0">${alertAggregate.AlertCount}</span><span class="tooltip_text">Alerts</span></a></li>
               <li class="menu_li_right hidden-xs"> <a title="" onclick="toggleFullScreen()" class="tooltip waves-effect1 waves-light notification-icon-box"><i class="fa fa-expand" aria-hidden="true"></i><span class="tooltip_text">Full Screen</span></a> </li>
               <li>
                  <ul class="top_users login_nav_box">
                     <li class="list-unstyled">
                        <a title="Profile" href="" class="profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                           <img src="image/avatar-1.png" alt="img">
                        </a>
                        <ul class="dropdown-menu">
                           <li><a click.trigger="profileuser()"> <i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                           <li><a href="#" click.trigger="onLogout()" class="log-out"><i class="fa fa-sign-out"></i> Logout </a></li>
                        </ul>
                     </li>
                  </ul>
               </li>
            </ul>
         </div>
      </ui-column>
   </ui-row>
</template>