.x-app-menu.ui-drawer.ui-drawer-show ~ .ui-viewport {
  -webkit-transform: translateX(23em);
  -moz-transform: translateX(23em);
  -ms-transform: translateX(23em);
  -o-transform: translateX(23em);
  transform: translateX(23em);
}

.au-target.ui-dialog.ui-active {
  top: 30% !important;
  left: 30% !important;
}

.model_login{
  border: 1px solid #ddd;
  background: #c1c1c1;
  border-radius: 4px;
  margin: 6px 10px;
  padding: 17px;
}

.mod-bx {
  background-color: #f4f4f4;
  text-align: left;
  margin: 10px;
  padding: 10px;
  border: #d4dce4 solid 1px;
  border-radius: 6px;
  color: #707d95;
}

.mod-bx a{
  margin-left: 6px;
  line-height: 1.5em;
  color: #666;
}

.mod-bx ui-glyph {
  margin-top: 4px;
}

.btn-model-login{
  background: #808080;
}

.btn-model-login:disabled,
.btn-model-login[disabled]{
  
  background: #ccc;
  color :#635f5f;
}

.box{
  background: #151315;
  color: #a3a5a1;
  margin: 0px 8px;
  border: none !important;
  position: relative;
  padding: 10px 15px !important;
  line-height: 1; 
}

.box span{
  font-size: 14px;
  font-weight: 900;
}

.count_dashboard{
  line-height: 2;
  font-size: 28px !important;
}

.chart{
  width: 550px;
  min-height: 200px;
}

.das-main h5{
  font-size: 18px;
  padding: 10px;
  font-weight: 900;
  color: #a3a5a1;
}

.table-custom thead{
   /* background: #000; */
   background: #565555;
   font-size: 14px;
   /* border-bottom: 2px solid #fff;
   border-top:2px solid #fff; */
}

.table-custom thead th{
  border:none !important;
  text-align: center;
  color: #000;
  font-weight: bold;
}

.table-custom td{
  border:none !important;
  color: #a3a5a1;
  font-size: 12px;
  text-align: center;
}

.table-custom tr:nth-child(even) {
  /* background-color: #000000a3 */
  background-color: #1f1f1f;
}

.accepted{
  height: 8px;
  width: 8px;
  background: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.closed{
  height: 8px;
  width: 8px;
  background: red;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.proposed{
  height: 8px;
  width: 8px;
  background: orange;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.new{
  height: 8px;
  width: 8px;
  background: #35bcf3;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.started{
  height: 8px;
  width: 8px;
  background: gray;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

/* .login_nav_box{
  float: right;
} */

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.menu_li_right{
  border: 2px solid rgba(255, 255, 255, 0.5);
  padding: 4px 9px !important;
  border-radius: 50%;
  margin: 2px 5px;
}

.menu_li_right a i{
  font-size: 16px;
}

.ui-viewport .ui-viewport-header .ui-drawer-toggle {
  font-size: 16px !important;
  color: #a3a5a1 !important;
}

.topbar-right{
  margin-top:10px;
}

.ui-custom-inline{
  max-width: 100% !important;
}

.navbar{
  width: 100%;
}

a.ui-menu-item .ui-menu-label a {
  color: rgb(163, 165, 161) !important;
  font-size: 18px;
  font-weight: bold;
}

a.ui-menu-item .ui-menu-label a i{
  margin-right: 15px;
}

a.au-target.ui-menu-item.active .ui-menu-label {
  background: #000 !important;
}

a.au-target.ui-menu-item.active .ui-menu-label a{
  color: rgba(13, 186, 188, 1) !important;
}

a.au-target.ui-menu-item.active {
  padding: 0;
  border-left: 6px solid;
}

.tab-panel{
  padding: 15px;
}

.ui-tab-panel .ui-tabbar .ui-tab-button{
  padding: 5px 45px !important;
  background: #0a090a;
  color: #fff;
  border: 1px solid #5b5f66;
}

.ui-tab-panel .ui-tabbar .ui-tab-button.ui-active {
  color: #fff !important;
  background: #151515 !important;
}

.ui-tab-panel .ui-tab-panel-body{
  background: #151315;
  border:none;
  padding:15px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
}

.table-custom td a i{
  font-size: 12px;
}

.action_td a{
  margin: 0 5px;
}

.table-responsive {
  width: 100%;
  display: inline-grid;
  overflow-x: inherit; /*auto*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table{
  table-layout: inherit !important;
} 

.table_icon_select{
  display: block;
  width: 75%;
  height: 22px;
  padding: 0px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #141214;
  background-image: none;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}

.table_icon_select option{
  font-family: 'FontAwesome';
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.dropdown > a, .dropdown > button {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 12px;
  background-color: #141214;
  border: 1px solid #a3a5a1;
  padding: 4px 20px 4px 10px;
  border-radius: 4px;
  display: inline-block;
  color: #a3a5a1;
  text-decoration: none;
}

.dropdown > a:before, .dropdown > button:before {
  position: absolute;
  right: 6px;
  top: 10px;
  content: ' ';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a3a5a1;
}

.dropdown_menu{
  position: absolute;
  border: 1px solid #000;
  border-radius: 3px;
  list-style: none;
  padding: 4px 3px;
  background-color: #141214;
  box-shadow: 0 3px 6px rgba(0,0,0,.175);
  z-index: 1000;
  min-width: 75px;
  min-height: 70px;
}

.dropdown_menu a{
  text-decoration: none;
  display: block;
  color: #a3a5a1;
  font-size: 12px;
  padding: 3px 5px;
  text-align: left;
}

.dropdown_menu a:hover{
  background-color: #000000;
  cursor: pointer;
}

.dropdown_menu a span{
  margin-left: 8px;
}

/* Pagination Css for table */

.pagination>li>a, .pagination>li>span {
  color: #ffffff !important;
  background-color: #000000 !important;
  border: 1px solid #000000 !important;

}

.pagination>li.active>a, .pagination>li>span {
  color: #ffffff !important;
  background-color: #36e4c6 !important;
  border-color: #36e4c6 !important;

}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  z-index: 2;
  color: #ffffff !important;
  background-color: #36e4c6 !important;
  border-color: #36e4c6 !important;
}

.pagination>li>a, .pagination>li>span {
  color: #ffffff !important;
  background-color: #000000 !important;
  border: 1px solid #000000 !important;

}

.pagination-select{
  padding: 3px 0px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

.header-top{
  margin: 10px 0 !important;
}

.search_bar{
  background: url(../../../image/search-icon.png) no-repeat;
  padding-left: 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  height: 35px;
  width: 300px;
  margin-right: 5px;
  background-size: 20px;
  background-position: top 5px right 8px;
  background-size: 20px;
  color: #fff;
  border-radius: 10em;
}

.btn-add{
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.btn-add i{
  color: #b7bfcc;
}

.btn-add:hover i{
  color: #31c5ac;
}


.tooltip:hover.add_opr .tooltip_text{
  white-space : pre-wrap;
  left:0;
  width:90px;
  top:30px
}

.tooltip:hover.add_opr .tooltip_text::before{
  right:10%;
}


.container-box{
  margin-top:15px;
}

.panel_body{
  padding: 15px;
  padding: 15px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  height: 82vh;
}


.radio_sidebar{
  float: none;
  margin: 8px 0px !important;
}

.radio_name{
  width: 85%;
}


.panel-subheader.panel-1 {
  padding: 2px 14px;
  background: #a3a5a1;
  color: #000;
  margin: 5px 0px;
}

.switch.demo3 {
  float: left;
}

.airspace-options.airspace-2 {
  padding: 5px 7px;
}

.m-r-5{
  margin-right:5px;
}


/* active tabs */
.ui-tab-panel .ui-tabbar .ui-tab-button.ui-active {
  color: #37e4c6 !important;
  background: #151515 !important;
}


.heading_title i{
  font-size: 18px;
  color: #b7bfcc;
}

.badge-alert{
  position: absolute;
  top: -2px;
  right: -5px;
  height: 13px;
  background: red;
  font-size: 9px;
  width: 13px;
  border-radius: 45%;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.panel_box{
  margin: 15px;
}

.box-maintenance{
  padding: 0px 30px;
  height: 370px;
  overflow: hidden;
  overflow-y: scroll;
}

/* Card layout css start here for alert page */

.card {
  background: #000;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  height: 170px;
  padding: 0 10px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0,0,0,0.025);
  text-align: center;
  transition: 1000ms;
  width: 235px;
}

.card.expanded {
  height: 300px;
}
.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}
.card.expanded .label {
  transform: translateY(0);
}
.text1 {
  clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -90%, 50% -5%, 100% -90%, 100% 100%);
  transition: clip-path 1000ms;
  font-size: 11px;
}
.card.expanded .text1 {
  clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
  -webkit-clip-path: polygon(0% 100%, 0 -100%, 50% -15%, 100% -100%, 100% 100%);
}
.text2 {
  clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -80%,15% -70%,17.23% -53.59%,23% -40%,27.23% -28.94%,35% -20%,41.09% -13.59%,50% -10%,58.91% -13.23%,65% -20%,72.77% -28.23%,77% -40%,82.77% -54.65%,85% -70%,100% -80%,100% 100%);
  transition: clip-path 1000ms;
}

.card.expanded .text2 {
  clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
  -webkit-clip-path: polygon(0% 100%,0% -90%,15% -80%,17.23% -63.59%,23% -50%,27.23% -38.94%,35% -30%,41.09% -23.59%,50% -20%,58.91% -23.23%,65% -30%,72.77% -38.23%,77% -50%,82.77% -64.65%,85% -80%,100% -90%,100% 100%);
}

.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
  display: none;
}

.card.expanded .text-content {
  transform: translateY(-15px);
  display: block;
  margin-top:25px;
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.card.expanded .chevron {
  transform: rotate(0deg);
}

.title {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 900;
  margin: 20px 0 12px;
}

.body-text {
  padding: 0 10px;
}

.image_maintenance{
  width: 50px;
  margin-top: 10px;
}

.body-text table tr td{
  padding: 2px;
}

p.img_heading_maintanance {
  font-size: 14px;
  font-weight: 900;
  padding-top: 10px;
  color: #b7bfcc;
}


.color_shade_maintanance{
  width: 10px;
  height: 10px;
  margin: 0;
  display: inline-block;
}

.bg-completed{
  background-color: #5ADB63;
}

.bg-newTask{
  background-color: #37e4c6;
}

.bg-partially_completed{
  background-color: #c2a016;
}

.bg-postpone{
  background-color: #565555;
}


/* Css of card layout in alert page  ends here */

.ui-tab-panel .ui-tabbar .ui-tab-button > div .ui-label {
  cursor: default;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 10em;
  pointer-events: none;
}

.disabled.input-ui {
  background: #aaa;
  border-radius: 3px;
  cursor: no-drop;
  height: 35px;
}

.disabled .ui-input-control.ui-textarea{
  background: #aaa;
  border-radius: 3px;
  cursor: no-drop;
}

.ui-input-control.ui-textarea{
  background: #aaa;
  border-radius: 3px;
}

.select-ui-input{
  background: #aaa;
  border-radius: 3px;
  height: 35px;
  padding: 0.25em 0.5em;
  width: 100%;
  font-weight: 600;
  color: black;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1em;
}

.select-ui-input-multiple{
  background: #aaa;
  border-radius: 3px;
  padding: 0.25em 0.5em;
  width: 100%;
  font-weight: 600;
  color: black;
  font-family: "Lato", Arial, sans-serif;
  font-size: 1em;
}

.select-ui-input-multiple option{
  color: #000;
  font-weight: 600;
}

.disabled.select-ui-input-multiple{
  cursor: no-drop;
}

.ui-input-group .ui-label-custom{
  flex-basis: 8em;
  font-weight: 600 !important;
  width: auto !important;
  justify-content: flex-end!important;
}


.disabled.ui-input-wrapper .ui-input-control input, .disabled.ui-input-wrapper .ui-input-control textarea {
  background: #aaa;
  border-color: #aaa;
  border-radius: 3px;
  pointer-events: none;
  font-weight: 600;
  color: black;
}
 
.boxForm{
  padding: 20px !important;
}

li.ui-list-item.au-target {
  font-weight: 600;
  color: #000;
}

span.ui-counter {
  color: #000 !important;
}

.ui-input-wrapper .ui-input-control .ui-clear:hover,.ui-input-wrapper .ui-input-control .ui-clear {
  color: #000;
}

.ui-fieldset legend > span {
  color: #a3a5a1;
  font-size: 14px;
  font-weight: 600;
}

.ui-button.ui-size-sm {
  font-size: 16px;
}

.login-input .ui-input-control input{
  font-weight: 300;
}

.btn-primary {
  background-color: #151315 !important;
  border: 2px solid rgba( 13, 186, 188, 1 ) !important;
  color: rgba( 13, 186, 188, 1 ) !important;
  padding: 8px 16px !important;
}

.btn-primary:hover{
  background-color: rgba( 13, 186, 188, 1 ) !important;
  border: 2px solid #ccc !important;
  color: #151315!important;
  padding: 8px 16px !important;
}

.ui-input-custom{
  background: #aaa;
  border-color: #aaa;
  border:none;
  width: 100%;
  border-radius: 3px;
  height: 35px;
  font-weight: 600;
  color: black;
  padding: 0.25em 0.5em;
}

.btn_box{
  float: right;
}

.datepicker-input{
  position: relative;
}


.bootstrap-datetimepicker-widget{
  position: absolute;
  top:220px !important;
  bottom:auto;
  right:10px !important;
  background: #ccc;
  width: 20em;
  z-index: 1000;
  display: block !important;
}

.ui-group-wrapper .bootstrap-datetimepicker-widget .glyphicon{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bootstrap-datetimepicker-widget table td {
  color:#000 !important;
}


.bootstrap-datetimepicker-widget.dropdown-menu {
  margin: 2px 0;
  padding: 4px;
  width: 19em;
}

.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 600;
  color:#000;
}

.addon-input{
  color: #000 !important;
}

.map-header{
  font-size: 12px;
  color:#fff;
}


/*placeholder color css start here */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #777 !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #777 !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #777 !important;
}



.ui-header-documents{
  background: #000 !important;
}

.ui-panel-document{
  height: 20em !important;
  margin: 15px 0;
}

.ui-header .ui-header-button {
  border-color: #000000 !important;
  color: #000000 !important;
  background: #b7bfcc !important;
}

.document-panel-body{
  background: #1e1e1e !important;
}



.mission-opt {
  margin: 10px 0;
}

.mission-opt .das-bx-img {
  width: 100%;
}

.mission-opt .das-bx .cnt-sec {
  width: 100%;
  margin-left: -75px;
  padding-left: 80px;
  height: 70px;
  position: relative;
  text-align: center;
}

.mission-opt .das-bx .cnt-sec span {
  font-size: 20px;
  transform: translate(0, -50%);
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 80px;
}

.mission-opt>button:hover .das-bx-text {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .75);
  border-radius: 20px;
  color: #fff;
  padding: 20px;
  line-height: 1.4;
  font-weight: normal;
  font-size: 15px;
  display: block;
}

.mission-opt .das-bx .image-sec>i {
  background-position: center center;
  height: 70px;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

 
.mission-opt>button {
  border: 1px solid #cecece;
  display: inline-block;
  width: 100%;
  margin: 5px;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  position: relative;
}

.mission-opt .image-sec {
  background-color: #36e4c6;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  float: left;
}

.mission-opt .das-bx-text {
  display: none;
}

div.mission-opt>button {
  margin: 0;
  position: relative;
}

.mission-menu-icons {
  content: '';
  display: inline-block;
  height: 40px;
  width: 100%;
}

.das-bx .image-sec>i {
  color: #2a323c;
  font-size: 38px;
  display: inline-block;
  vertical-align: middle;
}

.mission-opt .das-bx .image-sec>i {
  background-size: 40px;
}

.ico_freehand {
  background: url(../../image/ic_freehand.png) no-repeat 20px 0px;
}

.ico_polygon {
  background: url(../../image/ic_zigzag.png) no-repeat 20px 0px;
}

.ico_spiral {
  background: url(../../image/ic_tower.png) no-repeat 15px 0px;
}

.ico_polygrid {
  background: url(../../image/ic_polygrid.png) no-repeat 20px 0px;
}

.ico_guidewire {
  background: url(../../image/ic_path_drone.png) no-repeat 20px 0px;
}

.ico_hexagon {
  background: url(../../image/ic_location_points.png) no-repeat 20px 0px;
}

.ico_custom_mission {
  background: url(../../image/ic_remote_control.png) no-repeat 20px 0px;
}

.ico_facade_mission {
  background: url(../../image/castle-front-wall.png) no-repeat 20px 0px;
}

/* CSS FOR COMMON MODAL BOX*/
.modal-content {
  padding: 30px 20px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.close {
  float: right;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  color: #aaaaaa;
  filter: alpha(opacity=20);
  opacity: 1;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

.modal-title{
  font-size: 18px;
  font-weight: 800;
}

.gen_upload{
  position: absolute;
  top: 10%;
  left: 25%;
  width: 50%;
  background-color: #333;
}

/* CSS FOR INCEDENT-REPORT DIALOGE SECTION*/
span.media-group-btn.media-tb-btn {
  display: inline-block;
  background-color: #151315 !important;
  border: 2px solid #000000 !important;
  color: #fff !important;
  padding: 10px 15px !important;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-width: 210px;
  text-align: left;
  width: 100%;
}
.fr{
  float:right;
}

.list-unstyled{
  padding: 0;
  list-style: none;
}

.plr-20{
  padding: 0 20px;
}

.box_message_Report{
  margin: 20px;
  padding: 10px;
  border: 2px dashed #151315
}




/* VIEW PAGE COMMON CSS START HERE */

.wrapper {
  /* display: flex;
  flex-direction: row; */
  padding: 20px 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin: 3px;
  background: #000000;
  box-shadow: 2px 4px 4px 3px #0e0e0e;
}
.upper {
  color: #37e4c6 !important;
  font-weight: 900;
  font-size: 13px;
  display: block;
  /* margin-right:10px;
  width:135px; */
}

.meetup {
  color:white !important;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.btn-primary
{
  background-color: #151315 !important;
  border: 2px solid rgb(55, 228, 198) !important;
  color: rgb(55, 228, 198) !important;
  padding: 8px 16px !important;
}


/* VIEW PAGE COMMON CSS ENDS HERE */


/* CHECKLIST PAGE COMMON STYLE START HERE */

.list-group-item:first-child  {
  position: relative;
  display: block;
  padding: 12px 20px;
  margin-bottom: -1px;
  background-color: #000;
  border: 1px solid #ddd;
}

.list-group-item  {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #616161;
  border: 1px solid #ddd;
}

.list-group-item:first-child:hover{
  background-color: #000;
}

.list-group{
  padding: 0;
  margin-bottom: 20px;
}

/* CHECKLIST PAGE COMMON STYLE ENDS HERE */


.panel_cont{
  display:grid !important;
  justify-content: normal !important;
}



.chart_report{
  width: 630px;
  height: 400px;
}

.chart_box_report{
  margin-left: 30%;
}


.dropdown_download{
  font-size: 20px;
  line-height: 2;
  color: #37e4c6;
}

.dropmenu_download{
  background: #a3a5a1 !important;
}

.dropmenu_download li a{
  color: #fff !important;
}

/* CSS FOR WAYPOINT PAGE */

.tabs_waypoints{
  list-style: none;
}

.tabs_waypoints .tab-menu{
  display: inline-block;
  padding: 5px 8px;
  margin: 2px;
  border: 1px solid #fff;
}































@media (min-width: 1024px) and (max-width: 1536px) {
  .chart{
    width: 550px;
    height: 300px;
  }

  .hidden-lg{
    display: none !important; 
  }

  .dropdown input[type=checkbox]:checked + ul {
    display: block;
  }

  .ui-input-group .ui-label-custom{
    flex-basis: 10em !important;
  }




 }

@media (min-width: 375px) and (max-width: 667px) {
  .chart{
    width: 290px;
  }

  .chart_report{
    width: 330px;
  }

  .hidden-xs {
    display: none!important;
  }

  .ui-tab-panel .ui-tabbar .ui-tab-button{
    padding: 5px 10px !important;
  }

  .heading_title{
    font-size: 18px;
    line-height: 2em;
  }

  .table-fixed{
    table-layout: fixed !important;
  }

  .box-maintenance{
    padding: 0;
    height: auto;
    overflow: unset;
    overflow-y: unset;
  }

  .card{
    width: 100%;
  }

  i.anra-ico_cockpit_dark{
    font-size: 18px;
    color: #b7bfcc;
  }


  i.anra-ico_cockpit_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  } 

  .ui-input-group .ui-label-custom{
    flex-basis: 12em !important;
    font-weight: 400 !important;
    width: auto !important;
    justify-content: flex-start!important;
    text-align: start;
  }

  .btn_box{
    float: left;
  }

  /* Ui Validation Error */
  .ui-input-wrapper .ui-input-control .ui-error, .ui-input-group .ui-input-label.ui-required::after {
    color: red !important;
  }

  /* MODAL CSS FOR MOBILE VIEW */
  .gen_upload {
    position: absolute;
    top: 10%;
    left: 10px;
    width: 95%;
    background-color: #333;
  }

  .modal-content {
    padding: 20px 20px;
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    width: 100%;
  }

  .dropdown_menu {
    position: absolute;
    border: 1px solid #000;
    border-radius: 3px;
    list-style: none;
    padding: 4px 1px;
    background-color: #141214;
    box-shadow: 0 3px 6px rgba(0,0,0,.175);
    z-index: 1000;
    min-width: 75px;
    min-height: 70px;
  }

  /* .ui-panel .ui-panel-body {
    background: #151315;
    width: 53%;
  } */

  .upper {
    font-size: 11px;

  }
  
  .meetup {
    font-size: 11px;
  }

  .chart_report{
    width: 310px;
    height: 300px;
  }

  .chart_box_report{
    margin-left:3%;
  }



}

@media (min-width: 768px) and (max-width: 1024px) {
  .chart{
    width: 323px;
  }

  .chart_report{
    width: 430px;
  }

  .hidden-md{
    display: none!important;
  }

  .search_bar{
    width:280px;
  }

  /* .dropdown:hover .dropdown-content{
    display:block;
  } */

  .dropdown input[type=checkbox]:checked + ul {
    display: block !important;
  }

  .card{
    width:100%;
  }

  .box-maintenance {
    padding: 0px 15px;
    height: 356px;
    overflow: hidden;
    overflow-y: scroll;
  }

  i.anra-ico_cockpit_dark{
    font-size: 18px;
    color: #b7bfcc;
  }


  i.anra-ico_cockpit_dark.act{
    font-size: 18px;
    color: #37e4c6 !important;
  } 

  .ui-input-group .ui-label-custom{
    flex-basis: 8em !important;
  }

 /* MODAL CSS FOR MOBILE VIEW */

  .gen_upload {
    position: absolute;
    top: 10%;
    left: 9%;
    width: 85%;
    background-color: #333;
  }

  .modal-content{
    height: 400px;
  }

  .au-target.ui-dialog.ui-active {
    top: 17% !important;
    left: 17% !important;
  }

  .chart_box_report{
    margin-left:20%;
  }

}