<template>
    <section class="container-fluid edit-view-mn">
        <div class="container das-middle-sec edit-view panel padding-5">
		   <div class="col-md-12">
            <form class="add-form view">
                <br /><br />
                <div class="row">
                    <div class="col-md-1 role-tx pull-left"><h3 class="pull-left">Role:</h3></div>
                    <div class="col-md-3"><input type="text" class="form-control" value.bind="role.RoleName" placeholder="Role Name" disabled/></div>
                </div><br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: roles; display-data.bind: $role">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: ModuleName; default: desc">Module Name</th>
                                        <th>Add</th>
                                        <th><i class="fa fa-pencil-square-o"></i></th>
                                        <th><i class="fa fa-trash"></i></th>
                                        <th><i class="fa fa-eye"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of role.Items">
                                        <td>${item.ModuleName}</td>
                                        <td><input type="checkbox" checked.bind="item.Add" /></td>
                                        <td><input type="checkbox" checked.bind="item.Edit" /></td>
                                        <td><input type="checkbox" checked.bind="item.Delete" /></td>
                                        <td><input type="checkbox" checked.bind="item.View" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                            <i class="fa fa-check" aria-hidden="true"></i> Save
                        </button>
                        &nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-times" aria-hidden="true"></i> Cancel
                        </button>
                    </div>
                </div>
            </form>
          </div>
        </div>
    </section>
</template>
