<template>
    <section class="container-fluid edit-view-mn">
	   <div class="container das-middle-sec edit-view panel padding-5">
	   <div class="col-md-12">
		<div class="row">
            <div class="container  das-middle-sec">
				<div class="col-md-12">
					<h2>View Role: ${role.RoleName}</h2>
				</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="add-form view">
                    <div class="col-md-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: roles; display-data.bind: $role">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: ModuleName; default: desc">Module Name <span class="glyphicon glyphicon-sort"></span></th>
                                        <th>Add</th>
                                        <th><i class="fa fa-pencil-square-o"></i></th>
                                        <th><i class="fa fa-trash"></i></th>
                                        <th><i class="fa fa-eye"></i></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of role.Items">
                                        <td>${item.ModuleName}</td>
                                        <td>${item.Add?'Yes':'No'}</td>
                                        <td>${item.Edit?'Yes':'No'}</td>
                                        <td>${item.Delete?'Yes':'No'}</td>
                                        <td>${item.View?'Yes':'No'}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(role.RoleId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        </div>
      </div>
    </section>
</template>
