<template>
  <require from="blur-image"></require>
  <!-- <require from="./client"></require>
  <require from="./client-view"></require> -->
  <require from="../lib/date-format"></require>
  <!-- <require from="../lib/component/animation/loading"></require> -->
  
  <ui-loader busy.bind="isWaiting" big></ui-loader> 
  
      <ui-row>
          <ui-column size="md-12 lg-12 xs-12">
          <ui-container class="container-box">
              <ui-panel>
              <ui-panel-body class="panel_body">
                  <ui-row>
  
                  <ui-column size="md-12 lg-12">
                      <ui-row class="header-top">
                          <ui-column size="md-6 lg-6 xs-8">
                              <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_role_dark"></i> </h4>
                          </ui-column>
  
                          <ui-column size="md-6 lg-6 xs-4">
                              <div class="pull-right">
                                  <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                              </div>
                          </ui-column>
                      </ui-row>
                  </ui-column>
  
                  <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table">
                      <table class="table table-striped table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: roles; display-data.bind: $roles;filters.bind: filters">                              
                          <thead>
                              <tr>
                                  <th aut-sort="key: RoleName; default: desc">Name <span class="glyphicon glyphicon-sort"></span></th>
                                  <th colspan="2">Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr repeat.for="item of $roles">
                                  <td>${item.RoleName}</td>
                                  <td colspan="2">
                                      <a href="javascript:;" class="ed" click.delegate="editItem(item.RoleId)" title="Edit">
                                          <i class="fa fa-pencil-square-o"
                                             aria-hidden="true"></i> 
                                      </a>
                                  
                                      <a href="javascript:;" class="ed" click.delegate="viewItem(item.RoleId)" title="View">
                                          <i class="fa fa-eye" aria-hidden="true"></i>
                                      </a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  </ui-column>
  
                  </ui-row>
  
                  <!-- pagination -->
                  <ui-row>
                      <ui-column size="md-9 lg-9 xs-12">
                          <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                              pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                      </ui-column>
                      <ui-column size="md-3 lg-3 xs-12">
                          <div class="form-group pull-right">
                              <label for="pageSize">Page Size: </label>
                              <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                  <option model.bind="5">5</option>
                                  <option model.bind="10">10</option>
                                  <option model.bind="20">20</option>
                                  <option model.bind="50">50</option>
                              </select>
                          </div>
                      </ui-column>
                  </ui-row>
                  <!-- pagination -->
  
              </ui-panel-body>
              </ui-panel>
          </ui-container>
          </ui-column>
      </ui-row>
  
  
      <role if.bind="isEditing" role.bind="role" save.call="saveItem()"></role>
      <role-view if.bind="isViewing" role.bind="role"></role-view>
    
</template>
    
