<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
                <ui-container class="container-box">
                    <ui-panel class="panel_cont">
                        <ui-panel-body class="panel_body">
                            <ui-row>
            
                                <ui-column size="md-12 lg-12">
                                    <ui-row class="header-top">
                                        <ui-column size="md-6 lg-6 xs-8">
                                            <h4 class="pull-left heading_title"> Certification/Training Details  &nbsp; <i class="anra-ico_certificate" aria-hidden="true"></i></h4>
                                        </ui-column>
                                    </ui-row>
                                </ui-column>

                                <ui-column size="md-4 lg-4 xs-4">
                                        <div class="wrapper">
                                            <label class="upper">Course Name</label>
                                            <span class="meetup">${training.CourseName}</span>
                                        </div>
                                </ui-column>

                                <ui-column size="md-4 lg-4 xs-4">
                                    <div class="wrapper">
                                        <label class="upper">Course Provider</label>
                                        <span class="meetup">${training.CourseProvider }</span>
                                    </div>
                                </ui-column>

                                <ui-column size="md-4 lg-4 xs-4">
                                    <div class="wrapper">
                                        <label class="upper">Course Date Completed</label>
                                        <span class="meetup">${training.CourseDateCompleted | dateFormat}</span>
                                    </div>
                                </ui-column>

                                <ui-column size="md-4 lg-4 xs-4">
                                    <div class="wrapper">
                                        <label class="upper">Course Expiry</label>
                                        <span class="meetup">${training.CourseDateExpiry}</span>
                                    </div>
                                </ui-column>

                                <ui-column size="md-4 lg-4 xs-4">
                                    <div class="wrapper">
                                        <label class="upper">Attachment</label>
                                        <div class="view-doc" if.bind="training.CourseAttachment.length>0">
                                            <a href="#" style="color: #37e4c6 " click.delegate="downloadDocument(training.CourseAttachment,'training')">View Document &nbsp;&nbsp;<i class="fa fa-eye" style="color:aqua"></i></a>
                                        </div>
                                    </div>
                                </ui-column>
                            </ui-row>

                            <ui-row>
                                <ui-column size="md-12 lg-12 xs-12">
                                    <div class="wrapper">
                                        <label class="upper">Notes</label>
                                        <span class="meetup">${training.CourseNotes}</span>
                                    </div>
                                </ui-column>   
                            </ui-row>

                            <ui-row>
                                <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                                    <ui-input-group class="pull-right">
                                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                        </button>
                                    </ui-input-group>
                                </ui-column>
                            </ui-row>
                                
                        </ui-panel-body>
                    </ui-panel>
                </ui-container>
            </ui-column>
        </ui-row>
</template>

<template>
    <section class="container-fluid edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel">
                <form class="add-form view">
                    <div class="container-fluid padding-10">                        
                        <div class="col-md-12">
                                <div class="page-header">
                                    <h2 class="text-primary">Certification/Training Details  &nbsp; <i class="anra-ico_certificate" aria-hidden="true"></i></h2>
                                </div>
                            <div class="row">
                                <div class="col-md-6">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Course Name</label>
                                    <span class="view-fl">${training.CourseName}</span>
                                </fieldset>
                                </div>
                                <div class="col-md-6">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="duration">Course Provider</label>
                                    <span class="view-fl">${training.CourseProvider}</span>
                                </fieldset>
                                </div>
                               
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="type">Course Date Completed</label>
                                    <span class="view-fl">${training.CourseDateCompleted}</span>
                                </fieldset>
                                </div>
                                <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="duration">Course Expiry</label>
                                    <span class="view-fl">${training.CourseDateExpiry}</span>
                                </fieldset>
                                </div>
                                <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="type">Attachment</label>
                                    <span class="view-fl">
                                    <div class="view-doc" if.bind="training.CourseAttachment.length>0">
                                        <a href="#" click.delegate="downloadDocument(training.CourseAttachment,'training')">View Document</a>
                                    </div>
                                    </span>
                                </fieldset>
                                </div>                          
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <fieldset class="form-group view-inner">
                                        <label class="control-label" for="notes">Notes</label>
                                        <span class="view-fl">${training.CourseNotes}</span>
                                    </fieldset>
                                </div>
                            </div>
                        </div>  
                        <div class="col-md-12" class="boxForm">
                            <ui-input-group class="pull-right">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>&nbsp;
                            </ui-input-group>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>