<template>
  <ui-loader busy.bind="isWaiting" big></ui-loader>   
  <style>
  .text-muted
  {
    font-size: 0.8em;
    margin-left: -279px;
    margin-top: 24px;
  }
  .view-doc
  {
    margin-left: 30px;
    margin-top: 20px;
    font-weight: 500;
    color: white !important;
  }
  </style>

    <div ref="errorHolder" class="errorholder"></div>
    <ui-row>
      <ui-column size="md-12 lg-12">
          <ui-container class="container-box">
              <ui-panel class="panel_cont">
                  <ui-panel-body class="panel_body">
                    <ui-row>
                      <ui-column size="md-12 lg-12">
                          <ui-fieldset legend="Training Information" checked.bind="ShowCertificate">
                            <ui-form submit.trigger="saveItem()">
                                <ui-row>
                                    <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                                      <ui-row>
                                      
                                          <ui-column size="md-6 lg-6 xs-6" show.bind="isSuperAdmin">
                                            <ui-input-group>
                                              <ui-input-label class="ui-label-custom"> Organization </ui-input-label>
                                              <select class="select-ui-input" value.bind="training.OrganizationId" change.delegate="loadUsers(training.OrganizationId)">
                                                <option value="0">Select</option>
                                                <option repeat.for="item of orgs" model.bind="item.OrganizationId"  >
                                                  ${item.Name}
                                                </option>
                                                <option value='1' >Anra Technologies</option>
                                              </select>
                                            </ui-input-group>
                                          </ui-column>
                        
                                          <ui-column size="md-6 lg-6 xs-6" show.bind="isAdmin">
                                            <ui-input-group>
                                              <ui-input-label class="ui-label-custom">User </ui-input-label>
                                              <select class="select-ui-input" value.bind="training.UserId" >
                                                <option value="0">Select</option>
                                                <option if.bind='isSuperAdmin' repeat.for="item of filteredUsers" model.bind="item.Id">
                                                    ${item.FullName}
                                                </option>
                                                <option if.bind="isAdministrator" repeat.for="item of orgUsers" model.bind="item.Id">
                                                    ${item.FullName}
                                                </option>
                                                </select>
                                            </ui-input-group>
                                          </ui-column>
                        
                                          <ui-column size="md-6 lg-6 xs-6">
                                            <ui-input-group>
                                              <ui-input-label class="ui-label-custom"> Course Name </ui-input-label>
                                              <ui-input text class="input-ui" value.bind="training.CourseName & validate"/>
                                                <ui-input-addon> <i class="glyphicon anra-ico_user_light"></i> </ui-input-addon>
                                              </ui-input>
                                            </ui-input-group>
                                        </ui-column>
                        
                                        <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Course Provider </ui-input-label>
                                            <ui-input text class="input-ui" value.bind="training.CourseProvider & validate"/>
                                              <ui-input-addon> <i class="glyphicon anra-ico_user_light"></i> </ui-input-addon>
                                            </ui-input>
                                          </ui-input-group>
                                      </ui-column>
                                    
                                        <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom">  Date Completed </ui-input-label>
                                            <ui-date date date.bind="training.CourseDateCompleted & validate" >
                                          </ui-input-group>
                                        </ui-column>
                                        
                                        <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom">  Expiry Date </ui-input-label>
                                            <ui-date date date.bind="training.CourseDateExpiry" >
                                          </ui-input-group>
                                        </ui-column>
                                        
                                        
                              
                                        <ui-column size="md-6 lg-6 xs-6">
                                            <ui-input-group>
                                              <ui-input-label class="ui-label-custom"> Documentation </ui-input-label>
                                              <input id="certFile" class="file" type="file" accept="*" data-min-file-count="1" change.delegate="fileSelected($event)" single>
                                              <small class="text-muted">jpg,pdf only.
                                                <span class="view-doc" if.bind="training.CourseAttachment.length>0">
                                                    <a click.delegate="downloadDocument(training.CourseAttachment,'training')" style="color:aqua">View Document<i class="fa fa-eye" style="color:aqua"></i></a>
                                                </span>
                                                
                                              </small>                                            
                                              
                                            </ui-input-group>
                                        </ui-column>
                              
                                        
                          
                                        <ui-column size="md-8 lg-11 xs-8">
                                            <ui-input-group>
                                                <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                                                <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="training.CourseNotes" auto-complete=""></ui-textarea>
                                            </ui-input-group>
                                        </ui-column>
                                      </ui-row>
                                    </ui-column>
                              
                                    <ui-column size="md-12 lg-12" class="boxForm">
                                        <ui-input-group class="pull-right">
                                            <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                                <i class="fa fa-check" aria-hidden="true"></i> Save
                                            </button>
                                              &nbsp;&nbsp;
                                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                              <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                            </button>
                                        </ui-input-group>
                                    </ui-column>
                              
                                  </ui-row>
                            </ui-form>
                        </ui-fieldset>
                      </ui-column>
                    </ui-row>
                  </ui-panel-body>
              </ui-panel>
          </ui-container>
      </ui-column>
    </ui-row>
</template>

