<template>
    <require from="blur-image"></require>
    <require from="./certification"></require>
    <require from="./certification-view"></require>
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    
        <ui-row show.bind="!isEditing && !isViewing">
            <ui-column size="md-12 lg-12 xs-12">
              <ui-container class="container-box">
                <ui-panel class="panel_cont">
                  <ui-panel-body class="panel_body">
                    <ui-row>
    
                    <ui-column size="md-12 lg-12 xs-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_certificate"></i> </h4>
                            </ui-column>
    
                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span class="tooltip_text"> Add New Client </span>
                                    </button>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>
    
                    <ui-column size="md-12 lg-12 xs-12">
                        <ui-row>
                            <ui-column size="md-12 lg-12 xs-12">
                                <div class="table-responsive des-table">
                                    <table class="table table-striped table-custom dataTable no-footer"  aurelia-table="data.bind:certificateDetails; display-data.bind:$certificateDetails;
                                    current-page.bind: currentPage; page-size.bind:pageSize; total-items.bind: totalItems;filters.bind: filters" >
                                        <thead>
                                        <tr>
                                            <th aut-sort="key: UserName; default: desc">User Name<span class="glyphicon glyphicon-sort"></span></th>
                                            <th aut-sort="key: OrganizationName; default: desc">Organization<span class="glyphicon glyphicon-sort"></span></th>
                                            <th aut-sort="key: CourseName">Course Name<span class="glyphicon glyphicon-sort"></span></th>
                                            <th aut-sort="key: CourseProvider">Course Provider<span class="glyphicon glyphicon-sort"></span></th>
                                            <th aut-sort="key: CourseDateCompleted; default: desc">Date Completed<span class="glyphicon glyphicon-sort"></span></th>
                                            <th aut-sort="key: CourseDateExpiry; default: desc">Expiry Date<span class="glyphicon glyphicon-sort"></span></th>    
                                            <th colspan="3">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            <tr repeat.for="item of $certificateDetails">
                                                <td>${item.UserName}</td>
                                                <td>${item.OrganizationName}</td>
                                                <!-- <td>${item.OrganizationId}</td> -->
                                                <td>${item.CourseName}</td>
                                                <td>${item.CourseProvider}</td>
                                                <td>${item.CourseDateCompleted |dateFormat}</td>
                                                <td>${item.CourseDateExpiry |dateFormat}</td>
                                                <td colspan="2" nowrap>
                                                    <aup-dropdown direction="down" right="false">
                                                        <div slot="dropdown-toggle">Action</div>
                                                        <div slot="dropdown-menu" class="dropdown_menu">
                                                            <a href="javascript:;"  click.delegate="editItem(item.TrainingId)" title="Edit">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 
                                                                <span> Edit </span>
                                                            </a>
                                                            <a href="javascript:;" click.delegate="deleteItem(item.TrainingId)" title="Delete">
                                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                                                <span> Delete </span>
                                                            </a>
                                                            <a href="javascript:;"  click.delegate="viewItem(item.TrainingId)" title="View">
                                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                                                <span> View </span>
                                                            </a>
                                                        </div>
                                                    </aup-dropdown>
                                                    
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ui-column>
                        </ui-row>
                        
                        <!-- pagination -->
                        <ui-row>
                            <ui-column size="md-9 lg-9 xs-8">
                                <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                    pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                            </ui-column>
                            <ui-column size="md-3 lg-3 xs-4">
                                <div class="form-group pull-right">
                                    <label for="pageSize">Page Size: </label>
                                    <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                        <option model.bind="5">5</option>
                                        <option model.bind="10">10</option>
                                        <option model.bind="20">20</option>
                                        <option model.bind="50">50</option>
                                    </select>
                                </div>
                            </ui-column>
                        </ui-row>
                        <!-- pagination -->
                    </ui-column>
                  </ui-row>
    
                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>
    
    
        <certification if.bind="isEditing" training.bind='training' save.call="saveItem()"></certification>
        <certification-view if.bind="isViewing" training.bind='training' save.call="saveItem()"></certification-view>
      
</template>
      