<template>
    <!-- <require from="./dashboard/welcome"></require> -->
    <ui-tab-panel active-tab.bind="activeTab" class="tab-panel">
        <ui-tab view-model="./missions">Missions &nbsp; <i class="anra-ico_flightplan_dark ui-active " aria-hidden="true"></i></ui-tab>
        <ui-tab view-model="../locations/locations">Locations  &nbsp; <i class="anra-ico_location_dark" aria-hidden="true"></i></ui-tab>
        <ui-tab href="#/documents">Documents  &nbsp; <i class="anra-ico_certificate" aria-hidden="true"></i></ui-tab>
        
        <compose view.bind="activeTab.view" view-model.bind="activeTab.viewModel"></compose>
    </ui-tab-panel>
</template>