<template>
  <style>
.wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 4px 4px 3px #0e0e0e;;
}
.upper {
  color: #37e4c6 !important;
  font-weight: 900;
  font-size: 13px;
  margin-right:10px;
  width:135px;
}

.meetup {
color:white !important;
font-size: 12px;
font-weight: 600;
text-decoration: none;
}

.weather_img
{
  float: right;
  margin-left: 186px;
  margin-top: 4px;
  font-size: 25px;
}
  </style>
  <require from="blur-image"></require>
  <!-- <require from="./client"></require>
  <require from="./client-view"></require> -->
  <require from="../lib/date-format"></require>
  <!-- <require from="../lib/component/animation/loading"></require> -->
  
  <ui-loader busy.bind="isWaiting" big></ui-loader> 
  
      <ui-row>
          <ui-column size="md-12 lg-12 xs-12">
          <ui-container class="container-box">
              <ui-panel>
              <ui-panel-body class="panel_body">
                  <ui-row>
  
                  <ui-column size="md-12 lg-12">
                      <ui-row class="header-top">
                          <ui-column size="md-6 lg-6 xs-8">
                              <h4 class="pull-left heading_title">View Mission Details &nbsp;<i class="anra-ico_plane_dark"></i> </h4>
                          </ui-column>
                      </ui-row>
                  </ui-column>
  
                  <ui-column size="md-3 lg-3 xs-3">
                          <div class="wrapper">
                              <label class="upper">Organization</label>
                              <span class="meetup">${mission.OrganizationName}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-3 lg-3 xs-3">
                          <div class="wrapper">
                              <label class="upper">Pilot</label>
                              <span class="meetup">${missionAggregate.Pilots | filterOnProperty:'Id':mission.PilotId:'Name'}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-3 lg-3 xs-3">
                          <div class="wrapper">
                              <label class="upper">Crew Members</label>
                              <span repeat.for="item of missionUsers" class="meetup">${item.Name}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-3 lg-3 xs-3">
                          <div class="wrapper">
                              <label class="upper">Project</label>
                              <span class="meetup"> ${missionAggregate.Projects | filterOnProperty:'Id':mission.ProjectId:'Name'}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Location</label>
                              <span class="meetup">${missionAggregate.Locations | filterOnProperty:'Id':mission.LocationId:'Name'}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Drone</label>
                              <span class="meetup">${missionAggregate.Drones | filterOnProperty:'Id':mission.DroneId:'Name'}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Duration</label>
                              <span class="meetup">${mission.Duration}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Fligh type</label>
                              <span class="meetup">${flightTypeLookup | filterOnProperty:'Id':mission.FlightTypeId:'Name'}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Mission Created</label>
                              <span class="meetup">${mission.DateCreated | dateFormat}</span>
                          </div>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                          <div class="wrapper">
                              <label class="upper">Flight Date</label>
                              <span class="meetup">${mission.FlightDate | dateFormat}</span>
                          </div>
                  </ui-column>



                  <ui-column size="md-12 lg-12 xs-12">
                          <div class="wrapper">
                              <label class="upper">Mission Notes</label>
                              <span class="meetup">${mission.Comment}</span>
                          </div>
                  </ui-column>
                                     
                  </ui-row>
                  <br>
                  <ui-row>
                      <h6><b>Equipment Information</b></h6>
                  </ui-row>
                  <br>
                  <ui-row>
                      <br>
                      <ui-column size="md-4 lg-4 xs-4">
                              <div class="wrapper">
                                  <label class="upper">Battery</label>
                                  <span repeat.for="item of missionBattery" class="meetup">${item.Name}</span>
                              </div>
                      </ui-column>

                      <ui-column size="md-4 lg-4 xs-4">
                              <div class="wrapper">
                                  <label class="upper">Sensors</label>
                                  <span repeat.for="item of missionSensor" class="meetup">${item.Name}&nbsp;</span>
                              </div>
                      </ui-column>

                      <ui-column size="md-4 lg-4 xs-4">
                              <div class="wrapper">
                                  <label class="upper">Other Equipment</label>
                                  <span repeat.for="item of missionEquipment" class="meetup">${item.Name}&nbsp;</span>
                              </div>
                      </ui-column>

                  </ui-row>
                  <br>
                  <div if.bind="documents.length>0"> 
                    <ui-row>
                      <h6><b>Document Information</b></h6>
                  </ui-row>
                    <br>
                    <div class="table-responsive des-table margin-bottom-20">
                        <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: documents; display-data.bind: $displayData">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Description</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="item of $displayData">
                                    <td>${item.Title}</td>
                                    <td>${item.Description}</td>
                                    <td>
                                        <a href="javascript:;" class="ed" click.delegate="viewDocument(item)">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                  </div>
                  <br><br>
                  <ui-row>
                    <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                    </button>&nbsp;
                    <button class="btn btn-primary btn-lg" click.delegate="edit(mission.Gufi)">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                    </button>
                  </ui-row>
                 
              </ui-panel-body>
              </ui-panel>
          </ui-container>
          </ui-column>
      </ui-row>
  
  
    
</template>
<!-- <template>
    <require from="../lib/date-format"></require>
    <section class="container-fluid edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel">
                <form class="add-form view">
                    <div class="container-fluid padding-10">                        
                        <div class="col-md-12">
                            <div class="row">
                                <div class="page-header">
                                    <h2>
                                      View Mission &nbsp;<i class="anra-ico_plane_dark"></i>
                                    </h2>
                                  </div>
                            </div>
                          
                            <div class="row">
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="organization">Organization</label>
                                  <span class="view-fl">${mission.OrganizationName}</span>
                                </fieldset>
                              </div>
                            </div>

                          
                            <div class="row">
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="name">Mission Name</label>
                                  <span class="view-fl">${mission.Name}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="pilot">Pilot</label>
                                  <span class="view-fl">${missionAggregate.Pilots | filterOnProperty:'Id':mission.PilotId:'Name'}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="pilot">Crew Members</label>
                                  <!--<span class="view-fl">${missionUsers | filterOnProperty:'Id':mission.PilotId:'FullName'}</span>-->
                                  <span class="view-fl" repeat.for="item of missionUsers">${item.Name  }</span>
                                </fieldset>
                              </div>                              
                            </div>
                            <div class="row">
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="project">Project</label>
                                  <span class="view-fl"> ${missionAggregate.Projects | filterOnProperty:'Id':mission.ProjectId:'Name'}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="location">Location</label>
                                  <span class="view-fl">${missionAggregate.Locations | filterOnProperty:'Id':mission.LocationId:'Name'}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="drone">Drone</label>
                                  <span class="view-fl">${missionAggregate.Drones | filterOnProperty:'Id':mission.DroneId:'Name'}</span>
                                </fieldset>
                              </div>                              
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="duration">Duration (minutes)</label>
                                  <span class="view-fl">${mission.Duration}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-3">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="type">Type</label>
                                  <span class="view-fl">${flightTypeLookup | filterOnProperty:'Id':mission.FlightTypeId:'Name'}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-3">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="duration">Mission DateCreated</label>
                                  <span class="view-fl">${mission.DateCreated | dateFormat}</span>
                                </fieldset>
                              </div>
                              <div class="col-md-3">
                                <fieldset class="form-group view-inner">
                                  <label class="control-label" for="date">Flight Date</label>
                                  <span class="view-fl">${mission.FlightDate | dateFormat}</span>
                                </fieldset>
                              </div>                              
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <fieldset class="form-group view-inner">
                                        <label class="control-label" for="notes">Notes</label>
                                        <span class="view-fl">${mission.Comment}</span>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <h2 class="title-2 align-left">Equipment Information</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                  <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Batteries</label>
                                    <!--<span class="view-fl">${missionAggregate.Batteries | filterOnProperty:'Id':mission.BatteryId:'Name'}</span>-->
                                    <span class="view-fl" repeat.for="item of missionBattery">${item.Name}</span>
                                  </fieldset>
                                </div>
                                <div class="col-md-4">
                                  <fieldset class="form-group view-inner">
                                    <label class="control-label" for="pilot">Sensors</label>
                                    <!--<span class="view-fl">${missionAggregate.Equipments | filterOnProperty:'Id':mission.EquipmentId:'Name'}</span>-->
                                    <span class="view-fl" repeat.for="item of missionSensor">${item.Name}</span>
                                  </fieldset>
                                </div>
                                <div class="form-group col-md-4">
                                  <fieldset class="form-group view-inner">
                                    <label class="control-label" for="drone">Other Equipments</label>
                                    <!--<span class="view-fl">${mission.OtherPayload}</span>-->
                                    <span class="view-fl" repeat.for="item of missionEquipment">${item.Name}</span>
                                  </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" if.bind="documents.length > 0">
                            <div class="row">
                                <div class="container-fluid das-middle-sec">
                                    <h2 class="pull-left">Document Information</h2>
                                </div>
                            </div>
                            <div class="table-responsive des-table margin-bottom-20">
                                <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: documents; display-data.bind: $displayData">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Description</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr repeat.for="item of $displayData">
                                            <td>${item.Title}</td>
                                            <td>${item.Description}</td>
                                            <td>
                                                <a href="javascript:;" class="ed" click.delegate="viewDocument(item)">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>    
                        <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>
                                &nbsp;&nbsp;&nbsp; <button class="btn btn-primary btn-lg" click.delegate="edit(mission.Gufi)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template> -->
