<template>
  <require from="blur-image"></require>
  <require from="../lib/date-format"></require>
  <style>
    .row.au-target .col-md-4.au-target:first-child .ui-switch-control .ui-switch {
      max-width: 89px;
    }
  
      .row.au-target .col-md-4.au-target:first-child .ui-switch-control .ui-switch .ui-switch-label:before {
        padding: 0 2px;
        font-size: 9px;
        top: 3px;
      }
  
    .row.au-target .col-md-4.au-target:first-child .ui-switch-control {
      margin-left: 0;
      margin-right: 0;
    }


  </style>
    
    <ui-loader busy.bind="isWaiting" big></ui-loader>
    <div ref="errorHolder" class="errorholder"></div>
    <ui-row>
        <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
              <ui-panel class="panel_box">
                  <ui-panel-body class="panel_body">
                      <ui-row show.bind="step == 'step1'">
                          <ui-column size="md-6 lg-6" class="mission-opt">
                            <button click.delegate="selectMissionType(1)">
                              <div class="das-bx das-bx-img">
                                <div class="image-sec"><i class="mission-menu-icons ico_polygon"></i></div>
                                <div class="cnt-sec"><span>Line String Mission</span></div>
                              </div>
                              <div class="das-bx-text">
                                Click anywhere on the map to add a vertex - add multiple vertices to make a mission
                              </div>
                            </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(2)">
                                  <div class="das-bx das-bx-img">
                                    <div class="image-sec"><i class="mission-menu-icons ico_freehand"></i></div>
                                    <div class="cnt-sec"><span>Freehand Mission</span></div>
                                  </div>
                                  <div class="das-bx-text">
                                    Draw a freehand curve around the survey area to make a mission
                                  </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(3)">
                                <div class="das-bx das-bx-img">
                                  <div class="image-sec"><i class="mission-menu-icons   ico_hexagon"></i></div>
                                  <div class="cnt-sec"><span>Tower Inspection Columnar</span></div>
                                </div>
                                <div class="das-bx-text">
                                  Set a point of interest on the map by tapping on the point of interest
                                </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(4)">
                                <div class="das-bx das-bx-img">
                                  <div class="image-sec"><i class="mission-menu-icons ico_spiral"></i></div>
                                  <div class="cnt-sec"><span>Tower Inspection Tornado</span></div>
                                </div>
                                <div class="das-bx-text">
                                  Set a point of interest on the map by clicking on the point of interest
                                </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(5)">
                                  <div class="das-bx das-bx-img">
                                      <div class="image-sec"><i class="mission-menu-icons   ico_polygrid"></i></div>
                                      <div class="cnt-sec"><span>Polygrid Mission</span></div>
                                  </div>
                                  <div class="das-bx-text">
                                      Set a point of interest on the map by tapping on the point of interest
                                  </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(6)">
                                  <div class="das-bx das-bx-img">
                                      <div class="image-sec"><i class="mission-menu-icons ico_guidewire"></i></div>
                                      <div class="cnt-sec"><span>Guyed Wire Mission</span></div>
                                  </div>
                                  <div class="das-bx-text">
                                      Mark start point and end point of a guyed wire on the map, then select height of both points. 
                                  </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(7)">
                                  <div class="das-bx das-bx-img">
                                      <div class="image-sec"><i class="mission-menu-icons ico_custom_mission"></i></div>
                                      <div class="cnt-sec"><span>Custom Mission</span></div>
                                  </div>
                                  <div class="das-bx-text">
                                      Manually Fly the aircraft with the remote controller, the Data will be saved in the server. 
                                  </div>
                              </button>
                          </ui-column>
          
                          <ui-column size="md-6 lg-6" class="mission-opt">
                              <button click.delegate="selectMissionType(10)">
                                <div class="das-bx das-bx-img">
                                  <div class="image-sec"><i class="mission-menu-icons ico_facade_mission"></i></div>
                                  <div class="cnt-sec"><span>Facade Mission</span></div>
                                </div>
                                <div class="das-bx-text">
                                  Set the points of facade, distance of drone from facade and height of the facade to mark a mission.
                                </div>
                              </button>
                          </ui-column>
                      </ui-row>

                      <ui-row show.bind="step == 'step2'">
                        <ui-column size="md-12 lg-12">
                          <ui-fieldset legend="${heading}" checked.bind="ShowAddmissionBox">
                            <ui-form>
                              <ui-row>
                                <ui-column size="md-12 lg-12">
                                  <ui-row>
                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.IsAdmin">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom">Organization</ui-input-label>
                                            <select class="select-ui-input" value.bind="mission.OrganizationId & validate" change.delegate="loadAll()">
                                              <option value="0">Select</option>
                                              <option repeat.for="item of missionAggregate.OrganizationLookup" model.bind="item.OrganizationId">${item.Name}</option>
                                            </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Mission Name </ui-input-label>
                                              <ui-input text class="input-ui" placeholder="Roof Scan" value.bind="mission.Name & validate" ></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" if.bind="!isPilot">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Pilot </ui-input-label>
                                            <select class="select-ui-input" value.bind="mission.PilotId & validate">
                                              <option value="">Select</option>
                                              <option repeat.for="item of pilots" model.bind="item.Id">
                                                ${item.Name}
                                              </option>
                                            </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Crew Members (use ctrl to select multiple) </ui-input-label>
                                            <select class="select-ui-input-multiple" id="ddlUser" multiple style="width: 100%" change.delegate="setselectedOption($event)" >
                                              <option value="${item.Id}" repeat.for="item of crewMembers" model.bind="item.Id" selected.bind="isSelected(item.Id)">${item.Name}</option>
                                            </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Project </ui-input-label>
                                            <select class="select-ui-input" value.bind="mission.ProjectId & validate">
                                              <option value="0">Select</option>
                                              <option repeat.for="item of projects" model.bind="item.Id" >
                                                ${item.Name}
                                              </option>
                                            </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Location </ui-input-label>
                                            <select class="select-ui-input" value.bind="mission.LocationId & validate">
                                              <option value="0">Select</option>
                                              <option repeat.for="item of locations" model.bind="item.Id">
                                                ${item.Name}
                                              </option>
                                            </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Drone </ui-input-label>
                                             <select class="select-ui-input" value.bind="mission.DroneId & validate" change.trigger="loadDroneEquipments()">
                                              <option value="0">Select</option>
                                              <option repeat.for="item of drones" model.bind="item.Id">
                                                ${item.Name}
                                              </option>
                                             </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Duration (minutes) </ui-input-label>
                                              <ui-input number class="input-ui" value.bind="mission.Duration & validate" min="10" max="60"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Flight Type </ui-input-label>
                                              <select class="select-ui-input" value.bind="mission.FlightTypeId & validate">
                                                <option value="0">Select</option>
                                                <option repeat.for="item of flightTypeLookup"
                                                        model.bind="item.Id">
                                                  ${item.Name}
                                                </option>
                                              </select>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Flight Date </ui-input-label>
                                              <input id="flightDate" type="date" class="ui-input-custom" placeholder="" value.bind="mission.FlightDate & validate" />
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Speed (mph) </ui-input-label>
                                              <ui-input number class="input-ui" value.bind="mission.Speed & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType == 1 || mission.MissionType == 2 || mission.MissionType == 5 || mission.MissionType == 10">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom" if.bind="mission.MissionType  !== 10" for="duration"> Altitude (${lengthUnit}) </ui-input-label>
                                            <ui-input-label class="ui-label-custom" if.bind="mission.MissionType == 10" for="duration"> Facade Height (${lengthUnit}) </ui-input-label>
                                              <ui-input number class="input-ui" value.bind="mission.Altitude & validate" min="5" max="1500"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType == 3 || mission.MissionType == 4 || mission.MissionType === 8">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom">Tower Height (${lengthUnit}) </ui-input-label>
                                              <ui-input number class="input-ui" value.bind="mission.TowerHeight & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType === 6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Height of the Starting point of Guidewire (Feet)</ui-input-label>
                                              <ui-input number min="5" max="400" class="input-ui" placeholder="Height of the Starting point of Guidewire" value.bind="mission.Altitude & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType === 2 || mission.MissionType === 5">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Flight Direction (&deg;) </ui-input-label>
                                              <ui-input number  min="0" max="360" class="input-ui" value.bind="mission.HatchAngle & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType === 8 || mission.MissionType == 10">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom"> Floor Height (${lengthUnit}) </ui-input-label>
                                              <ui-input number  class="input-ui"  value.bind="mission.ClearanceHeight & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>

                                      <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType === 6">
                                          <ui-input-group>
                                            <ui-input-label class="ui-label-custom">Height of the End point of Guidewire (Feet)</ui-input-label>
                                              <ui-input number min="5" max="400" class="input-ui" placeholder="Height of the End point of Guidewire" value.bind="mission.TowerHeight & validate"></ui-input>
                                          </ui-input-group>
                                      </ui-column>
                                  </ui-row>

                                  <ui-row show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                                    <ui-column size="md-6 lg-6 xs-6">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Drone Distance from the Tower (${lengthUnit}) </ui-input-label>
                                          <ui-input number min="20" max="300" class="input-ui" value.bind="mission.DroneTowerDistance & validate"></ui-input>
                                      </ui-input-group>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-6">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> No. of inspection Divisions </ui-input-label>
                                          <ui-input number  min="2" max="12" class="input-ui" value.bind="mission.InspectionDivisions & validate"></ui-input>
                                      </ui-input-group>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-6"  show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType === 8">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Rotation Type:  </ui-input-label>
                                          <select class="select-ui-input" value.bind="mission.ClockwiseDirection">
                                            <option repeat.for="item of directions" model.bind="item.value">
                                              ${item.text}
                                            </option>
                                          </select>
                                      </ui-input-group>
                                    </ui-column>
                                  </ui-row>

                                  <ui-row>
                                    <ui-column size="md-6 lg-6 xs-6"  show.bind="mission.MissionType === 3 || mission.MissionType === 8">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Transition between 2 columns at  </ui-input-label>
                                        <ui-switch info width="8" checked.bind="mission.ColumnTransition" label-off="Bottom" label-on="Top"></ui-switch>
                                      </ui-input-group>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-6">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Auto Capture Images based on Time </ui-input-label>
                                        <ui-switch info width="8" checked.bind="mission.AutoCapture" label-off="No" label-on="Yes"></ui-switch>
                                      </ui-input-group>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-6" show.bind="mission.AutoCapture">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Autocapture Time (Seconds) </ui-input-label>
                                          <ui-input number  min="1" max="60" class="input-ui" value.bind="mission.AutoCaptureTime & validate"></ui-input>
                                      </ui-input-group>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-6" if.bind="mission.MissionType == 10 && !isEditing">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom"> Ground Sampling Distance(mm/pixel) </ui-input-label>
                                          <ui-input number  min="0" max="300" class="input-ui" value.bind="groundSampleDistance"></ui-input>
                                      </ui-input-group>
                                    </ui-column>

                                  </ui-row>

                                  <ui-row show.bind="mission.MissionType === 2 || mission.MissionType === 5 || mission.MissionType == 10">
                                    <ui-column size="md-6 lg-6 xs-6">
                                      <ui-input-group>
                                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType != 10"> Side Lap </ui-input-label>
                                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType == 10"> Overlap </ui-input-label>
                                        <ui-input number  min="1" max="100" class="input-ui" value.bind="mission.SideLapAngle"></ui-input>
                                      </ui-input-group>
                                    </ui-column>
                                  </ui-row>

                                  <ui-row>
                                    <ui-column size="md-8 lg-11 xs-8">
                                      <ui-input-group>
                                          <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                                          <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="mission.Comment"></ui-textarea>
                                      </ui-input-group>
                                    </ui-column>
                                  </ui-row>

                                </ui-column>
                              </ui-row>
                            </ui-form>
                          </ui-fieldset>
                        </ui-column>

                        <ui-column size="md-12 lg-12">
                          <ui-fieldset legend="Equipment Information" checked.bind="addEquipmentBox">
                            <ui-row>
                              <ui-column size="md-6 lg-6 xs-6">
                                <ui-input-group>
                                  <ui-input-label class="ui-label-custom"> Batteries </ui-input-label>
                                    <div if.bind="!mission.IsAdmin">
                                      <ui-checkbox checked.bind="showAllBatteries" change.trigger="getAllBatteries()" > View All </ui-checkbox>
                                    </div>
                                     
                                    <select class="select-ui-input-multiple" multiple change.delegate="setselectedBatteryOption($event)">
                                      <option value="${item.Id}" repeat.for="item of batteries" model.bind="item.Id" selected.bind="isBatterySelected(item.Id)">${item.Name}</option>
                                    </select>
                                </ui-input-group>
                              </ui-column>

                              <ui-column size="md-6 lg-6 xs-6">
                                <ui-input-group>
                                  <ui-input-label class="ui-label-custom"> Sensors </ui-input-label>
                                    <div if.bind="!mission.IsAdmin">
                                      <ui-checkbox checked.bind="showAllSensors" change.trigger="getAllSensors()" > View All </ui-checkbox>
                                    </div>
                                     
                                    <select class="select-ui-input-multiple" id="sensor" multiple style="width: 100%" change.delegate="setselectedSensorOption($event)">
                                      <option value="${item.Id}" repeat.for="item of sensors" model.bind="item.Id" selected.bind="isSensorSelected(item.Id)">${item.Name}</option>                      
                                    </select>
                                </ui-input-group>
                              </ui-column>

                              <ui-column size="md-6 lg-6 xs-6">
                                <ui-input-group>
                                  <ui-input-label class="ui-label-custom"> Other Equipments </ui-input-label>
                                    <div if.bind="!mission.IsAdmin">
                                      <ui-checkbox id="other" checked.bind="showAllOtherEquipments" change.trigger="getAllOtherEquipments()"> View All </ui-checkbox>
                                    </div>
                                     
                                    <select class="select-ui-input-multiple" id="other" multiple style="width: 100%" change.delegate="setselectedEquipmentOption($event)">
                                      <option value="${item.Id}" repeat.for="item of other_equipment" model.bind="item.Id" selected.bind="isEquipmentSelected(item.Id)">${item.Name}</option>
                                    </select>
                                </ui-input-group>
                              </ui-column>

                              <ui-column size="md-12 lg-12" class="boxForm">
                                <ui-input-group class="pull-right">
                                  <button class="btn btn-primary btn-lg" click.delegate="saveandwaypoints()">
                                    <i class="fa fa-check" aria-hidden="true"></i> Save and Waypoints
                                  </button> &nbsp;
                                  <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                  </button>
                                </ui-input-group>
                              </ui-column>

                            </ui-row>
                          </ui-fieldset>
                        </ui-column>
                      </ui-row>
                  </ui-panel-body>
              </ui-panel>
            </ui-container>
        </ui-column>
    </ui-row>
  </template>
  