<template >
    <require from="../lib/date-format"></require>
    <require from="./mission"></require>
    <require from="./mission-view"></require>

    <ui-loader busy.bind="isWaiting" big></ui-loader>
    <ui-row show.bind="!isEditing && !isViewing">
        <ui-column size="md-12 lg-12">
          <ui-row class="header-top">
              <ui-column size="md-6 lg-6 xs-8">
                    <h4 class="pull-left heading_title">Manage Missions &nbsp; <i class="anra-ico_flightplan_dark ui-active " aria-hidden="true"></i></h4>
              </ui-column>
              
              <ui-column size="md-6 lg-6 xs-4">
                  <div class="pull-right">
                    <input type="search" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search">
                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr" disabled.bind="!permission.Add">
                        <i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i>
                        <span class="tooltip_text">New Mission</span>
                    </button>
                  </div>
              </ui-column>
          </ui-row>
        </ui-column>
        
        <ui-column size="md-12 lg-12">
            <div class="table-responsive des-table">
                <table class="table table-striped table-custom dataTable no-footer"
                        aurelia-table="data.bind: missions; display-data.bind: $displayData;
                        current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                    <thead>
                    <tr>
                        <th aut-sort="key: Name"> Name <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: OrganizationName"> Organization <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: MissionTypeName"> Type <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: StatusText">Status <span class="glyphicon glyphicon-sort"></span></th>
                        <th>Onsite/Travel time (Hrs.)</th>
                        <th aut-sort="key: DateCreated; default: desc">Date Requested <span class="glyphicon glyphicon-sort"></span></th>
                        <th aut-sort="key: FlightDate">Flight Date <span class="glyphicon glyphicon-sort"></span></th>
                        <th>Upload</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr repeat.for="item of $displayData">
                        <td>${item.Name}</td>
                        <td>${item.OrganizationName}</td>
                        <td>${item.MissionTypeName}</td>
                        <td>
                        <div if.bind="item.StatusText == 'Accepted'" title="Accepted"><div class="accepted"></div> </div>
                        <div if.bind="item.StatusText == 'Proposed' && item.IsAdminApprovalRequired && item.IsAdmin == false" title="Proposed"><div class="proposed"></div></div>
                        <div if.bind="item.StatusText == 'Closed'" title="Closed"><div class="closed"></div> </div>
                        <div if.bind="item.StatusText == 'Started'" title="Started"><div class="started"></div> </div>
                        <!-- ${item.StatusText} -->
                        <a if.bind="item.StatusText == 'Proposed' && item.IsAdminApprovalRequired && item.IsAdmin" href="javascript:;" class="ed" click.delegate="approveMission(item.Gufi)" title="Approve">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </a>
                        </td>
                        <td>${item.TotalEffortHours}/${item.TotalTravelHours}</td>
                        <td>${item.DateCreated  | dateFormat }</td>
                        <td>${item.FlightDate  | dateFormat }</td>
                        <td>
                        <a href="javascript:;" class="ed" click.delegate="uploadDoc(item.Gufi)" title="Upload">
                            <i class="fa fa-files-o" aria-hidden="true"></i>
                        </a>
                        </td>
                        <td colspan="2" class="action_td">
                                <aup-dropdown direction="down" right="false">
                                        <div slot="dropdown-toggle">Action</div>
                                        <div slot="dropdown-menu" class="dropdown_menu">
                                                <a href="javascript:;" class="ed" click.delegate="flightPlan(item)" title="Waypoints">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                    <span>Waypoints </span>
                                                </a>
                                                <a href="javascript:;" class="ed" click.delegate="showChecklist(item.Gufi)" title="Checklist">
                                                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                                                    <span>Checklist </span>
                                                </a>
                                                <a href="javascript:;" class="ed" click.delegate="flyMission(item)" title="Live Mission View">
                                                    <i class="anra-ico_drone" aria-hidden="true"></i>
                                                    <span> Live Mission View </span>
                                                </a>

                                                <a href="javascript:;" class="ed" click.delegate="trackTime(item.Gufi)" title="Time Tracking">
                                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                                    <span> Time Tracking </span>
                                                </a>   
                                                                
                                                <a href="javascript:;" class="ed" click.delegate="cloneMission(item.Gufi)" title="Clone">
                                                    <i class="fa fa-clone" aria-hidden="true"></i>
                                                    <span> Clone </span>
                                                </a>

                                                <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.Gufi)" title="Edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    <span> Edit </span>
                                                </a> 

                                                <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.Gufi)" title="Delete">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                    <span> Delete </span>
                                                </a>

                                                <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.Gufi)" title="View">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span> View </span> 
                                                </a>
                                        </div>
                                    </aup-dropdown>
                        
                        </td>
                    </tr>
                    </tbody>
                </table>
        
                <ui-row>
                    <ui-column size="md-9 lg-9 xs-12">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                            pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </ui-column>
                    <ui-column size="md-3 lg-3 xs-12">
                        <div class="form-group pull-right">
                            <label for="pageSize">Page Size: </label>
                            <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                <option model.bind="5">5</option>
                                <option model.bind="10">10</option>
                                <option model.bind="20">20</option>
                                <option model.bind="50">50</option>
                            </select>
                        </div>
                    </ui-column>
                </ui-row>
            </div>
        </ui-column>
    </ui-row>
      
    <mission if.bind="isEditing" mission-aggregate.bind="missionAggregate" save.call="saveItem()"></mission>
    <mission-view if.bind="isViewing" mission-aggregate.bind="missionAggregate" save.call="saveItem()"></mission-view>
</template>