<template>
  <require from="../lib/component/animation/loading"></require>
  <loading displayed.bind="!isReady"></loading>

  <div id="mapid" style="height: 70%"></div>
  <div id="waypoints">
    <div>
      <h3>Waypoints</h3>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            WP Radius: <input type="number" min="10" max="1000" value.bind="radius">
          </div>
          <div class="col-md-3">
            Default Altitude: <input type="number" value.bind="defaultAltitude" min="50" max="500">
          </div>
        </div>
        <div class="row">
          <div>
            <table width="100%" cellpadding="2" cellspacing="2" border="1">
              <tr>
                <th>#</th>
                <th>Command</th>
                <th>Lat</th>
                <th>Lng</th>
                <th>Alt</th>
                <th>Grad</th>
                <th>Angle</th>
                <th>Dist</th>
                <th>AZ</th>
                <th>Delete</th>
              </tr>
              <tr repeat.for="wp of wayPoints">
                <td>wp.index</td>
                <td>
                  <select value.bind="wp.command">
                    <option repeat.for="cmd of commands" model.bind="cmd.id">${cmd.name}</option>
                  </select>
                </td>
                <td>${wp.lat}</td>
                <td>${wp.lng}</td>
                <td>${wp.alt}</td>
                <td>${wp.grad}%</td>
                <td>${wp.angle}</td>
                <td>${wp.dist}</td>
                <td>${wp.az}</td>
                <td>Delete</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
