p.aurelia-validation-message {
  display: inline;
  margin-left: 5px;
  color: #ff0000 !important;
}
p.aurelia-validation-message:empty {
  display: none;
}
.has-success label {
  color: #3c763d;
}
.has-warning label {
  color: #ff0000;
}

.logo-div {
  /*margin: 20px 0;*/
  background-image: url('../images/logo-login.png');
  background-repeat: no-repeat;
  background-position: center center;
  width:100%;
  height:120px;
}

.navbar-right{
  margin-right: 0 !important;
}

ui-combo > label{
  display:none;
}


.navbar{
  margin-bottom:0 !important;
}

