/* sidebar */

.navbar-fixed-left,.navbar-fixed-right {
  border-radius: 0;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;
  width: 139px;
}

.navbar-fixed-left + .container {
  padding-left: 160px;
}

/* On using dropdown menu (To right shift popuped) */
.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
  margin-top: -50px;
  margin-left: 140px;
}

.mode{
  text-align: center;
}

.armed-mode{
  text-align: center;
  border:1px solid white;
}

.disarmed{
  background:yellow;
  color:red;
}


.link-status-Good i{
  color:greenyellow;
}

.link-status-NoNetwork i {
  color: darkgray;
}

.link-status-Weak i {
  color: orange;
}

.link-status-NetworkError > i , .link-status-Lost > i{
  color:red;
}


/* sidebar */
