/* style css */

* {
    margin: 0;
    padding: 0;
}

body,
html {
    color: #000000;
    overflow: auto
}

a,
a:focus,
a:hover {
    color: #000;
    text-decoration: none;
}

main {
    min-height: 500px;
}

.bashboard-block>li {
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    list-style-type: none;
}

.bashboard-block>li .das-bx {
    border: none;
    background-color: #fff;
    padding-bottom: 0;
    border-radius:5px 5px 0 0;
}

.nav.bashboard-block>li>a {
    padding: 0;
}

header .navbar-default .nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #ffffff !important;
}

.small-das .das-bx .image-sec {
    width: 30px;
    height: 30px;
    background-size: 30px auto;
    display: inline-block;
    margin: 0 auto;
    line-height: 30px;
    border-radius: 50%;
    vertical-align: middle;
}

.small-das .das-bx .image-sec>i {
    font-size: 18px;
}

.small-das .das-bx .image-sec>i.anra-ico_batterycharge_dark {
    font-size: 11px;
}

.bashboard-block>li.active .das-bx {
    background-color: #e6e6e6;
}

.small-das .das-bx .image-sec>i.anra-ico_drone {
    font-size: 30px;
}
.bashboard-block>li:nth-child(4) {
    clear: left;
}

.small-das .bashboard-block>li:nth-child(4) {
    clear: none;
}

.das-bx .cnt-sec span {
    display: inline-block;
    font-size: 30px;
}

.das-bx .image-sec>i {
    color: #2a323c;
    font-size: 38px;
    display: inline-block;
    vertical-align: middle;
}

.das-bx .image-sec>i.anra-ico_drone {
    font-size: 50px;
}

.das-bx .image-sec>i.anra-ico_warning_dark {
    position: relative;
    top: -4px;
}

.das-bx .cnt-sec {
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    display: inline-block;
    color: #2a323c;
    border-radius: 6px;
}

.das-bx h3 {
    text-transform: capitalize;
    color: #777;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}

.network-page .das-bx h3 {
    margin-bottom: 10px;
}

span.cnt-no {
    color: #2a323c;
    border-radius: 10px;
    padding: 2px 8px;
}

.bashboard-block {
    padding: 0 5px 20px;
    border: none;
    text-align: center;
    margin-top: -50px;
	margin-bottom: 0;
}

.das-middle-sec {
    margin-top: 25px;
    margin-bottom: 5px;
}

.das-middle-sec h2 {
    margin: 0;
    font-size: 22px;
}
.page-header h2 {
    margin: 0;
    font-size: 15px;
    color: #fff;
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:active {
    background-color: #36e4c6;
    border-color: #36e4c6;
}

.btn-primary {
    color: #fff;
    background-color: #36e4c6;
    border-color: #36e4c6;
}

.btn-primary.btn-gray {
    background-color: #A3A5A0;
    border-color: #A3A5A0;
}

.right-botton .btn-primary:first-child {
    margin-right: 10px;
}

.des-table {
    display: inline-block;
    width: 100%;
}

table.table {
    margin: 0;
}

.des-table .table>thead>tr>th {
    font-weight: 600;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	padding: 4px 6px;
    text-align: center;
    height: 40px;
    vertical-align: middle;
}

.table>tbody>tr>td:first-child,
.table>tbody>tr>th:first-child,
.table>tfoot>tr>td:first-child,
.table>tfoot>tr>th:first-child,
.table>thead>tr>td:first-child,
.table>thead>tr>th:first-child {
    text-align: left;
}

.bashboard-section {
    padding: 0;
}

footer {
    background-color: #333333;
    padding: 0 0;
    color: #ddd;
}

footer ul {
    list-style-type: none;
    margin: 0;
}

footer ul li {
    line-height: 1.3;
    padding-bottom: 10px;
}

footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-top {
    border-bottom: 1px solid #fff;
    padding: 25px 0;
}

.social-icons li,
.pay-method li,
.pay-method p,
.pay-method ul {
    display: inline-block;
    vertical-align: middle;
}

footer .fa {
    color: #ddd;
    font-size: 15px;
}

footer .pay-method .fa {
    font-size: 20px;
}

.footer-bottom {
    padding: 10px 0;
    font-size: 12px;
}

.social-icons li a,
.pay-method li a {
    display: inline-block;
    padding: 0 12px;
}

.social-icons li a:first-child {
    padding-left: 0;
}

.pay-method p {
    padding-right: 15px;
}

footer .footer-bottom ul li {
    padding-bottom: 0;
}

.copy-right {
    text-align: center;
}

footer p {
    margin-bottom: 0;
}

.btn-primary:hover {
    background-color: #36e4c6;
    border-color: #36e4c6;
}

.btn-primary.btn-gray:hover {
    background-color: #A3A5A0;
    border-color: #A3A5A0;
}

button.btn.btn-primary:hover {
    opacity: .8;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 8px 15px;
    font-size: 16px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.nav-tabs>li>a,
.nav-pills>li>a {
    padding: 0;
}

.nav-pills>li+li,
.nav-tabs>li+li {
    margin-left: 0;
}

.map-bt {
    position: absolute;
    z-index: 7;
    width: 28px;
    height: 45px;
    background-color: #36e4c6;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 33px;
    line-height: 45px;
    cursor: pointer;
    right: -28px;
    top: 8px;
    text-align: center;
}

.map-bt.expend {
    background-color: #a3a5a0;
}

.map-bt:hover {
    opacity: .8;
}

.map-right-panel {
    -webkit-transform: translate3d(-350px, 0, 0);
    -moz-transform: translate3d(-350px, 0, 0);
    -o-transform: translate3d(-350px, 0, 0);
    -ms-transform: translate3d(-350px, 0, 0);
    transform: translate3d(-350px, 0, 0);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    width: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    background-color: #fff;
}

.map-right-panel.exp-panel {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
}

.map-ntw.exp-mp {
    -webkit-transform: translate3d(350px, 0, 0);
    -moz-transform: translate3d(350px, 0, 0);
    -o-transform: translate3d(350px, 0, 0);
    -ms-transform: translate3d(350px, 0, 0);
    transform: translate3d(350px, 0, 0);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.map-ntw {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

.network-map-div {
    overflow-y: hidden;
    position: relative;
}

.map-bt .fa-angle-left {
    display: none;
}

.map-bt.expend .fa-angle-left {
    display: inline-block;
}

.map-bt.expend .fa-angle-right {
    display: none;
}

.top-map-pn {
    display: inline-block;
    width: 100%;
    background-color: #36e4c6;
    color: #fff;
    font-size: 16px;
    padding: 13px;
}

.map-right-panel li {
    border-bottom: 1px solid #ddd;
    padding: 10px 14px;
}

.map-right-panel li input {
    float: right;
}

.des-table a.ed {
    color: #333;
    font-weight: normal;
    font-size: 16px;
}

.des-table a:hover {
    opacity: .8;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs>li>a:hover {
    border-color: transparent;
}

h2.title-2 {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.button-div {
    display: inline-block;
    padding: 0 0px 0 15px;
}

.button-div .btn-default {
    background-color: #36e4c6;
    color: #fff;
    border-color: #36e4c6;
    padding: 6px 20px;
    margin-top: 15px;
}

.button-div .btn-default:hover {
    opacity: .8;
}

form.add-form {
    margin-bottom: 0;
    display: inline-block;
    width: 100%;
}

.button-div .btn-default.cancel {
    background-color: #A3A5A0;
    border-color: #A3A5A0;
}

label {
    color: #2a323c;
}

.form-control {
    background-color: #DDEDED;
    border-color: transparent;
}

.input-group-addon {
    background-color: #DDEDED;
    border-color: transparent;
}

.dropdown-menu.user-sub {
    min-width: 120px;
    left: -76px;
    border-radius: 4px !important;
    padding: 0;
}

.dropdown-menu.user-sub li>a {
    padding: 5px 15px;
}

.network {
    margin: 0 -15px;
}

.dealer-website a {
    color: #009bd4;
    text-decoration: underline;
    font-size: 12px;
    text-transform: lowercase;
}

span.view-fl {
    display: block;
    line-height: 1.5;
    color: #555;
}

.mb-menu {
    display: none;
}

@media only screen and (max-width: 992px) {
    .mb-menu {
        display: block;
        float: right;
        color: #fff;
        font-size: 25px;
        margin-top: 30px;
        margin-right: 10px;
        cursor: pointer;
    }
}


/*******New css*******/

.site-description {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 11px;
    line-height: inherit;
    text-transform: uppercase;
    color: #8594a7;
}

.site-description:before {
    content: "";
    position: absolute;
    left: 16px;
    top: -18px;
    width: 1px;
    height: 38px;
    background: #cfd8e2;
}

.mb-menu {
    color: #888;
}

.splash {
    font-size: 60px;
    margin: 104px auto;
    width: 94%;
    text-shadow: rgba(0, 0, 0, 0.64) 5px 4px 15px;
    text-align: center
}

.fa-spinner {
    margin: auto;
    display: table;
}

.view-inner {
    /* background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px; */
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2), 0 2px 10px 0 rgba(0,0,0,.19);
}

.view-inner label {
    font-weight: 700;
    padding-bottom: 5px;
}

body main {
    min-height: calc(100vh - 109px);
    margin-left: 240px; /* 240px; */
	overflow-x: hidden;
}

header {
    min-height: 70px;
}

.has-warning .form-control {
    border-color: red;
}

.disable {
    opacity: .6 !important;
    cursor: not-allowed;
}

.media-group-btn {
    display: block;
    padding: 20px;
    cursor: pointer;
}

.des-table a.ded {
    border: 1px solid #36e4c6;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #36e4c6;
    color: gray;
    pointer-events: none;
    cursor: default;
}

.mission-menu-icons {
    content: '';
    display: inline-block;
    height: 40px;
    width: 100%;
}

.ico_freehand {
    background: url(../../../image/ic_freehand.png) no-repeat 20px 0px;
}

.ico_polygon {
    background: url(../../../image/ic_zigzag.png) no-repeat 20px 0px;
}

.ico_spiral {
    background: url(../../../image/ic_tower.png) no-repeat 15px 0px;
}

.ico_polygrid {
    background: url(../../../image/ic_polygrid.png) no-repeat 20px 0px;
}

.ico_guidewire {
    background: url(../../../image/ic_path_drone.png) no-repeat 20px 0px;
}

.ico_hexagon {
    background: url(../../../image/ic_location_points.png) no-repeat 20px 0px;
}

.ico_custom_mission {
    background: url(../../../image/ic_remote_control.png) no-repeat 20px 0px;
}

.ico_facade_mission {
    background: url(../../../image/castle-front-wall.png) no-repeat 20px 0px;
}


/***new css**/

.switch {
    position: relative;
    margin-left: 5px;
}

.switch label {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.switch input {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
/* DEMO 3 */

.switch.demo3 {
    width: 40%;
    ;
    height: 20px;
    display: inline-block;
}

.switch.demo3 label {
    display: block;
    width: 100%;
    height: 100%;
    background: #a5a39d;
    border-radius: 40px;
    box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch.demo3 label:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border-radius: inherit;
    background: #ababab;
    background: -moz-linear-gradient(#f2f2f2, #ababab);
    background: -ms-linear-gradient(#f2f2f2, #ababab);
    background: -o-linear-gradient(#f2f2f2, #ababab);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
    background: -webkit-linear-gradient(#f2f2f2, #ababab);
    background: linear-gradient(#f2f2f2, #ababab);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch.demo3 label:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -18px;
    right: -18px;
    bottom: -18px;
    left: -18px;
    border-radius: inherit;
    background: #eee;
    background: -moz-linear-gradient(#e5e7e6, #eee);
    background: -ms-linear-gradient(#e5e7e6, #eee);
    background: -o-linear-gradient(#e5e7e6, #eee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
    background: -webkit-linear-gradient(#e5e7e6, #eee);
    background: linear-gradient(#e5e7e6, #eee);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.switch.demo3 label i {
    display: block;
    height: 100%;
    width: 60%;
    border-radius: inherit;
    background: silver;
    position: absolute;
    z-index: 2;
    right: 40%;
    top: 0;
    background: #b2ac9e;
    background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
    background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
    background: -o-linear-gradient(#f7f2f6, #b2ac9e);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
    background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
    background: linear-gradient(#f7f2f6, #b2ac9e);
    box-shadow: inset 0 1px 0 white, 0 0 8px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.switch.demo3 label i:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: #d2cbc3;
    background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
    background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
    background: -o-linear-gradient(#cbc7bc, #d2cbc3);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
    background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
    background: linear-gradient(#cbc7bc, #d2cbc3);
    border-radius: inherit;
}

.switch.demo3 label i:before {
    content: "off";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: -50%;
}

.switch.demo3 input:checked~label {
    background: #9abb82;
}

.switch.demo3 input:checked~label i {
    right: -1%;
}

.switch.demo3 input:checked~label i:before {
    content: "on";
    right: 115%;
    color: #fff;
    text-shadow: none;;
}

.airspace-options {
    padding: 5px;
}

.airspace-options .airspace-option {
    border-bottom: 1px solid gray;
    vertical-align: top;
    margin: 5px;
}

.panel-subheader {
    background: #354052;
    color: white;
    padding: 12px;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
	margin-bottom: 3px;
}

.airspace-main {
    padding: 10px 0;
}

.help-div {
    float: right;
}

.help-div {
    float: right;
    margin-right: 7px;
    cursor: pointer;
}

.airspace-main .panel-subheader.panel-1 {
    background: #d4dce4;
    color: #354052;
    margin-left: 15px;
    padding: 8px;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 3px;
}

.airspace-main-inner {
    padding: 0 40px;
}

.color-div {
    float: right;
    border-top: 6px solid #1a74b3;
    height: 1px;
    width: 35px;
    margin-top: 6px;
}

.airspace-options.airspace-2:nth-child(2) .color-div {
    border-top: 6px solid #9b6c9d;
}

.airspace-options.airspace-2:nth-child(3) .color-div {
    border-top: 3px dotted #1a74b3;
}

.airspace-options.airspace-2:nth-child(4) .color-div {
    border-top: 3px dotted #9b6c9d;
}

.panel-subheader span.glyphicon {
    float: right;
}


/* DEMO 3 */

.switch.demo3 {
    width: 40%;
    ;
    height: 20px;
    display: inline-block;
}

.switch.demo3 label {
    display: block;
    width: 100%;
    height: 100%;
    background: #a5a39d;
    border-radius: 40px;
    box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch.demo3 label:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border-radius: inherit;
    background: #ababab;
    background: -moz-linear-gradient(#f2f2f2, #ababab);
    background: -ms-linear-gradient(#f2f2f2, #ababab);
    background: -o-linear-gradient(#f2f2f2, #ababab);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
    background: -webkit-linear-gradient(#f2f2f2, #ababab);
    background: linear-gradient(#f2f2f2, #ababab);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch.demo3 label:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -18px;
    right: -18px;
    bottom: -18px;
    left: -18px;
    border-radius: inherit;
    background: #eee;
    background: -moz-linear-gradient(#e5e7e6, #eee);
    background: -ms-linear-gradient(#e5e7e6, #eee);
    background: -o-linear-gradient(#e5e7e6, #eee);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
    background: -webkit-linear-gradient(#e5e7e6, #eee);
    background: linear-gradient(#e5e7e6, #eee);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -ms-filter: blur(1px);
    -o-filter: blur(1px);
    filter: blur(1px);
}

.switch.demo3 label i {
    display: block;
    height: 100%;
    width: 60%;
    border-radius: inherit;
    background: silver;
    position: absolute;
    z-index: 2;
    right: 40%;
    top: 0;
    background: #b2ac9e;
    background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
    background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
    background: -o-linear-gradient(#f7f2f6, #b2ac9e);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
    background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
    background: linear-gradient(#f7f2f6, #b2ac9e);
    box-shadow: inset 0 1px 0 white, 0 0 8px rgba(0, 0, 0, 0.3), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.switch.demo3 label i:after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: #d2cbc3;
    background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
    background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
    background: -o-linear-gradient(#cbc7bc, #d2cbc3);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
    background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
    background: linear-gradient(#cbc7bc, #d2cbc3);
    border-radius: inherit;
}

.switch.demo3 label i:before {
    content: "off";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    color: #fff;
    text-shadow: none;
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 14px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: -50%;
}

.switch.demo3 input:checked~label {
    background: #9abb82;
}
.airspace-options {
    padding: 5px;
}

.airspace-options .airspace-option {
    border-bottom: 1px solid gray;
    vertical-align: top;
    margin: 5px;
}

.panel-subheader,
.workspace-side-bar .panel.panel-default .panel-title a {
    background: #354052;
    color: white;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

#accordion-workspace.workspace-side-bar .panel.panel-default .panel-title a {
    padding: 10px 12px !important;
}

#accordion-workspace.workspace-side-bar .panel.panel-default {
    padding: 0 !important;
    background: transparent;
    box-shadow: none;
}

#accordion-workspace.workspace-side-bar .panel.panel-default .panel-title {
    padding: 0;
}

#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li {
    padding: 5px 10px;
}

#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li a {
    font-weight: normal;
    color: #3f5275;
    font-size: 15px;
    padding: 4px 0 !important;
}

#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li a i.fa {
    padding-right: 5px;
}

.panel.panel-default .panel-collapse li select {
    padding: 5px 8px;
}

.panel.panel-default .panel-collapse li label {
    padding-right: 5px;
}

.ui-popup p {
    color: #3f5275;
}

div.slider-track-low,
div.slider-track-high,
div.slider-selection {
    position: absolute;
    background: #ccc;
}

.workspace-side-bar li.list-group-item {
    border: none;
    background: transparent;
}

.airspace-main {
    padding: 10px 0;
}

.help-div {
    float: right;
}

.help-div {
    float: right;
    margin-right: 7px;
    cursor: pointer;
}

.airspace-main .panel-subheader.panel-1 {
    background: #d4dce4;
    color: #354052;
    margin-left: 15px;
    padding: 8px;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 3px;
}

.airspace-main-inner {
    padding: 0 20px;
}
nav.navbar-inverse .row {
    margin-right: -15px;
    margin-left: -15px;
}
.color-div {
    float: right;
    border-top: 6px solid #1a74b3;
    height: 1px;
    width: 35px;
    margin-top: 6px;
}

.airspace-options.airspace-2:nth-child(2) .color-div {
    border-top: 6px solid #9b6c9d;
}

.airspace-options.airspace-2:nth-child(3) .color-div {
    border-top: 3px dotted #1a74b3;
}

.airspace-options.airspace-2:nth-child(4) .color-div {
    border-top: 3px dotted #9b6c9d;
}

.panel-subheader span.glyphicon {
    float: right;
}

nav.navbar-inverse {
    background-color: #fff;
    border-color: #ecf2f6;
}

.airspace-options {
    color: #3f5275;
}

.airspace-options div.airspace-option {
    border: none;
}

div.switch.demo3 {
    float: left;
    margin-right: 12px;
    width: 70px;
}

div.switch.demo3 label i:before {
    font-size: 12px;
    margin-top: -7px;
    right: -76%;
}

div.switch.demo3 label i {
    width: 50%;
    right: 50%;
}

div.switch.demo3 input:checked~label {
    background: #f6a517;
}

div#mySidenav .top-div {
    background: #354052;
    font-size: 15px;
    padding: 10px;
    font-weight: normal;
    text-transform: capitalize;
    cursor: pointer;
    color:white;
	margin-bottom: 3px;
}

.mission-nm {
    padding-top: 10px;
	padding-left: 10px;
}

div.sidenav {
    padding-top: 0;
    padding-bottom: 20px;
}

div.sidenav .closebtn {
    top: 2px;
    font-size: 30px;
    right: 10px;
    margin-left: 5px;
}

mission-side-bar .container-fluid {
    padding-right: 30px;
    padding-top: 15px;
}

.navbar.drone-side-bar .tab-content {
    padding-top: 20px;
}

/*#mySidenav .navbar.drone-side-bar .nav.nav-tabs>li {
    width: 25%;
}*/

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.focus,
.btn-warning:active,
.btn-warning:focus,
.btn-warning:hover,
.open>.dropdown-toggle.btn-warning {
    background-color: #FF6347 !important;
    border: 1px solid #FF6347 !important;
}

button.btn-warning {
    background-color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}

button.btn-danger {
    background-color: #ff0000!important;
    border: 1px solid #ff0000!important;
}

button.btn-info,
button.btn-info:hover {
    background-color: #ffff00!important;
    border: 1px solid #ffff00 !important;
}

.way-btn-wi-fi button.btn.btn-info {
    color: #555!important;
}

button.btn-start,
button.btn-start:hover {
    background: #008000 !important;
}

.airspace-2:nth-child(1) div.switch.demo3 input:checked~label,
.airspace-2:nth-child(3) div.switch.demo3 input:checked~label {
    background: #1a74b3;
}

.airspace-2:nth-child(2) div.switch.demo3 input:checked~label,
.airspace-2:nth-child(4) div.switch.demo3 input:checked~label {
    background: #9b6c9d;
}

.airspace-3:nth-child(1) div.switch.demo3 input:checked~label,
.airspace-3:nth-child(2) div.switch.demo3 input:checked~label {
    background: #e01212;
}

.airspace-3:nth-child(3) div.switch.demo3 input:checked~label,
.airspace-3:nth-child(4) div.switch.demo3 input:checked~label {
    background: #354052;
}

.airspace-3:nth-child(5) div.switch.demo3 input:checked~label,
.airspace-3:nth-child(6) div.switch.demo3 input:checked~label {
    background: #e01212;
}

.airspace-4 div.switch.demo3 input:checked~label {
    background: #1a74b3;
}

.ui-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 9;
    opacity: 1;
}

div#mySidenav {
    overflow: visible;
}

.ui-popup {
    width: 500px;
    height: 300px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.ui-popup .close {
    position: absolute;
    top: 15px;
    right: 25px;
    opacity: .5;
}

.leaflet-control-container {
    position: relative;
    z-index: 0;
}

ul {
    padding: 0;
}

#sidebar-menu li {
    width: 100%;
    text-align: left;
}

.container.tab-content {
    background: #fff;
    margin-bottom: 20px;
    border-radius: 0;
}

.bottom-table {
    padding: 0 12px;
    margin-top: 12px;
}

a#menubutton {
    z-index: 999;
    color: #36e4c6;
    top: 24px;
    font-size: 18px;
    margin: 0;
    right: 8px;
}

a#menubutton:hover {
    opacity: .7;
}

div#mySidenav {
    z-index: 9999;
}

div.sidenav {
    background: #fff;
}

side-nav-bar #page-content {
    margin-right: 0 !important;
}

table.dataTable a {
    color: #333;
    font-weight: normal;
    text-transform: capitalize;
}

.network-page .das-bx h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}

.network-page .bashboard-block>li .das-bx {
    padding-bottom: 0;
}

.network-page .bashboard-block {
    margin-top: -90px;
}

.input-group label.ui-label.au-target {
    display: none;
}

.input-group .ui-input-group {
    margin: 0;
}

.ui-input-group .ui-label {
    display: none;
}

.ui-input-group .ui-control-wrapper>.ui-input-control>.ui-input-wrapper .ui-input {
    background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    height: 38px;
    width: 100%;
}

.form-group label.control-label {
    margin-bottom: 5px;
}

.network-tp .page-header-title {
    padding: 10px 15px 80px 20px;
}

div.page-header-title {
    padding: 10px 15px 35px 20px;
}

.network-page .small-das .das-bx .image-sec>i {
    font-size: 13px;
}

.network-page .small-das .das-bx .image-sec {
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.role-tx h3 {
    margin: 0 !important;
}

.row.graph-box {
    margin: 0;
    padding: 0 10px;
}

#sidebar-menu>ul>li.active>a {
    background-color: #f2f2f2;
}

.des-table a {
    background: transparent !important;
    border: none !important;
}

table.dataTable a i {
    margin: 0 6px;
}

td.action-btn {
    white-space: nowrap;
}

button.btn-primary {
    border-radius: 5px;
}

.small-das.dash-mn .das-bx .image-sec {
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.small-das.dash-mn .das-bx .image-sec>i {
    font-size: 30px;
}

.small-das.dash-mn .das-bx .image-sec>i.anra-ico_drone {
    font-size: 42px;
}

.topbar .topbar-left {
    padding-top: 8px;
}

.mission-opt>button {
    background: #fff;
}

html body {
    font-family: "PT Sans Caption", sans-serif !important;
}

.des-table a.ed i.anra-ico_drone {
    font-size: 25px;
    position: relative;
    top: 5px;
}

.dash-box-5 .col-md-2 {
    width: 20%;
}

.form-group.search-bx {
    float: left;
    margin-right: 20px;
}

i.anra-ico_drone.drone-2 {
    position: relative;
    top: 7px;
}

.dash-mn .das-bx h3 {
    display: block;
}

.dash-mn .das-bx {
    padding: 2px 0 7px !important;
}

ul.dropdown-menu {
    min-width: 176px;
}

.notifi-title {
    width: 100%;
    display: inline-block;
    height: auto;
}

.ui-switch-control .ui-switch .ui-switch-label:before {
    color: #fff;
	text-shadow: none;
}
.ui-switch-control .ui-switch .ui-switch-label {
    background-color: #a5a39d;
    box-shadow: none;
	height: 21px;
}
.ui-switch-control .ui-switch {
    max-width: 70px;
    border: none;
    box-shadow: none;
    font-weight: normal;
    font-size: 14px;
}
.form-group label {
    margin-bottom: 5px;
}
.container-fluid.login-page {
    margin-left: -240px;
    text-align: center;
}
.login-div {
    max-width: 400px;
    display: inline-block;
    float: none;
    text-align: left;
}
.effort .form-group .input-group {
    display: block;
}
li.user-rt {
    margin-top: 17px;
    margin-left: 5px;
}
li.user-rt>a {
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    padding: 0 !important;
    height: 36px;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.advisory-default {
    background: black;
    color: white;
}
.advisory-yellow,
.advisory-yellow a {
    background: #FAF1BB;
    color: black !important;
}
.advisory-green,
.advisory-green a {
    background: #428F42;
    color: #fff !important;
}
#mySidenav .nav.nav-tabs>li.advisory-red a {
    background: red;
    color: #354052 !important;
}
#mySidenav .nav.nav-tabs>li.advisory-green a {
    background: #228B22;
    color: #354052 !important;
}
.advisory-red {
    background: red;
    color: white !important;
    ;
}
.advisory-row {
    font-size: 14px;
    padding: 5px;
    line-height: 1.5;
}
header li.user-rt a i {
    font-size: 16px;
}
.page-header {
    margin: 20px 0 25px;
    padding-bottom: 0;
    border-color: #dedede;
    padding: 0 15px;
    background: #000;
}
.edit-view {
    padding: 0 0 20px;
    margin-top: 18px;
}
.edit-view-mn>.row {
    margin: 0;
}

.edit-view-mn {
    padding-left: 20px;
    padding-right: 20px;
}

.padding-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #f9f9f9;
    opacity: 1;
}

div .form-control,
div .form-control:focus {
    background-color: #f2f2f2;
    border-color: #dedede;
    border-radius: 4px;
}

h3.text-primary {
    color: #2a323c;
    font-size: 20px;
}

.no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.padding-5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

div .input-group-addon {
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    border-radius: 4px 0 0 4px;
}

div .ui-input-group .ui-control-wrapper>.ui-input-control>.ui-input-wrapper .ui-input {
    background-color: #f2f2f2;
    border: 1px solid #dedede;
    border-radius: 0 4px 4px 0 !important;
}

div .has-success .input-group-addon {
    border-color: #dedede;
}

div.border-none {
    border: none;
    margin-bottom: 10px;
}

select#ddlRole option,
select option {
    padding: 3px 10px;
    background: #f2f2f2;
}

.view-doc {
    margin-top: 7px;
}

  .view-doc > a {
    color: #1a74b3;
    text-decoration: none;
    border-bottom: 1px solid #1a74b3;
  }

.das-bx-img {
    width: 50%;
    float: left;
    text-align: center;
}

.das-bx-text {
    width: 60%;
    vertical-align: top;
    display: inline;
}

li.mission-opt:nth-child(4) {
    clear: none;
}

.mission-opt>button {
    border: 1px solid #cecece;
    display: inline-block;
    width: 100%;
    margin: 5px;
    padding: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.mission-opt .image-sec {
    background-color: #36e4c6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
}

.mission-opt .das-bx-text {
    display: none;
}

div.mission-opt>button {
    margin: 0;
    position: relative;
}

.mission-opt {
    margin: 10px 0;
}

.mission-opt .das-bx-img {
    width: 100%;
}

.mission-opt .das-bx .cnt-sec {
    width: 100%;
    margin-left: -75px;
    padding-left: 80px;
    height: 70px;
    position: relative;
    text-align: center;
}

.mission-opt .das-bx .cnt-sec span {
    font-size: 20px;
    transform: translate(0, -50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 80px;
}

.mission-opt>button:hover .das-bx-text {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    line-height: 1.4;
    font-weight: normal;
    font-size: 15px;
    display: block;
}

.mission-opt .das-bx .image-sec>i {
    background-position: center center;
    height: 70px;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.padding-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.report-search .ui-input-group>label.ui-label {
    display: none;
}

.report-search .ui-input-group .ui-control-wrapper ui-input-label {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}

.report-search .ui-input-group .ui-control-wrapper>.ui-option {
    float: left;
    display: block;
    width: 25%;
    text-align: left;
    flex: initial;
}

.report-download {
    margin-top: -47px;
    cursor: pointer;
}

.report-download h2>i.fa {
    color: rgba( 13, 186, 188, 1);
    font-size: 25px;
}

.report-download h2>i.fa:hover {
    color: rgba( 13, 186, 188, .7);
}

.report-download .dropdown-menu .fa {
    padding-right: 4px;
}

.report-srh .form-group {
    margin-bottom: 0;
}

.report-srh button.btn-primary {
    margin-top: 17px;
}

.body-sidebar-toggle-active .topbar .topbar-left,
.body-sidebar-toggle-active .left.side-menu {
    width: 70px;
    overflow: hidden;
}

.body-sidebar-toggle-active main {
    margin-left: 70px;
}

.body-sidebar-toggle-active .logo {
    display: none;
}

.body-sidebar-toggle-active .logo-sm {
    display: inline-block;
    width: 100%;
}

div .logo-sm span {
    height: 55px;
    width: 100%;
    line-height: 55px;
    margin-top: 7px;
}

.body-sidebar-toggle-active .user-details {
    display: none;
}

.body-sidebar-toggle-active #sidebar-menu>ul>li>a {
    font-size: 0;
    padding: 20px 25px;
    height: auto !important;
}

.body-sidebar-toggle-active #sidebar-menu>ul>li>a>i {
    font-size: 19px;
    margin: 0;
}

.body-sidebar-toggle-active #sidebar-menu {
    margin-top: 30px;
}

.report-srh .form-control {
    padding: 6px 4px 5px 7px;
}

.media-group-btn.media-tb-btn {
    display: inline-block;
    background-color: #31c5ac !important;
    border: 2px solid #31c5ac !important;
    color: #fff !important;
    padding: 10px 15px !important;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 210px;
    text-align: left;
    width: 100%;
}

.media-mn .glyphicon {
    float: right;
}

.media-mn .glyphicon-chevron-down::before {
    content: "+";
    top: -2px;
    position: relative;
}

.media-mn .glyphicon-chevron-up::before {
    content: "--";
    top: -2px;
    position: relative;
    font-size: 22px;
    right: 0;
    height: 0;
    line-height: 0;
    letter-spacing: -2px;
}

a.media-link {
    color: #31c5ac;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 10px;
}

.media-group-btn.media-tb-btn:hover {
    opacity: .7;
}

div.media-mn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-primary {
    border-radius: 4px;
}

.media-mn table.dataTable {
    margin-top: 5px !important;
}

.margin-top-20 {
    margin-top: 20px!important;
}

.first-text-center td:first-child {
    text-align: center !important;
}

ul.nav.navbar-nav.navbar-right {
    padding-right: 15px;
}

.ui-switch-control .ui-switch .ui-switch-input:checked~.ui-switch-handle::after,
.ui-switch-control .ui-switch .ui-switch-handle::after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: linear-gradient(rgb(203, 199, 188), rgb(210, 203, 195));
    border-radius: inherit;
}

.ui-switch-control .ui-switch .ui-switch-input:checked~.ui-switch-handle {
    display: block;
    height: 86%;
    width: 55%;
    position: absolute;
    z-index: 2;
    right: -5%;
    top: 47%;
    box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 0px 8px, rgba(0, 0, 0, 0.2) 0px 5px 5px;
    border-radius: inherit;
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    left: initial;
}

.ui-switch-control .ui-switch .ui-switch-handle {
    display: block;
    height: 86%;
    width: 50%;
    position: absolute;
    z-index: 2;
    right: -5%;
    top: 47%;
    box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 0px 8px, rgba(0, 0, 0, 0.2) 0px 5px 5px;
    border-radius: inherit;
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    left: 0;
}

div input[type=file] {
    background: #f2f2f2;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
}

select {
    border-color: #ededed;
    border-radius: 4px;
}

.report-download ul.dropdown-menu {
    padding: 0;
    top: 40px;
}

.logo-2 {
    float: left;
    margin-left: 10px;
    width: 180px;
    padding: 10px;
    height: 50px;
    display: none;
}

.body-sidebar-toggle-active .logo-2 {
    display: block;
}

.checkbox.checkbox-primary {
    margin: 0;
}

.user-details img {
    background: #f2f2f2;
}

div .logo-sm span {
    color: #4a5869;
    font-size: 25px;
}

.des-table a.ed i.fa.fa-map-marker {
    font-size: 19px;
}

a.logo img {
    max-width: 200px;
    max-height: 78px;
}

div.logo-div {
    background-size: 250px;
    background-position: 45% center;
}

div.drone-info-left {
    padding-left: 0;
}

div.drone-info-righ {
    padding-right: 0;
}

.drone-info-righ h6 {
    font-size: 15px;
    font-weight: normal;
    margin-top: -4px;
    padding-top: 0;
    margin-bottom: 5px;
}

.drone-info-left .ui-input-group .ui-control-wrapper {
    -webkit-flex: 1 0 17em;
    flex: 1 0 16em;
}

table.table .anra-ico_batterycharge_light {
    font-size: 10px;
}

.clear-both {
    clear: both;
}


/****table border changes****/

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
    border-right: none;
    border-left: none;
}

.table-bordered {
    border: none;
}

.table-bordered.dataTable>thead>tr>td,
.table-bordered.dataTable>thead>tr>th {
    border-bottom-width: 2px !important;
}


/****table border changes****/


/****side bar mission****/

#mySidenav .nav.nav-tabs>li {
    width: 33.33%;
    padding: 0;
    background: transparent;
}

#mySidenav .nav.nav-tabs>li a {
    background: #fff;
    line-height: 1;
    padding: 12px 5px;
    text-align: center;
    color: #354052 !important;
    margin: 0;
    border-right: 1px solid #ddd;
    font-size: 15px;
    text-transform: capitalize;
    border-bottom: 1px solid #ddd;
    border-radius: 7px 7px 0 0;
    border-top: 1px solid #ddd;
}

video#my-video {
    max-width: 100%;
}

.way-btn-wi-fi .btn.btn-primary {
    color: #fff !important;
    text-transform: uppercase;
}

#mySidenav .nav.nav-tabs > li.active a {
  background: #a1a1a1;
  color: #fff !important;
}

.sidenav label {
    color: #3f5275 !important;
}

div#mySidenav div#menu1 {
    padding-top: 0;
}

div#mySidenav div#menu1 .container-fluid fieldset.form-group {
    width: 100%;
}

div#mySidenav .tab-content {
    border: none;
    box-shadow: none;
    overflow-y: auto;
    height: 85vh;
    overflow-x: hidden;
}

div#mySidenav>network-side-bar {
    overflow-y: auto;
    height: 96vh;
    display: inline-block;
    width: 100%;
}

li#menu3 {
    padding: 15px;
}

li#menu3 ul>li {
    padding: 8px 12px;
}

#mySidenav .nav.nav-tabs>li.advisory-yellow a {
    background: #fff093;
    color: #354052 !important;
}

.workspace-slider #slides {
    padding: 20px 30px 20px;
    /*background-color: rgb(42, 50, 60);*/
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
	 position: relative;
}
.leaflet-popup-content {
    margin: 10px 12px;
}
.workspace-slider .row:nth-child(2) {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}

.workspace-slider #slides .annotorious-annotationlayer {
    width: 100%;
    box-shadow: none;
    max-height: 520px;
    overflow: hidden;
    text-align: center;
    background: #bbb;
}

.workspace-slider .buttons .btn {
    font-size: 27px;
    padding: 0 6px;
    background: #ddd;
}

.workspace-slider .buttons {
    top: 50%;
    margin-top: -20px;
}

.workspace-slider #slider1 button {
    background: #049ec2;
    display: block;
    border-radius: 50%;
}

.workspace-slider .slick-slide img {
    display: block;
    border: 2px solid #ddd !important;
    border-radius: 5px;
}

.workspace-slider #slides img {
    width: auto;
    box-shadow: none;
    max-width: 100%;
    max-height: 520px;
    min-height: 520px;
}


/****side bar mission****/

.location-map .drone-info-left {
    padding-left: 10px;
}

.location-map .drone-info-righ {
    padding-right: 10px;
}

div.mission-instructions {
    background: #ddd;
    padding: 7px 12px;
}

ul.right-bar-icos {
    float: right;
}

.right-bar-icos li.full-screen a {
    border-radius: 50%;
    border: 1px solid #36e4c6;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #36e4c6;
    font-size: 18px;
}

#accordion-workspace.workspace-side-bar .panel.panel-default {
    padding: 0 !important;
}

ul.right-bar-icos li {
    float: left;
    margin: 0 8px;
    cursor: pointer;
}

ul.right-bar-icos li.screen-short a {
    background-image: url(../../../styles/images/screensort.png);
    width: 35px;
    height: 35px;
    display: inline-block;
    background-repeat: no-repeat;
}

.misn-div {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    padding-right: 8px;
}

.share-box .ui-popup {
    padding: 0;
}

.share-box .ui-popup h3 {
    margin: 0;
    background-color: #36e4c6;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}

.share-box .ui-popup .body-text {
    padding: 20px 12px;
    border: 2px solid #DDD;
    margin: 30px;
    border-radius: 5px;
}

.share-box .ui-popup table {
    width: 100%;
}

.share-box .ui-popup table th,
.share-box .ui-popup table td {
    padding: 5px;
    text-align: center;
}

.share-box .ui-popup table th:first-child,
.share-box .ui-popup table td:first-child {
    text-align: left;
}

input.email-box {
    padding: 7px 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button.share {
    color: #555;
    border: 1px solid #999;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 6px 20px;
    line-height: 1;
    border-radius: 4px;
}

button.share:hover {
    opacity: .7;
}

.share-box .ui-popup h3.bottom-popup {
    text-align: left;
    padding: 10px 40px;
}

.share-box .close {
    border: 2px solid #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 19px;
    color: #fff;
    border-radius: 50%;
    opacity: .8;
    font-size: 15px;
    top: 7px;
    right: 11px;
}

#accordion-workspace.workspace-side-bar .panel.panel-default #collapse2 .panel-title a {
    padding: 6px 10px !important;
    font-size: 14px;
    background: rgb(90, 105, 131);
    margin-bottom: 2px;
}

.change-password i.fa {
    padding-right: 5px;
}

.table-header,
.table-body {
    width: 100%;
    display: table;
}

.table-header-inner,
.table-body-inner {
    display: table-row;
}

.table-header-inner>div,
.table-body-inner>div {
    display: table-cell;
    text-align: center;
    width: 15%;
    padding: 10px;
}

.table-header-inner>div:first-child,
.table-body-inner>div:first-child {
    text-align: left;
}

.table-header-inner>div {
    font-weight: 600;
}

.table-header {
    border-bottom: 2px solid #ddd;
}

.table-body-inner>div {
    border-bottom: 1px solid #ddd;
}

.table-body-inner:nth-child(2n-1) {
    background-color: #f9f9f9;
}

.table-body-inner i {
    margin: 0 4px;
}

.process-queue .ui-option-group .ui-option {
    -webkit-flex: 0 0 6em;
    flex: 0 0 6em;
}

li.upload-icon i {
    color: #36e4c6;
    font-size: 30px;
}

div#mySidenav li>a i {
    font-size: 14px;
}

.tab-pane h6 {
    font-size: 22px;
    color: #36e4c6;
}

.three-d-view .container.tab-content {
    padding: 20px 20px 30px;
}

.three-d-view p {
    font-size: 20px;
    color: #36e4c6;
    padding-bottom: 15px;
}

.three-d-view h2 {
    text-align: left;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
}

.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #1C1C1C;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}

.img-wrap:hover .close {
    opacity: 1;
}

.workspace-slider #slides a.close {
    opacity: 1;
    color: #36e4c6;
    top: -15px;
    right: 25px;
    font-size: 25px;
    background: transparent;
	text-shadow: none;
}

.workspace-slider .img-wrap {
    border: none;
}

.modal .modal-dialog .modal-content .container {
    padding: 0;
}

.modal .modal-dialog .modal-content .container>div {
    padding: 0;
}

.modal .modal-dialog div.modal-content {
    padding: 20px 20px 15px 20px;
    border-radius: 5px;
}

div#myModal .modal-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 44%;
    top: 50%;
    margin: 0;
    max-width: 540px;
}

.share-side-bar #mySidenav {
    max-width: 300px;
    border-left: 1px solid #999;
}

.logo-2.share-logo {
    display: block;
    height: 75px;
}

div.slider-handle {
    background: #36e4c6;
}

#toolsMenu button,
#navigation button {
    margin-left: 5px;
    padding: 3px 0;
}

.ui-option.ui-radio .ui-option-input[checked="true"]~.ui-check-mark:after {
    color: #36e4c6;
}

.searchTable {
    background: url(../../../image/search-icon.png) no-repeat;
    padding-left: 20px;
    border: 1px solid #ccc;
    height: 39px;
    width: 300px;
    margin-right: 5px;
    background-size: 20px;
    background-position: top 9px right 10px;
    background-size: 20px;
}

.mission-opt .das-bx .image-sec>i {
    background-size: 40px;
}

ai-dialog {
    min-width: 500px!important
}

ai-dialog>ai-dialog-body {
    padding: 25px!important
}

ul {
    list-style-type: none;
}

.logo-div {
    /*margin: 20px 0;*/
    background-image: url('../images/logo-login.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 120px;
}

div.top-menu-buttons {
    width: auto;
    top: 75px;
    z-index: 1;
    position: absolute;
    left: 50%;
    color: #FFF;
    float: right;
}

div.top-menu-buttons200 {
    width: auto;
    top: 175px;
    z-index: 1;
    position: absolute;
    left: 50%;
    color: #FFF;
    float: right;
}

div.overlay {
    z-index: 2;
}

div.top-menu-buttons button {
    min-width: 80px;
}

.mySidenav-inner>.wrp-btn>.btn-group>.btn-group {
    float: left;
    width: 50%;
    display: block;
    padding: 5px;
}

.mySidenav-inner>.btn-group {
    padding: 0 15px;
}

button.btn.btn-side-bar {
    background: #eee;
    color: #333;
    height: 58px;
    border-radius: 4px !important;
}

button.btn.btn-side-bar:hover {
    background: #36e4c6;
    color: #fff;
}

.btn-group.btn-group-justified.first {
    margin-top: 10px;
}

button.btn.btn-side-full {
    text-align: left;
    padding: 20px 20px;
    margin-top: 8px;
}

.mySidenav-inner>.btn-group>.btn-group.full-view {
    width: 100%;
}

button.btn.btn-side-bar i {
    padding-right: 10px;
}

.mySidenav-inner {
    overflow-y: auto !important;
    height: 100vh;
}

.mySidenav-inner>.btn-group.full-view {}

potree-menu .panel-default>.panel-heading {
    background: #fff;
    border-bottom: 1px solid #ddd !important;
}

potree-menu .panel-default>.panel-heading h4.panel-title {
    font-weight: normal;
}

potree-menu .panel-default>.panel-heading h4.panel-title a {
    font-size: 15px;
    color: #333;
    padding: 0 0 0 10px;
}

div#appearance ul.list-group {
    margin: 0;
}

a#menubutton {
    position: fixed;
    top: 50%;
    background: #808080;
    height: 55px;
    right: 0;
    width: 24px;
    text-align: center;
    color: #fff;
    line-height: 55px;
    margin-top: -25px;
    border-radius: 4px 0 0 4px;
}

div.sidenav .closebtn {
    right: 400px;
    padding: 0;
    margin: 0;
    top: 50%;
    background: #808080;
    height: 55px;
    width: 24px;
    text-align: center;
    color: #fff;
    line-height: 55px;
    margin-top: -25px;
    font-size: 18px;
    border-radius: 4px 0 0 4px;
}

section.bottom-table.screenshot_area {
    padding: 0;
    margin: 0;
}

.screenshot_area .container.tab-content {
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
    border: none;
}

div#appearance li.list-group-item {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

div#appearance .panel-body {
    padding: 0 20px;
}

potree-menu div#navigation,
potree-menu div#toolsMenu {
    padding: 12px 13px;
    border-bottom: 1px solid #ddd;
    margin: 0 20px;
}

div#materialsMenu {
    padding: 12px 13px;
    margin: 0 20px;
}

.modal-content.login-pop-up {
    height: auto;
    max-width: 450px;
    padding: 30px;
    margin: 0 20px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 52%;
    background-color: #ECF2F6;
}

.modal-content.login-pop-up .modal-body {
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 4px;
}

.mod-bx {
    background-color: #f4f4f4;
    text-align: left;
    margin: 10px;
    padding: 10px;
    border: #d4dce4 solid 1px;
    border-radius: 6px;
    color: #707d95;
}

.mod-bx a {
    color: #666;
}

.mod-bx input {
    position: relative;
    top: 2px;
}

button#btnAgree {
    width: 100%;
    background: #878787 !important;
    padding: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
}

button#btnAgree:hover {
    opacity: .8;
}

.login-pop-up .modal-footer {
    padding: 15px 0 0;
}

.login-pop-up h4.modal-title {
    font-size: 22px;
}

.login-pop-up .modal-header {
    padding-top: 0;
}

div#myConsent {
    background-color: rgba(0, 0, 0, 0.8);
}


/*path.leaflet-clickable {
    stroke: #36e4c6;
}*/

.leaflet-control-container .btn-primary {
    padding: 5px 10px !important;
}

div.leaflet-popup-content-wrapper,
div.leaflet-popup-tip {
    background-color: #ddd;
}

div.leaflet-container a.leaflet-popup-close-button {
    color: #777;
}

div#renderArea canvas {
    max-height: 100vh;
}

div.modal .modal-dialog .modal-content .modal-header {
    border-bottom: 1px solid #ddd;
    border-top: none;
}

.container.workspace-pop-up button {
    float: right;
}

.container.workspace-pop-up .table-bordered.dataTable>thead>tr>th {
    border-bottom-width: 1px !important;
}

.container.workspace-pop-up .table>thead>tr>th {
    border: none;
}

.leaflet-popup-content {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

div.olControlLayerSwitcher .layersDiv {
    background-color: #36e4c6;
    font-size: 12px;
}

.olControlLayerSwitcher .layersDiv label {
    color: #fff;
}

.olControlLayerSwitcher .layersDiv input[type=radio] {
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.olControlLayerSwitcher .layersDiv input[type=checkbox] {
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#controlToggle {
    padding: 20px;
    background: #eee;
    color: #2a323c;
    margin: 15px 20px;
    border-radius: 4px;
}

#controlToggle label {
    font-weight: normal;
}

div .annotorious-editor-button:hover {
    background: #31c9af;
}

div .annotorious-editor-button.annotorious-editor-button-save:hover {
    background: #31c9af;
}

div .annotorious-editor-button-save {
    background: #36e4c6;
}

div .annotorious-editor-button {
    font-size: 11px;
    color: #ffffff !important;
}

div .annotorious-editor {
    background-color: #fff;
    color: #453b3b;
    border: 1px solid #36e4c6;
}

div .annotorious-editor-text {
    border: none;
    background-color: transparent;
    color: #333;
}

div .annotorious-editor-button-container {
    background: none;
}

a.annotorious-editor-button {
    border: none;
    background: #36e4c6;
}

div .annotorious-popup {
    background-color: #fff;
    border: 1px solid #36e4c6;
}

div .annotorious-popup-text {
    color: #333;
}

div .annotorious-popup-buttons {
    width: auto;
}

iframe {
    vertical-align: top;
}

.body-sidebar-toggle-active .top-menu-buttons {
    transform: translate(-50%);
}

.my_polyline {
    stroke: red;
    fill: none;
    stroke-dasharray: 10, 10;
    stroke-width: 3;
}

.file-drop-zone {
    overflow-y: auto;
    max-height: 400px !important;
}

.ml-dialog-3d h4.modal-title {
    font-size: 27px;
    padding: 0;
}

.ml-dialog-3d .modal-header {
    border: none !important;
}

.ml-dialog-3d li {
    font-size: 16px;
    padding-bottom: 25px;
}

.ml-dialog-3d li a {
    color: #08d8b4;
    cursor: pointer;
}

.ml-dialog-3d.modal .modal-dialog div.modal-content {
    padding: 20px 20px 15px 45px;
    border-radius: 5px;
}

div#myModal.ml-dialog-3d .modal-dialog {
    max-width: 400px;
    left: 50%;
}

.ml-dialog-3d li i.fa {
    margin-right: 20px;
}

.ml-dialog-3d li.dropdown {
    padding: 0 22px;
}

div .leaflet-control-layers-toggle,
div .leaflet-control-measure .leaflet-control-measure-toggle,
div .leaflet-control-measure .leaflet-control-measure-toggle:hover {
    width: 26px;
    height: 26px;
}

div .leaflet-control-layers-toggle {
    background-size: 20px;
}

.videoSlide {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}

.videoSlide .videoSlideInner {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.videoSlide .videoSlideInner video {
    max-width: 100%;
}

.playpause {
    background-image: url(../../../image/play-icon.png);
    background-repeat: no-repeat;
    width: 10%;
    height: 10%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -7%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

div#myModal.ml-dialog-3d .modal-dialog {
    max-width: 510px;
    max-height: 80%;
    overflow-y: auto;
}

.ml-dialog-3d.modal .modal-dialog div.modal-content {
    padding: 20px 20px 15px 25px;
}

div#mySidenav .top-div span.glyphicon {
    float: right;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable {
    padding: 0;
    border: none;
}

.ui-dialog-titlebar.ui-widget-header {
    background: #36e4c6;
    color: #fff;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable * {
    font-family: 'PT Sans Caption', sans-serif;
    */
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable legend {
    font-size: 15px;
    padding-top: 13px;
    margin-bottom: 10px;
    padding-bottom: 3px;
    font-weight: bold;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable input[type="text"] {
    width: 100%;
    height: 40px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable button {
    border: none;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable button.ui-button-text-only {
    border: 2px solid #36e4c6;
    color: #36e4c6;
    background: #fff;
    padding: 5px 12px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable button.ui-button-text-only:hover {
    color: #fff;
    background: #36e4c6;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable .text-wrap textarea,
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable .text-wrap {
    width: 100% !important;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable label {
    font-weight: normal;
    font-size: 13px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable input[type="text"] {
    height: 35px;
    padding: 6px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable button.ui-button-text-only {
    border: 1px solid #36e4c6;
    color: #36e4c6;
    background: #fff;
    padding: 2px 8px;
    font-size: 11px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-dialog-buttons.ui-draggable legend {
    font-size: 14px;
    padding-top: 6px;
    margin-bottom: 5px;
    padding-bottom: 3px;
    font-weight: normal;
}

button.btn.btn-side-bar {
    height: 50px;
    border-radius: 40px !important;
}

.mySidenav-inner>.wrp-btn>.btn-group>.btn-group {
    padding: 7px;
}

div#mySidenav .top-div strong {
    font-weight: normal;
}

/*div#mySidenav .top-div {
    font-size: 14px;
}*/

.btn-group.btn-group-justified.first {
    margin-top: 5px;
}

.ml-dialog-3d .fileinput-upload.fileinput-upload-button,
.ml-dialog-3d .btn.btn-primary.btn-file {
    background-color: #fff !important;
    border: 1px solid rgba( 13, 186, 188, 1) !important;
    color: rgba( 13, 186, 188, 1) !important;
    padding: 6px 16px !important;
}

.ml-dialog-3d .fileinput-upload.fileinput-upload-button:hover,
.ml-dialog-3d .btn.btn-primary.btn-file:hover {
    background-color: rgba( 13, 186, 188, 1) !important;
    color: rgb(255, 255, 255) !important;
}

carousel.au-target .well.carousel {
    text-align: center;
    margin: 0;
}

.workspace-slider .img-wrap .buttons {
    position: absolute;
    left: 0;
    right: 0;
}

.workspace-slider .img-wrap .buttons button.slider-button-prev {
    float: left;
    background: #36e4c6;
    color: #fff;
    margin-left: 20px;
}

.workspace-slider .img-wrap button.slider-button-next {
    float: right;
    background: #36e4c6;
    color: #fff;
    margin-right: 20px;
}

.workspace-slider .img-wrap button.slider-button-next:hover,
.workspace-slider .img-wrap .buttons button.slider-button-prev:hover {
    opacity: .65;
}

.mySidenav-inner .wrp-btn.au-target {
    margin-bottom: 10px;
}

.viewer-3d iframe {
    height: 86vh;
}

div#myModal.ml-dialog-3d .modal-dialog {
    max-width: 580px;
    width: 100%;
}

.leaflet-objects-pane .leaflet-popup-content {
  width: 200px !important;
  font-weight: normal;
  color: #2a323c;
  word-wrap:break-word;
}

.leaflet-control-measure h3,
.leaflet-measure-resultpopup h3,
.leaflet-control-measure .tasks,
.leaflet-measure-resultpopup .tasks {
    border: none;
    margin: 0;
}

.leaflet-popup-content p {
    margin: 10px 0;
    font-weight: normal;
    color: #2a323c;
}

.leaflet-measure-resultpopup a.deletemarkup {
    color: transparent;
    width: 14px;
    display: block;
}

.marker-delete-button {
    background-image: url(../../images/trash.png);
    font-size: 0;
    border: none;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 center;
}

.activethumbnail {
  border: solid 2px #36e4c6;
}

/*
.dg.main.a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
side-nav-bar #page-content {
    position: relative;
}
.dg .c input[type=text] {
    margin: 0;
    padding: 0;
}
li.cr.string.color .saturation-field {
    margin: 0 !important;
    display: inline-block;
}
.dg.main .close-button {
    padding: 4px;
    height: 28px;
    border: 1px solid #999;
}
side-nav-bar #page-content canvas {
    width: 100% !important;
}
div.top-menu-buttons200 {
    top: 10px;
	margin-left: -110px;
}
*/

.workspace-slider #slides a.close {
  z-index: 1;
}

div.sidenav .closebtn {
  left: -23px;
}

.overlay {
  position: fixed !important;
}

input#txtTitle {
  width: 100%;
  height: 28px;
  padding: 5px;
}

input#txtSearch {
  height: 38px;
  width: 79%;
  margin-right: -6px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #a1a1a1;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  vertical-align: middle;
}

#threedViewer {
  position: relative;
}

  #threedViewer .dg.main.a {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #threedViewer .dg .c input[type=text] {
    margin: 0;
    padding: 0;
  }

  #threedViewer li.cr.string.color .saturation-field {
    margin: 0 !important;
    display: inline-block;
  }

  #threedViewer .dg.main .close-button {
    padding: 4px;
    height: 28px;
    border: 1px solid #999;
  }

#filterList {
  padding: 0 20px;
  max-height: 140px;
  overflow-y: auto;
}

  #filterList a {
    padding: 0;
  }

  #filterList p {
    font-family: inherit;
    color: #555;
  }

  #filterList h5 {
    margin-bottom: 2px;
  }

#threedViewer .dg .cr.function {
  background: #36e4c6 !important;
  text-shadow: none;
  font-weight: bold;
}

div#threedViewerContainer {
  position: relative;
  width: 100%;
}

div#loaderbar {
  z-index: 99;
  position: absolute;
  max-width: 280px;
  margin: -10px 0 0 -140px;
  height: 10px;
  text-align: center;
}

.progressbar-text {
  color:red;
}

footer p {
  font-family: "PT Sans Caption", sans-serif;
}

.screenshot_area .container.tab-content {
  min-height: 83vh;
}


div.dg .cr.number input[type=text] {
  color: #36e4c6;
}

div.dg {
  font-family: "PT Sans Caption", sans-serif;
  text-transform: uppercase;
}

.sidenav label {
  font-weight: normal;
}

div.workspace-slider #slides img {
  max-height: 65vh;
  min-height: 65vh;
}
div p {
    font-family: inherit;
}

/*#threedViewer canvas {
    height: 88vh !important;
}*/

.ui-tooltip{
	font-family: inherit !important;
}
.ml-dialog-3d .dropdown li {
    float: left;
    width: 50%;
}
.ml-dialog-3d .dropdown li:nth-child(2n+1) {
    clear: left;
}
.ml-dialog-3d .dropdown li .ui-switch-control {
    float: right;
    margin: 0 6px 0 0;
}
.ml-dialog-3d ul {
    display: inline-block;
    width: 100%;
}
.ml-dialog-3d .dropdown li.dropdown {
    padding: 0 10px;
}
.ui-switch-control .ui-switch {
    box-shadow: none !important;
}
.ui-switch-control .ui-switch.ui-switch-info>.ui-switch-input:checked ~ .ui-switch-label {
    background-color: #10d9b6 !important;
}
.workspace-pop-up .table-responsive {
    overflow-x: auto;
    max-height: 120px;
	margin-bottom: 10px;
}
.workspace-pop-up .table-responsive table.table.dataTable {
    margin-top: 0 !important;
}
.workspace-pop-up .table-responsive td {
    padding: 9px 14px;
    height: auto;
}
.ml-dialog-3d li i.fa {
    margin-right: 14px;
}
.ins-sumy {
  color: #333;
  margin-bottom: 10px;
}
.ins-sumy label {
font-weight: 600;
display: block;
margin: 0;
}
.ins-sumy span {
display: inline-block;    
margin-right: 12px;
}
.ins-sumy span.high {
  color: #ff0000;
}
.ins-sumy span.med {
  color: #e4e40a;
}
.ins-sumy span.low {
  color: #008000;
}
.irs-from, .irs-to, .irs-single {
  background: #36e4c6 !important;
}

/*****css 18/11/17*******/
.bashboard-block>li.col-md-1, .bashboard-block>li.col-sm-1 {
    float: none;
    display: inline-block;
}
#mySidenav .nav.nav-tabs>li a:hover {
    background: #ccc;
    color: #fff !important;
}
.ui-switch-control .ui-switch .ui-switch-label:after{
	text-shadow:none;
}
.search-box {
    margin-top: 5px;
}
.search-box .form-group {
    margin-bottom: 5px;
}
span.irs-line-mid, span.irs-line-left, span.irs-line-right, span.irs-bar, span.irs-bar-edge, span.irs-slider {
    background-image: url(../images/sprite-skin-modern.png);
}
.inputWidth {
  width:88% !important;
}
.btnMargin {
  margin-left:-6px;
}
.glyStyle{
  float:none !important;
  padding-left:8px;
}
.liWidth {
  width: 12%
}
.liTitle{
  color:#2a323c;
  font-size:13px;
}
.tabText{
  color:black;
  padding-left:6px;

}
.gallerytopMargin {
  margin-top: 0px
}
.topGlyGallery {
  top: 50%;
  background: #808080;
  color: #fff;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
}
.contentStyle {
  text-align: center;
  background-color:white
}
.compareSideMenu {
  width: 80%;
  margin-left: 15px;
}
.image:hover {
  transform: scale(1.09);
  opacity: 1;
}
/*.imgMargin {
  width: 25% !important;
  margin-left: -15px !important
}*/
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  padding: 2px;
  border: 1px solid black;
  back-ground-color: grey;
  background-color: #626262;
  border-radius: 5px;
  color: white;
}
.inspection {
  font-size: 1.3em;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: pointer;
  z-index: 5;
}

.img-nav-btn-left {
  left: 44%;
  border-radius: 0px 4px 4px 0px;
}

.img-nav {
  position: absolute;
  top: 6px;
  width: 20px;
}

.img-nav-btn-right {
  right: 44%;
  border-radius: 4px 0px 0px 4px;
}
.bottom-left {
  position: absolute;
  bottom: 30px;
  left: 20px;
  padding: 2px;
  color: white;
}
/*****new css 12 june****/
.new-design .bashboard-block {
    margin-top: -40px;
    margin-left: 0;
    margin-right: 0;
    padding: 0 35px;
	text-align: left;
}
div.page-header-title {
    box-shadow: none;
}
.inspection-details {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
	top: 35px;
    left: 15px;
    padding: 10px;
	right:15px;
	font-size: 12px;
	border: 1px solid #36e4c6;
}
.inp-map-main {
    position: relative;
}
.inp-map-left {
	float: left;
    width: 71%;
    border-right: 1px solid #ddd;
    padding-right: 15px;
	padding-bottom: 15px;
	position: relative;
	padding-left: 15px;
}
.inp-map-right {
    float: left;
    width: 29%;
	padding-top: 10px;
}
.inp-map-left-inner {
    padding: 35px 15px 15px;
    background-color: #2a323c;
	  position: relative;
}
.container-work-gl {
    background-color: #fff;
    margin: 12px;
}
.container-work-gl .container {
    padding-right: 0;
}
.inp-img-thum {
    float: left;
    width: 25%;
	padding: 5px;
	position: relative;
}
.inp-img-thum img {
    width: 100%;
    border-radius: 0 !important;
    line-height: normal;
    margin: 0;
    padding: 5px;
    height: 65px;
    object-fit: cover;
	border: 1px solid #2a323c;
	color: #888;	
	cursor:pointer;
}
.inp-img-thum img:hover,.inp-img-thum img.activethumbnail {
    transform: none;
	border:1px solid #36e4c6;
}
.inspection-details .liStyle {
    border: none;
    padding: 4px 0;
}
.inp-img-thum .top-left {
    font-size: 8px;
    left: 12px;
    background: transparent;
    border: initial;
    padding: 0;
    top: 15px;
}
.inp-img-thum .imageDownloadIcon {
    right: 15px;
    bottom: 15px;
    left: inherit;
}
.inp-img-thum .imageDownloadIcon i.fa {
    font-size: 13px;
}
.inp-mp-top {
    width: 100%;
    display: inline-block;
    margin: 0 0 8px;
	text-align: right;
}
.top-icons {
    display: inline-block;
    vertical-align: top;
    padding: 0 4px;
}
.inp-mp-top .icon-lg {
    font-size: 28px;
    width: 32px;
}
.top-icons .dropdown-menu {
    top: 36px;
}
.top-icons a:hover svg,.inp-top-actions a:hover svg {
    fill: rgba(161,163,159,1.00);
    border-color: rgba(161,163,159,1.00);
}
.top-icons a:active svg ,.inp-top-actions a:active svg{
    fill: rgba(66,227,198,1.00);
	border-color:rgba(66,227,198,1.00);
}
.disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
}
.inp-search-bx {
    padding: 0 6px;
    position: relative;
}
.inp-search-bx input {
    border: 1px solid #ddd;
    height: 32px;
    border-radius: 4px;
    width: 100%;
	color: #444;
    padding: 5px 8px;
}
.row.inp-map-main {
    margin: 0;
}
.inp-search-bx i.fa {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 15px;
    color: #777;
}
h3.inp-thum-title {
    background: #2a323c;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    padding: 1px 10px;
	 cursor: pointer;
   margin-top:0px;
}
.inp-img-thum-main {
    display: inline-block;
    width: 100%;
    padding: 0 8px;
	max-height: 226px;
    overflow-y: auto;
}
.inp-top-actions {
    position: absolute;
    top: 5px;
    right: 10px;
}
.inp-top-actions svg {
    width: 24px;
    fill: #fff;
    margin: 0 2px;
    border: 1px solid #fff;
    border-radius: 50%;
}
.inp-top-status svg{
	width: 24px;
	height: 27px;
	overflow: visible;
}
.st13 {
  fill: rgba(193,39,45,1.00); /* #C1272D */
}
.st14 {
  fill: rgba(204,204,0,1.00); /* #CCCC00 */
}
.st15 {
  fill: rgba(0,146,69,1.00); /* #009245 */
}
.st16 {
  fill: rgba(0,113,188,1.00); /* #0071BC */
}
.st17 {
  fill: rgba(255,255,255,1.00); /* #FFFFFF */
}
text.count {
  font-family: 'PTSans-Regular';
  font-size: 9px;
  color: rgba(33,37,41,1.00) !important; /* #212529 */
}
circle.count {
  fill: rgba(255,255,255,1.00); /* #FFFFFF */
  stroke: rgba(0,0,0,1.00); /* #000000 */
  stroke-width: 0.5;
  stroke-miterlimit: 10;
}
.inp-top-status {
    padding: 11px 0;
}
h2.insp-title {
    font-size: 18px;
    float: left;
    line-height: 1.2;
    padding-top: 5px;
}
div .mini-ol3-view {
    right: 15px;
    bottom: 15px;
	width: 300px;
	height: 150px;
}
.insp-sidebar-toggle-active .inp-map-right {
    display: none;
}
.insp-sidebar-toggle-active .inp-map-left {
    width: 100%;
    border: none;
}
span.severityStyle {
    border: none;
    font-size: 10px;
	padding: 0 3px;
	border-radius: 2px;
}
div.bottom-left {
	bottom: 9px;
    left: 10px;
}
button.inp-btn {
    border: none;
    background: #e9e9e9;
    width: 14px;
    height: 80px;
    position: absolute;
    border-radius: 2px;
    right: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
    top: 50%;
    margin-top: -40px;
}
.insp-sidebar-toggle-active .inp-btn i::before {
    content: "\f0d9";
}
h3.inp-thum-title i {
    float: right;
    font-size: 28px;
}
button.button-menu-mobile {
    font-size: 17px;
    height: 36px;
    width: 36px;
    margin-top: 17px;
}
.add-filter-btn button.btn {
    font-size: 17px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    color: #000;
    border: 1px solid;
    background: transparent;
    box-shadow: none;
}
.add-filter-btn button.btn:hover {
	color: rgba(161,163,159,1.00);
    border-color: rgba(161,163,159,1.00);
}
.add-filter-btn button.btn:active {
	color: rgba(66,227,198,1.00);
    border-color: rgba(66,227,198,1.00);
}
.insp-tage span#tag {
    position: absolute;
    right: 10px;
    z-index: 12;
    padding: 0;
    width: auto;
    border: none;
    background: transparent;
    font-size: 19px;
    color: #777;
    top: 8px;
}
.insp-tage input#tagValue {
    width: 255px;
    background: #fff;
    height: 35px;
    margin-bottom: 10px;
	z-index: 0;
}
.insp-tage .selectedAnnotationStyle {
    margin-right: 7px;
    opacity: .7;
    padding: 5px 12px;
    border-radius:3px;
}
.insp-tage button.btn.btnStyle {
    margin: 9px 4px 10px 2px;
    padding: 5px 10px !important;
    border-width: 1px !important;
	border-radius:3px;
}
.inspection-details h5 {
    font-weight: normal;
}
.inp-map-left-inner .panel.panel-default {
    background: rgba(255, 255, 255, 0.8);
    box-shadow: none !important;
    left: 15px;
    right: 15px !important;
    width: auto !important;
    top: 35px !important;
    border-radius: 0;
    height: auto !important;
    border: 1px solid #36e4c6;
	font-size: 13px;
}
.inp-map-left-inner .panel.panel-default .panel-heading {
    background: transparent;
	color: #333;
    font-weight: normal;
	padding: 10px;
}
.inp-map-left-inner .panel.panel-default .panel-body {
	padding: 0 10px
}
.inp-map-left-inner .panel.panel-default .panel-body .container {
    padding-left: 0;
}
.inp-map-left-inner .panel.panel-default .panel-body .container button.btn.btn-primary {
    margin: 0;
	border-width: 1px !important;
    padding: 5px 15px !important;
	border-radius:3px;
}
.inp-map-left-inner .panel.panel-default .panel-body .container label {
    font-weight: normal;
}
.inp-map-left-inner .panel.panel-default .panel-body .container input#comment {
    background: #fff;
}
.new-design .bashboard-block>li {
    padding: 0 3px;
}
body .btn-white-black {
    padding: 5px 10px !important;
    border: 1px solid #666 !important;
    color: #666 !important;
    border-radius:3px;
}
body .btn-white-black:hover{
    background:#666 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
}
body .btn-black{
    background:#666 !important;
    color: #fff !important;
    border: 1px solid #666 !important;
    border-radius:3px;
}
body .btn-black:hover {
    padding: 5px 10px !important;
    border: 1px solid #666 !important;
    color: #666 !important;
    background:#fff !important;
	
}
.tooltip1 {
    position: relative;
    display: inline-block;
}
.tooltip1 .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 6px;
    position: absolute;
    z-index: 1;
    top: 125%;
    left: 50%;
    transform: translate(-50%);
    font-size: 13px;
    white-space: nowrap;
	line-height: 1.5;
}
.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.tooltip1:hover .tooltiptext {
    visibility: visible;
}
.mySidenav-inner button.inp-btn {
    left: -14px;
}
.work-3d .work-3d-inner {
    width: calc(100% - 350px);
}
.work-3d-act .work-3d-inner {
    width: 100%;
}
.work-3d-inner {
	padding: 15px;
    background: #fff;
    float: left;
    width: 100%;
	position: relative;
	overflow: hidden;
}
.work-3d-act .right-side-nav {
	display:none;
}
.work-3d-act .inp-btn i::before {
    content: "\f0d9";
}
.right-side-nav {
    position: relative;
    height: 88vh;
    float: left;
    width: 0;
    background: #fff;
    border-left: 1px solid #eee;
	display:block;
	overflow-y: auto;
	width: 350px;
}
.right-side-nav div#mySidenav .tab-content {height: auto;}
.work-3d-act button.inp-btn {
    right: 0;
}
.right-side-nav #mySidenav .nav.nav-tabs>li {
    width: auto;
}
.right-side-nav #mySidenav .nav.nav-tabs>li a {
    padding: 10px;
}
.right-side-nav .mission-nm {
    padding: 10px 0;
}
.work-3d-inner div#annImgViewer .container.workspace-slider {
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 10px;
	background:#fff;
}
.annotation-design-new .inp-search-bx {
    padding: 0;
    max-width: 255px;
    margin-bottom: 10px;
}
.annotation-inner>.annotation-ul {
    width: 125px;
    float: left;
    background: #e5e5e5;
    margin-right: 12px;
    border-right: 8px solid #eeee;
    padding: 5px 0;
    height: 120px;
    position: relative;
}
.ant-point {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #000;
    border-radius: 50%;
    top: 1px;
    right: -6px;
    display: block;
}
.annotation-inner>.annotation-ul li a {
    display: inline-block;
    padding: 1px 10px;
    width: 100%;
    margin: 1px 0;
    cursor:pointer;
}
.annotation-ul.ant-bx-1 li a:hover,.annotation-ul.ant-bx-1 li a.ant-active {
    color: #36e4c6;
}
.annotation-ul.ant-bx-2 li a:hover,.annotation-ul.ant-bx-2 li a.ant-active {
    background: #36e4c6;
}
.ant-new-add {
    width: 114px;
    float: left;
    background: #e5e5e5;
    margin-right: 12px;
    border: 1px solid #36e4c6;
    padding: 5px 5px;
    height: 120px;
	position: relative;
}
div.annotation-design-new {
    padding: 0;
}
.ant-new-add input {
    width: 100%;
    border: none;
    height: 24px;
    border-radius: 3px;
	padding: 5px;
}
.inp-add-input {
    position: relative;
}
.ant-close {
    position: absolute;
    top: -15px;
    right: -11px;
    font-size: 18px;
}
.inp-add-input i.fa {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 15px;
}
.ant-add {
    position: absolute;
    bottom: -23px;
    right: 0;
    font-size: 17px;
    color: #999;
}
.ant-rem {
    color: #999;
    font-size: 16px;
    bottom: -21px;
    right: 20px;
    position: absolute;
}
.inp-map-left-inner .panel.panel-default .panel-body .form-group {
    margin-bottom: 10px;
}
.annotation-inner {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}
.ant-note {
    float: right;
	margin-top: -13px;
}
.ant-note textarea {
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 5px;
    width: 165px;
}
.ant-note label {
    display: block;
    margin: 0;
    font-weight: normal;
    line-height: 1;
}
#map2 canvas.ol-unselectable {
  object-fit: cover;
  /*height: 400px !important;*/
}
.act-tab .das-bx {
    background: #e6e6e6 !important;
}
.act-tab i, .act-tab .liTitle {
    color: #36e4c6 !important;
}
ul.annotation-ul-inner {
    height: 111px;
    overflow-y: auto;
    margin-top: 2px;
}
body ::-webkit-scrollbar {
    width: 8px;
}
body ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body ::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.right-side-nav nav.navbar {
    margin-bottom: 0;
}
.right-side-nav div#mySidenav {
    padding-bottom: 0;
}
.right-side-nav .mission-nm .list-group-item input[type=text] {
    margin: 0 0 8px;
    width: 100%;
	border: 1px solid #ddd;
    border-radius: 2px;
    padding: 2px 5px;
}
div.leaflet-control-geosearch form input {
    height: 26px;
}
div.leaflet-control-geosearch form {
    border: none;
    border-radius: 4px;
    top: 0px;
    margin-left: 5px;
}
.leaflet-left .leaflet-control {
    box-shadow: none;
}
div.leaflet-bar a:first-child {
    margin-bottom: 4px;
    box-shadow: none;
	padding: 0;
}
.leaflet-bar.message {
    background: #fff;
    padding: 2px 7px;
}
.leaflet-bar.message.displayNone {
    display: none;
}
button, a.btn {
    vertical-align: top;
}
.upload.ready .upload-result {
    padding: 6px 14px;
}
a.btn.file-btn {
    color: #fff;
}
th.aut-sort.aut-asc {
    color: #36e4c6;
}
ul.pagination {
    margin-top: 0;
}
select#pageSize {
    background: transparent;
    height: 34px;
    padding: 0 4px;
}
.form-inline label[for=pageSize] {
    font-weight: normal;
    font-size: 14px;
    padding-right: 5px;
    color: #777;
}
.form-inline .form-group.pull-right {
    margin-bottom: 20px;
}
#SummaryNav {
  background-color: #f2f2f2 !important;
  width: 25%;
  /*position: absolute;*/
  height: 65%;
  border-radius: 5px;
  padding-bottom:25px;
  font-size: 12px;
}

/*#summaryContent {
  float: left;
  width: 75%;
  margin-left: 200px;
}*/
.fluidMarginTop{
  margin-top:40px;
}
.poweredLogo {
  max-width: 77px;
  margin-left: 84px;
  margin-top: -38px;
}
.ol-attribution button, .ol-attribution ul{
  display:none !important;
}
.badgeLow {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 8px;
  margin-top: -11px;
  margin-left: -7px;
  position: absolute;
  background-color: rgba(0,146,69,1.00);
  border-radius: 10px;
  color:white;
}

.badgeInfo {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 8px;
  margin-top: -11px;
  margin-left: 1px;
  position: absolute;
  background-color: rgba(0,113,188,1.00);
  border-radius: 10px;
  color: white;
}

.badgeMed {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 8px;
  margin-top: -10px;
  margin-left: -9px;
  position: absolute;
  background-color: rgba(204,204,0,1.00);
  border-radius: 10px;
  color: white;
}

.badgeHigh {
  text-transform: uppercase;
  padding: 3px 7px;
  font-size: 8px;
  margin-top: -10px;
  margin-left: -2px;
  position: absolute;
  background-color: rgba(193,39,45,1.00);
  border-radius: 10px;
  color: white;
}
.contTopMargin{
  margin-top:40px;
}
.alert-upload {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.arrowSize {
  font-size: 2.333333em !important;
}
.mouseStyle{
  cursor:pointer;
}

/* -------------------------------------------------------------------
-----------------Some Custom Changes Start Here ----------------------/

/* UserProfilePageCss commited by Ankit*/

.page_header{
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
}
.btn-anra-primary {
  background-color: #fff!important;
  border: 2px solid rgba( 13, 186, 188, 1 ) !important;
  color: rgba( 13, 186, 188, 1 ) !important;
  padding: 5px !important;
}

.btn-queue-primary{
  background-color: #fff!important;
  border: 2px solid rgba( 13, 186, 188, 1 ) !important;
  color: rgba( 13, 186, 188, 1 ) !important;
  padding: 5px 8px !important;
}

.p-a-10{
  padding:10px;
}

.m-t-15{
  margin-top:18px;
}

.fs-12{
  font-size: 12px;
}

.fa-sm-user-view{
  font-size: 14px;
  color: #000; /* #36e4c6 , #fff */
}
.heading-main{
  font-size: 15px;
  font-weight: bold;
  color: #000; /* #000 , #fff*/
  padding: 4px 6px;
  width: 100%;
  background: #fff; /* #fff , #000*/
}

.user_table> thead>tr>th{
  font-size: 13px;
}

.box_user_profile{
  border:1px solid #eee;
  margin: 10px 0;
  background: #eee;
  padding: 5px;
}

.profile_img_custom{
  max-width: 100%;
  max-height: 85px;
  padding: 5px;
  margin: 0 30%;
  position: relative;
}
.img_camera{
  position: absolute;
  right: 84px;
  bottom: 26%;
  display: none;
}
.box_user_profile:hover .img_camera{
  display: block;
}


.text-fa-camera{
  color: #3c3b3b;
}

.view_inner_custom{
  padding: 0px !important;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  background-color: transparent !important;
}


/* Maintanance Dashboard css committed by Ankit */

/*some custom changes*/

.color_shade_maintanance{
    width: 10px;
    height: 10px;
    margin: 0;
    display: inline-block;
  }
  
  .bg-completed{
    background-color: #5ADB63;
  }
  
  .bg-newTask{
    background-color: #FFDA44;
  }
  
  .bg-partially_completed{
    background-color: #FF4500;
  }
  
  .bg-postpone{
    background-color: #D80027;
  }
  
  .thumb_wrapper_maintanance{
    text-align: center;
    border: 1px solid #eee;
    min-height: 245px;
    margin-top: 10px;
  }
  
  .img_heading_maintanance{
    font-size: 16px;
    font-weight: 600;
    color: #7d7c7c;
    margin-top: 10px;
  }
  
  .thumb_content_maintanance{
    padding: 10px 5px;
    font-size: 12px;
    color: #000000;
    text-align: left;
  }
  .heading_maintanance{
    font-weight: 600;
  }
  .img-box-maintanance{
    height: 70px !important;
  }
  .img-box-maintanance img{
    height: 70px;
    margin: 5px auto;
  }
  
  .box_overduemaintanance{
    height: 255px;
    overflow-x:hidden;
    overflow-y: scroll;
  }
  
  


  /* Black header table css committed by Ankit */

.table-bordered{
    font-size: 13px;
  }
  .table-bordered thead tr{
    background: #000;
  }
  .table-bordered thead tr th{
    color: #fff;
    font-size: 13px;
  }
  
  .ActiveDot{
    height: 8px;
    width: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .InActiveDot{
    height: 8px;
    width: 8px;
    background: orange;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .accepted{
    height: 8px;
    width: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  .closed{
    height: 8px;
    width: 8px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .proposed{
    height: 8px;
    width: 8px;
    background: orange;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .new{
    height: 8px;
    width: 8px;
    background: #35bcf3;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .started{
    height: 8px;
    width: 8px;
    background: gray;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .disabled_icon{
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }
  
  .disabled_icon a{
    pointer-events: none;
    text-decoration: none;
  }
  
  .btn-action-icons{
    background: #0099CC !important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    color: #fff;
  }
  .btn-action-icons:hover{
    background: #0099CC !important;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    color: #fff !important;
  }
  
  .input-group .form-control{
    z-index: 0!important;
  }

  /* Drone View Page css starts here*/

  .header{
    margin: 15px 0px;
    padding: 5px 15px;
    background: #000;
  }
  span.heading_title {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
  }

  .image-icon_header{
    display: inline-block;
    margin: 0 auto;
    border-radius: 50%;
    vertical-align: middle;
    font-size: 25px;
  }


  /* --------------------------------------------------------
-----------------Some Custom Changes Ends here----------------------/