<template>
    <style>
      .mission-instructions {
        line-height: 2;
        background: #fff093;
        color: black;
        padding: 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 5px;
        margin: 20px 0 20px 0;
      }
    </style>
    <ui-row>
      <ui-column size="md-12 lg-12 xs-12">
      <form role="form" validate.bind="validation">
            <ui-row>
              <ui-column size="md-12 lg-12 xs-12">
                  <div class="mission-instructions" show.bind="mission.MissionType == 1 || mission.MissionType == 2 || mission.MissionType == 5">
                      <div><strong>Step 1</strong> : Draw the mission path (Polygon/Linestring)</div>
                      <div><strong>Step 2</strong> : Adjust the below mission parameters</div>
                      <div><strong>Step 3</strong> : Save the mission</div>
                    </div>
        
                    <div class="mission-instructions" show.bind="mission.MissionType == 3 || mission.MissionType == 4 || mission.MissionType == 8">
                      <div><strong>Step 1</strong>: Set Point of Interest (e.g. tower location) on the map or Enter location coordinates
                        manually
                      </div>
                      <div><strong>Step 2</strong>: Adjust the below mission parameters</div>
                      <div><strong>Step 3</strong>: Save the mission</div>
                    </div>
        
                    <div class="mission-instructions" show.bind="mission.MissionType == 6">
                      <div><strong>Step 1</strong>: Set starting point of Guidewire</div>
                      <div><strong>Step 2</strong>: Set end point of Guidewire</div>
                      <div><strong>Step 3</strong>: Save the mission</div>
                    </div>
              </ui-column>
            </ui-row>

            <ui-row show.bind="mission.MissionType == 6">
              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label" for="duration">Height of the Starting point of Guidewire (Feet)</label>
                <input type="number" min="5" max="499" class="ui-input-custom" placeholder="" value.bind="mission.Altitude" />
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label" for="duration">Height of the End point of Guidewire (Feet)</label>
                <input type="number" min="20" max="400" class="ui-input-custom" placeholder="" value.bind="mission.TowerHeight" />
              </ui-column>
            </ui-row>


            <ui-row show.bind="mission.MissionType === 3 || mission.MissionType === 4">
              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label">Latitude</label>
                <input type="text" class="ui-input-custom" placeholder="Latitude" value.bind="mission.PointOfInterestLat" info="Latitude" />                
              </ui-column>


              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label">Longitude</label>
                <input type="text" class="ui-input-custom" placeholder="Longitude" value.bind="mission.PointOfInterestLng" info="Longitude"/>
              </ui-column>
            </ui-row>

            <ui-row>

              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label" for="type">Speed (mph)</label>
                <input type="number" min="1" max="35" class="ui-input-custom" validate="Speed" placeholder="" value.bind="mission.Speed" />
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 1 || mission.MissionType == 2 || mission.MissionType == 5 || mission.MissionType == 10">                
                <label class="control-label" show.bind="mission.MissionType != 10" for="duration">Altitude (feet)</label>
                <label class="control-label" show.bind="mission.MissionType == 10" for="duration">Facade Height (feet)</label>
                <input type="number" min="5" max="499" class="ui-input-custom" validate="Altitude" placeholder="" value.bind="mission.Altitude" />
              </ui-column>  

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 2 || mission.MissionType == 5 || mission.MissionType == 10">
                <label class="control-label" show.bind="mission.MissionType != 10" for="type">Side OverLap (%)</label>
                <label class="control-label" show.bind="mission.MissionType == 10" for="type">Overlap</label>
                <input type="number" min="5" max="499" class="ui-input-custom" validate="SideLapAngle" placeholder="" value.bind="mission.SideLapAngle" />
              </ui-column> 

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 2 || mission.MissionType == 5">
                <label class="control-label" for="duration">Flight Direction (&deg;)</label>
                <input type="number" min="5" max="499" class="ui-input-custom" validate="HatchAngle" placeholder="" value.bind="mission.HatchAngle" />
              </ui-column>
              
              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 3 || mission.MissionType == 4 || mission.MissionType == 8">              
                <label class="control-label" show.bind="mission.MissionType != 10" for="duration">Tower Height</label>                
                <input type="number" min="20" max="400" class="ui-input-custom" validate="TowerHeight" placeholder="" value.bind="mission.TowerHeight"/>
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8 || mission.MissionType == 10">
                <label class="control-label" for="duration">Clearance Height (ft)</label>
                <input type="number" min="10" max="20" class="ui-input-custom" validate="ClearanceHeight" placeholder="" value.bind="mission.ClearanceHeight"
                />
              </ui-column>

            </ui-row>

            <ui-row>
              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                <label class="control-label" for="type">Min drone distance from the Tower (ft)</label>
                <input type="number" min="20" max="300" class="ui-input-custom" validate="Speed" placeholder="" value.bind="mission.DroneTowerDistance"/>
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                <label class="control-label" for="duration">No. of inspection Divisions(ft)</label>
                <input type="number" min="2" max="12" class="ui-input-custom" validate="TowerHeight" placeholder="" value.bind="mission.InspectionDivisions"/>
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                <label class="control-label" for="duration">Rotation Type: </label>
                <Select class="ui-input-custom" value.bind="mission.ClockwiseDirection">
                  <option repeat.for="item of directions"
                          model.bind="item.value">
                    ${item.text}
                  </option>
                </Select>
              </ui-column>

              <ui-column size="md-12 lg-12 xs-12">
                <label class="control-label" for="type">Auto Capture Images</label>
                <ui-switch info width="8" checked.bind="mission.AutoCapture" label-off="No" label-on="Yes"></ui-switch>
              </ui-column>             

              <ui-column size="md-12 lg-12 xs-12" show.bind="mission.AutoCapture">
                <label class="control-label" for="type">Autocapture Time (Seconds)</label>
                <input type="number" min="1" max="60" class="ui-input-custom"  placeholder="" value.bind="mission.AutoCaptureTime"/>
              </ui-column>  

            </ui-row>

            <ui-row>
              <ui-column size="md-12 lg-12 xs-12">
                <ui-input-group class="pull-right">
                    <button class="btn btn-primary btn-lg btnMargin" click.delegate="saveItem()">
                      <i class="fa fa-check" aria-hidden="true"></i> Save
                    </button>
                </ui-input-group>
              </ui-column>
            </ui-row>
        </form>
      </ui-column>
    </ui-row>
      

<!-- <ui-row>
  <ui-column size="md-12 lg-12 xs-12">
      <ui-row>  
          <ui-column size="md-12 lg-12 xs-12">
              <div class="mission-instructions" show.bind="mission.MissionType == 1 || mission.MissionType == 2 || mission.MissionType == 5">
                <div><strong>Step 1</strong> : Draw the mission path (Polygon/Linestring)</div>
                <div><strong>Step 2</strong> : Adjust the below mission parameters</div>
                <div><strong>Step 3</strong> : Save the mission</div>
              </div>
  
              <div class="mission-instructions" show.bind="mission.MissionType == 3 || mission.MissionType == 4 || mission.MissionType == 8">
                <div><strong>Step 1</strong>: Set Point of Interest (e.g. tower location) on the map or Enter location coordinates
                  manually
                </div>
                <div><strong>Step 2</strong>: Adjust the below mission parameters</div>
                <div><strong>Step 3</strong>: Save the mission</div>
              </div>
  
              <div class="mission-instructions" show.bind="mission.MissionType == 6">
                <div><strong>Step 1</strong>: Set starting point of Guidewire</div>
                <div><strong>Step 2</strong>: Set end point of Guidewire</div>
                <div><strong>Step 3</strong>: Save the mission</div>
              </div>
          </ui-column>
        </ui-row>

        <form validate.bind="validation">
          <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
              
    
              <ui-row show.bind="mission.MissionType == 6">
                  <ui-column size="md-12 lg-12 xs-12">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Height of the Starting point of Guidewire (Feet) </ui-input-label>
                        <ui-input number min="5" max="499" value.bind="mission.Altitude" ></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Height of the End point of Guidewire (Feet) </ui-input-label>
                        <ui-input number min="20" max="400" value.bind="mission.TowerHeight"></ui-input>
                      </ui-input-group>
                  </ui-column>
              </ui-row>
    
              <ui-row show.bind="mission.MissionType === 3 || mission.MissionType === 4">
                  <ui-column size="md-12 lg-12 xs-12">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Latitude </ui-input-label>
                        <ui-input text placeholder="Latitude" value.bind="mission.PointOfInterestLat" info="Latitude"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Longitude </ui-input-label>
                        <ui-input text placeholder="Longitude" value.bind="mission.PointOfInterestLng" info="Longitude"></ui-input>
                      </ui-input-group>
                  </ui-column>
              </ui-row>
    
              <ui-row>
                  <ui-column size="md-12 lg-12 xs-12">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Speed (mph)</ui-input-label>
                        <ui-input number min="1" max="35" placeholder="" validate="Speed" value.bind="mission.Speed" ></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 1 || mission.MissionType == 2 || mission.MissionType == 5 || mission.MissionType == 10">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType != 10" for="duration"> Altitude (feet) </ui-input-label>
                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType == 10" for="duration"> Facade Height (feet) </ui-input-label>
                        <ui-input number min="5" max="499" placeholder="" validate="Altitude" value.bind="mission.Altitude" ></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12" show.bind="mission.MissionType == 2 || mission.MissionType == 5 || mission.MissionType == 10">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType != 10" for="type"> Side OverLap (%) </ui-input-label>
                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType == 10" for="type"> Overlap </ui-input-label>
                        <ui-input number min="5" max="499" placeholder="" validate="SideLapAngle"  value.bind="mission.SideLapAngle"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12"  show.bind="mission.MissionType == 2 || mission.MissionType == 5">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Flight Direction (&deg;) </ui-input-label>
                        <ui-input number min="5" max="499" placeholder="" validate="HatchAngle" value.bind="mission.HatchAngle"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12"  show.bind="mission.MissionType == 3 || mission.MissionType == 4 || mission.MissionType == 8">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom" show.bind="mission.MissionType != 10" for="duration"> Tower Height </ui-input-label>
                        <ui-input number min="20" max="400" placeholder="" validate="TowerHeight"  value.bind="mission.TowerHeight"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12"  show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8 || mission.MissionType == 10">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Clearance Height (ft) </ui-input-label>
                        <ui-input number min="10" max="20" placeholder="" validate="ClearanceHeight"  value.bind="mission.ClearanceHeight"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12"  show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Min drone distance from the Tower (ft) </ui-input-label>
                        <ui-input number min="20" max="300" placeholder=""  validate="DroneTowerDistance" value.bind="mission.DroneTowerDistance"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12"  show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> No. of inspection Divisions(ft) </ui-input-label>
                        <ui-input number  min="2" max="12" placeholder=""  validate="InspectionDivisions" value.bind="mission.InspectionDivisions"></ui-input>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-6 lg-6 xs-6" show.bind="mission.MissionType === 3 || mission.MissionType === 4 || mission.MissionType == 8">
                    <ui-input-group>
                      <ui-input-label class="ui-label-custom"> Rotation Type: </ui-input-label>
                        <select class="select-ui-input" value.bind="mission.ClockwiseDirection">
                          <option repeat.for="item of directions" model.bind="item.value">
                            ${item.text}
                          </option>
                        </select>
                    </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-6 lg-6 xs-6">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom">Auto Capture Images</ui-input-label>
                        <ui-switch info width="8" checked.bind="mission.AutoCapture" label-off="No" label-on="Yes"></ui-switch>
                      </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-12 lg-12 xs-12" show.bind="mission.AutoCapture">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Autocapture Time (Seconds) </ui-input-label>
                        <ui-input number min="1" max="60" placeholder="" value.bind="mission.AutoCaptureTime"></ui-input>
                      </ui-input-group>
                  </ui-column>
              </ui-row>
    
              <ui-row>
                <ui-column size="md-12 lg-12" class="boxForm">
                  <ui-input-group>
                      <button class="btn btn-primary btn-lg btnMargin" click.delegate="saveItem()">
                        <i class="fa fa-check" aria-hidden="true"></i> Save
                      </button>
                  </ui-input-group>
                </ui-column>
              </ui-row>
            </ui-column>
          </ui-row>
        </form>
  </ui-column>
</ui-row> -->
  
</template>
