<template>
  <style>
   
  </style>
  
  <require from="../dashboard/network-side-bar"></require>
  <require from="./mission-side-bar"></require>
  <link rel="stylesheet" href="styles/leaflet.css">
  <link rel="stylesheet" href="styles/leaflet.draw.css">
  <link rel="stylesheet" href="styles/leaflet-control-geosearch.css">


  <ui-loader busy.bind="isWaiting" big></ui-loader>

    <ui-drawer-toggle class="right-menu" id="" drawer.bind="drawerOSS" class="icon-moon-cog" theme="info"></ui-drawer-toggle>
    
        <div class="">
          <!-- <div class="page-header-title">
            <h4 class="page-title">WayPoints</h4>
          </div> -->
        </div>
        <div style="display:block; width:100%;">
          <div id="map" style="height:100vh;width:100%;position:relative;">
            <div class="leaflet-control-container leaflet-top leaflet-right">
              <button type="button" id="btnLive" title="Live Mission View" click.delegate="liveDroneView()" class="btn-primary leaflet-control"><i class="anra-ico_plane_dark"></i></button>
              <button type="button" id="btnBack" title="Back" click.delegate="back()" class="btn-primary leaflet-control"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>

        <ui-drawer ref="drawerOSS" position="end" scroll padded>
          <!-- <div class="lf_op3">
            <div class="check_list">
              
                    <div replace-part="side-bar-top-content">
                      <div class="top-div normal-text">
                        <div>
                          Mission: ${mission.Name}
                        </div>
                        <div class="misn-div">Drone: ${droneName}</div>
                        <div class="misn-div">Drone Type: ${brandName}</div>
                      </div>
                    </div>
            
            
            
                    <div >
            
                      <nav class="navbar" role="navigation">
            
                        <ul class="nav nav-tabs" style="padding:0">
                          <li class="tab-menu ${(selectedTab == 'menu1') ? 'active active-tab': ''}">
                            <a title="Mission" data-toggle="tab" href="#menu1" click.delegate="onTabSelect('menu1')"><i class="anra-ico_plane_dark"></i><span class="tabText">Mission</span></a>
                          </li>
                          <li class="tab-menu ${(selectedTab == 'menu2') ? 'active active-tab': ''}">
                            <a title="Airspace" data-toggle="tab" href="#menu2" click.delegate="onTabSelect('menu2')"><i class="anra-ico_location_light"></i><span class="tabText">Airspace</span></a>
                          </li>
                          <li class="tab-menu ${(selectedTab == 'menu3') ? 'active active-tab': ''} ${advisoryCls}">
                            <a title="Advisories" data-toggle="tab" href="#menu3" click.delegate="onTabSelect('menu3')"><i class="anra-ico_stabilize"></i><span class="tabText">Advisories</span> </a>
                          </li>
                        </ul>
            
                        <div>
                          <div if.bind="selectedTab=='menu1'" id="menu1" if.bind="mission" class="tab-pane fade ${(selectedTab == 'menu1') ? 'in active': ''}">
                            <mission-side-bar mission.two-way="mission" save.call="saveItem()"></mission-side-bar>
                          </div>
            
                          <div id="menu2" if.bind="selectedTab=='menu2'" class="tab-pane fade ${(selectedTab == 'menu2') ? 'in active': ''}">
                            <network-side-bar></network-side-bar>
                          </div>
            
                          <li id="menu3" if.bind="selectedTab=='menu3'" class="tab-pane fade ${(selectedTab == 'menu3') ? 'in active': ''}">
                            <ul repeat.for="item of advisories">
                              <li class="advisory-row advisory-${item.color}">
                                <div><strong>${item.name}</strong></div>
                                <div>Type: ${item.type}</div>
                                <div>Distance: ${item.distance} meters</div>
                              </li>
                            </ul>
                        </div>
            
                        </div>
                      </nav>
            
            </div>
                
            </div> -->

          <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
              <ui-row>

                <ui-column size="md-12 lg-12 xs-12">
                  <div> Mission: ${mission.Name} </div>
                </ui-column>

                <ui-column size="md-6 lg-6 xs-6">
                  <div class="misn-div">Drone: ${droneName}</div>
                </ui-column>

                <ui-column size="md-6 lg-6 xs-6">
                  <div class="misn-div">Drone Type: ${brandName}</div>
                </ui-column>

              </ui-row>

              <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                  <div>
                      <ul class="tabs_waypoints" style="padding:0">
                          <li class="tab-menu ${(selectedTab == 'menu1') ? 'active active-tab': ''}">
                            <a title="Mission" data-toggle="tab" href="#menu1" click.delegate="onTabSelect('menu1')"><i class="anra-ico_plane_dark"></i><span class="tabText">Mission</span></a>
                          </li>
                          <li class="tab-menu ${(selectedTab == 'menu2') ? 'active active-tab': ''}">
                            <a title="Airspace" data-toggle="tab" href="#menu2" click.delegate="onTabSelect('menu2')"><i class="anra-ico_location_light"></i><span class="tabText">Airspace</span></a>
                          </li>
                          <li class="tab-menu ${(selectedTab == 'menu3') ? 'active active-tab': ''} ${advisoryCls}">
                            <a title="Advisories" data-toggle="tab" href="#menu3" click.delegate="onTabSelect('menu3')"><i class="anra-ico_stabilize"></i><span class="tabText">Advisories</span> </a>
                          </li>
                      </ul>
                  </div>
                </ui-column>

                <ui-column size="md-12 lg-12 xs-12">
                    <div if.bind="selectedTab=='menu1'" id="menu1" if.bind="mission" class="tab-pane fade ${(selectedTab == 'menu1') ? 'in active': ''}">
                      <mission-side-bar mission.two-way="mission" save.call="saveItem()"></mission-side-bar>
                    </div>
      
                    <div id="menu2" if.bind="selectedTab=='menu2'" class="tab-pane fade ${(selectedTab == 'menu2') ? 'in active': ''}">
                      <network-side-bar></network-side-bar>
                    </div>

                    <div id="menu3" if.bind="selectedTab=='menu3'" class="tab-pane fade ${(selectedTab == 'menu3') ? 'in active': ''}">
                        <ul repeat.for="item of advisories">
                          <li class="advisory-row advisory-${item.color}">
                            <div><strong>${item.name}</strong></div>
                            <div>Type: ${item.type}</div>
                            <div>Distance: ${item.distance} meters</div>
                          </li>
                        </ul>
                    </div>
                </ui-column>
              </ui-row>
            </ui-column>
          </ui-row>
        </ui-drawer>




</template>
