<template>
    <require from="blur-image"></require>
    <require from="./maintenance-editor"></require>
    <require from="./maintenance-view"></require>
    <require from="../lib/date-format"></require>
    <require from="../lib/component/animation/loading"></require>

    <!----Dashboard Block --->
	<div class="">
		<div class="page-header-title">
			<!--h4 class="page-title">drones</h4--> 
		</div>
	</div>
    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid bashboard-section small-das new-design">
        <div class="container">
          <ul class="row bashboard-block nav nav-pills">
            <li class="col-md-2 bas-bx-1">
              <a href="#/drones">
                <div class="das-bx">

                  <div class="image-sec"><i class="anra-ico_drone"></i></div>
                  <h3>drones</h3>
                </div>
              </a>
            </li>
            <li class="col-md-2 bas-bx-2">
              <a href="#/batteries">
                <div class="das-bx">

                  <div class="image-sec"><i class="anra-ico_batterycharge_dark"></i></div>
                  <h3>batteries</h3>
                </div>
              </a>
            </li>
            <li class="col-md-2 bas-bx-3">
              <a href="#/sensors">
                <div class="das-bx">
                  <div class="image-sec"><img src="../../image/sensor.png" style="max-height:18px;"></div>
                  <!-- <div class="image-sec"><i class="anra-ico_camera_dark"></i></div> -->
                  <h3>Sensors</h3>
                </div>
              </a>
            </li>
            <li class="col-md-2 bas-bx-3 active">
              <a href="#/maintenance">
                <div class="das-bx">
                   
                  <div class="image-sec"><i class="anra-ico_maintenance_dark"></i></div>
                  <h3>maintenance</h3>
                </div>
              </a>
            </li>
            <li class="col-md-2 bas-bx-3">
              <a href="#/equipments">
                <div class="das-bx">
                  <div class="image-sec"><img src="../../image/otherEquipments.png" style="max-height:18px;"></div>   
                  <!-- <div class="image-sec"><i class="anra-ico_camera_dark"></i></div> -->
                  <h3>other equipments</h3>
                </div>
              </a>
            </li>


          </ul>
        </div>
    </section>

    <section class="container-fluid bottom-table minhight" show.bind="!isEditing && !isViewing">
        <div class="container tab-content">
            <div class="tab-pane fade in active">
                <div class="row">
                    <div class="container-fluid das-middle-sec">
                        <h2 class="pull-left">Overdue Maintenance &nbsp; <i class="anra-ico_maintenance_dark"></i></h2>                        
                        <!-- <div class="pull-right">
                            <input type="text" class="searchTable" value.bind="overduefilter[0].value" placeholder="Search" />
                        </div> -->
                    </div>
                </div>
                <!-- <div class="table-responsive des-table">
                    <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: overduemaintenances; display-data.bind: $overduemaintenances;
                               current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: overduefilter">
                        <thead>
                            <tr>
                                <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: MaintenanceDate">Maintenance Date <span class="glyphicon glyphicon-sort"></span></th>                                
                                <th aut-sort="key: NextActionAfterDate">Next Action Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: Status">Status <span class="glyphicon glyphicon-sort"></span></th>                                
                                <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="item of $overduemaintenances">
                                <td><span style="color:red;">${item.Name}</span></td>
                                <td>${item.MaintenanceDate | dateFormat}</td>
                                <td>${item.NextActionAfterDate | dateFormat}</td>
                                <td>${item.Status}</td>                                
                                <td>${item.DateCreated | dateFormat}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="box_indicator_maintanance">
                                <ul class="list-inline">
                                    <li> <p class="color_shade_maintanance bg-newTask"></p> New Task </li>
                                    <li> <p class="color_shade_maintanance bg-partially_completed"></p> Partially Completed </li>
                                    <li> <p class="color_shade_maintanance bg-postpone"></p> Postpone</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 box_overduemaintanance">
                                    <div class="row">
                                        <div class="col-sm-12" if.bind="overduemaintenances.length == 0">
                                            <div class="jumbotron">
                                                <h4>No Records found !!</h4>      
                                            </div>
                                        </div>
                                        <div class="col-sm-3" repeat.for="item of overduemaintenances">
                                            <div if.bind = "item.Category == 'Drone'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Drone_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Drone_new_task" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Drone_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span if.bind= "item.NextActionAfterDate !==null"> ${item.NextActionAfterDate | dateFormat} </span><span if.bind="item.NextActionAfterDate == null"> ${item.NextActionAfterHours} </span><br/>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>

                                            <div if.bind = "item.Category == 'Equipment'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Equipments_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Equipments_new_task" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Equipments_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span if.bind= "item.NextActionAfterDate !==null"> ${item.NextActionAfterDate | dateFormat} </span><span if.bind="item.NextActionAfterDate == null"> ${item.NextActionAfterHours} </span><br/>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>

                                            <div if.bind = "item.Category == 'Sensor'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Sensor_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Sensor_new_task " class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Sensor_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span if.bind= "item.NextActionAfterDate !==null"> ${item.NextActionAfterDate | dateFormat} </span><span if.bind="item.NextActionAfterDate == null"> ${item.NextActionAfterHours} </span><br/>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="0">
                            
                                    <div class="carousel-inner">
                                        <div class="item carousel-item ${$first ? 'active': ''}" repeat.for="item of array">
                                            <div class="row">
                                                <div class="col-sm-3" repeat.for="item of listOverdues">
                                                    <div if.bind = "item.Category == 'Drone'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                        <div class="img-box img-box-maintanance">
                                                            <img if.bind ="item.Status =='Partially Completed'" src.bind="Drone_partially_completed" class="img-responsive" alt="">
                                                            <img if.bind ="item.Status =='New Task'" src.bind="Drone_new_task" class="img-responsive" alt="">
                                                            <img if.bind ="item.Status =='Postponed'" src.bind="Drone_postpone" class="img-responsive" alt="">
                                                        </div>
                                                        <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.EquipmentId} </p>
                                                        <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.DroneId} </p>
                                                        <div class="thumb_content_maintanance">
                                                        <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                        <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                        <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> ${item.NextActionAfterDate | dateFormat} </span><br/>
                                                        <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                        <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                        </div>						
                                                    </div>

                                                    <div if.bind = "item.Category == 'Equipment'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                        <div class="img-box img-box-maintanance">
                                                            <img if.bind ="item.Status =='Partially Completed'" src.bind="Equipments_partially_completed" class="img-responsive" alt="">
                                                            <img if.bind ="item.Status =='New Task'" src.bind="Equipments_new_task" class="img-responsive" alt="">
                                                            <img if.bind ="item.Status =='Postpone'" src.bind="Equipments_postpone" class="img-responsive" alt="">
                                                        </div>
                                                        <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.EquipmentId} </p>
                                                        <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.DroneId} </p>
                                                        <div class="thumb_content_maintanance">
                                                        <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                        <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                        <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> ${item.NextActionAfterDate | dateFormat} </span><br/>
                                                        <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                        <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                        </div>						
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <a class="carousel-control left carousel-control-prev" href="#myCarousel1" data-slide="prev">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                    <a class="carousel-control right carousel-control-next" href="#myCarousel1" data-slide="next">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>

                    <!-- <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="box_indicator_maintanance">
                                        <ul class="list-inline">
                                            <li> <p class="color_shade_maintanance bg-newTask"></p> New Task </li>
                                            <li> <p class="color_shade_maintanance bg-partially_completed"></p> Partially Completed </li>
                                            <li> <p class="color_shade_maintanance bg-postpone"></p> Postpone</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                                            
                                            <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                            </ol>   
                                            
                                            <div class="carousel-inner">
                                                <div class="item carousel-item active">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/drone_postpone.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Drone Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/drone_newtask.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Drone Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_newtask.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance">Equipments Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/drone_completed.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance">  Drone Name  </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item carousel-item">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_newtask.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Equipments Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_newtask.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Equipments Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_partially_completed.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Equipment Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_postpone.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance">  Equipments Name  </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="item carousel-item">
                                                    <div class="row">
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/drone_postpone.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Equipments Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_newtask.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Equipments Name </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/drone_partially_completed.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance"> Drone #1 </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="thumb-wrapper thumb_wrapper_maintanance">
                                                                <div class="img-box img-box-maintanance">
                                                                    <img src="/image/Maintanance_img/equipments_postpone.png" class="img-responsive" alt="">
                                                                </div>
                                                                <p class="img_heading_maintanance">  Equipments Name  </p>
                                                                <div class="thumb_content_maintanance">
                                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> CDAC </span> <br/>
                                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> 12/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> 1/23/2018 </span><br/>
                                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> New Task </span><br/>
                                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> 1/23/2018 </span>
                                                                </div>						
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                                                <i class="fa fa-angle-left"></i>
                                            </a>
                                            <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                <!-- pagination -->
                <!-- <div class="row">
                    <div class="col-md-9">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </div>

                    <div class="col-md-3">
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="form-control">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- pagination -->
            </div>&nbsp;
            <div class="tab-pane fade in active">
                <div class="row">
                    <div class="container-fluid das-middle-sec">
                        <h4 class="pull-left">${heading} &nbsp;&nbsp; <i class="anra-ico_maintenance_dark"></i></h4>
                        <div class="right-botton pull-right">
                            <ul class="nav navbar-nav" title="Download CSV" style="padding: 10px;margin-right:15px">
                                <li class="dropdown">
                                    <h2 class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-download text-anra" aria-hidden="true"></i></h2>
                                    <ul class="dropdown-menu">
                                    <li><a click.delegate="downloadCSV({ filename: 'MaintainenceReport.csv'})"> <i class="fa fa-file-excel-o" aria-hidden="true"></i> CSV</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <input type="text" class="searchTable" value.bind="maintenancefilter[0].value" placeholder="Search" />
                            <button click.delegate="add(0)" type="button" class="btn btn-primary btn-lg" disabled.bind="!permission.Add"><i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i> Add New Maintenance</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive des-table">
                    <table class="table table-striped user_table table-bordered black-table dataTable no-footer" aurelia-table="data.bind: maintenances; display-data.bind: $maintenances;
                               current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: maintenancefilter">
                        <thead>
                            <tr>
                                <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: Category">Category <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: MaintenanceDate">Maintenance Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: Status">Status <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th colspan="3">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr repeat.for="item of $maintenances">
                                <td>${item.Name}</td>
                                <td>${item.Category}</td>
                                <td>${item.MaintenanceDate | dateFormat}</td>
                                <td>${item.Status}</td>
                                <td>${item.OrganizationName}</td>
                                <td>${item.DateCreated | dateFormat}</td>
                                <td colspan="3" class="action-btn">
                                    <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.MaintenanceId)" title="Edit">
                                        <i class="fa fa-pencil-square-o"
                                           aria-hidden="true"></i> 
                                    </a>
                                    <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.MaintenanceId)" title="Delete">
                                        <i class="fa fa-trash"
                                           aria-hidden="true"></i> 
                                    </a>
                                    <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.MaintenanceId)"title="View">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- pagination -->
                <div class="row">
                    <div class="col-md-9">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </div>

                    <div class="col-md-3">
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="form-control">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pagination -->
            </div>
        </div>
    </section>
    <maintenance-view if.bind="isViewing" maintenance.bind="maintenanceAggregate.Maintenance" drones.bind="maintenanceAggregate.Drones" sensors.bind="maintenanceAggregate.Sensors" status-list.bind="maintenanceAggregate.StatusList" equipments.bind="maintenanceAggregate.Equipments" organizations.bind="maintenanceAggregate.OrganizationLookup" category-list.bind="maintenanceAggregate.CategoryList" action-list.bind="maintenanceAggregate.DueStatusList" save.call="saveItem()"></maintenance-view>
</template>
