<template>
  <require from="../lib/component/animation/loading"></require>
  <loading displayed.bind="isWaiting"></loading>
  <!----Dashboard Block --->
  <div class="">
    <div class="page-header-title"></div>    
  </div>
  <section class="container-fluid bashboard-section small-das new-design">
    <div class="container">
      <ul class="row bashboard-block nav nav-pills">
        <li class="col-md-2 bas-bx-1">
          <a href="#/drones">
            <div class="das-bx">
              <div class="image-sec"><i class="anra-ico_drone"></i></div>
              <h3>drones</h3>
            </div>
          </a>
        </li>
        <li class="col-md-2 bas-bx-2">
          <a href="#/batteries">
            <div class="das-bx">
              <div class="image-sec"><i class="anra-ico_batterycharge_dark"></i></div>
              <h3>batteries</h3>
            </div>
          </a>
        </li>
        <li class="col-md-2 bas-bx-3">
          <a href="#/sensors">
            <div class="das-bx">
        
                        <div class="image-sec"><img src="../../image/sensor.png" style="max-height:18px;"> </div>
                        <!-- <div class="image-sec"><i class="anra-ico_camera_dark"></i></div> -->
              <h3>Sensors</h3>
            </div>
          </a>
        </li>
                <li class="col-md-2 bas-bx-4 active">
          <a href="#/maintenance">
            <div class="das-bx">
              <div class="image-sec"><i class="anra-ico_maintenance_dark"></i></div>
              <h3>maintenance</h3>
            </div>
          </a>
        </li>
                <li class="col-md-2 bas-bx-5">
          <a href="#/equipments">
            <div class="das-bx">
                                <div class="image-sec"><img src="../../image/otherEquipments.png" style="max-height:18px;"> </div>
                                <!-- <div class="image-sec"><i class="anra-ico_camera_dark"></i></div> -->
              <h3>other equipments</h3>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="container-fluid edit-view-mn" if.bind="isReady">
    <div class="row">
      <div class="container das-middle-sec edit-view panel">
        <form role="form">
          <div class="container-fluid">
            <div class="col-md-12">
              <div class="page-header">
                <h2>
                  ${heading} &nbsp; <i class="anra-ico_maintenance_dark"></i>
                </h2>
              </div>
            </div>

            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class="glyphicon glyphicon-tag"></i></div>
                      <input type="text" class="form-control" placeholder="Name" value.bind="maintenance.Name & validate" />
                    </div>
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="date">Maintenance Date</label>
                    <input id="maintenanceDate" type="date" class="form-control" value.bind="maintenance.MaintenanceDate & validate" />
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="drone">Category</label>
                    <select class="form-control" value.bind="maintenance.CategoryId & validate" change.delegate="setCategory($event)">
                      <option value="0">Select</option>
                      <option repeat.for="item of categoryList" model.bind="item.Id">${item.Name}</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4" show.bind="IsSelectedCategoryIsDrone">
                  <fieldset class="form-group">
                    <label class="control-label" for="drone">Drone</label>
                    <select class="form-control" value.bind="maintenance.DroneId & validate">
                      <option value="0">Select</option>
                      <option repeat.for="item of drones" model.bind="item.DroneId">${item.Title}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-4" show.bind="IsSelectedCategoryIsEquipment">
                  <fieldset class="form-group">
                    <label class="control-label" for="drone">Equipment</label>
                    <select class="form-control" value.bind="maintenance.EquipmentId & validate">
                      <option value="0">Select</option>
                      <option repeat.for="item of equipments" model.bind="item.EquipmentId">${item.Name}</option>
                                        </select>
                                    </fieldset>
                                </div>
                                <div class="col-md-4" show.bind="IsSelectedCategoryIsSensors">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="drone">Sensors</label>
                                            <select class="form-control" value.bind="maintenance.SensorId & validate">
                                                <option value="0">Select</option>
                                                <option repeat.for="item of sensors" model.bind="item.SensorId">${item.Name}</option>
                                        </select>
                                    </fieldset>
                                </div>
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="serial">Status</label>
                    <select class="form-control" value.bind="maintenance.StatusId & validate">
                      <option value="0">Select</option>
                      <option repeat.for="item of statusList" model.bind="item.Id">${item.Name}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="cellcount">Cost</label>
                    <div class="input-group">
                      <div class="input-group-addon"><i class=${maintenance.CurrencyGlyphicon}></i></div>
                      <input type="number" class="form-control" value.bind="maintenance.ExpenseCost & validate" />
                    </div>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <fieldset class="form-group">
                    <label class="control-label" for="drone">Maintenance Due Status</label>
                    <select class="form-control" value.bind="maintenance.DueStatusId & validate" change.delegate="setDueStatus($event)">
                      <option value="0">Select</option>
                      <option repeat.for="item of actionList" model.bind="item.Id">${item.Name}</option>
                    </select>
                  </fieldset>
                </div>
                <div class="col-md-4" show.bind="nextActionStatus">
                  <fieldset class="form-group">
                    <label class="control-label" for="date">Next Action On </label>
                    <input id="nextActionDate" type="date" class="form-control" value.bind="maintenance.NextActionAfterDate & validate" />
                  </fieldset>
                </div>
                <div class="col-md-4" show.bind="afterXHoursStatus">
                  <fieldset class="form-group">
                    <label class="control-label" for="hours">After Hours Of Use</label>
                    <input type="text" class="form-control" placeholder="" value.bind="maintenance.NextActionAfterHours & validate" />
                  </fieldset>
                </div>
                <div class="col-md-4" show.bind="maintenance.IsAdmin">
                  <fieldset class="form-group">
                    <label class="control-label" for="hwversion">Organization</label>
                    <select class="form-control" value.bind="maintenance.OrganizationId & validate">
                      <option value="0">Select</option>
                      <option repeat.for="item of organizations" model.bind="item.OrganizationId">${item.Name}</option>
                    </select>
                  </fieldset>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <fieldset class="form-group">
                    <label class="control-label" for="notes">Notes</label>
                    <textarea class="form-control" id="notes" rows="3" value.bind="maintenance.Notes"></textarea>
                  </fieldset>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                <i class="fa fa-check" aria-hidden="true"></i> Save
              </button>
              &nbsp;
              <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
