<template>
    <section class="container-fluid edit-view-mn">
        <div class="container das-middle-sec edit-view panel padding-5">
        <div class="row">
            <div class="container">
				<div class="col-md-12">
				<div class="page-header">
					<h2>View Maintenance &nbsp; <i class="anra-ico_maintenance_dark"></i></h2>
				</div>
				</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="add-form view">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Name</label>
                                    <span class="view-fl">${maintenance.Name}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="name">Category</label>
                                    <span class="view-fl">${maintenance.Category}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4" show.bind="IsSelectedCategoryIsDrone">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="drone">Drone</label>
                                    <span class="view-fl">${drones | filterOnProperty:'DroneId':maintenance.DroneId:'Title'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4" show.bind="IsSelectedCategoryIsSensors">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="sensors">Sensors</label>
                                    <span class="view-fl">${sensors | filterOnProperty:'SensorId':maintenance.SensorId:'Name'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4" show.bind="IsSelectedCategoryIsEquipment">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="drone">Equipment</label>
                                    <span class="view-fl">${equipments | filterOnProperty:'EquipmentId':maintenance.EquipmentId:'Name'}</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Maintenance Date</label>
                                    <span class="view-fl">${maintenance.MaintenanceDate}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Due Status</label>
                                    <span class="view-fl">${maintenance.DueStatus}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4" show.bind="nextActionStatus">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="date">Next Action On </label>
                                    <span class="view-fl">${maintenance.NextActionAfterDate}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4" show.bind="afterXHoursStatus">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="hours">After Hours Of Use</label>
                                    <span class="view-fl">${maintenance.NextActionAfterHours}</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="cellcount">Cost</label>
                                    <span class="view-fl">${maintenance.ExpenseCost}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="serial">Status</label>
                                    <span class="view-fl">${statusList | filterOnProperty:'Id':maintenance.StatusId:'Name'}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="Organization">Organization</label>
                                    <span class="view-fl">${organizations | filterOnProperty:'OrganizationId':maintenance.OrganizationId:'Name'}</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="notes">Notes</label>
                                    <span class="view-fl">${maintenance.Notes}&nbsp;</span>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(maintenance.MaintenanceId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
</template>
