<template>
    <section class="container-fluid edit-view-mn">
		<div class="container das-middle-sec edit-view panel">
        <div class="row">
            <div class="container">
				<div class="col-md-12">
					<div class="page-header">
						<h2>
							${heading} &nbsp;<i class="anra-ico_client_dark"></i>
						</h2>
					</div>
				</div>
            </div>
        </div>
        <div class="container">
                    <div class="row">
                        <form class="add-form view">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="name">Name</label>
                                            <span class="view-fl">${client.Name}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="latitude">Contact Name</label>
                                            <span class="view-fl">${client.ContactName}&nbsp;</span>

                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="longitude">Contact Phone</label>
                                            <span class="view-fl">${client.ContactPhone}&nbsp;</span>

                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="altitude">Contact Email</label>
                                            <span class="view-fl">${client.ContactEmail}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="country">Country</label>
                                            <span class="view-fl">${client.Country}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="state">State</label>
                                            <span class="view-fl">${client.State}&nbsp;</span>
                                        </fieldset>
                                    </div>                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="city">City</label>
                                            <span class="view-fl">${client.City}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="city">Address</label>
                                            <span class="view-fl">${client.Address}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="zip">Zipcode</label>
                                            <span class="view-fl">${client.Zipcode}&nbsp;</span>
                                        </fieldset>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="active">Active</label>
                                            <span class="view-fl">${client.IsActive==true? 'Yes': 'No'}</span>                                           
                                        </fieldset>
                                    </div> 
                                    <div class="col-md-8">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="drone">Organization</label>
                                            <span class="view-fl">${client.OrganizationLookup | filterOnProperty:'OrganizationId':client.OrganizationId:'Name'}</span>
                                        </fieldset>
                                    </div>                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="notes">Notes</label>
                                            <span class="view-fl">${client.Notes}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>&nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="edit(client.ClientId)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
        </section>
</template>
