<template>
    <require from="../lib/component/animation/loading"></require>
    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel padding-5">
                <form role="form">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
								<div class="page-header">
									<h2>
										${heading} &nbsp;<i class="anra-ico_client_dark"></i>
									</h2>
								</div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="name">Name</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon anra-ico_user_light"></i></div>
                                                <input type="text" class="form-control" placeholder="" value.bind="client.Name & validate" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="latitude">Contact Name</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon anra-ico_user_light"></i></div>
                                                <input type="text" class="form-control" placeholder="" value.bind="client.ContactName & validate" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="longitude">Contact Phone</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                                                <input class="form-control" masked="value.bind: client.ContactPhone & validate; mask: (999) 999-9999;" />
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="altitude">Contact Email</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                                                <input type="email" class="form-control" placeholder="" value.bind="client.ContactEmail & validate" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="altitude">Address</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-book"></i></div>
                                                <input type="text" class="form-control" placeholder="" value.bind="client.Address & validate"/>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="city">City</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
                                                <input type="text" class="form-control" placeholder="" value.bind="client.City & validate" />
                                            </div>
                                        </fieldset>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="state">State</label>
                                            <select class="form-control" value.bind="client.StateId & validate" >
                                                <option model.bind="0">Select</option>
                                                <option repeat.for="item of client.StateLookup" model.bind="item.StateId">${item.Name}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="zip">Zipcode</label>
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="glyphicon glyphicon-home"></i></div>
                                                <input type="number" class="form-control" placeholder="" value.bind="client.Zipcode & validate" />
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="country">Country</label>
                                            <select class="form-control" value.bind="client.CountryId & validate" >
                                                <option model.bind="0">Select</option>
                                                <option repeat.for="item of client.CountryLookup" model.bind="item.CountryId">${item.Name}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="active">Active</label>
                                            <br />
                                            <ui-switch info width="8" checked.bind="client.IsActive" label-off="No" label-on="Yes"></ui-switch>

                                        </fieldset>
                                    </div>
                                    <div class="col-md-8" show.bind="client.IsAdmin">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="hwversion">Organization</label>
                                            <!--<div class="input-group-addon"><i class="glyphicon glyphicon-barcode"></i></div>-->
                                            <select class="form-control" value.bind="client.OrganizationId" >
                                                <option model.bind="0">Select</option>
                                                <option repeat.for="item of client.OrganizationLookup" model.bind="item.OrganizationId">${item.Name}</option>
                                            </select>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="form-group">
                                            <label class="control-label" for="notes">Notes</label>
                                            <textarea class="form-control" id="notes" rows="3" value.bind="client.Notes"></textarea>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                    <i class="fa fa-check" aria-hidden="true"></i> Save
                                </button>
                                &nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>
