<template>
        <!-- <require from="./dashboard/welcome"></require> -->
        <ui-tab-panel active-tab.bind="activeTab" class="tab-panel">
            <ui-tab view-model="./clients">Clients &nbsp;<i class="anra-ico_client_dark"></i></ui-tab>
            <ui-tab view-model="../projects/projects">Projects</ui-tab>
            <ui-tab view-model="../organizations/organizations">Organizations</ui-tab>
            <ui-tab view-model="../users/users">Users &nbsp; <i class="fa fa-user"></i></ui-tab>
            <ui-tab view-model="../roles/roles">Roles &nbsp; <i class="anra-ico_role_dark"></i></ui-tab>
            <ui-tab view-model="../queue/queue">ProcessQueue &nbsp;<i class="fa fa-stack-overflow"></i></ui-tab>
            <ui-tab view-model="../organizations/notification-preferences">Notifications  &nbsp; <i class="fa fa-bell"></i></ui-tab>
            <compose view.bind="activeTab.view" view-model.bind="activeTab.viewModel"></compose>
        </ui-tab-panel>
    </template>