
<template>

    <style>
        a.disabled {
          pointer-events: none;
          cursor: default;
        }
    
        #anchorTrash, #anchorSetting {
          float: right;
        }
    
        div#myModal.ml-dialog-3d .modal-dialog {
          max-width: 650px !important;
          max-height: 552px !important;
        }
    
        div#myModal.ml-dialog-3d .modal-dialog {
          max-height: 562px !important;
        }

        .choose
        {
          padding: 3px 10px;
          border-radius: 3px;
          background: #dddddd;
          border: 1px solid #ccc;
        }
      </style>
    
  <require from="blur-image"></require>
  <!-- <require from="./client"></require>
  <require from="./client-view"></require> -->
  <require from="../lib/date-format"></require>
  <!-- <require from="../lib/component/animation/loading"></require> -->
  
  <ui-loader busy.bind="isWaiting" big></ui-loader> 
  
      <ui-row>
          <ui-column size="md-12 lg-12 xs-12">
          <ui-container class="container-box">
              <ui-panel>
              <ui-panel-body class="panel_body">
                  <ui-row>
  
                  <ui-column size="md-12 lg-12">
                      <ui-row class="header-top">
                          <ui-column size="md-6 lg-6 xs-8">
                              <h4 class="pull-left heading_title">${heading} &nbsp;<i class="fa fa-stack-overflow"></i> </h4>
                          </ui-column>
  
                          <ui-column size="md-6 lg-6 xs-4">
                              <div class="pull-right">
                                  <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                                  <!-- <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                      <i class="fa fa-plus" aria-hidden="true"></i>
                                      <span class="tooltip_text"> Add New Client </span>
                                  </button> -->
                              </div>
                          </ui-column>
                      </ui-row>
                  </ui-column>
  
                  <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table process-queue">
                      <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: threedtasks; display-data.bind: $threedtasks;
                                          current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                        <thead>
                        <tr>
                          <th aut-sort="key: MissionId">ID<span class="glyphicon glyphicon-sort"></span></th>
                          <th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
                          <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                          <th aut-sort="key: StatusDate">Process Date <span class="glyphicon glyphicon-sort"></span></th>
                          <th aut-sort="key: DateCreated; default: desc">Creation Date <span
                            class="glyphicon glyphicon-sort"></span></th>
                          <th>3D Model</th>
                          <th>2D Tiles</th>
                          <th>Data Output</th>
                          <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr repeat.for="item of $threedtasks">
                          <td>${item.MissionId}</td>
                          <td>${item.MissionName}</td>
                          <td>${item.OrganizationName}</td>
                          <td>${item.StatusDate | dateFormat}</td>
                          <td>${item.DateCreated | dateFormat}</td>
                          <td>
                            <button class="btn btn-primary btn-queue-primary au-target" click.trigger="display3dModelDialog(item)"
                                    disabled.bind="item.TaskStatus == 1"><i class="fa fa-upload"></i></button>
                            <a id="modelstat" if.bind="item.ModelId.length > 0" href="javascript:;" click.delegate="checkSFModelProcessingStatus(item)" title="Status">
                              <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                          </td>
                          <td>
                            <button class="btn btn-primary btn-queue-primary" click.trigger="upload2DTiles(item)"
                                    disabled.bind="item.TaskStatus == 1">
                              <i class="fa fa-upload"></i>
                            </button>
                          </td>
                          <td>
                            <button class="btn btn-primary btn-queue-primary" click.trigger="showUploadTypes(item)"
                                    disabled.bind="item.TaskStatus == 1"><i class="fa fa-upload"></i></button>
                          </td>
                          <td>
                            <select class="choose" value.bind="item.TaskStatus" ref="optionFilter" name="Filter"
                                    change.delegate="ChangeProcessingStatus($event, item)">
                              <option repeat.for="item of statusOptions" model.bind="item.StatusId">${item.Name}</option>
                            </select>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </ui-column>
  
                  </ui-row>
  
                  <!-- pagination -->
                  <ui-row>
                      <ui-column size="md-9 lg-9 xs-12">
                          <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                              pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                      </ui-column>
                      <ui-column size="md-3 lg-3 xs-12">
                          <div class="form-group pull-right">
                              <label for="pageSize">Page Size: </label>
                              <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                  <option model.bind="5">5</option>
                                  <option model.bind="10">10</option>
                                  <option model.bind="20">20</option>
                                  <option model.bind="50">50</option>
                              </select>
                          </div>
                      </ui-column>
                  </ui-row>
                  <!-- pagination -->
  
              </ui-panel-body>
              </ui-panel>
          </ui-container>
          </ui-column>
      </ui-row>
  
  

    
</template>
    
