<template>
    <link rel="stylesheet" href="styles/assets/css/ball-spin-clockwise.min.css">
    <style>
        .overlay {
            /* Height & width depends on how you want to reveal the overlay (see JS below) */
            height: 100vh;
            width: 100%;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            background: gray;
            opacity: 0.5;
            border: 1px solid red;
        }

        .overlay-content {
            position: relative;
            color: black;
            top: 45%;
            left: 55%;
            text-align: center;
            margin-top: 30px;
            opacity: 1;
        }
    </style>
    <div class="overlay" if.bind="displayed">
        <div style="color: #36e4c6" class="la-ball-spin-clockwise la-dark la-2x overlay-content">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <h3 style="color: #fff; font-size:10px; position:relative; top:16px;">${message}</h3>
        </div>
    </div>
</template>