<template>
  <require from="./dials/attitude"></require>
  <require from="./dials/airspeed"></require>
  <require from="./dials/altimeter"></require>
  <require from="./dials/heading"></require>
  <require from="./dials/variometer"></require>

  <style>
    li.tab-menu a {
      color: white;
    }

    li.tab-menu .active a {
      color: black;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
    }

    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
    .liWidth{
      width:25% !important;
    }
    .btn-command {
      border: 0px !important;
      /*width:18% !important*/
    }
    .btn {
      padding:7px 7px !important;
      font-size:10px !important;
    }
    .align{
      margin-left:5%;
    }

    .disabletreeview {
      pointer-events: none;
      opacity: 1;      
    }
  </style>


  <nav class="navbar drone-side-bar" role="navigation">

    <ul class="nav nav-tabs" style="padding:0">
      <li class="liWidth tab-menu ${(selectedTab == 'menu1') ? 'active active-tab': ''}">
        <a data-toggle="tab" href="#menu1" click.delegate="onTabSelect('menu1')"><i class="anra-ico_location_light"></i><span class="tabText">PFD</span></a>
      </li>
      <li class="liWidth tab-menu ${(selectedTab == 'menu2') ? 'active active-tab': ''}">
        <a data-toggle="tab" href="#menu2" click.delegate="onTabSelect('menu2')"><i
          class="anra-ico_videocamera_dark"></i><span class="tabText">Vid</span></a>
      </li>
      <li class="liWidth tab-menu ${(selectedTab == 'menu3') ? 'active active-tab': ''}">
        <a data-toggle="tab" href="#menu3" click.delegate="onTabSelect('menu3')">
          <i class="fa fa-cloud"></i><span class="tabText">Wx</span>
        </a>
      </li>
      <li class="liWidth tab-menu ${(selectedTab == 'menu4') ? 'active active-tab': ''}">
        <a data-toggle="tab" href="#menu4" click.delegate="onTabSelect('menu4')">
          <i class="fa fa-check-square"></i><span class="tabText">Chklst</span>
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="menu1" class="tab-pane fade align ${(selectedTab == 'menu1') ? 'in active': ''}">
        <div>
          <div class="drone-view-info2 col-md-12">            
              <div class="mode"><b>Mode</b> ${mode}</div>            
            <div class="col-md-4">
              <div class="progress" show.bind="isAlive && battery > 0">
                <div class="progress-bar ${progressBarType} progress-bar-striped active" role="progressbar"
                     aria-valuenow.bind="battery" aria-valuemin="0" aria-valuemax="100" style="width:${battery}">
                  ${battery}% remaining
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 way-btn-wi-fi">
            <button  id="btnLaunch" class="btn btn-command" click.delegate="launch()">
              launch
            </button>
            <button id="btnLand" class="btn btn-command" click.delegate="land()">land
            </button>
            <button id="btnRth" class="btn btn-command" click.delegate="rth()">rth
            </button>           
          <!--</div>-->
          <!--<div class="col-md-12">       
          </div>-->
          <!--<div class="col-md-12 way-btn-wi-fi">-->        
            <button id="btnPause" class="btn btn-command" click.delegate="loiter()" show.bind="!isPaused">
              pause
            </button>
            <button id="btnResume" class="btn btn-command" click.delegate="resume()" show.bind="isPaused">
              resume
            </button>
            <button id="btnCamera" class="btn btn-primary btn-warning" click.delegate="capture()">
              camera
            </button>

            <!--<button id="btnResume" class="btn btn-command" click.delegate="emulatorPad()">
              Control
            </button>-->
            <span if.bind="isAlive" title="${linkStatusTitle}" class="link-status-${linkStatusCssVal}"><i class="fa fa-wifi"></i></span>
          <!--</div>-->
            </div>

            <div class="col-sm-12" if.bind="emulator_box">
              <h4> Emulator Control </h4>
             <div class="box_btn">
               <div class="col-md-6 box_emulator1">
                 <button type="button" id="eb_left" class="button_emulator right_btn" click.delegate="emulatorCommand('go_left')" data-toggle="tooltip" title="Left">
                   <span class="icon">
                       <i class="fa fa-arrow-left"></i>
                   </span> 
                 </button>
 
                 <button type="button" id="eb_right" class="button_emulator left_btn" click.delegate="emulatorCommand('go_right')" data-toggle="tooltip" title="Right">
                   <span class="icon">
                       <i class="fa fa-arrow-right"></i>
                   </span> 
                 </button>
 
                 <button type="button" id="eb_forward" class="button_emulator top_btn" click.delegate="emulatorCommand('go_forward')" data-toggle="tooltip" title="Forward">
                     <span class="icon">
                         <i class="fa fa-arrow-up"></i>
                     </span> 
                 </button>
 
                 <button type="button" id="eb_backward" class="button_emulator bottom_btn" click.delegate="emulatorCommand('go_backward')" data-toggle="tooltip" title="Backward">
                     <span class="icon">
                         <i class="fa fa-arrow-down"></i>
                     </span> 
                 </button>
               </div>
 
               <div class="col-md-6 box_emulator2">
                 <button type="button" id="eb_up" class="button_emulator top_btn" click.delegate="emulatorCommand('go_up')" data-toggle="tooltip" title="Up"> 
                     <span class="icon">
                         <i class="fa fa-chevron-up"></i>
                     </span> 
                 </button>
 
                 <button type="button" id="eb_down" class="button_emulator bottom_btn" click.delegate="emulatorCommand('go_down')" data-toggle="tooltip" title="Down">
                     <span class="icon">
                         <i class="fa fa-chevron-down"></i>
                     </span> 
                 </button>
               </div>
             </div>
            </div> 

          <jquery-attitude-indicator size.bind="300"></jquery-attitude-indicator>          
            <div class="col-md-4"><label><b>Latitude</b></label></div>
            <div class="col-md-4"><label><b>Longitude</b></label></div>
            <div class="col-md-4"><label><b>Altitude</b></label></div>         
          <div show.bind="isAlive">
            <div class="col-md-4"><label>${lat}</label></div>
            <div class="col-md-4"><label>${lng}</label></div>
            <div class="col-md-4"><label>${altitude} m</label></div>
          </div>

          <jquery-airspeed-indicator size.bind="150"></jquery-airspeed-indicator>
          <jquery-altimeter-indicator size.bind="150"></jquery-altimeter-indicator>
          <jquery-heading-indicator size.bind="150"></jquery-heading-indicator>
          <jquery-vario-indicator size.bind="150"></jquery-vario-indicator>

        </div>
      </div>
      <div id="menu2" class="tab-pane fade ${(selectedTab == 'menu2') ? 'in active': ''}" style="padding:10px;">
        <div>                
          <div class="container-fluid">
            <div class="row">
              <div id="player_a" class="projekktor">
                <noscript><p>No JavaScript support.</p></noscript>
              </div>
            </div>
          </div>
          <div class="drone-view-info2 col-md-12">
            <div class="mode"><b>Mode</b> ${mode}</div>
            <div class="col-md-4">
              <div class="progress" show.bind="isAlive && battery > 0">
                <div class="progress-bar ${progressBarType} progress-bar-striped active" role="progressbar"
                     aria-valuenow.bind="battery" aria-valuemin="0" aria-valuemax="100" style="width:${battery}%">
                  ${battery}% remaining
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 way-btn-wi-fi">
            <button id="btnLand" class="btn btn-command" click.delegate="land()"
                    disabled.bind="!isdronelive ? true : isdronelive && commandLand">
              land
            </button>
            <button id="btnRth" class="btn btn-command" click.delegate="rth()"
                    disabled.bind="!isdronelive ? true : isdronelive && commandRth">
              rth
            </button>
            <button id="btnPause" class="btn btn-command" click.delegate="loiter()" show.bind="!isPaused"
                    disabled.bind="!isdronelive">
              pause
            </button>
            <button id="btnResume" class="btn btn-command" click.delegate="resume()" show.bind="isPaused"
                    disabled.bind="!isdronelive">
              resume
            </button>
            <button id="btnCamera" class="btn btn-primary btn-warning" click.delegate="capture()"
                    disabled.bind="!isdronelive">
              camera
            </button>
            <span if.bind="isAlive" title="${linkStatusTitle}" class="link-status-${linkStatusCssVal}"><i class="fa fa-wifi"></i></span>
          </div> 
        </div>
        </div>
      <!--Weather Tab-->
      <div id="menu3" class="tab-pane fade ${(selectedTab == 'menu3') ? 'in active': ''}" style="padding:10px;">        
        <div class="container-fluid">          
          <div class="row">
            <div >
              <button type="button" class="btn btn-primary" click.delegate="getCurrentWeather()"><i class="fa fa-skyatlas" aria-hidden="true"></i> Show Current Weather</button>
            </div>
            <div>${weatherLocation} </div>
            <div>${weatherObservationDate} </div>
            <div><span>${weatherCondition}</span></div>

            <div style="font:16px arial,helvetica,sans-serif;padding:20px 0 0;-webkit-touch-callout:none;-webkit-user-select:none">
              <div>
                <img style="float:left;height:64px;width:64px" src="${weatherIconUrl}" />
                <div style="padding-left:10px;float:left">
                  <div>
                    <div style="float:left;margin-top:-3px;font-size:64px">                      
                      <span>${weatherTemprature}</span>
                    </div>
                    <div style="float:left;font-size:16px;margin-top:6px">
                      <span style="display: inline-block;">${unitType == 'Imperial' ? '&#8457;' : '&#8451;'}</span>
                    </div>
                  </div>                  
                </div>
                <div style="float:right;padding-left:5px;line-height:22px;padding-top:2px;min-width:25%">
                  <div>Humidity: <span>${weatherHumidity}</span></div>
                  <div>Wind: <span>${weatherWindSpeed} ${unitType == 'Imperial' ? 'mph' : 'mps'}</span></div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>

      <!--Checklist Tab-->
      <div id="menu4" class="tab-pane fade ${(selectedTab == 'menu4') ? 'in active': ''}" style="padding:10px;">
        <div class="container-fluid">
          <div class="table-responsive des-table">            
            <div id="treeChecklist"></div>
          </div>
        </div>
      </div>
  </div>
  </nav>

</template>
