<template>
  <require from="leaflet-geosearch/assets/css/leaflet.css"></require>
  <ui-loader busy.bind="isWaiting" big></ui-loader>
  <ui-page animated>
    <ui-row stretch class="ui-scroll ui-column-fill x-dash-grid">
      <ui-column size="lg-9 md-9 sm-6">
        <compose if.bind="isReady" view-model="drone-view/views/flight"
                 model.bind="{'operation':operation, 'drone': drone}"></compose>
      </ui-column>
      <ui-column size="lg-3 md-3 sm-6">
        <ui-row>
          <ui-column size="lg-12 md-12 sm-12">
            <compose if.bind="isReady" view-model="drone-view/views/operation-panel"
                     model.bind="{'operation':operation, 'drone': drone}"></compose>
          </ui-column>
          <ui-column size="lg-12 md-12 sm-12" fill full>
            <compose if.bind="isReady" view-model="drone-view/views/messages-panel"
                     model.bind="{'operation':operation, 'drone': drone}"></compose>
          </ui-column>
        </ui-row>
        <!--<ui-row strech class="ui-column-fill">
        </ui-row>-->
      </ui-column>
    </ui-row>
  </ui-page>
</template>
