<template>
  <require from="../components/side-nav-bar"></require>
  <require from="../lib/component/animation/loading"></require>
  <require from="./dji-side-bar"></require>
  <require from="./mavlink-side-bar"></require>  
  <require from="leaflet-contextmenu/dist/leaflet.contextmenu.css"></require>
  <style>
    .box {
      background: #15131500 !important;
    }
  </style>
  <loading displayed.bind="isWaiting"></loading>
  <div if.bind="!isWaiting">
      <ui-drawer-toggle class="right-menu" id="" drawer.bind="drawerOSS" class="icon-moon-cog" theme="info"></ui-drawer-toggle>


      <ui-drawer ref="drawerOSS" position="end" scroll padded>
          <div class="lf_op3">
            <div class="check_list">
                <div replace-part="side-bar-top-content">
                    <div class="top-div normal-text">          
                      <div>
                        Mission: ${mission.Name}
                      </div>
                      <div class="misn-div">Drone: ${drone.Title}</div>
                      <div class="misn-div">Drone Type: ${drone.BrandName}</div>
                    </div>
                  </div>
            
                  <div replace-part="side-bar-content">
                    <mavlink-side-bar if.bind="showMavlinkSideBar" mission.bind="mission" user.bind="user" ></mavlink-side-bar>
                    <dji-side-bar if.bind="showDjiSideBar" mission.bind="mission" user.bind="user" isdronelive.bind="isdronelive" gpssignalstatus.bind="gpssignalstatus"></dji-side-bar>
                  </div>
            </div>
          </div>
        </ui-drawer>
      

      <div >
          <div style="display:block; width:100%;">
            <h4>Heading</h4>
            <div id="map" style="height:86vh;width:100%;position:relative;"></div>
          </div>
        </div>
    </template>


</template>
