	<template>
  <require from="./dials/attitude"></require>
  <require from="./dials/airspeed"></require>
  <require from="./dials/altimeter"></require>
  <require from="./dials/heading"></require>
  <require from="./dials/variometer"></require>

  <style>
    li.tab-menu a {
      color: white;
    }

    li.tab-menu .active a {
      color: black;
    }

    .btn-file {
      position: relative;
      overflow: hidden;
    }

    .btn-file input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 100%;
      min-height: 100%;
      font-size: 100px;
      text-align: right;
      filter: alpha(opacity=0);
      opacity: 0;
      outline: none;
      background: white;
      cursor: inherit;
      display: block;
    }
  </style>


    <!--<nav class="navbar" role="navigation">

  <!--<ul class="nav nav-tabs" style="padding:0">
        <li class="tab-menu ${(selectedTab == 'menu1') ? 'active-tab': ''}"><a data-toggle="tab" href="#menu1"
                                                                           click.delegate="onTabSelect('menu1')">FLIGHT
          DATA</a></li>
        <li class="tab-menu ${(selectedTab == 'menu2') ? 'active-tab': ''}"><a data-toggle="tab" href="#menu2"
                                                                           click.delegate="onTabSelect('menu2')">FLIGHT
          PLAN</a></li>
      </ul>-->
    <nav class="navbar drone-side-bar" role="navigation">

      <ul class="nav nav-tabs" style="padding:0">
        <li class="tab-menu ${(selectedTab == 'menu1') ? 'active active-tab': ''}">
          <a data-toggle="tab" href="#menu1" click.delegate="onTabSelect('menu1')"><i class="anra-ico_location_light"></i></a>
        </li>
        <li class="tab-menu ${(selectedTab == 'menu2') ? 'active active-tab': ''}">
          <a data-toggle="tab" href="#menu2" click.delegate="onTabSelect('menu2')"><i
            class="anra-ico_videocamera_dark"></i></a>
        </li>
        <li class="tab-menu ${(selectedTab == 'menu3') ? 'active active-tab': ''}">
          <a data-toggle="tab" href="#menu3" click.delegate="onTabSelect('menu3')">
            <i class="fa fa-cloud"></i>
          </a>
        </li>
        <li class="tab-menu ${(selectedTab == 'menu4') ? 'active active-tab': ''}">
          <a data-toggle="tab" href="#menu4" click.delegate="onTabSelect('menu4')">
            <i class="fa fa-check-square"></i>
          </a>
        </li>
      </ul>


    <div class="tab-content">
      <div id="menu1" class="tab-pane fade ${(selectedTab == 'menu1') ? 'in active': ''}">
        <div align="center">
          <div class="drone-view-info2 col-md-12">
            <div class="mode"><b>Mode</b> ${mode}</div>      
            <div class="col-md-4">
              <div class="armed-mode ${isArmed ? 'armed': 'disarmed'}" show.bind="isAlive">
                <b>Status</b> ${armedMode}
              </div>
            </div>
            <div class="col-md-4">
              <div class="progress" show.bind="isAlive">
                <div class="progress-bar ${progressBarType} progress-bar-striped active" role="progressbar"
                     aria-valuenow.bind="battery" aria-valuemin="0" aria-valuemax="100" style="width:${battery}%">
                  ${battery}% remaining
                </div>
              </div>
            </div>
            <div class="col-md-1" if.bind="isAlive">
              <span title="${linkStatusText}" class="link-status-${linkStatus}"><i class="fa fa-wifi"></i></span>
            </div>
          </div>

         
            <button class="btn btn-command btn-warning" click.delegate="disarm()" show.bind="isArmed"
                    disabled.bind="!isAlive">DISARM
            </button>
            <button class="btn btn-command" click.delegate="arm()" show.bind="!isArmed"
                    disabled.bind="!isAlive">
              ARM
            </button>
            <button class="btn btn-command" click.delegate="loiter()" data-bind="click:onLoiter"
                    disabled.bind="!isAlive">LOITER
            </button>
            <button class="btn btn-command" click.delegate="rtl()" data-bind="click:onRtl"
                    disabled.bind="!isAlive">RTL
            </button>
            <button class="btn btn-command" click.delegate="land()" data-bind="click:onLand"
                    disabled.bind="!isAlive">LAND
            </button>
          

          <jquery-attitude-indicator size.bind="300"></jquery-attitude-indicator>          
            <div class="col-md-4"><label><b>Latitude</b></label></div>
            <div class="col-md-4"><label><b>Longitude</b></label></div>
            <div class="col-md-4"><label><b>Altitude</b></label></div>          
          <div show.bind="isAlive">
            <div class="col-md-4"><label>${lat}</label></div>
            <div class="col-md-4"><label>${lng}</label></div>
            <div class="col-md-4"><label>${altitude} m</label></div>
          </div>

          <jquery-airspeed-indicator size.bind="150"></jquery-airspeed-indicator>
          <jquery-altimeter-indicator size.bind="150"></jquery-altimeter-indicator>
          <jquery-heading-indicator size.bind="150"></jquery-heading-indicator>
          <jquery-vario-indicator size.bind="150"></jquery-vario-indicator>


         <!-- <div class="col-md-12">
            <button class="btn btn-primary btn-info" disabled.bind="!isAlive" click.delegate="startMission()">START
            </button>
            <button class="btn btn-primary btn-info" disabled.bind="!isAlive" click.delegate="closeMission()">CLOSE
            </button>
          </div>-->

        </div>
      </div>

      <div id="menu2" class="tab-pane fade ${(selectedTab == 'menu2') ? 'in active': ''}" style="padding:10px;">

        <div class="container-fluid">
          <div class="row">
            <div id="player_a" class="projekktor">
              <noscript><p>No JavaScript support.</p></noscript>
            </div>
          </div>
        </div>

        <div class="drone-view-info2 col-md-12">
          <div class="mode"><b>Mode</b> ${mode}</div>
          <div class="col-md-4">
            <div class="armed-mode ${isArmed ? 'armed': 'disarmed'}" show.bind="isAlive">
              <b>Status</b> ${armedMode}
            </div>
          </div>
          <div class="col-md-4">
            <div class="progress" show.bind="isAlive">
              <div class="progress-bar ${progressBarType} progress-bar-striped active" role="progressbar"
                   aria-valuenow.bind="battery" aria-valuemin="0" aria-valuemax="100" style="width:${battery}%">
                ${battery}% remaining
              </div>
            </div>
          </div>
          <div class="col-md-1" if.bind="isAlive">
            <span title="${linkStatusText}" class="link-status-${linkStatus}"><i class="fa fa-wifi"></i></span>
          </div>
        </div>

        <div class="col-md-12 way-btn-wi-fi">
          <button class="btn btn-command btn-warning" click.delegate="disarm()" show.bind="isArmed"
                  disabled.bind="!isAlive">
            DISARM
          </button>
          <button class="btn btn-command" click.delegate="arm()" show.bind="!isArmed"
                  disabled.bind="!isAlive">
            ARM
          </button>
          <button class="btn btn-command" click.delegate="loiter()" data-bind="click:onLoiter"
                  disabled.bind="!isAlive">
            LOITER
          </button>
          <button class="btn btn-command" click.delegate="rtl()" data-bind="click:onRtl"
                  disabled.bind="!isAlive">
            RTL
          </button>
          <button class="btn btn-command" click.delegate="land()" data-bind="click:onLand"
                  disabled.bind="!isAlive">
            LAND
          </button>
        </div>
        </div>
      <!--Weather Tab-->
      <div id="menu3" class="tab-pane fade ${(selectedTab == 'menu3') ? 'in active': ''}" style="padding:10px;">
        <div class="container-fluid">
          <div class="row">
            <div>
              <button type="button" class="btn btn-primary" click.delegate="getCurrentWeather()"><i class="fa fa-skyatlas" aria-hidden="true"></i> Show Current Weather</button>
            </div>
            <div>${weatherLocation} </div>
            <div>${weatherObservationDate} </div>
            <div><span>${weatherCondition}</span></div>

            <div style="font:16px arial,helvetica,sans-serif;padding:20px 0 0;-webkit-touch-callout:none;-webkit-user-select:none">
              <div>
                <img style="float:left;height:64px;width:64px" src="${weatherIconUrl}" />
                <div style="padding-left:10px;float:left">
                  <div>
                    <div style="float:left;margin-top:-3px;font-size:64px">
                      <span>${weatherTemprature}</span>
                    </div>
                    <div style="float:left;font-size:16px;margin-top:6px">
                      <span style="display: inline-block;">${unitType == 'Imperial' ? '&#8457;' : '&#8451;'}</span>
                    </div>
                  </div>
                </div>
                <div style="float:right;padding-left:5px;line-height:22px;padding-top:2px;min-width:25%">
                  <div>Humidity: <span>${weatherHumidity}</span></div>
                  <div>Wind: <span>${weatherWindSpeed}</span></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Checklist Tab-->
      <div id="menu4" class="tab-pane fade ${(selectedTab == 'menu4') ? 'in active': ''}" style="padding:10px;">
        <div class="container-fluid">
          <div class="table-responsive des-table">
            <div id="treeChecklist"></div>
          </div>
        </div>
      </div>
      <!--<div id="menu2" class="tab-pane fade ${(selectedTab == 'menu2') ? 'in active': ''}" style="padding:10px;">
        <h3>Waypoints</h3>

        <div class="container-fluid">
          <div class="row">
            <span class="btn btn-default btn-file btn-primary">
              Load <input id="btnLoad" type="file" change.delegate="onWaypointLoad($event)">
            </span>

            <span class="btn btn-default btn-file">
              Save <input id="btnSave" type="file" disabled.bind="waypoints1.length <= 0" click.delegate="onSaveWaypoints()">
            </span>

            <span class="btn btn-default btn-file btn-primary">
              Read <input id="btnRead" type="file" click.delegate="onReadWaypoints()">
            </span>

            <span class="btn btn-default btn-file" >
              Write <input id="btnWrite" type="file" disabled.bind="waypoints1.length <= 0"  click.delegate="onWriteWaypoints()">
            </span>

          </div>
        </div>

      </div>-->
    </div>
  </nav>

</template>
