<div class="">
	<div class="page-header-title">
		<h4 class="page-title">Importdata</h4> </div>
</div>
<template>
    <section class="container-fluid bashboard-section small-das">
        <div class="container">
            <ul class="row bashboard-block nav nav-pills">
                <li class="col-md-3 bas-bx-1">
                    <a href="#/flight-data-listing">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_plane_dark"></i></div>
                            <div class="cnt-sec"><span>FLIGHT DATA</span></div>
                        </div>
                    </a>
                </li>
                <li class="col-md-3 bas-bx-2">
                    <a href="#/incidents">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_warning_dark"></i></div>
                            <div class="cnt-sec"><span>INCIDENTS</span></div>
                        </div>
                    </a>
                </li>
                <li class="col-md-3 bas-bx-3 active">
                    <a href="#/importdata">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_import_dark"></i></div>
                            <div class="cnt-sec"><span>IMPORT DATA</span></div>
                        </div>
                    </a>
                </li>
                <li class="col-md-3 bas-bx-4">
                    <a href="#/media">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_media_3D_dark"></i></div>
                            <div class="cnt-sec"><span>MEDIA MANAGEMENT</span></div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <section class="container-fluid minhight">
    </section>
</template>
