<template>
    <style>
      .node-treeChecklist:not(.node-disabled):hover {
          background-color:transparent;
      }
    </style>
    <div ref="errorHolder" class="errorholder"></div>
    <ui-row>
      <ui-column size="md-12 lg-12">
          <ui-container class="container-box">
              <ui-panel class="panel_cont">
                <ui-panel-body class="panel_body">
                    <ui-row>
                      <ui-column size="md-12 lg-12">
                          <ui-fieldset legend="Checklist Item" checked.bind="showChecklist">
                            <ui-form submit.trigger="saveItem()">
                                <ui-row>
                                    <ui-column size="md-6 lg-6 xs-12" class="boxForm">
                                      <ui-row>
                                          <ui-column size="md-12 lg-12 xs-6">
                                            <ui-input-group>
                                              <ui-input-label class="ui-label-custom"> Title </ui-input-label>
                                              <ui-input text class="input-ui" placeholder="Title" value.bind="checklistitem.Title & validate"/>
                                              </ui-input>
                                            </ui-input-group>
                                        </ui-column>
                            
                                        <ui-column size="md-12 lg-12 xs-6">
                                            <ui-input-group>
                                                <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                                                <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="checklistitem.Notes" auto-complete=""></ui-textarea>
                                            </ui-input-group>
                                        </ui-column>
                                      </ui-row>
                                    </ui-column>

                                    <ui-column size="md-6 lg-6 xs-12" class="boxForm">
                                      <ui-row>
                                        <ui-column size="md-12 lg-12">
                                            <div class="des-table">
                                              <div id="treeChecklist"></div>
                                            </div>
                                        </ui-column>
                                      </ui-row>
                                    </ui-column>

                                    <ui-column size="md-12 lg-12" class="boxForm">
                                        <ui-input-group class="pull-right">
                                            <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                                                <i class="fa fa-check" aria-hidden="true"></i> Save
                                            </button>
                                              &nbsp;&nbsp;
                                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                              <i class="fa fa-times" aria-hidden="true"></i> Cancel
                                            </button>
                                        </ui-input-group>
                                    </ui-column>
                              
                                  </ui-row>
                            </ui-form>
                          </ui-fieldset>
                      </ui-column>
                    </ui-row>
                </ui-panel-body>
              </ui-panel>
          </ui-container>
      </ui-column>
    </ui-row>
</template>