﻿<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel class="panel_cont">
                <ui-panel-body class="panel_body">
                    <ui-row>
                        <ui-column size="md-12 lg-12">
                            <ui-row class="header-top">
                                <ui-column size="md-6 lg-6 xs-8">
                                    <h4 class="pull-left heading_title" style="font-size:28px">${heading} &nbsp; <i class="anra-ico_checklist" ></i></h4>
                                </ui-column>
                            </ui-row>
                        </ui-column>
                    </ui-row>

                    <ui-row>
                      <ui-column size="md-12 lg-12">
                          <div class="table-responsive des-table">
                              <div id="treeChecklist"></div>
                           </div>
                      </ui-column>
                    </ui-row>
  
                    <ui-row>
                        <ui-column size="md-12 lg-12 xs-12">
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                            </button>&nbsp;
                        </ui-column>
                    </ui-row>
                        
                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>
    
    
      
  </template>