<template>
    <require from="blur-image"></require>
    <require from="../lib/date-format"></require>
    <require from="./addchecklist"></require>
    <require from="./addchecklistitem"></require>
    <require from="./viewchecklistitem"></require>
  
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
  
    <ui-row show.bind="showParent">
      <ui-column size="md-12 lg-12 xs-12">
        <ui-container class="container-box">
          <ui-panel class="panel_cont">
            <ui-panel-body class="panel_body">
              <ui-row>
  
                <ui-column size="md-12 lg-12 xs-12">
                  <ui-row class="header-top">
                      <ui-column size="md-6 lg-6 xs-8">
                          <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_checklist" aria-hidden="true"></i></h4>
                      </ui-column>
  
                      <ui-column size="md-6 lg-6 xs-4">
                        <div class="pull-right">
                            <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                            <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                              <i class="fa fa-plus" aria-hidden="true"></i>
                              <span class="tooltip_text">Add New Organization</span>
                            </button>
                        </div>
                      </ui-column>
                  </ui-row>
                </ui-column>
  
                <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table">
                        <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: checklists; display-data.bind: $checklists;
                                        current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                          <thead>
                            <tr>
                              <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                              <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                              <th aut-sort="key: DateCreated; default: desc">Creation Dt. <span class="glyphicon glyphicon-sort"></span></th>
                              <th colspan="3">Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr repeat.for="item of $checklists">
                              <td>${item.Name}</td>
                              <td>${item.OrganizationName}</td>
                              <td>${item.DateCreated | dateFormat}</td>
                              <td colspan="3">
                                  <aup-dropdown direction="down" right="false">
                                      <div slot="dropdown-toggle">Action</div>
                                      <div slot="dropdown-menu" class="dropdown_menu">
                                          <a href="javascript:;" class="ed" click.delegate="addChecklistItem(item.OrganizationChecklistId)" title="Add Checklist Items">
                                            <i class="fa fa-list-alt" aria-hidden="true"></i>
                                            <span> Add Items </span>
                                          </a>
                                          <a href="javascript:;" class="ed" click.delegate="editItem(item.OrganizationChecklistId)" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span> Edit </span>
                                          </a>
                                          <a href="javascript:;" class="ed" click.delegate="deleteItem(item.OrganizationChecklistId)" title="Delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <span> Delete </span>
                                          </a>
                                          <a href="javascript:;" class="ed" click.delegate="viewItem(item.OrganizationChecklistId)" title="View">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span> View </span>
                                          </a>
                                      </div>
                                  </aup-dropdown>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </ui-column>
              </ui-row>
  
              <!-- pagination -->
              <ui-row>
                  <ui-column size="md-9 lg-9 xs-12">
                      <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                          pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                  </ui-column>
                  <ui-column size="md-3 lg-3 xs-12">
                      <div class="form-group pull-right">
                          <label for="pageSize">Page Size: </label>
                          <select value.bind="pageSize" id="pageSize" class="pagination-select">
                              <option model.bind="5">5</option>
                              <option model.bind="10">10</option>
                              <option model.bind="20">20</option>
                              <option model.bind="50">50</option>
                          </select>
                      </div>
                  </ui-column>
              </ui-row>
              <!-- pagination -->
              
            </ui-panel-body>
          </ui-panel>
        </ui-container>
      </ui-column>
    </ui-row>
  
  
    <add-check-list if.bind="showEdit" checklist.bind="checklist" save.call="saveItem()"></add-check-list>
    <add-check-list-item if.bind="showAddChecklistItem" checklistitems.bind="checklistitems"></add-check-list-item>
    <view-check-list-item if.bind="showView" checklistitems.bind="checklistitems"></view-check-list-item>
  
  </template>
  