/* style css */
*{ margin:0; padding:0;} 
body,html{color:#000000; overflow:auto}
a, a:focus, a:hover { color: #000; text-decoration: none;}
main{min-height:500px;}
.bashboard-block > li {margin-top: 10px; padding: 0 10px; text-align: center; list-style-type: none;}
.bashboard-block > li .das-bx {
    border: none;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
	padding-bottom: 0;
	border-radius: 5px;
}
.nav.bashboard-block > li > a {
    padding: 0;
}
header .navbar-default .nav > li > a,.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #ffffff !important;
}
.small-das .das-bx .image-sec {
    width: 30px;
    height: 30px;
    background-size: 30px auto;
    display: inline-block;
    margin: 0 auto;
    line-height: 30px;
    background-color: transparent;
    border-radius: 50%;
    vertical-align: middle;
}
.small-das .das-bx .image-sec > i {
    font-size: 18px;
}
.small-das .das-bx .image-sec > i.anra-ico_batterycharge_dark {
    font-size: 11px;
}
.bashboard-block > li.active .das-bx {
    background-color: #f2f2f2;
}
.small-das .das-bx .image-sec > i.anra-ico_drone {
    font-size: 30px;
}
.das-bx:hover {
    transform: scale(1.02);
	opacity: 1;
}
.bashboard-block > li:nth-child(4) {
    clear: left;
}
.small-das .bashboard-block > li:nth-child(4) {
    clear: none;
}
.das-bx .cnt-sec span {
    display: inline-block;
    font-size: 30px;
}
.das-bx .image-sec > i {
    color: #36e4c6;
    font-size: 38px;
    display: inline-block;
    vertical-align: middle;
}
.das-bx .image-sec > i.anra-ico_drone {
    font-size: 50px;
}
.das-bx .image-sec > i.anra-ico_warning_dark {
    position: relative;
    top: -4px;
}
.das-bx .cnt-sec {
	vertical-align: middle;
    text-align: center;
    line-height: 1;
    display: inline-block;
    color: #2a323c;
    border-radius: 6px;
}
.das-bx h3 {
    text-transform: capitalize;
    color: #777;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
.network-page .das-bx h3 {
	margin-bottom: 10px;
}
span.cnt-no {
    color: #2a323c;
    border-radius: 10px;
    padding: 2px 8px;
}
.bashboard-block {
    padding: 0 5px 20px;
	border: none;
	text-align: center;
	margin-top: -68px;
}
.das-middle-sec {
  margin-top: 25px;
	margin-bottom: 5px;
}
.das-middle-sec h2 {
    margin: 0;
    font-size: 22px;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:active{
	background-color: #36e4c6;
    border-color: #36e4c6;
}
.btn-primary {
    color: #fff;
    background-color: #36e4c6;
    border-color: #36e4c6;
}
.btn-primary.btn-gray {
    background-color: #A3A5A0;
    border-color: #A3A5A0;
}
.right-botton .btn-primary:first-child {
    margin-right: 10px;
}
.des-table {
    display: inline-block;
    width: 100%;
}
table.table {
    margin: 0;
}
.des-table .table>thead>tr>th {
    font-weight: 600;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 13px 18px;
	text-align:center;
	height: 45px;
}
.table>tbody>tr>td:first-child, .table>tbody>tr>th:first-child, .table>tfoot>tr>td:first-child, .table>tfoot>tr>th:first-child, .table>thead>tr>td:first-child, .table>thead>tr>th:first-child{
	text-align:left;	
}
.bashboard-section {
	padding: 0;
}
footer {
    background-color: #333333;
    padding:0 0;
	color: #ddd;
}
footer ul {
    list-style-type: none;
    margin: 0;
}
footer ul li {
    line-height: 1.3;
    padding-bottom: 10px;
}
footer h3 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.footer-top {
    border-bottom: 1px solid #fff;
	padding: 25px 0;
}
.social-icons li, .pay-method li, .pay-method p, .pay-method ul {
    display: inline-block;
	vertical-align: middle;
}
footer .fa {
    color: #848484;
    font-size: 25px;
}
footer  .pay-method .fa {
    font-size: 20px;
}
.footer-bottom {
    padding: 25px 0;
	font-size: 13px;
}
.social-icons li a, .pay-method li a {
    display: inline-block;
    padding: 0 8px;
}
.social-icons li a:first-child {
    padding-left: 0;
}
.pay-method p {
    padding-right: 15px;
}
footer .footer-bottom ul li {
    padding-bottom: 0;
}
.copy-right {
    text-align: center;
}
footer p {
    margin-bottom: 0;
}
.btn-primary:hover {
    background-color: #36e4c6;
    border-color: #36e4c6;
}
.btn-primary.btn-gray:hover{
	background-color: #A3A5A0;
    border-color: #A3A5A0;
}
button.btn.btn-primary:hover{
	opacity:.8;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 8px 15px;
	font-size: 16px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: transparent;
    border: none;
    padding: 0;
	cursor: pointer;
}
.nav-tabs>li>a,.nav-pills>li>a {
    padding: 0;
}
.nav-pills>li+li,.nav-tabs>li+li {
    margin-left: 0;
}
.map-bt {
	position: absolute;
    z-index: 7;
    width: 28px;
    height: 45px;
    background-color: #36e4c6;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 33px;
    line-height: 45px;
    cursor: pointer;
    right: -28px;
    top: 8px;
    text-align: center;
}
.map-bt.expend {
    background-color: #a3a5a0;
}
.map-bt:hover{
	opacity:.8;
}
.map-right-panel{
	-webkit-transform: translate3d(-350px,0,0);
    -moz-transform: translate3d(-350px,0,0);
    -o-transform: translate3d(-350px,0,0);
    -ms-transform: translate3d(-350px,0,0);
    transform: translate3d(-350px,0,0);
	-webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   -ms-transition: all .4s ease;
   transition: all .4s ease;
   width: 350px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    top: 0;
    background-color: #fff;
}
.map-right-panel.exp-panel {
	-webkit-transform: translate(0, 0);
    transform: translate(0, 0);
	visibility: visible;
    
}
.map-ntw.exp-mp {
    -webkit-transform: translate3d(350px,0,0);
    -moz-transform: translate3d(350px,0,0);
    -o-transform: translate3d(350px,0,0);
    -ms-transform: translate3d(350px,0,0);
    transform: translate3d(350px,0,0);
	-webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   -ms-transition: all .4s ease;
   transition: all .4s ease;
}
.map-ntw {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
	-webkit-transition: all .4s ease;
   -moz-transition: all .4s ease;
   -o-transition: all .4s ease;
   -ms-transition: all .4s ease;
   transition: all .4s ease;
}
.network-map-div {
    overflow-y: hidden;
	position: relative;
}
.map-bt .fa-angle-left {
    display: none;
}
.map-bt.expend .fa-angle-left {
    display: inline-block;
}
.map-bt.expend .fa-angle-right {
    display: none;
}
.top-map-pn {
    display: inline-block;
    width: 100%;
    background-color: #36e4c6;
    color: #fff;
    font-size: 16px;
    padding: 13px;
}
.map-right-panel li {
    border-bottom: 1px solid #ddd;
    padding: 10px 14px;
}
.map-right-panel li input {
    float: right;
}
.des-table a.ed {
    color: #333;
    font-weight: normal;
    font-size: 16px;
}
.des-table a:hover {
    opacity:.8;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
h2.title-2 {
    display: inline-block;
    width: 100%;
    padding: 0 15px;
	margin-bottom: 20px;
    margin-top: 30px;
}
.button-div {
    display: inline-block;
    padding: 0 0px 0 15px;
}
.button-div .btn-default {
    background-color: #36e4c6;
    color: #fff;
    border-color: #36e4c6;
    padding: 6px 20px;
    margin-top: 15px;
}
.button-div .btn-default:hover{
	opacity:.8;
}
form.add-form {
    margin-bottom: 0;
	display: inline-block;
    width: 100%;
}
.button-div .btn-default.cancel {
    background-color: #A3A5A0;
    border-color: #A3A5A0;
}
label {
    color: #2a323c;
}
.form-control {
    background-color: #DDEDED;
    border-color: transparent;
}
.input-group-addon {
    background-color: #DDEDED;
    border-color: transparent;
}
.dropdown-menu.user-sub {
    min-width: 120px;
    left: -76px;
	border-radius: 4px !important;
    padding: 0;
}
.dropdown-menu.user-sub li > a {
    padding: 5px 15px;
}
.network {
    margin: 0 -15px;
}
.dealer-website a {
    color: #009bd4;
    text-decoration: underline;
    font-size: 12px;
    text-transform: lowercase;
}
span.view-fl {
    display: block; 
    line-height: 1.5;
    color: #555; 
}
.mb-menu {
    display: none;
}
@media only screen and (max-width: 992px) {
    .mb-menu {
		display: block;
		float: right;
		color: #fff;
		font-size: 25px;
		margin-top: 30px;
		margin-right: 10px;
		cursor: pointer;
	}

}
/*******New css*******/
.site-description {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    font-size: 11px;
    line-height: inherit;
    text-transform: uppercase;
 color: #8594a7;
}
.site-description:before {
 content: "";
    position: absolute;
    left: 16px;
    top: -18px;
    width: 1px;
    height: 38px;
    background: #cfd8e2;
}
.mb-menu {
    color: #888;
}

.splash{
    font-size: 60px;
    margin: 104px auto;
    width: 94%;
    text-shadow: rgba(0, 0, 0, 0.64) 5px 4px 15px;
    text-align:center
}

.fa-spinner{
    margin: auto;
    display: table;
}

.view-inner {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 15px;
}

.view-inner label {
    font-weight: 700;
    padding-bottom:5px;
}

body main {
    min-height: calc(100vh - 147px);
	margin-left: 240px;
}
header {
    min-height: 70px;
}
.has-warning .form-control {
    border-color: red;
}

.disable {
    opacity: .6 !important;
    cursor: not-allowed;
}

.media-group-btn{
    display: block;
    padding: 20px;
    cursor:pointer;
}

.des-table a.ded {
	border: 1px solid #36e4c6;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: #36e4c6;
    color: gray;
    pointer-events: none;
    cursor: default;
}


.mission-menu-icons{
  content: '';
  display: inline-block;
  height: 40px;
  width:100%;
}

.ico_freehand{
  background: url(../../../image/ic_freehand.png) no-repeat 20px 0px;
}

.ico_polygon{
  background: url(../../../image/ic_zigzag.png) no-repeat 20px 0px;
}

.ico_spiral{
  background: url(../../../image/ic_tower.png) no-repeat 15px 0px;
}

.ico_hexagon{
  background: url(../../../image/ic_location_points.png) no-repeat 20px 0px;
}

/***new css**/
.switch {
  position: relative;
  margin-left:5px;
}

.switch label {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}

.switch input {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

/* DEMO 3 */

.switch.demo3 {
  width: 40%;;
  height: 20px;
  display: inline-block;
}

.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a39d;
  border-radius: 40px;
  box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2),
  0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -moz-linear-gradient(#f2f2f2, #ababab);
  background: -ms-linear-gradient(#f2f2f2, #ababab);
  background: -o-linear-gradient(#f2f2f2, #ababab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
  0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
  border-radius: inherit;
  background: #eee;
  background: -moz-linear-gradient(#e5e7e6, #eee);
  background: -ms-linear-gradient(#e5e7e6, #eee);
  background: -o-linear-gradient(#e5e7e6, #eee);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
  background: -webkit-linear-gradient(#e5e7e6, #eee);
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.switch.demo3 label i {
  display: block;
  height: 100%;
  width: 60%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 40%;
  top: 0;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow: inset 0 1px 0 white,
  0 0 8px rgba(0, 0, 0, 0.3),
  0 5px 5px rgba(0, 0, 0, 0.2);
}

.switch.demo3 label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

.switch.demo3 label i:before {
  content: "off";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: -50%;
}

.switch.demo3 input:checked ~ label {
  background: #9abb82;
}

.switch.demo3 input:checked ~ label i {
  right: -1%;
}

.switch.demo3 input:checked ~ label i:before {
  content: "on";
  right: 115%;
  color: #fff;
  text-shadow: 0 1px 0 #afcb9b,
  0 -1px 0 #6b8659;
}
.airspace-options{padding:5px;}
.airspace-options .airspace-option{
  border-bottom:1px solid gray;
  vertical-align: top;
  margin:5px;
}
.panel-subheader {
	background: #354052;
	color: white;
	padding: 12px;
	font-size: 17px;
	font-weight: 600;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
.airspace-main {
	padding: 10px 0;
}
.help-div {
	float: right;
}
.help-div {
	float: right;
	margin-right: 7px;
	cursor: pointer;
}
.airspace-main .panel-subheader.panel-1 {
	background: #d4dce4;
	color: #354052;
	margin-left: 15px;
	padding: 8px;
	font-size: 14px;
	margin-top: 12px;
	margin-bottom: 10px;
	margin-right: 15px;
	border-radius: 3px;
}
.airspace-main-inner {
	padding: 0 40px;
}
.color-div {
	float: right;
	border-top: 6px solid #1a74b3;
	height: 1px;
	width: 35px;
	margin-top: 6px;
}
.airspace-options.airspace-2:nth-child(2) .color-div {
	border-top: 6px solid #9b6c9d;
}
.airspace-options.airspace-2:nth-child(3) .color-div {
	border-top: 3px dotted #1a74b3;
}
.airspace-options.airspace-2:nth-child(4) .color-div {
	border-top: 3px dotted #9b6c9d;
}
.panel-subheader span.glyphicon {
	float: right;
}

/* DEMO 3 */

.switch.demo3 {
  width: 40%;;
  height: 20px;
  display: inline-block;
}

.switch.demo3 label {
  display: block;
  width: 100%;
  height: 100%;
  background: #a5a39d;
  border-radius: 40px;
  box-shadow: inset 0 3px 8px 1px rgba(0, 0, 0, 0.2),
  0 1px 0 rgba(255, 255, 255, 0.5);
}

.switch.demo3 label:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  border-radius: inherit;
  background: #ababab;
  background: -moz-linear-gradient(#f2f2f2, #ababab);
  background: -ms-linear-gradient(#f2f2f2, #ababab);
  background: -o-linear-gradient(#f2f2f2, #ababab);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f2f2f2), to(#ababab));
  background: -webkit-linear-gradient(#f2f2f2, #ababab);
  background: linear-gradient(#f2f2f2, #ababab);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3),
  0 1px 1px rgba(0, 0, 0, 0.25);
}

.switch.demo3 label:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -18px;
  right: -18px;
  bottom: -18px;
  left: -18px;
  border-radius: inherit;
  background: #eee;
  background: -moz-linear-gradient(#e5e7e6, #eee);
  background: -ms-linear-gradient(#e5e7e6, #eee);
  background: -o-linear-gradient(#e5e7e6, #eee);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e7e6), to(#eee));
  background: -webkit-linear-gradient(#e5e7e6, #eee);
  background: linear-gradient(#e5e7e6, #eee);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}

.switch.demo3 label i {
  display: block;
  height: 100%;
  width: 60%;
  border-radius: inherit;
  background: silver;
  position: absolute;
  z-index: 2;
  right: 40%;
  top: 0;
  background: #b2ac9e;
  background: -moz-linear-gradient(#f7f2f6, #b2ac9e);
  background: -ms-linear-gradient(#f7f2f6, #b2ac9e);
  background: -o-linear-gradient(#f7f2f6, #b2ac9e);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#f7f2f6), to(#b2ac9e));
  background: -webkit-linear-gradient(#f7f2f6, #b2ac9e);
  background: linear-gradient(#f7f2f6, #b2ac9e);
  box-shadow: inset 0 1px 0 white,
  0 0 8px rgba(0, 0, 0, 0.3),
  0 5px 5px rgba(0, 0, 0, 0.2);
}

.switch.demo3 label i:after {
  content: "";
  position: absolute;
  left: 15%;
  top: 25%;
  width: 70%;
  height: 50%;
  background: #d2cbc3;
  background: -moz-linear-gradient(#cbc7bc, #d2cbc3);
  background: -ms-linear-gradient(#cbc7bc, #d2cbc3);
  background: -o-linear-gradient(#cbc7bc, #d2cbc3);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#cbc7bc), to(#d2cbc3));
  background: -webkit-linear-gradient(#cbc7bc, #d2cbc3);
  background: linear-gradient(#cbc7bc, #d2cbc3);
  border-radius: inherit;
}

.switch.demo3 label i:before {
  content: "off";
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 #bcb8ae, 0 -1px 0 #97958e;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -6px;
  right: -50%;
}

.switch.demo3 input:checked ~ label {
  background: #9abb82;
}

.switch.demo3 input:checked ~ label i {
  right: -1%;
}

.switch.demo3 input:checked ~ label i:before {
  content: "on";
  right: 115%;
  color: #fff;
  text-shadow: 0 1px 0 #afcb9b,
  0 -1px 0 #6b8659;
}
.airspace-options{padding:5px;}
.airspace-options .airspace-option{
  border-bottom:1px solid gray;
  vertical-align: top;
  margin:5px;
}
.panel-subheader, .workspace-side-bar .panel.panel-default .panel-title a{
	background:#354052;
	color: white;
	padding: 10px 12px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
#accordion-workspace.workspace-side-bar .panel.panel-default .panel-title a {
	padding: 10px 12px !important;
}

#accordion-workspace.workspace-side-bar .panel.panel-default {
    padding: 0 !important;
    background: transparent;
	box-shadow: none;
}
#accordion-workspace.workspace-side-bar .panel.panel-default .panel-title {
    padding: 0;
}
#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li {
    padding: 5px 10px;
}
#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li a {
	font-weight: normal;
    color: #3f5275;
    font-size: 15px;
    padding: 4px 0 !important;
}
#accordion-workspace.workspace-side-bar .panel.panel-default .panel-collapse li a i.fa {
    padding-right: 5px;
}
.panel.panel-default .panel-collapse li select {
    padding: 5px 8px;
}
.panel.panel-default .panel-collapse li label {
    padding-right: 5px;
}
.ui-popup p {
    color: #3f5275;
}
div.slider-track-low, div.slider-track-high, div.slider-selection {
    position: absolute;
    background: #ccc;
}
.workspace-side-bar li.list-group-item {
    border: none;
    background: transparent;
}
	.airspace-main {
		padding: 10px 0;
	}
	.help-div {
		float: right;
	}
	.help-div {
		float: right;
		margin-right: 7px;
		cursor: pointer;
	}
	.airspace-main .panel-subheader.panel-1 {
		background: #d4dce4;
		color: #354052;
		margin-left: 15px;
		padding: 8px;
		font-size: 14px;
		margin-top: 12px;
		margin-bottom: 10px;
		margin-right: 15px;
		border-radius: 3px;
	}
	.airspace-main-inner {
		padding: 0 40px;
	}
	.color-div {
		float: right;
		border-top: 6px solid #1a74b3;
		height: 1px;
		width: 35px;
		margin-top: 6px;
	}
	.airspace-options.airspace-2:nth-child(2) .color-div {
		border-top: 6px solid #9b6c9d;
	}
	.airspace-options.airspace-2:nth-child(3) .color-div {
		border-top: 3px dotted #1a74b3;
	}
	.airspace-options.airspace-2:nth-child(4) .color-div {
		border-top: 3px dotted #9b6c9d;
	}
	.panel-subheader span.glyphicon {
		float: right;
	}
	
nav.navbar-inverse {
    background-color:#fff;
    border-color: #ecf2f6;
}
.airspace-options {
    color: #3f5275;
}
.airspace-options div.airspace-option {
    border: none;
}
div.switch.demo3 {
    float: left;
    margin-right: 12px;
    width: 70px;
}
div.switch.demo3 label i:before {
    font-size: 12px;
    margin-top: -5px;
	right: -76%;
}
div.switch.demo3 label i {
    width: 50%;
	right: 50%;
}
div.switch.demo3 input:checked ~ label {
    background: #f6a517;
}
div#mySidenav .top-div {
    background:#a1a1a1;
	font-size: 19px;
    padding: 10px;
	font-weight:normal;
	text-transform: capitalize;
}
div.sidenav {
    padding-top: 0;
	padding-bottom: 20px;
}
div.sidenav .closebtn {
    top: 2px;
    font-size: 30px;
    right: 10px;
    margin-left: 5px;
}
mission-side-bar .container-fluid {
    padding-right: 30px;
	padding-top: 15px;
}
.navbar.drone-side-bar .tab-content {
    padding-top: 20px;
}
#mySidenav .navbar.drone-side-bar .nav.nav-tabs>li {
    width: 50%;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open > .dropdown-toggle.btn-warning {
    background-color: #FF6347 !important;
    border: 1px solid #FF6347 !important;
}
button.btn-warning {
    background-color: #FFA500 !important;
    border: 1px solid #FFA500 !important;
}
button.btn-danger {
    background-color: #ff0000!important;
    border: 1px solid #ff0000!important;
}
button.btn-info,button.btn-info:hover {
    background-color: #ffff00!important;
    border: 1px solid #ffff00 !important;
}
.way-btn-wi-fi button.btn.btn-info {
    color: #555!important;
}
button.btn-start,button.btn-start:hover {
    background: #008000 !important;
}
.airspace-2:nth-child(1) div.switch.demo3 input:checked ~ label,
.airspace-2:nth-child(3) div.switch.demo3 input:checked ~ label{
	background: #1a74b3;
}
.airspace-2:nth-child(2) div.switch.demo3 input:checked ~ label,
.airspace-2:nth-child(4) div.switch.demo3 input:checked ~ label{
	background: #9b6c9d;
}
.airspace-3:nth-child(1) div.switch.demo3 input:checked ~ label,
.airspace-3:nth-child(2) div.switch.demo3 input:checked ~ label{
	background: #e01212;
}
.airspace-3:nth-child(3) div.switch.demo3 input:checked ~ label,
.airspace-3:nth-child(4) div.switch.demo3 input:checked ~ label{
	background: #354052;
}
.airspace-3:nth-child(5) div.switch.demo3 input:checked ~ label,
.airspace-3:nth-child(6) div.switch.demo3 input:checked ~ label{
	background: #e01212;
}
.airspace-4 div.switch.demo3 input:checked ~ label{
	background: #1a74b3;
}
.ui-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 9;
    opacity: 1;
}
div#mySidenav {
    overflow: visible;
}
.ui-popup {
    width: 500px;
    height: 270px;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.ui-popup .close {
    position: absolute;
    top: 15px;
    right: 25px;
    opacity: .5;
}
.leaflet-control-container {
    position: relative;
    z-index: 0;
}
ul{
    padding: 0;
}
#sidebar-menu li {
    width: 100%;
    text-align: left;
}
.container.tab-content {
    background: #fff;
    margin-bottom: 20px;
	border-radius: 5px;
}
.bottom-table {
    padding: 0 20px;
	margin-top: 18px;
}
a#menubutton {
   z-index: 999;
    color: #36e4c6;
    top: 24px;
    font-size: 18px;
    margin: 0;
    right: 8px;
}
a#menubutton:hover {
	opacity:.7;
}
div#mySidenav {
    z-index: 9999;
}
div.sidenav {
    background:#fff;
}
side-nav-bar #page-content {
    margin-right: 0 !important;
}
table.dataTable a {
    color: #333;
    font-weight: normal;
    text-transform: capitalize;
}
.network-page .das-bx h3 {
    display: inline-block;
    vertical-align: middle;
    margin-left: 3px;
}
.network-page .bashboard-block > li .das-bx{
	padding-bottom:0;
}
.network-page .bashboard-block {
    margin-top: -90px;
}
.input-group label.ui-label.au-target {
    display: none;
}
.input-group .ui-input-group {
    margin: 0;
}
.ui-input-group .ui-label
{
    display: none;
}
.ui-input-group .ui-control-wrapper>.ui-input-control>.ui-input-wrapper .ui-input{
	background-color: #fafafa;
    border-radius: 2px;
    border: 1px solid #eeeeee;
    box-shadow: none;
    height: 38px;
}
.form-group label.control-label {
    margin-bottom: 5px;
}
.network-tp .page-header-title {
    padding: 10px 15px 80px 20px;
}
div.page-header-title {
    padding: 10px 15px 55px 20px;
}
.network-page .small-das .das-bx .image-sec > i {
    font-size: 13px;
}
.network-page .small-das .das-bx .image-sec {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.role-tx h3 {
    margin: 0 !important;
}
.row.graph-box {
    margin: 0;
    padding: 0 10px;
}
#sidebar-menu > ul > li.active > a {
    background-color: #f2f2f2;
}
.des-table a {
    background: transparent !important;
	border:none !important;
}
table.dataTable a i {
    margin: 0 6px;
}
td.action-btn {
    white-space: nowrap;
}
button.btn-primary {
    border-radius: 5px;
}
.small-das.dash-mn .das-bx .image-sec {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
.small-das.dash-mn .das-bx .image-sec > i {
    font-size: 30px;
}
.small-das.dash-mn .das-bx .image-sec > i.anra-ico_drone {
    font-size: 42px;
}
.topbar .topbar-left {
    padding-top: 8px;
}
.mission-opt > button {
    background: #fff;
}
body{
	background: #ddd;
	font-family: "PT Sans Caption", sans-serif !important; 
}
.des-table a.ed i.anra-ico_drone {
    font-size: 25px;
	position: relative;
    top: 5px;
}
.dash-box-5 .col-md-2 {
    width: 20%;
}
.form-group.search-bx {
    float: left;
    margin-right: 20px;
}
i.anra-ico_drone.drone-2 {
    position: relative;
    top: 7px;
}
.dash-mn .das-bx h3 {
    display: block;
}
.dash-mn .das-bx {
    padding: 2px 0 7px !important;
}
ul.dropdown-menu{
	min-width:176px;
}
.notifi-title {
    width: 100%;
    display: inline-block;
    height: auto;
}
.ui-switch-control .ui-switch .ui-switch-label:before {
    color: #fff;
}

.ui-switch-control .ui-switch .ui-switch-label {
	background-color: #a5a39d;
	box-shadow: none;
}
.ui-switch-control .ui-switch {
    max-width: 78px;
	border: none;
    box-shadow: none;
	font-weight: 700;
	font-size: 14px;
}
.form-group label {
    margin-bottom: 5px;
}
.container-fluid.login-page {
    margin-left: -240px;
	text-align: center;
}
.login-div {
    max-width: 400px;
    display: inline-block;
    float: none;
    text-align: left;
}
.effort .form-group .input-group {
    display: block;
}
li.user-rt {
    margin-top: 17px;
    margin-left: 5px;
}
li.user-rt>a {
    border: 2px solid rgba(255, 255, 255, 0.5) !important;
    padding: 0 !important;
    height: 36px;
    line-height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
}
.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.advisory-default{
  background:black;
  color:white;
}

.advisory-yellow, .advisory-yellow a{
  background: #FAF1BB;
  color:black !important;
}
.advisory-green, .advisory-green a{
	background: #428F42;
	color: #fff !important;
}
#mySidenav .nav.nav-tabs > li.advisory-red a {
    background: red;
	color:#354052 !important;
}
#mySidenav .nav.nav-tabs > li.advisory-green a {
    background: #006400;
	color:#354052 !important;
}
.advisory-red{
  background:red;
  color:white !important;;
}

.advisory-row{
  font-size:14px;
  padding:5px;
  line-height:1.5;
}
header li.user-rt a i {
    font-size: 16px;
}
.page-header {
    margin: 20px 0 25px;
    padding-bottom: 0;
	border-color: #dedede;
}
.edit-view {
    padding: 0 0 20px;
	margin-top: 18px;
}
.edit-view-mn > .row {
    margin: 0;
}
.edit-view-mn {
    padding-left: 20px;
    padding-right: 20px;
}
.padding-10{
	padding-left:10px;
	padding-right:10px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f9f9f9;
    opacity: 1;
}
div .form-control, div .form-control:focus {
    background-color: #f2f2f2;
    border-color: #dedede;
	border-radius: 4px;
}
h3.text-primary {
    color: #2a323c;
    font-size: 20px;
}
.no-margin{
	margin-left:0 !important;
	margin-right:0 !important;
}
.padding-5{
	padding-left: 5px !important;
	padding-right: 5px !important;
}
div .input-group-addon {
    border: 1px solid #dedede;
    background-color: #f2f2f2;
    border-radius: 4px 0 0 4px;
}
div .ui-input-group .ui-control-wrapper>.ui-input-control>.ui-input-wrapper .ui-input {
    background-color: #f2f2f2;
    border: 1px solid #dedede;
	border-radius: 0 4px 4px 0 !important;
}
div .has-success .input-group-addon {
    border-color: #dedede;
}
div.border-none {
    border: none;
    margin-bottom: 10px;
}
select#ddlRole option, select option {
    padding: 3px 10px;
	background: #f2f2f2;
}
.view-doc {
    margin-top: 7px;
}
.das-bx-img {
  width: 50%;
  float: left;
  text-align: center;
}

.das-bx-text {
  width: 60%;
  vertical-align: top;
  display: inline;
}

li.mission-opt:nth-child(4) {
  clear: none;
}

.mission-opt > button {
  border: 1px solid #cecece;
  display: inline-block;
  width: 100%;
  margin: 5px;
  padding: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.mission-opt .image-sec {
    background-color: #36e4c6;
    width: 70px;
    height: 70px;
    border-radius: 50%;
	float: left;
}
.mission-opt .das-bx-text {
    display: none;
}
div.mission-opt > button {
    margin: 0;
	position: relative;
}
.mission-opt {
    margin: 10px 0;
}
.mission-opt .das-bx-img {
    width: 100%;
}
.mission-opt .das-bx .cnt-sec {
     width: 100%;
    margin-left: -75px;
    padding-left: 80px;
    height: 70px;
    position: relative;
    text-align: center;
}
.mission-opt .das-bx .cnt-sec span {
    font-size: 20px;
    transform: translate(0,-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
    padding-left: 80px;
}
.mission-opt > button:hover .das-bx-text {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.75);
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    line-height: 1.4;
	font-weight: normal;
    font-size: 15px;
	display:block;
}
.mission-opt .das-bx .image-sec > i {
    background-position: center center;
    height: 70px;
}
.margin-bottom-20{
	margin-bottom:20px !important;
}
.padding-20{
	padding-left:20px !important;
	padding-right:20px !important;
}
.report-search .ui-input-group > label.ui-label {
    display: none;
}
.report-search .ui-input-group .ui-control-wrapper ui-input-label {
    display: block;
    width: 100%;
    font-size: 18px;
    color: #333;
    font-weight: 600;
    margin-bottom: 10px;
}
.report-search .ui-input-group .ui-control-wrapper > .ui-option {
    float: left;
    display: block;
    width: 25%;
    text-align: left;
    flex: initial;
}
.report-download {
    margin-top: -47px;
    cursor: pointer;
}
.report-download h2 > i.fa {
    color: rgba( 13, 186, 188, 1 );
    font-size: 25px;
}
.report-download h2 > i.fa:hover {
    color: rgba( 13, 186, 188, .7 );
}
.report-download .dropdown-menu .fa {
    padding-right: 4px;
}
.report-srh .form-group {
    margin-bottom: 0;
}
.report-srh button.btn-primary {
    margin-top: 17px;
}
.body-sidebar-toggle-active .topbar .topbar-left,
.body-sidebar-toggle-active .left.side-menu {
    width: 70px;
    overflow: hidden;
}
.body-sidebar-toggle-active main {
    margin-left: 70px;
}
.body-sidebar-toggle-active .logo{
	display:none;
}
.body-sidebar-toggle-active .logo-sm{
	display:inline-block;
	width: 100%;
}
div .logo-sm span {
    height: 55px;
    width: 100%;
    line-height: 55px;
	margin-top: 7px;
}
.body-sidebar-toggle-active .user-details {
    display: none;
}
.body-sidebar-toggle-active #sidebar-menu > ul > li > a {
    font-size: 0;
	padding: 20px 25px;
    height: auto !important;
}
.body-sidebar-toggle-active #sidebar-menu > ul > li > a > i {
    font-size: 19px;
    margin: 0;
}
.body-sidebar-toggle-active #sidebar-menu {
    margin-top: 30px;
}
.report-srh .form-control {
	padding: 6px 5px 6px 8px;
}
.media-group-btn.media-tb-btn {
    display: inline-block;
    background-color: #31c5ac !important;
    border: 2px solid #31c5ac !important;
    color: #fff !important;
    padding: 10px 15px !important;
    border-radius: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    min-width: 210px;
    text-align: left;
	width: 100%;
}
.media-mn .glyphicon {
    float: right;
}
.media-mn .glyphicon-chevron-down::before {
    content: "+";
    top: -2px;
    position: relative;
}
.media-mn .glyphicon-chevron-up::before {
        content: "--";
    top: -2px;
    position: relative;
    font-size: 22px;
    right: 0;
    height: 0;
    line-height: 0;
    letter-spacing: -2px;
}
a.media-link {
    color: #31c5ac;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 10px;
}
.media-group-btn.media-tb-btn:hover {
	opacity:.7;
}
div.media-mn {
    margin-top: 10px;
	margin-bottom: 10px;
}
.btn-primary {
    border-radius: 4px;
}
.media-mn table.dataTable {
    margin-top: 5px !important;
}
.margin-top-20 {
    margin-top: 20px!important;
}
.first-text-center td:first-child {
    text-align: center !important;
}
ul.nav.navbar-nav.navbar-right {
    padding-right: 15px;
}
.ui-switch-control .ui-switch .ui-switch-input:checked ~ .ui-switch-handle::after,
.ui-switch-control .ui-switch .ui-switch-handle::after {
    content: "";
    position: absolute;
    left: 15%;
    top: 25%;
    width: 70%;
    height: 50%;
    background: linear-gradient(rgb(203, 199, 188), rgb(210, 203, 195));
    border-radius: inherit;
}
.ui-switch-control .ui-switch .ui-switch-input:checked ~ .ui-switch-handle{
    display: block;
    height: 86%;
    width: 55%;
    position: absolute;
    z-index: 2;
    right: -5%;
    top: 47%;
    box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 0px 8px, rgba(0, 0, 0, 0.2) 0px 5px 5px;
    border-radius: inherit;
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    left: initial;
}
.ui-switch-control .ui-switch .ui-switch-handle{
    display: block;
    height: 86%;
    width: 55%;
    position: absolute;
    z-index: 2;
    right: -5%;
    top: 47%;
    box-shadow: white 0px 1px 0px inset, rgba(0, 0, 0, 0.298039) 0px 0px 8px, rgba(0, 0, 0, 0.2) 0px 5px 5px;
    border-radius: inherit;
    background: linear-gradient(rgb(247, 242, 246), rgb(178, 172, 158));
    left: 0;
}
div input[type=file] {
    background: #f2f2f2;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 4px;
}
select {
    border-color: #ededed;
    border-radius: 4px;
}
.report-download ul.dropdown-menu {
    padding: 0;
    top: 40px;
}
.logo-2 {
	float: left;
    margin-left: 10px;
    width: 180px;
    padding: 10px;
    height: 50px;
	display:none;
}
.body-sidebar-toggle-active .logo-2 {
	display:block;
}
.checkbox.checkbox-primary {
    margin: 0;
}
.user-details img {
    background: #f2f2f2;
}
div .logo-sm span {
    color: #4a5869;
    font-size: 25px;
}
.des-table a.ed i.fa.fa-map-marker {
    font-size: 19px;
}
a.logo img {
    max-width: 200px;
}
div.logo-div {
    background-size: 200px;
	background-position: 45% center;
}
div.drone-info-left {
    padding-left: 0;
}
div.drone-info-righ {
    padding-right: 0;
}
.drone-info-righ h6 {
    font-size: 15px;
    font-weight: normal;
    margin-top: -4px;
    padding-top: 0;
    margin-bottom: 0;
}
.drone-info-left .ui-input-group .ui-control-wrapper {
    -webkit-flex: 1 0 17em;
    flex: 1 0 16em;
}
table.table .anra-ico_batterycharge_light {
    font-size: 12px;
}
.clear-both{
	clear:both;
}
/****table border changes****/
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-right: none;
    border-left: none;
}
.table-bordered {
    border: none;
}
.table-bordered.dataTable > thead > tr > td, .table-bordered.dataTable > thead > tr > th {
    border-bottom-width: 2px !important;
}
/****table border changes****/
/****side bar mission****/
#mySidenav .nav.nav-tabs>li {
    width: 33.33%;
	padding:0;
}
#mySidenav .nav.nav-tabs>li a {
    background: #fff;
    line-height: 1;
    padding: 12px 5px;
    text-align: center;
    color: #354052 !important;
    margin: 0;
    border-right: 1px solid #ddd;
    font-size: 17px;
	text-transform: capitalize;
	border-bottom: 1px solid #354052;
}
video#my-video {
    max-width: 100%;
}
.way-btn-wi-fi .btn.btn-primary {
    color: #fff !important;
	text-transform: uppercase;
}
#mySidenav .nav.nav-tabs>li.active a {
    background: #747c89;
	color: #fff !important;
}
.sidenav label {
    color: #3f5275 !important;
}
div#mySidenav div#menu1 {
    padding-top: 0;
}
div#mySidenav div#menu1 .container-fluid fieldset.form-group {
    width: 100%;
}
div#mySidenav .tab-content {
    border: none;
    box-shadow: none;
}
li#menu3 {
    padding: 15px;
}
li#menu3 ul>li {
    padding: 8px 12px;
}
#mySidenav .nav.nav-tabs > li.advisory-yellow a {
    background: #fff093;
	color:#354052 !important;
}
.workspace-slider #slides {
    padding: 20px 30px 20px;
    background-color: #f2f2f2;
    margin-top: 15px;
    border-radius: 4px;
    text-align: center;
}
.workspace-slider .row:nth-child(2) {
    background-color: #f2f2f2;
    padding-bottom: 20px;
}
.workspace-slider #slides .annotorious-annotationlayer {
    width: 100%;
	box-shadow: none;
    max-height: 520px;
    overflow: hidden;
	text-align: center;
	background: #2a323c;
}
.workspace-slider .buttons .btn {
    font-size: 27px;
    padding: 0 6px;
    background: #ddd;
}
.workspace-slider .buttons {
    top: 50%;
    margin-top: -20px;
}
.workspace-slider #slider1 button {
    background: #049ec2;
    display: block;
    border-radius: 50%;
}
.workspace-slider .slick-slide img {
    display: block;
    border: 2px solid #ddd !important;
    border-radius: 5px;
}
.workspace-slider #slides img {
    width: auto;
	box-shadow: none;
    max-width: 100%;
    max-height: 450px;
    min-height: 290px;
}
/****side bar mission****/
.location-map .drone-info-left {
    padding-left: 10px;
}
.location-map .drone-info-righ {
    padding-right: 10px;
}
div.mission-instructions {
    background: #ddd;
    padding: 7px 12px;
}
ul.right-bar-icos {
    float: right;
}
.right-bar-icos li.full-screen a {
    border-radius: 50%;
    border: 1px solid #62caac;
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #62caac;
    font-size: 18px;
}
#accordion-workspace.workspace-side-bar .panel.panel-default {
    padding: 0 !important;
}
ul.right-bar-icos li {
    float: left;
    margin: 0 8px;
}
ul.right-bar-icos li.screen-short a {
    background-image: url(../../../styles/images/screensort.png);
    width: 35px;
    height: 35px;
    display: inline-block;
    background-repeat: no-repeat;
}
.misn-div {
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
	padding-right: 8px;
}
.share-box .ui-popup {
    padding:0;
}
.share-box .ui-popup h3 {
    margin: 0;
    background-color: #36e4c6;
    color: #fff;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.share-box .ui-popup .body-text {
    padding: 20px 12px;
    border: 2px solid #DDD;
    margin: 30px;
	border-radius: 5px;
}
.share-box .ui-popup table {
    width: 100%;
}
.share-box .ui-popup table th, .share-box .ui-popup table td {
    padding: 5px;
    text-align: center;
}
.share-box .ui-popup table th:first-child, .share-box .ui-popup table td:first-child {
    text-align: left;
}
input.email-box {
    padding: 7px 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
}
button.share {
    color: #555;
    border: 1px solid #999;
    background-color: #fff;
    font-weight: normal;
    font-size: 16px;
    padding: 6px 20px;
    line-height: 1;
    border-radius: 4px;
}
button.share:hover {
    opacity: .7;
}
.share-box .ui-popup h3.bottom-popup {
    text-align: left;
    padding: 10px 40px;
}
.share-box .close {
    border: 2px solid #fff;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 19px;
    color: #fff;
    border-radius: 50%;
    opacity: .8;
    font-size: 15px;
    top: 7px;
    right: 11px;
}
#accordion-workspace.workspace-side-bar .panel.panel-default #collapse2 .panel-title a {
    padding: 6px 10px !important;
    font-size: 14px;
    background: rgb(90, 105, 131);
    margin-bottom: 2px;
}
.change-password i.fa {
    padding-right: 5px;
}
.table-header,.table-body{
    width: 100%;
	display:table;
}
.table-header-inner,.table-body-inner{
    display: table-row;
}
.table-header-inner>div,.table-body-inner>div {
    display: table-cell;
	text-align:center;
	width: 15%;
	padding: 10px;
}
.table-header-inner>div:first-child,.table-body-inner>div:first-child {
	text-align:left;
}
.table-header-inner>div {
    font-weight: 600;
}
.table-header {
    border-bottom: 2px solid #ddd;
}
.table-body-inner>div {
    border-bottom: 1px solid #ddd;
}
.table-body-inner:nth-child(2n-1) {
    background-color: #f9f9f9;
}
.table-body-inner i {
    margin: 0 4px;
}
.process-queue .ui-option-group .ui-option {
    -webkit-flex: 0 0 8em;
    flex: 0 0 8em;
}
.process-queue .ui-option-group .ui-option:nth-child(1) {
    flex: 0 0 9.5em;
}
li.upload-icon i {
    color: #36e4c6;
    font-size: 30px;
}
div#mySidenav li > a i {
    font-size: 14px;
}
.tab-pane h6 {
    font-size: 22px;
    color: #36e4c6;
}
.three-d-view .container.tab-content{
	padding:20px;
}
.three-d-view p {
    font-size: 20px;
    color: #36e4c6;
    padding-bottom: 15px;
}