<template>
    <require from="../styles/bootstrap-treeview.min.js"></require>
    <require from="./navigation/navbar"></require>
    <require from="./navigation/left-side-bar"></require>
      
    <ui-drawer ref="drawerLeft" position="start" close-on-click scroll close-glyph="glyph-none" class="x-app-menu">
        <left-side-bar></left-side-bar>
    </ui-drawer> 
  
     <ui-viewport fullscreen>

        <ui-app-header>
         <ui-drawer-toggle drawer.bind="drawerLeft" class="hidden-lg"></ui-drawer-toggle>
          <navbar></navbar>
        </ui-app-header>

        
        <ui-router-view></ui-router-view>
      
        <ui-app-footer>
          <span>&copy; 2017, Company</span>
        </ui-app-footer>
    </ui-viewport>
</template>
