<template style="text-align: center" id="dialog">
    <style>
    .ui-header .ui-header-tool {
        line-height: 1;
        display: none;
    }
     
    a{
        text-decoration: none;
        color:grey;
        font-size: 14px;
    }    

      
    </style>
    <ui-dialog>
      <ui-content ui-scroll>
        <div class="modal-body model_login">
            <ui-row>
                <ui-column size="md-12 lg-12" class="mod-bx">
                    <ui-field label="Checkbox Group" value.bind="chkTermsCondition">
                        <ui-option-group>
                            <ui-checkbox  id="chkTermsCondition" checked.bind="chkTermsCondition" change.trigger="setConsent($event)" > 
                                <a href="docs/term_conditions.html" target="_blank">I agree to ANRA's Terms and Conditions.</a>
                            </ui-checkbox">
                        </ui-option-group>
                    </ui-field>
                </ui-column>

                <ui-column size="md-12 lg-12" class="mod-bx">
                    <ui-field label="Checkbox Group" value.bind="chkTermsCondition">
                        <ui-option-group>
                                <ui-checkbox  id="chkPrivacyPolicy" checked.bind="chkPrivacyPolicy" change.trigger="setConsent($event)" ><a href="docs/privacy_policy.html" target="_blank">I understand ANRA's Privacy Policy.</a></ui-checkbox">
                        </ui-option-group>
                    </ui-field>
                </ui-column>

                <ui-column size="md-12 lg-12">
                    <button  id="btnAgree" type="button" class="btn btn-model-login"  disabled  click.trigger="acceptEUConsent()" primary small class="login-btn">I Agree</button>
                </ui-column>
            </ui-row>

            <!-- <ui-column size="md-12 lg-12" class="mod-bx">
                <ui-field label="Checkbox Group" value.bind="chkTermsCondition">
                    <ui-option-group>
                        <ui-checkbox  id="chkTermsCondition" checked.bind="chkTermsCondition" change.trigger="setConsent($event)" > 
                            <a href="docs/term_conditions.html" target="_blank">I agree to ANRA's Terms and Conditions.</a>
                        </ui-checkbox">
                    </ui-option-group>
                </ui-field>
            </ui-column> -->

            

            <!-- <div class="mod-bx">
                <ui-field label="Checkbox Group" value.bind="chkTermsCondition">
                    <ui-option-group>
                            <ui-checkbox  id="chkPrivacyPolicy" checked.bind="chkPrivacyPolicy" change.trigger="setConsent($event)" ><a href="docs/privacy_policy.html" target="_blank">I understand ANRA's Privacy Policy.</a></ui-checkbox">
                    </ui-option-group>
                </ui-field>
            </div>

            <div class="modal-footer" style="text-align: center">
                <button  id="btnAgree" type="button" class="btn btn-model-login"  disabled  click.trigger="acceptEUConsent()" primary small class="login-btn">I Agree</button>
            </div> -->
        </div>
      </ui-content>
    </ui-dialog>
  </template>