<template class="login">
    <style>
        body {
            background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(34, 33, 33, 0.60)), url('image/DroneBlackBanner.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        }
        img.ui-col-auto.ui-app-logo.au-target {
            display: none;
        }
        .logo-div {
            background-image: url(image/logo_login_page.png);
            background-repeat: no-repeat;
            background-position: center center;
            width: 100%;
            height: 120px;
            margin-top: 20px;
        }  

        body .ui-viewport-header,body .ui-viewport .ui-viewport-footer {
            display: none;
        }
    
        #login_error{
            margin-top: 10px;
        }

        .ui-viewport-taskbar {
            display: none;
        }
    </style>
    
    <ui-page>
        <ui-loader busy.bind="busy" big|normal|small></ui-loader>
        <ui-row class="row-centered login-page">
        <ui-column padded size="md-6 lg-3 xs-9">
            <div class="logo-div"></div>
            <ui-panel>
            <ui-panel-body padded>
                <ui-form submit.trigger="authentication()">
                <ui-input-group>
                    <ui-input-label>Your Email</ui-input-label>
                    <ui-input class="login-input" placeholder="E-mail address" value.bind="email & validate" autocomplete="new-password"></ui-input>
                </ui-input-group>
                <ui-input-group>
                    <ui-input-label>Password</ui-input-label>
                    <ui-input class="login-input"  password  value.bind="password & validate" placeholder="******" ></ui-input>
                </ui-input-group>
                <div class="remember-bx">
                    <ui-input-group>                    
                        <input type="checkbox" name="" id="rem">
                        <ui-input-label for="rem">Remember Me!</ui-input-label>
                    </ui-input-group>
                    <!--<a href="#" class="for-pass">Forget Password?</a>-->
                </div>
                <ui-button click.trigger="authentication()" anra small class="login-btn ui-login">Sign In</ui-button>
                <!-- <ui-button click.trigger="publicAccess()" primary small class="login-btn white-btn">Public Access</ui-button> -->
                <div id="login_error" class="alert-danger" if.bind="loginError">loginError</div>
                </ui-form>
            </ui-panel-body>
            </ui-panel>
        </ui-column>
        </ui-row>
    </ui-page>
</template>
      