<template>
  <section class="container-fluid">
    <div class="row">
      <div class="container das-middle-sec">
        <div class="col-md-8 col-md-offset-2">
          <!--<div class="logo-div"></div>-->
          <div class="login-panel panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Please Sign Up</h3>
                
            </div>
            <div class="panel-body">
              <form role="form" submit.delegate="signUp()">
                  <div class="col-md-6">
                      <fieldset class="form-group">
                          <label for="email">User ID:</label>
                          <input type="text" value.bind="user.email" class="form-control" id="email" placeholder="Email">
                      </fieldset>
                  </div>
                  <div class="col-md-6">
                      <fieldset class="form-group">
                          <label for="Organization">Package</label>
                          <select class="form-control" value.bind="user.PackageId">
                              <option model.bind="0">Select</option>
                              <option repeat.for="item of user.PackageLookup" model.bind="item.PackageId">${item.PackageName}</option>
                          </select>
                      </fieldset>
                  </div>
                  <!--<div class="col-md-6">
                      <fieldset class="form-group">
                          <label for="email">IMEI Number:</label>
                          <input type="text" value.bind="user.imeiNumber" class="form-control" id="imeinumber" placeholder="IMEI Number">
                      </fieldset>
                  </div>-->
                  <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" value.bind="user.password" class="form-control" id="password" placeholder="Password">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="password">ReType Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="ReType Password">
                    </fieldset>
                </div>
                  <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="email">First Name:</label>
                        <input type="text" value.bind="user.firstName" class="form-control" id="firstname" placeholder="First Name">
                    </fieldset>
                </div>
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="email">Last Name:</label>
                        <input type="text" value.bind="user.lastName" class="form-control" id="lastname" placeholder="Last Name">
                    </fieldset>
                </div>
                
                <div class="col-md-6">
                    <fieldset class="form-group">
                        <label for="Organization">Organization</label>
                        <input type="text" value.bind="user.Organization" class="form-control" id="organization" placeholder="Organization"> 
                        <!--<select class="form-control" value.bind="user.OrganizationId">
                            <option mode.bind="null">Select</option>
                            <option repeat.for="item of user.OrganizationLookup" model.bind="item.OrganizationId">${item.Name}</option>
                        </select>-->
                    </fieldset>
                </div>
               
                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-lg">SignUp</button>&nbsp;&nbsp;
                    <a href="#/login">SignIn</a>
                    <div class="alert alert-danger pull-right" if.bind="loginError">${loginError}</div>
                </div>
            </form>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
