<template>
  <require from="../lib/component/animation/loading"></require>

  <loading displayed.bind="isWaiting"></loading>
  <section class="container-fluid edit-view-mn">
    <div class="row">
      <div class="container das-middle-sec edit-view panel padding-5">
        <form role="form">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="page-header">
                  <h2 class="text-primary">${heading} &nbsp; <i class="fa fa-bell"></i></h2>
                </div>
                <div class="row">

                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="evnt">Event</label>
                      <select class="form-control" value.bind="preference.EventId & validate">
                        <option value="0">Select</option>
                        <option repeat.for="item of preference.NotificationEventLookup" model.bind="item.Id">${item.Name}</option>
                      </select>
                    </fieldset>
                  </div>

                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="intrvl">Frequency Interval</label>
                      <select class="form-control" value.bind="preference.FrequencyInterval & validate">
                        <option value="0">Select</option>
                        <option repeat.for="item of preference.NotificationFrequencyLookup" model.bind="item.Id">${item.Name}</option>
                      </select>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="email">Notify By Email</label>
                      <br />
                      <ui-switch info width="8" checked.bind="preference.SendEmail" label-off="No" label-on="Yes"></ui-switch>
                    </fieldset>
                  </div>
                  <div class="col-md-4">
                    <fieldset class="form-group">
                      <label class="control-label" for="sms">Notify By SMS</label>
                      <br />
                      <ui-switch info width="8" checked.bind="preference.SendSms" label-off="No" label-on="Yes"></ui-switch>
                    </fieldset>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <fieldset class="form-group">
                      <label class="control-label" for="notes">Comments</label>
                      <textarea class="form-control" id="notes" rows="3" value.bind="preference.Comments"></textarea>
                    </fieldset>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                  <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>
                &nbsp;
                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</template>
