<template>
    <section class="container-fluid edit-view-mn">
	  <div class="container das-middle-sec edit-view panel padding-5">
        <div class="row">
			<div class="col-md-12">
				<div class="page-header">
					<h2 >View Organization Information  &nbsp; <i class="anra-ico_organization_dark"></i></h2>
				</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <form class="add-form view">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="orgname">Organization Name</label>
                                    <span class="view-fl">${organization.Name}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="email">Contact Email</label>
                                    <span class="view-fl">${organization.ContactEmail}&nbsp;</span>

                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="phone">Contact Phone</label>
                                    <span class="view-fl">${organization.ContactPhone}&nbsp;</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="logo">Logo File</label>
                                    <!--<input id="file-0a" class="file" type="file" multiple accept="image/*" data-min-file-count="1" change.delegate="fileSelected($event)">-->
                                    <small class="text-muted">jpg, gif or png format only.</small>
                                    <img src.bind="organization.LogoFile == null ? '../../image/NoImg.jpg' : organization.LogoFile" height="100" width="100">
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="website">Website</label>
                                    <span class="view-fl">${organization.Website}</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="govlicense">Government License #</label>
                                    <span class="view-fl">${organization.GovtLicenseNumber}&nbsp;</span>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="taxid">Federal Tax ID/EIN #</label>
                                    <span class="view-fl">${organization.FederalTaxId}&nbsp;</span>
                                </fieldset>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="active">Insurance Available</label>
                                    <span class="view-fl">${organization.IsInsuranceAvailable==true?'Yes':'No'}</span>
                                    <!--<ui-switch info width="5" checked.bind="organization.IsInsuranceAvailable" label-off="No" label-on="Yes"></ui-switch>-->

                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset class="form-group view-inner">
                                    <label class="control-label" for="address">Address</label>
                                    <span class="view-fl">${organization.Address}&nbsp;</span>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container das-middle-sec">
                                <h2 class="pull-left">Admin User Information</h2>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-6">
                                    <fieldset class="form-group view-inner">
                                        <label for="email">User ID:</label>
                                        <span class="view-fl">${organization.Email}</span>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset class="form-group view-inner">
                                        <label for="email">Package:</label>
                                        <span class="view-fl">${organization.PackageName}</span>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset class="form-group view-inner">
                                        <label for="email">First Name:</label>
                                        <span class="view-fl">${organization.FirstName}</span>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset class="form-group view-inner">
                                        <label for="email">Last Name:</label>
                                        <span class="view-fl">${organization.LastName}</span>
                                    </fieldset>
                                </div>
                            </div>

                        </div>
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(organization.OrganizationId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>
</template>
