<template>
  <require from="../lib/component/animation/loading"></require>
  <loading displayed.bind="isWaiting"></loading>
  <section class="container-fluid edit-view-mn">
    <div class="container das-middle-sec edit-view panel">
      <div class="row">
        <div class="container">
          <form role="form">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="page-header">
                    <h2>Organization Information &nbsp; <i class="anra-ico_organization_dark"></i></h2>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="orgname">Organization Name</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon anra-ico_user_light"></i></div>
                          <input type="text" class="form-control" placeholder="Organization Name" value.bind="organization.Name & validate" />
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="email">Contact Email</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></div>
                          <input type="email" class="form-control" placeholder="Contact Email" value.bind="organization.ContactEmail & validate" />
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="phone">Contact Phone</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></div>
                          <input class="form-control" masked="value.bind: organization.ContactPhone & validate; mask: (999) 999-9999;" />
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                        <fieldset class="form-group">
                            <label class="control-label" for="logo">Logo File</label>
                            <input id="ctrllogoFile" class="file" type="file" accept="image/*" data-min-file-count="1" change.delegate="fileSelected($event)">
                            <small class="text-muted">jpg, gif or png format only.</small>
                            <div>
                                <img id="OrgUpload" show.bind="organizationLogoBox" height="100" width="100">
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="currency">Currency</label>
                        <select class="form-control" value.bind="organization.CurrencyId & validate">
                          <option value="0">Select</option>
                          <option repeat.for="item of organization.CurrencyLookup" model.bind="item.CurrencyId">${item.Name}</option>
                        </select>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="unit">Unit</label>
                        <select class="form-control" value.bind="organization.UnitId & validate">
                          <option value="0">Select</option>
                          <option repeat.for="item of organization.UnitLookup" model.bind="item.UnitId">${item.Name}</option>
                        </select>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="website">Website</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></div>
                          <input type="url" class="form-control" placeholder="Website" value.bind="organization.Website & validate" />
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="govlicense">Government License #</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon anra-ico_certificate"></i></div>
                          <input type="text" class="form-control" placeholder="Government License" value.bind="organization.GovtLicenseNumber & validate" />
                        </div>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="taxid">Federal Tax ID/EIN #</label>
                        <div class="input-group">
                          <div class="input-group-addon"><i class="glyphicon anra-ico_certificate"></i></div>
                          <input type="text" class="form-control" placeholder="Federal Tax ID/EIN" value.bind="organization.FederalTaxId" />
                        </div>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="active">Insurance Available</label>
                        <br />
                        <ui-switch info width="5" checked.bind="organization.IsInsuranceAvailable" label-off="No" label-on="Yes"></ui-switch>
                      </fieldset>
                    </div>
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label class="control-label" for="active">Mission Approval Required</label>
                        <br />
                        <ui-switch info width="5" checked.bind="organization.IsAdminApprovalRequired" label-off="No" label-on="Yes"></ui-switch>
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <fieldset class="form-group">
                        <label class="control-label" for="address">Address</label>
                        <textarea class="form-control" id="notes" rows="3" value.bind="organization.Address & validate"></textarea>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <h3 class="text-primary">Admin User Information</h3>
                  <div class="row">
                    <div class="col-md-4">
                      <fieldset class="form-group">
                        <label for="email">User ID:</label>
                        <input type="text" value.bind="organization.Email & validate" class="form-control" id="email" placeholder="Email" disabled.bind="organization.OrganizationId > 0">
                      </fieldset>
                    </div>

                    <div class="col-md-4" show.bind="organization.OrganizationId == 0">
                      <fieldset class="form-group">
                        <label for="password">Password<span class="text-info text-password">&nbsp;[&nbsp;Must be of 6 characters, 1 lowercase & 1 numeric digit.&nbsp;]</span></label>
                        <input type="password" value.bind="organization.Password & validate" class="form-control" id="password" placeholder="Password" focus.trigger="hideErrorMsg()">
                      </fieldset>
                    </div>
                    <div class="col-md-4" show.bind="organization.OrganizationId == 0">
                      <fieldset class="form-group">
                        <label for="password">ReType Password<span class="text-danger" show.bind="!IsPasswordsMatched && (organization.Password.length > 0 || ConfirmPassword.length > 0)">&nbsp;[&nbsp;Passwords do not match.&nbsp;]</span></label>
                        <input type="password" class="form-control" id="confirmpassword" value.bind="ConfirmPassword" placeholder="ReType Password" focus.trigger="hideErrorMsg()">
                      </fieldset>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="email">First Name:</label>
                        <input type="text" value.bind="organization.FirstName & validate" class="form-control" id="firstname" placeholder="First Name" disabled.bind="organization.OrganizationId > 0">
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset class="form-group">
                        <label for="email">Last Name:</label>
                        <input type="text" value.bind="organization.LastName & validate" class="form-control" id="lastname" placeholder="Last Name" disabled.bind="organization.OrganizationId > 0">
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                    <i class="fa fa-check" aria-hidden="true"></i> Save
                  </button>
                  &nbsp;
                  <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                    <i class="fa fa-times" aria-hidden="true"></i> Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>
