<template>
  <style>
    .leaflet-control-geosearch form {
      display: block !important;
      height: 30px;
    }

      .leaflet-control-geosearch form input {
        height: 25px;
      }
  </style>
  <link rel="stylesheet" href="styles/leaflet-control-geosearch.css">
  <!-- <require from="../lib/component/animation/loading"></require> -->
  
  <ui-loader busy.bind="isWaiting" big></ui-loader> 

  <ui-fieldset legend="Add Location">
    <ui-row>
      <ui-column size="md-8 lg-8 xs-8" class="boxForm">
        <ui-row>
          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Name </ui-input-label>
                <ui-input text class="input-ui" value.bind="location.Name & validate" placeholder="ACME Field">
                  <ui-input-addon text-dark> <i class="glyphicon anra-ico_user_light"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Latitude </ui-input-label>
                <ui-input decimal class="disabled input-ui" placeholder="Latitude" value.bind="location.Latitude & validate" info="Latitude">
                  <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Longitude </ui-input-label>
                <ui-input decimal class="disabled input-ui" placeholder="Longitude" info="Longitude" value.bind="location.Longitude & validate">
                  <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Altitude (${lengthUnit}) </ui-input-label>
                <ui-input number class="disabled input-ui"  placeholder="Altitude" value.bind="location.Altitude & validate">
                  <ui-input-addon> <i class="glyphicon anra-ico_flightplan_light addon-input"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> City </ui-input-label>
                <ui-input text class="input-ui" value.bind="location.City & validate" placeholder="City">
                  <ui-input-addon text-dark> <i class="glyphicon glyphicon-home"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> State </ui-input-label>
                <select class="select-ui-input" value.bind="location.StateId & validate">
                    <option value="0">Select</option>
                    <option repeat.for="item of location.StateLookup" model.bind="item.StateId">${item.Name}</option>
                </select>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Zipcode </ui-input-label>
                <ui-input number class="input-ui" value.bind="location.Zipcode & validate" placeholder="Zipcode">
                  <ui-input-addon text-dark> <i class="glyphicon glyphicon-home"></i> </ui-input-addon>
                </ui-input>
              </ui-input-group>
          </ui-column>


          <ui-column size="md-6 lg-6 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom"> Country </ui-input-label>
              <select class="select-ui-input" value.bind="location.CountryId & validate">
                  <option value="0">Select</option>
                  <option repeat.for="item of location.CountryLookup" model.bind="item.CountryId">${item.Name}</option>
              </select>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Project</ui-input-label>
                <select class="select-ui-input" value.bind="location.ProjectId & validate">
                    <option value="0">Select</option>
                    <option repeat.for="item of location.OrganizationLookup" model.bind="item.OrganizationId">${item.Name}</option>
                </select>
              </ui-input-group>
          </ui-column>
          
          <ui-column size="md-6 lg-6 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Active</ui-input-label>
                <ui-switch info width="8" checked.bind="location.IsActive" label-off="No" label-on="Yes"></ui-switch>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-6 xs-6" show.bind="location.IsAdmin">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Organization</ui-input-label>
                <select class="select-ui-input" value.bind="location.OrganizationId">
                    <option value="0">Select</option>
                    <option repeat.for="item of location.ProjectLookup" model.bind="item.ProjectId">${item.Name}</option>
                </select>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-8 lg-11 xs-8">
              <ui-input-group>
                  <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                  <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="location.Notes"  auto-complete=""></ui-textarea>
              </ui-input-group>
          </ui-column>
        </ui-row>
      </ui-column>

      <ui-column size="md-4 lg-4 xs-4" class="boxForm">
        <ui-row>
          <ui-column size="md-12 lg-12 xs-12">
              <span class="map-header">Click on the Map to set Drone Latitude/Longitude</span>
              <div id="map" style="height:332px;width:100%;position:relative;"></div>
          </ui-column>
        </ui-row>
      </ui-column>

      <ui-column size="md-12 lg-12" class="boxForm">
          <ui-input-group class="pull-right">
              <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                <i class="fa fa-check" aria-hidden="true"></i> Save
              </button>
              &nbsp;&nbsp;&nbsp;
              <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                <i class="fa fa-times" aria-hidden="true"></i> Cancel
              </button>
          </ui-input-group>
      </ui-column>

    </ui-row>
  </ui-fieldset>

</template>
