<template>
  <require from="blur-image"></require>
  <require from="./location"></require>
  <require from="./location-view"></require>
  <require from="../lib/date-format"></require>
    
    <ui-loader busy.bind="isWaiting" big></ui-loader>

    <ui-row show.bind="!isEditing && !isViewing">
        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12">
                    <ui-row class="header-top">
                        <ui-column size="md-6 lg-6 xs-8">
                            <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_location_dark" aria-hidden="true"></i></h4>
                        </ui-column>
                        
                        <ui-column size="md-6 lg-6 xs-4">
                            <div class="pull-right">
                                <input type="search" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search">
                                <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr" disabled.bind="!permission.Add">
                                    <i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i>
                                    <span class="tooltip_text">Add New Location</span>
                                </button>
                            </div>
                        </ui-column>
                    </ui-row>
                </ui-column>
        
                <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table">
                        <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: locations; display-data.bind: $locations;
                                    current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                            <thead>
                                <tr>
                                    <th aut-sort="key: Name" nowrap>Name <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: City" nowrap>City <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: Zipcode" nowrap>Zipcode <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: Latitude" nowrap>Latitude <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: Longitude" nowrap>Longitude <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: OrganizationName" nowrap>Organization <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                    <th colspan="3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="item of $locations">
                                    <td>${item.Name}</td>
                                    <td>${item.City}</td>
                                    <td>${item.Zipcode}</td>
                                    <td>${item.Latitude}</td>
                                    <td>${item.Longitude}</td>
                                    <td>${item.OrganizationName}</td>
                                    <td>${item.DateCreated | dateFormat}</td>
                                    <td colspan="3" class="action-btn" nowrap>
                                        <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.LocationId)" title="Edit">
                                            <i class="fa fa-pencil-square-o"
                                                aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.LocationId)" title="Delete">
                                            <i class="fa fa-trash"
                                                aria-hidden="true"></i>
                                        </a>
                                        <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.LocationId)" title="View">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ui-column>
            </ui-row>
                
            <!-- pagination -->
            <ui-row>
                <ui-column size="md-9 lg-9 xs-12">
                    <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                </ui-column>
                <ui-column size="md-3 lg-3 xs-12">
                    <div class="form-group pull-right">
                        <label for="pageSize">Page Size: </label>
                        <select value.bind="pageSize" id="pageSize" class="pagination-select">
                            <option model.bind="5">5</option>
                            <option model.bind="10">10</option>
                            <option model.bind="20">20</option>
                            <option model.bind="50">50</option>
                        </select>
                    </div>
                </ui-column>
            </ui-row>
            <!-- pagination -->
        </ui-column>
    </ui-row>
   

    <location if.bind="isEditing" location.bind="location" save.call="saveItem()"></location>
    <location-view if.bind="isViewing" location.bind="location" save.call="saveItem()"></location-view>

</template>
