<template>
    <section class="container-fluid edit-view-mn">
		<div class="container das-middle-sec edit-view panel padding-5">
        <div class="row">
            <div class="container">
			  <div class="col-md-12">
				<div class="page-header">
					<h2>
						${heading}
					</h2>
				</div>
			  </div>
            </div>
        </div>
        <div class="container">
                    <div class="row">
                        <form class="add-form view">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="name">Name</label>
                                            <span class="view-fl">${location.Name}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="latitude">latitude</label>
                                            <span class="view-fl">${location.Latitude}&nbsp;</span>

                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="longitude">Longitude</label>
                                            <span class="view-fl">${location.Longitude}&nbsp;</span>

                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="altitude">Altitude (${lengthUnit})</label>
                                            <span class="view-fl">${location.Altitude}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="city">City</label>
                                            <span class="view-fl">${location.City}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="state">State</label>
                                            <span class="view-fl">${location.StateLookup | filterOnProperty:'StateId':location.StateId:'Name'}</span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="zip">Zipcode</label>
                                            <span class="view-fl">${location.Zipcode}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="country">Country</label>
                                            <span class="view-fl">${location.CountryLookup | filterOnProperty:'CountryId':location.CountryId:'Name'}</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-4">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="project">Project</label>
                                            <span class="view-fl">${location.ProjectLookup | filterOnProperty:'ProjectId':location.ProjectId:'Name'}</span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="active">Status</label>
                                            <span class="view-fl">${location.IsActive==true? 'Active': 'Inactive'}</span>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="drone">Organization</label>
                                            <span class="view-fl">${location.OrganizationLookup | filterOnProperty:'OrganizationId':location.OrganizationId:'Name'}</span>
                                        </fieldset>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <fieldset class="form-group view-inner">
                                            <label class="control-label" for="notes">Notes</label>
                                            <span class="view-fl">${location.Notes}&nbsp;</span>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                                </button>&nbsp;
                                <button class="btn btn-primary btn-lg" click.delegate="edit(location.LocationId)">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
        </section>
</template>
