<template>
    <style>
.wrapper {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: auto;
    height: auto;
    border-radius: 5px;
    box-shadow: 2px 4px 4px 3px #0e0e0e;;
}
.upper {
    color: #37e4c6 !important;
    font-weight: 900;
    font-size: 13px;
    margin-right:10px;
    width:135px;
}

.meetup {
  color:white !important;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}

.weather_img
{
    float: right;
    margin-left: 186px;
    margin-top: 4px;
    font-size: 25px;
}
    </style>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel>
                <ui-panel-body class="panel_body">
                    <ui-row>
    
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">View Flight &nbsp;<i class="anra-ico_plane_dark"></i> </h4>
                            </ui-column>
                        </ui-row>
                    </ui-column>
    
                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Mission Name</label>
                                <span class="meetup">${flightAggregate.MissionName}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Pilot</label>
                                <span class="meetup">${flightAggregate.PilotName}</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Project</label>
                                <span class="meetup">${flightAggregate.Project}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Drone</label>
                                <span class="meetup">${flightAggregate.DroneName}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Location</label>
                                <span class="meetup">${flightAggregate.Location}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Flight Date</label>
                                <span class="meetup">${flightAggregate.FlightDate}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Fligh Created</label>
                                <span class="meetup">${flightAggregate.Flight.DateCreated |dateFormat}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Fligh Modified</label>
                                <span class="meetup">${flightAggregate.Flight.DateModified |dateFormat}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Duration(minutes)</label>
                                <span class="meetup">${flightAggregate.Duration}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Type</label>
                                <span class="meetup">${flightAggregate.Type}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Landings</label>
                                <span class="meetup">${flight.Landings}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Distance Travelled (${lengthUnit}) </label>
                                <span class="meetup">${flight.Distance}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Max Altitude </label>
                                <span class="meetup">${flight.MaxAltitude.toFixed(1)}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <div class="wrapper">
                                <label class="upper">Organization </label>
                                <span class="meetup">${flightAggregate.OrganizationLookup | filterOnProperty:'OrganizationId':flightAggregate.Flight.OrganizationId:'Name'}</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-12 lg-12 xs-12">
                            <div class="wrapper">
                                <label class="upper">Mission Notes</label>
                                <span class="meetup">${flightAggregate.MissionComment}&nbsp;</span>
                            </div>
                    </ui-column>
                                       
                    </ui-row>
                    <br>
                    <ui-row>
                        <h6><b>Equipment Information</b></h6>
                    </ui-row>
                    <br>
                    <ui-row>
                        <br>
                        <ui-column size="md-4 lg-4 xs-4">
                                <div class="wrapper">
                                    <label class="upper">Battery</label>
                                    <span repeat.for="item of flightAggregate.BatteryList" class="meetup">${item}</span>
                                </div>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4">
                                <div class="wrapper">
                                    <label class="upper">Sensors</label>
                                    <span repeat.for="item of flightAggregate.SensorList" class="meetup">${item}&nbsp;</span>
                                </div>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4">
                                <div class="wrapper">
                                    <label class="upper">Other Equipment</label>
                                    <span repeat.for="item of flightAggregate.EquipmentList" class="meetup">${item}&nbsp;</span>
                                </div>
                        </ui-column>

                    </ui-row>
                    <br>
                    <ui-row>
                        <h6><b>Weather Information</b></h6>
                    </ui-row>
                    <br>

                    <ui-row>
                        <ui-column size="md-4 lg-4 xs-4">
                            <div class="wrapper" style="flex-direction: column">
                                <span class="meetup">${weatherLocation}&nbsp;</span>
                                <span class="meetup">${weatherObservationDate}&nbsp;</span>
                                <span class="meetup">${weatherCondition}&nbsp;</span>
                            </div>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4">
                            <div class="wrapper">
                                    <img style="float:left;height:50px;width:50px" src="${weatherIconUrl}" />
                                    <span  class="weather_img">&nbsp;${weatherTemprature}  ${unitType == 'Imperial' ? '&#8457;' : '&#8451;'}</span>
                            </div>
                        </ui-column>

                        <ui-column size="md-4 lg-4 xs-4">
                                <div class="wrapper" style="flex-direction: column">
                                    <span class="meetup"><span class="upper">Humidity:</span> ${weatherHumidity}</span>
                                    <span class="meetup"><span class="upper">Wind:</span>  ${weatherWindSpeed} ${unitType == 'Imperial' ? 'mph' : 'mps'}</span>
                                </div>
                        </ui-column>
                        <ui-row>
                            <h5 style="padding:10px"><b>Flight Path Map</b></h5>
                        </ui-row>
                        <h4 show.bind="!showMap">No Flight Found</h4>
                        <div style="width:100%;" show.bind="showMap">
                                <div id="map" style="height:75vh;width:100%;position:relative;"></div>
                        </div>
                    </ui-row>        
                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>
    
    
      
</template>
      




<template>
    <require from="../lib/component/animation/loading"></require>
    <require from="../lib/date-format"></require>
    <loading displayed.bind="isWaiting"></loading>
    <section class="container-fluid edit-view-mn">
	  <div class="edit-view panel das-middle-sec padding-5">
        <div class="row no-margin padding-5">
			<div class="col-md-12">
				<div class="page-header">
					<h2>
						View Flight &nbsp;<i class="anra-ico_plane_dark"></i>
					</h2>
				</div>
            </div>
        </div>
        <div class="container">
            <div class="row no-margin">
                <form class="add-form view">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="name">Mission Name</label>
                                <span class="view-fl">${flightAggregate.MissionName}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="pilot">Pilot</label>
                                <span class="view-fl">${flightAggregate.PilotName}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="drone">For Drone</label>
                                <span class="view-fl">${flightAggregate.DroneName}&nbsp;</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="project">Project</label>
                                <span class="view-fl">${flightAggregate.Project}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="location">Location</label>
                                <span class="view-fl">${flightAggregate.Location}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="date">Flight Date</label>
                                <span class="view-fl">${flightAggregate.FlightDate}&nbsp;</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="date">Flight Created</label>
                                <span class="view-fl">${flightAggregate.Flight.DateCreated |dateFormat}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-6">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="date">Flight Modified</label>
                                <span class="view-fl">${flightAggregate.Flight.DateModified |dateFormat}&nbsp;</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="duration">Duration (minutes)</label>
                                <span class="view-fl">${flightAggregate.Duration}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="type">Type</label>
                                <span class="view-fl">${flightAggregate.Type}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="landings">Number of Landings</label>
                                <span class="view-fl">${flight.Landings}&nbsp;</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="distance">Distance Travelled (${lengthUnit})</label>
                                <span class="view-fl">${flight.Distance}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="maxalt">Max Altitude (${lengthUnit})</label>
                                <span class="view-fl">${flight.MaxAltitude.toFixed(1)}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="drone">Organization</label>
                                <span class="view-fl">${flightAggregate.OrganizationLookup | filterOnProperty:'OrganizationId':flightAggregate.Flight.OrganizationId:'Name'}</span>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group view-inner">
                                <label class="control-label" for="notes">Mission Notes</label>
                                <span class="view-fl">${flightAggregate.MissionComment}&nbsp;</span>
                            </fieldset>
                        </div>
                    </div>
                    <h3 class="title-2">Equipment Information</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                            <label class="control-label" for="name">Battery</label>
                            <span class="view-fl" repeat.for="item of flightAggregate.BatteryList">${item}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                            <label class="control-label" for="pilot">Sensors</label>
                            <span class="view-fl" repeat.for="item of flightAggregate.SensorList">${item}&nbsp;</span>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset class="form-group view-inner">
                            <label class="control-label" for="drone">Other Equipment</label>
                            <span class="view-fl" repeat.for="item of flightAggregate.EquipmentList">${item}&nbsp;</span>                            
                            </fieldset>
                        </div>
                    </div>
                    <h3 class="title-2">Weather Information</h3>
                    <div class="row">
                      <div class="col-md-4">
                        <fieldset class="form-group view-inner">
                          <span class="view-fl">${weatherLocation}&nbsp;</span>
                          <span class="view-fl">${weatherObservationDate}&nbsp;</span>
                          <span class="view-fl">${weatherCondition}&nbsp;</span>
                        </fieldset>
                      </div>
                      <div class="col-md-4">
                        <fieldset class="form-group view-inner">
                          <img style="float:left;height:64px;width:64px" src="${weatherIconUrl}" />
                          <span class="view-fl" style="float:left;margin-top:-13px;font-size:50px">&nbsp;&nbsp;${weatherTemprature}</span>
                          <span class="view-fl" style="display: inline-block;font-size:20px">${unitType == 'Imperial' ? '&#8457;' : '&#8451;'}</span>
                        </fieldset>
                      </div>
                      <div class="col-md-offset-4">
                        <fieldset class="form-group view-inner">                          
                            <div>Humidity: <span>${weatherHumidity}</span></div>
                            <div>Wind: <span>${weatherWindSpeed} ${unitType == 'Imperial' ? 'mph' : 'mps'}</span></div>                          
                        </fieldset>
                      </div>
                    </div>
                    <h3 class="title-2">Flight Path Map</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset class="form-group view-inner" if.bind="!showMap">
                                <label class="control-label" for="metar">No Flight Logs Available.</label>
                            </fieldset>
                            <div style="display:block; width:100%;" show.bind="showMap">
                                <div id="map" style="height:75vh;width:100%;position:relative;"></div>
                            </div>
                        </div>
                    </div>&nbsp;
                    <div class="row">
                        <div class="col-md-12 padding-5">
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                            </button>&nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="edit(flight.FlightId)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    </section>
</template>
