<template>
    <style>
    .disable{
        color: grey !important;
    pointer-events: none !important;
    }
    </style>
    <!-- <require from="./dashboard/welcome"></require> -->
    <ui-tab-panel active-tab.bind="activeTab" class="tab-panel" show.bind="!isEditing && !isViewing">
        <ui-tab view-model="./flight-data-listing">  Flight Log &nbsp;<i class="anra-ico_plane_dark" aria-hidden="true"></i></ui-tab>
        <ui-tab view-model="../incidents/incidents">Incidents &nbsp;<i class="anra-ico_warning_dark"></i></ui-tab>
        <ui-tab view="" class="disable">Import Data</ui-tab>
        <compose view.bind="activeTab.view" view-model.bind="activeTab.viewModel"></compose>
    </ui-tab-panel>
</template>