<template>  
  <ui-loader busy.bind="isWaiting" big></ui-loader>

  <ui-fieldset legend="Flight Details" checked.bind="ShowFlightDetailForm">
    <ui-row>
      <ui-column size="md-12 lg-12 xs-12" class="boxForm">
        <ui-row>
          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Mission </ui-input-label>
                <select class="select-ui-input" value.bind="flight.Gufi & validate" change.trigger="rebindMission(flight.Gufi)">
                  <option value="0">Select</option>
                  <option repeat.for="item of flightAggregate.Missions" model.bind="item.Gufi">${item.Name} </option>
                </select>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Pilot</ui-input-label>
                <ui-input text class="disabled input-ui" value.bind="flightAggregate.PilotName"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">For Drone</ui-input-label>
                <ui-input text class="disabled input-ui" value.bind="flightAggregate.DroneName"></ui-input>
              </ui-input-group>
          </ui-column>


          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Project</ui-input-label>
                <ui-input text class="disabled input-ui"  value.bind="flightAggregate.Project"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Location</ui-input-label>
                <ui-input text class="disabled input-ui" value.bind="flightAggregate.Location"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Flight Date</ui-input-label>
                <ui-date date.bind="flightAggregate.FlightDate"></ui-date>
              </ui-input-group>
          </ui-column>


          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                  <ui-input-label class="ui-label-custom">Flight Start Time</ui-input-label>
                  <!-- <ui-date time='EndTime & validate' ref="enddatetime" id='enddt' date.bind="EndTime & validate" blur.trigger="calcDuration()" disabled.bind="selectedMission == 0"></ui-date> -->
                  <input type="text" class="ui-input-custom datepicker-input" ref="startdatetime" id='startdt' date.bind="StartTime & validate" blur.trigger="calcDuration()" disabled.bind="selectedMission == 0" />
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom">Flight End Time</ui-input-label>
                <input type="text" class="ui-input-custom" ref="enddatetime" id='enddt' value.bind="EndTime & validate" blur.trigger="calcDuration()" disabled.bind="selectedMission == 0"/>
                <!-- <ui-date time='EndTime & validate' ref="enddatetime" id='enddt' date.bind="EndTime & validate" blur.trigger="calcDuration()" disabled.bind="selectedMission == 0"></ui-date> -->
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Duration (minutes) </ui-input-label>
                <ui-input text class="disabled input-ui" value.bind="flightAggregate.Duration"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Type </ui-input-label>
                <ui-input text class="disabled input-ui input-ui" value.bind="flightAggregate.Type"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Number of Landings </ui-input-label>
                <ui-input number min="0" value.bind="flight.Landings & validate"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Distance Travelled (${lengthUnit}) </ui-input-label>
                <ui-input text value.bind="flight.Distance & validate"></ui-input>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Max Altitude (${lengthUnit}) </ui-input-label>
                <ui-input number  value.bind="flight.MaxAltitude & validate"></ui-input>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
              <ui-input-group>
                <ui-input-label class="ui-label-custom"> Organisation </ui-input-label>
                <select class="select-ui-input" value.bind="flightAggregate.Flight.OrganizationId">
                  <option model.bind="0">Select</option>
                  <option repeat.for="item of flightAggregate.OrganizationLookup" model.bind="item.OrganizationId">
                    ${item.Name}
                  </option>
                </select>
              </ui-input-group>
          </ui-column>

          <ui-column size="md-8 lg-8 xs-8">
            <ui-input-group>
              <ui-input-label class="ui-label-custom"> Mission Notes </ui-input-label>
              <ui-textarea class="disabled" value.bind="flightAggregate.MissionComment" rows="3"></ui-textarea>
            </ui-input-group>
          </ui-column>
        </ui-row>
      </ui-column>
    </ui-row>
  </ui-fieldset>

  <ui-fieldset legend="Equipments Information" checked.bind="EquipmentInformationForm">
    <ui-row>
      <ui-column size="md-12 lg-12 xs-12" class="boxForm">
        <ui-row>
          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom">Battery</ui-input-label>
              <select class=" disabled select-ui-input-multiple" id="BatteryList" disabled multiple style="width: 100%"  >
                <option value="${item.Id}" repeat.for="item of flightAggregate.BatteryList">${item}</option>
              </select>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom">Sensors</ui-input-label>
              <select class=" disabled select-ui-input-multiple" id="BatteryList" disabled multiple style="width: 100%"  >
                <option value="${item.Id}" repeat.for="item of flightAggregate.SensorList">${item}</option>
              </select>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom">Voltage Begin (Volts)</ui-input-label>
              <ui-input text value.bind="flight.VoltageBegin & validate"></ui-input>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom">Voltage End (Volts)</ui-input-label>
              <ui-input text value.bind="flight.VoltageEnd & validate"></ui-input>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom">Other Equipments</ui-input-label>
              <select class=" disabled select-ui-input-multiple" id="BatteryList" disabled multiple style="width: 100%"  >
                <option value="${item.Id}" repeat.for="item of flightAggregate.EquipmentList">${item}</option>
              </select>
            </ui-input-group>
          </ui-column>

        </ui-row>
      </ui-column>
    </ui-row>
  </ui-fieldset>

  <ui-fieldset legend="Weather Information" checked.bind="WeatherInformationForm">
    <ui-row>
      <ui-column size="md-12 lg-12 xs-12" class="boxForm">
        <ui-row>
          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom" for="cloudcover">Cloud Cover (%)</ui-input-label>
              <!-- <ui-input number step="0.1" value.bind="flight.CloudCover & validate"></ui-input> -->
              <input type="number" step="0.1" class="ui-input-custom" placeholder="" value.bind="flight.CloudCover & validate"/>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom" for="temperature">Temperature (${temperatureUnit})</ui-input-label>
              <!-- <ui-input number step="0.1" value.bind="flight.Temperature & validate"></ui-input> -->
              <input type="number" step="0.1" class="ui-input-custom" placeholder="" value.bind="flight.Temperature & validate"/>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom"  for="windspeed">Wind Speed (${unitType == 'Imperial' ? 'mph' : 'mps'})</ui-input-label>
              <!-- <ui-input number step="0.1" value.bind="flight.WindSpeed & validate"></ui-input> -->
              <input type="number" step="0.1" class="ui-input-custom" placeholder="" value.bind="flight.WindSpeed & validate"/>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-6 lg-4 xs-6">
            <ui-input-group>
              <ui-input-label class="ui-label-custom" for="humidity">Humidity (%)</ui-input-label>
              <!-- <ui-input number onkeypress='return event.charCode >= 48 && event.charCode <= 57'  value.bind="flight.Humidity & validate"></ui-input> -->
              <input type="number" class="ui-input-custom" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value.bind="flight.Humidity & validate"/>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-8 lg-8 xs-8">
            <ui-input-group>
              <ui-input-label class="ui-label-custom"> Mission Notes </ui-input-label>
              <ui-textarea clear counter id="notes" rows="3" value.bind="flight.WeatherNotes"
                auto-complete="Alpha,Bravo,Alfa-Bravo,Charlie,Delta,Echo,Foxtrot,Lima,Omega,Sigma,Theta,Zulu"></ui-textarea>
            </ui-input-group>
          </ui-column>

          <ui-column size="md-12 lg-12">
            <ui-input-group class="pull-right">
                <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                  <i class="fa fa-check" aria-hidden="true"></i> Save
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                  <i class="fa fa-times" aria-hidden="true"></i> Cancel
                </button>
            </ui-input-group>
          </ui-column>
        </ui-row>
      </ui-column>
    </ui-row>
  </ui-fieldset>

</template>
