<template>
  <require from="blur-image"></require>
  <require from="./flight-data"></require>
  <!-- <require from="./flight-data-view"></require> -->
  <require from="../lib/date-format"></require>
  <!-- <require from="../lib/component/animation/loading"></require> -->
  <!-- <require from="../components/dialog"></require> -->
  <require from="../lib/date-format"></require>
  <ui-loader busy.bind="isWaiting" big></ui-loader>
  
  <loading displayed.bind="isWaiting"></loading>
  <section show.bind="!isEditing && !isViewing">
    <ui-row>
        <ui-column size="md-12 lg-12">
            <ui-row class="header-top">
                <ui-column size="md-6 lg-6 xs-8">
                      <h4 class="pull-left heading_title">${heading} &nbsp; <i class="anra-ico_plane_dark" aria-hidden="true"></i></h4>
                </ui-column>
                <!-- <ui-column size="md-3 lg-3">
                      <input type="search" class="search_bar">
                </ui-column> -->
                <ui-column size="md-6 lg-6 xs-4">
                    <div class="pull-right">
                      <input type="search" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search">
                      <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr" disabled.bind="!permission.Add">
                          <i class="fa fa-plus" aria-hidden="true" show.bind="permission.Add"></i>
                          <span class="tooltip_text">Add New Flight</span>
                      </button>
                    </div>
                </ui-column>
            </ui-row>
        </ui-column>
        <ui-column size="md-12 lg-12">
            <table class="table table-striped  table-custom  dataTable no-footer"
                  aurelia-table="data.bind: flights; display-data.bind: $displayData;
                  current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
            <thead>
            <tr>
              <th aut-sort="key: MissionName">Mission <span class="glyphicon glyphicon-sort"></span></th>
              <th aut-sort="key: StartTime">Date <span class="glyphicon glyphicon-sort"></span></th>
              <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
              <th aut-sort="key: DroneName">Drone <span class="glyphicon glyphicon-sort"></span></th>
              <th aut-sort="key: Duration">Duration (minutes)</th>
              <th aut-sort="key: StatusText">Status <span class="glyphicon glyphicon-sort"></span></th>
              <th aut-sort="key: DateCreated; default: desc">Creation Date <span
                class="glyphicon glyphicon-sort"></span></th>
              <th colspan="4">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="item of $displayData">
              <td><a href="#/workspace/inspection/${item.Gufi}" style="color:#797979">${item.MissionName}</a></td>
              <td>${item.StartTime | dateFormat }</td>
              <td>${item.OrganizationName}</td>
              <td>${item.DroneName}</td>
              <td>${item.Duration}</td>
              <td>
                  <div if.bind ="item.StatusText == 'Accepted'" title="Accepted"><div class="accepted"></div> </div>
                  <div if.bind ="item.StatusText == 'Proposed'"  title="Proposed"><div class="proposed"></div> </div>
                  <div if.bind ="item.StatusText == 'Closed'" title="Closed"><div class="closed"></div> </div>
                  <div if.bind ="item.StatusText == 'New'" title="New"><div class="new"></div> </div>
                  <div if.bind ="item.StatusText == 'Started'" title="Started"><div class="started"></div> </div>
                  <!-- ${item.StatusText} -->
              </td>
              <td>${item.DateCreated | dateFormat }</td>
              <td colspan="2" nowrap>
                  <aup-dropdown direction="down" right="false">
                      <div slot="dropdown-toggle">Action</div>
                      <div slot="dropdown-menu" class="dropdown_menu">
                          <a href="javascript:;" click.delegate="workspaceRoute(item.Gufi)" class="${permission.Edit == true ? 'ed' : 'ded'}"title="Workspace">
                            <i class="anra-ico_positionupdates_dark"></i>
                            <span> Workspace </span>
                          </a>
                          <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.FlightId)" title="Edit">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                              <span> Edit </span>
                            </a>

                          <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.FlightId)" title="Delete">
                              <i class="fa fa-trash" aria-hidden="true"></i>
                              <span> Delete </span>
                            </a>
                          <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.DroneId)" title="View">
                              <i class="fa fa-eye" aria-hidden="true"></i>
                              <span>View </span>
                          </a>
                      </div>
                  </aup-dropdown>
              
                </td>
              </tr>
            </tbody>
          </table>
        </ui-column>
    </ui-row>

    <!-- pagination -->
    <ui-row>
        <ui-column size="md-9 lg-9 xs-12">
            <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
        </ui-column>
        <ui-column size="md-3 lg-3 xs-12">
            <div class="form-group pull-right">
                <label for="pageSize">Page Size: </label>
                <select value.bind="pageSize" id="pageSize" class="pagination-select">
                    <option model.bind="5">5</option>
                    <option model.bind="10">10</option>
                    <option model.bind="20">20</option>
                    <option model.bind="50">50</option>
                </select>
            </div>
        </ui-column>
    </ui-row>
    <!-- pagination -->

  </section>
   

  <flight-data if.bind="isEditing" flight-aggregate.bind="flightAggregate" save.call="saveItem()"
               back.call="closeViewDetails()"></flight-data>
  <flight-data-view if.bind="isViewing" flight-aggregate.bind="flightAggregate" save.call="saveItem()"
                    back.call="closeViewDetails()"></flight-data-view>

  <anra-dialog if.bind="showDownloads" display.two-way="showDownloads" title.bind="downloadTitle"
               display-footer.bind="false" on-close.call="closeOutputTypeDialog()">
    <template replace-part="dialog-body">
      <div class="container" if.bind="downloads.length > 0">
        <ul>
          <li class="dropdown">
            <ul>
              <li repeat.for="item of downloads" model.bind="item.TypeName"><a click.delegate="downloadOutput(item)"> <i
                class="fa fa-file-archive-o" aria-hidden="true"></i>${item.TypeName} (.${item.FileFormat})</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </template>
  </anra-dialog>
</template>
