<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="./cycle"></require>
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    
        <ui-row show.bind="!isEditing">
            <ui-column size="md-12 lg-12 xs-12">
            <ui-container class="container-box">
                <ui-panel>
                <ui-panel-body class="panel_body">
                    <ui-row>
    
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">${heading} &nbsp; </h4>
                            </ui-column>
    
                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                                    <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <span class="tooltip_text"> Add New Cycle </span>
                                    </button>
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>
    
                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: cycles; display-data.bind: $cycles;
                            current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                         <thead>
                             <tr>
                                 <th aut-sort="key: BatteryName" nowrap>Battery <span class="glyphicon glyphicon-sort"></span></th>
                                 <th aut-sort="key: CycleDate" nowrap>Date <span class="glyphicon glyphicon-sort"></span></th>
                                 <th aut-sort="key: Duration" nowrap>Duration <span class="glyphicon glyphicon-sort"></span></th>
                                 <th>Before/After Charge</th>
                                 <th>Pre/Post Flight</th>
                                 <th aut-sort="key: Capacity" nowrap>Capacity <span class="glyphicon glyphicon-sort"></span></th>
                                 <th aut-sort="key: TotalCellResistance" nowrap>Cell Resistance Total <span class="glyphicon glyphicon-sort"></span></th>
                                 <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                 <th colspan="2"> Action </th>
                             </tr>
                         </thead>
                         <tbody>
                             <tr repeat.for="item of $cycles">
                                 <td>${item.BatteryName}</td>
                                 <td>${item.CycleDate | dateFormat}</td>
                                 <td>${item.Duration}</td>
                                 <td>${item.VoltageBeforeCharge}/${item.VoltageAfterCharge}</td>
                                 <td>${item.VoltagePreFlight}/${item.VoltagePostFlight}</td>
                                 <td>${item.Capacity}</td>
                                 <td>${item.TotalCellResistance}</td>
                                 <td>${item.DateCreated | dateFormat}</td>
                                 <td colspan="2" nowrap>
                                     <a href="javascript:;" class="ed" click.delegate="editItem(item.CycleId)" title="Edit">
                                         <i class="fa fa-pencil-square-o"
                                            aria-hidden="true"></i>
                                     </a>
                                     <a href="javascript:;" class="ed" click.delegate="deleteItem(item.CycleId)"title="Delete">
                                         <i class="fa fa-trash"
                                            aria-hidden="true"></i>
                                     </a>
                                 </td>
                             </tr>
                         </tbody>
                            </table>
                        </div>
                    </ui-column>
    
                    </ui-row>
    
                    <!-- pagination -->
                    <ui-row>
                        <ui-column size="md-9 lg-9 xs-12">
                            <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                        </ui-column>
                        <ui-column size="md-3 lg-3 xs-12">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </ui-column>
                    </ui-row>
                    <!-- pagination -->
    
                </ui-panel-body>
                </ui-panel>
            </ui-container>
            </ui-column>
        </ui-row>
    
    
        <cycle if.bind="isEditing" cycle.bind="cycle" save.call="saveItem()"></cycle> 
      
</template>    

    