<template>
    <ui-loader busy.bind="isWaiting" big></ui-loader>   
    <ui-fieldset legend="Battery Cycle" checked.bind="ShowBatteryInfo">
        <div ref="errorHolder" class="errorholder"></div>
      <ui-form submit.trigger="saveItem()">
          <ui-row>
              <ui-column size="md-12 lg-12 xs-12" class="boxForm">
                <ui-row>
                  <ui-column size="md-4 lg-4 xs-4">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom"> Date </ui-input-label>
                        <ui-date date date.bind="cycle.CycleDate & validate" > 
                      </ui-input-group>
                  </ui-column>
        
                  <ui-column size="md-4 lg-4 xs-4">
                    <ui-input-group>
                      <ui-input-label class="ui-label-custom">Duration </ui-input-label>
                      <ui-input text   value.bind="cycle.Duration" placeholder="Duration">
                    </ui-input-group>
                  </ui-column>
    
                  <ui-column size="md-4 lg-4 xs-4">
                    <ui-input-group>
                      <ui-input-label class="ui-label-custom">Voltage Pre Flight(V) </ui-input-label>
                      <ui-input text  value.bind="cycle.VoltagePreFlight"  placeholder="VoltagePreFlight">
                        <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                      </ui-input>
                    </ui-input-group>
                  </ui-column>

                  <ui-column size="md-4 lg-4 xs-4">
                    <ui-input-group>
                        <ui-input-label class="ui-label-custom">Voltage Post Flight(V) </ui-input-label>
                        <ui-input text  value.bind="cycle.VoltagePostFlight"  placeholder="VoltagePostFlight">
                        <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                        </ui-input>
                    </ui-input-group>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Voltage Before Charge(V) </ui-input-label>
                            <ui-input text  value.bind="cycle.VoltageBeforeCharge"  placeholder="VoltageBeforeCharge">
                            <ui-input-addon> <i class="glyphicon glyphicon-barcode addon-input"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>
        
        
                  <ui-column size="md-4 lg-4 xs-4">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom">Voltage After Charge (V) </ui-input-label>
                        <ui-input text min="0" value.bind="cycle.VoltageAfterCharge" min="0" placeholder="VoltageAfterCharge">
                          <ui-input-addon> <i class="glyphicon anra-ico_geofence"></i> </ui-input-addon>
                        </ui-input>
                      </ui-input-group>
                  </ui-column>
        
                  <ui-column size="md-4 lg-4 xs-4">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom">Capacity Input (mAHr) </ui-input-label>
                        <ui-input text value.bind="cycle.Capacity" placeholder="Cell Capacity">
                          <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                        </ui-input>
                    </ui-input-group>
                  </ui-column>
        
                  <ui-column size="md-4 lg-4 xs-4">
                      <ui-input-group>
                        <ui-input-label class="ui-label-custom">Initial Cell Resistance</ui-input-label>
                        <ui-input text value.bind="cycle.TotalCellResistance" placeholder="TotalCellResistance">
                          <ui-input-addon> <i class="glyphicon anra-ico_geofence"></i> </ui-input-addon>
                        </ui-input>
                      </ui-input-group>
                  </ui-column>
        
                </ui-row>
                <br>
                <ui-row>
                    <h6><b>Cell Resistance</b></h6>
                </ui-row>
                <ui-row>    
                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 1 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell1" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 2 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell2" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 3 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell3" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 4 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell4" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>
                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 5 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell5" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 6 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell6" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>
                    <ui-column size="md-3 lg-3 xs-3">
                        <ui-input-group>
                            <ui-input-label class="ui-label-custom">Cell 7 (Ohm) </ui-input-label>
                            <ui-input text value.bind="cycle.Cell7" placeholder="Cell Capacity">
                            <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                            </ui-input>
                        </ui-input-group>
                    </ui-column>

                    <ui-column size="md-3 lg-3 xs-3">
                            <ui-input-group>
                                <ui-input-label class="ui-label-custom">Cell 8 (Ohm) </ui-input-label>
                                <ui-input text value.bind="cycle.Cell8" placeholder="Cell Capacity">
                                <ui-input-addon><i class="glyphicon anra-ico_speed_light"></i> </ui-input-addon>
                                </ui-input>
                            </ui-input-group>
                    </ui-column>
                </ui-row>
                <ui-row>
                    <ui-column size="md-8 lg-8 xs-12">
                            <ui-input-group>
                                <ui-input-label class="ui-label-custom"> Notes </ui-input-label>
                                <ui-textarea clear counter rows="3" placeholder="Notes" value.bind="cycle.Notes" auto-complete=""></ui-textarea>
                            </ui-input-group>
                    </ui-column>
                </ui-row>
              </ui-column>
        
              <ui-column size="md-12 lg-12" class="boxForm">
                  <ui-input-group class="pull-right">
                      <button class="btn btn-primary btn-lg" click.delegate="saveItem()">
                          <i class="fa fa-check" aria-hidden="true"></i> Save
                      </button>
                        &nbsp;&nbsp;&nbsp;
                      <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                        <i class="fa fa-times" aria-hidden="true"></i> Cancel
                      </button>
                  </ui-input-group>
              </ui-column>
        
            </ui-row>
      </ui-form>
       
    </ui-fieldset>

    
</template>

