<!-- <template>
    <require from="blur-image"></require>
    <require from="../lib/date-format"></require>
    <require from="../lib/component/animation/loading"></require>

    <div class="">
        <div class="page-header-title">
        </div>
    </div>
    <loading displayed.bind="isWaiting"></loading>

    <section class="container-fluid minhight edit-view-mn">
        <div class="container tab-content edit-view panel padding-20">
            <div class="tab-pane fade in active">
                <div class="row">
                    <div class="container-fluid das-middle-sec">
                        <h2 class="pull-left">Alert Details</h2>                        
                        <div class="pull-right">
                            <input type="text" class="searchTable" value.bind="filters[0].value" placeholder="Search" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="container">
                            <div class="box_indicator_maintanance">
                                <ul class="list-inline">
                                    <li> <p class="color_shade_maintanance bg-newTask"></p> New Task </li>
                                    <li> <p class="color_shade_maintanance bg-partially_completed"></p> Partially Completed </li>
                                    <li> <p class="color_shade_maintanance bg-postpone"></p> Postpone</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 box_overduemaintanance">
                                    <div class="row">
                                        <div class="col-sm-3" repeat.for="item of maintenances">
                                            <div if.bind = "item.Category == 'Drone'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Drone_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Drone_new_task" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Drone_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <div  if.bind="item.NextActionAfterDate != null"><span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> ${item.NextActionAfterDate | dateFormat} </span> </div>
                                                <div  if.bind="item.NextActionAfterDate == null"><span class="heading_maintanance"> Next Action Hours  </span>  &nbsp;<span> ${item.NextActionAfterHours} </span> </div>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>

                                            <div if.bind = "item.Category == 'Sensor'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Sensor_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Sensor_new_task " class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Sensor_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <div  if.bind="item.NextActionAfterDate != null"><span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> ${item.NextActionAfterDate | dateFormat} </span> </div>
                                                <div  if.bind="item.NextActionAfterDate == null"><span class="heading_maintanance"> Next Action Hours  </span>  &nbsp;<span> ${item.NextActionAfterHours} </span> </div>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>

                                            <div if.bind = "item.Category == 'Equipment'" class="thumb-wrapper thumb_wrapper_maintanance">
                                                <div class="img-box img-box-maintanance">
                                                    <img if.bind ="item.Status =='Partially Completed'" src.bind="Equipments_partially_completed" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='New Task'" src.bind="Equipments_new_task" class="img-responsive" alt="">
                                                    <img if.bind ="item.Status =='Postponed'" src.bind="Equipments_postpone" class="img-responsive" alt="">
                                                </div>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p>
                                                <div class="thumb_content_maintanance">
                                                <span class="heading_maintanance"> Maintanance Name  </span> &nbsp; <span> ${item.Name} </span> <br/>
                                                <span class="heading_maintanance"> Maintanance Date  </span>  &nbsp;<span> ${item.MaintenanceDate | dateFormat} </span><br/>
                                                <div  if.bind="item.NextActionAfterDate != null"><span class="heading_maintanance"> Next Action Date  </span>  &nbsp;<span> ${item.NextActionAfterDate | dateFormat} </span> </div>
                                                <div  if.bind="item.NextActionAfterDate == null"><span class="heading_maintanance"> Next Action Hours  </span>  &nbsp;<span> ${item.NextActionAfterHours} </span> </div>
                                                <span class="heading_maintanance"> Status  </span> &nbsp; <span> ${item.Status} </span><br/>
                                                <span class="heading_maintanance"> Creation Date  </span> &nbsp; <span> ${item.DateCreated | dateFormat} </span>
                                                </div>						
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:15px;">
                    <div class="col-sm-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-bordered no-footer" aurelia-table="data.bind: maintenances; display-data.bind: $maintenances;
                                        current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: MaintenanceDate">Maintenance Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: NextActionaAfterDate">Next Action Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: Status">Status <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $maintenances">
                                        <td><span style="color:red;">${item.Name}</span></td>
                                        <td>${item.MaintenanceDate | dateFormat} </td>
                                        <td><span if.bind="item.NextActionAfterDate !== null"> ${item.NextActionAfterDate | dateFormat} </span> <span if.bind="item.NextActionAfterDate == null"> ${item.NextActionAfterHours} </span></td>
                                        <td>${item.Status}</td>                                
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td>
                                            <a href="javascript:;" class="ed" click.delegate="viewItem(item.MaintenanceId)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </div>

                    <div class="col-md-3">
                        <div class="form-inline">
                            <div class="form-group pull-right">
                                <label for="pageSize">Page Size: </label>
                                <select value.bind="pageSize" id="pageSize" class="form-control">
                                    <option model.bind="5">5</option>
                                    <option model.bind="10">10</option>
                                    <option model.bind="20">20</option>
                                    <option model.bind="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>-->

<template >

    <require from="blur-image"></require>
    <require from="../lib/date-format"></require>
    <ui-loader busy.bind="isWaiting" big></ui-loader>
        <ui-panel class="panel_box">
            <ui-panel-body class="panel_body">
                <ui-row>
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title">Alert Details &nbsp; <i class="fa fa-bell" aria-hidden="true"></i></h4>
                            </ui-column>
                            
                            <ui-column size="md-6 lg-6 xs-4">
                                <div class="pull-right">
                                    <input type="search" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search">
                                </div>
                            </ui-column>
                        </ui-row>
                    </ui-column>

                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="box_indicator_maintanance">
                            <ul class="list-inline">
                                <li> <p class="color_shade_maintanance bg-newTask"></p>&nbsp; New Task </li>
                                <li> <p class="color_shade_maintanance bg-partially_completed"></p>&nbsp; Partially Completed </li>
                                <li> <p class="color_shade_maintanance bg-postpone"></p>&nbsp; Postpone</li>
                            </ul>
                        </div>
                    </ui-column>

                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="box-maintenance">
                            <ui-row>
                                <ui-column size="lg-2 md-4" repeat.for="item of maintenances">
                                    <div class="card tooltip" onclick="this.classList.toggle('expanded')" data-toggle="tooltip" title="${item.Category}">
                                        <div if.bind = "item.Category == 'Drone'">
                                            <p class="img_heading_maintanance"> ${item.Category } </p>
                                            <!-- <img class="image_maintenance" src="../../image/Maintanance_img/drone.svg"> -->
                                            <img class="image_maintenance" if.bind ="item.Status =='Partially Completed'" src.bind="Drone_partially_completed" class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='New Task'" src.bind="Drone_new_task" class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='Postponed'" src.bind="Drone_postpone" class="img-responsive" alt="">
                                            <div class="text1">
                                            <div class="text-content">
                                                <!-- <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p> -->
                                                <!-- <p class="img_heading_maintanance"> ${item.Category } </p> -->
                                                <!-- <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p> -->
        
                                                <div class="body-text">
                                                    <table>
                                                        <tr>
                                                            <td> Name </td>
                                                            <td colspan="2"> ${item.Name} </td>
                                                        </tr>
                                                        <tr>
                                                            <td> Date </td>
                                                            <td> ${item.MaintenanceDate | dateFormat}  </td>
                                                        </tr>
                                                        <tr if.bind="item.NextActionAfterDate != null">
                                                            <td> Next Action Date </td>
                                                            <td> ${item.NextActionAfterDate | dateFormat} </td>
                                                        </tr>
                                                        <tr if.bind="item.NextActionAfterDate == null">
                                                            <td> Next Action Hours  </td>
                                                            <td> ${item.NextActionAfterHours} </td>
                                                        </tr>
                                                        <tr>
                                                            <td> Status </td>
                                                            <td> ${item.Status} </td>
                                                        </tr>
                                                        <tr>
                                                            <td> Creation Date </td>
                                                            <td> ${item.DateCreated | dateFormat} </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                            </div>
                                            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 35" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#fff" stroke-width="5"/></svg>
                                        </div>
    
                                        <div if.bind = "item.Category == 'Sensor'">
                                            <p class="img_heading_maintanance"> ${item.Category } </p>
                                            <!-- <img class="image_maintenance" src="../../image/Maintanance_img/drone.svg"> -->
                                            <img class="image_maintenance" if.bind ="item.Status =='Partially Completed'" src.bind="Sensor_partially_completed" class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='New Task'" src.bind="Sensor_new_task " class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='Postponed'" src.bind="Sensor_postpone" class="img-responsive" alt="">
    
                                            <div class="text1">
                                                <div class="text-content">
                                                    <!-- <p class="img_heading_maintanance"> ${item.Category } </p> -->
                                                    <!-- <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p>
                                                    <p class="img_heading_maintanance" if.bind="item.Category == 'Equipment'"> ${item.Category } </p> -->
            
                                                    <div class="body-text">
                                                        <table>
                                                            <tr>
                                                                <td> Name </td>
                                                                <td colspan="2"> ${item.Name} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Date </td>
                                                                <td> ${item.MaintenanceDate | dateFormat}  </td>
                                                            </tr>
                                                            <tr if.bind="item.NextActionAfterDate != null">
                                                                <td> Next Action Date </td>
                                                                <td> ${item.NextActionAfterDate | dateFormat} </td>
                                                            </tr>
                                                            <tr if.bind="item.NextActionAfterDate == null">
                                                                <td> Next Action Hours  </td>
                                                                <td> ${item.NextActionAfterHours} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Status </td>
                                                                <td> ${item.Status} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Creation Date </td>
                                                                <td> ${item.DateCreated | dateFormat} </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 35" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#fff" stroke-width="5"/></svg>
                                        </div>
    
                                        <div if.bind = "item.Category == 'Equipment'">
                                            <p class="img_heading_maintanance"> ${item.Category } </p>
                                            <!-- <img class="image_maintenance" src="../../image/Maintanance_img/drone.svg"> -->
                                            <img class="image_maintenance" if.bind ="item.Status =='Partially Completed'" src.bind="Equipments_partially_completed" class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='New Task'" src.bind="Equipments_new_task" class="img-responsive" alt="">
                                            <img class="image_maintenance" if.bind ="item.Status =='Postponed'" src.bind="Equipments_postpone" class="img-responsive" alt="">
    
                                            <div class="text1">
                                                <div class="text-content">
                                                    <!-- <p class="img_heading_maintanance" if.bind="item.Category == 'Sensor'"> ${item.Category } </p>
                                                    <p class="img_heading_maintanance" if.bind="item.Category == 'Drone'"> ${item.Category } </p> -->
                                                    <!-- <p class="img_heading_maintanance"> ${item.Category } </p> -->
            
                                                    <div class="body-text">
                                                        <table>
                                                            <tr>
                                                                <td> Name </td>
                                                                <td colspan="2"> ${item.Name} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Date </td>
                                                                <td> ${item.MaintenanceDate | dateFormat}  </td>
                                                            </tr>
                                                            <tr if.bind="item.NextActionAfterDate != null">
                                                                <td> Next Action Date </td>
                                                                <td> ${item.NextActionAfterDate | dateFormat} </td>
                                                            </tr>
                                                            <tr if.bind="item.NextActionAfterDate == null">
                                                                <td> Next Action Hours  </td>
                                                                <td> ${item.NextActionAfterHours} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Status </td>
                                                                <td> ${item.Status} </td>
                                                            </tr>
                                                            <tr>
                                                                <td> Creation Date </td>
                                                                <td> ${item.DateCreated | dateFormat} </td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <svg class="chevron" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 35" width="30"><path d="M5 30L50 5l45 25" fill="none" stroke="#fff" stroke-width="5"/></svg>
                                        </div>
                                    </div>
                                </ui-column>
                            </ui-row>
                        </div>
                      
                    </ui-column>
            
                    <ui-column size="md-12 lg-12 xs-12">
                        <div class="table-responsive des-table">
                            <table class="table table-striped table-custom no-footer" aurelia-table="data.bind: maintenances; display-data.bind: $maintenances;
                                        current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                                <thead>
                                    <tr>
                                        <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: MaintenanceDate">Maintenance Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: NextActionaAfterDate">Next Action Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: Status">Status <span class="glyphicon glyphicon-sort"></span></th>
                                        <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr repeat.for="item of $maintenances">
                                        <td><span>${item.Name}</span></td>
                                        <td>${item.MaintenanceDate | dateFormat} </td>
                                        <td><span if.bind="item.NextActionAfterDate !== null"> ${item.NextActionAfterDate | dateFormat} </span> <span if.bind="item.NextActionAfterDate == null"> ${item.NextActionAfterHours} </span></td>
                                        <td>${item.Status}</td>                                
                                        <td>${item.DateCreated | dateFormat}</td>
                                        <td>
                                            <a href="javascript:;" class="ed" click.delegate="viewItem(item.MaintenanceId)">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </ui-column>
                </ui-row>
            
                <!-- pagination -->
                <ui-row>
                    <ui-column size="md-9 lg-9 xs-12">
                        <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                            pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                    </ui-column>
                    <ui-column size="md-3 lg-3 xs-12">
                        <div class="form-group pull-right">
                            <label for="pageSize">Page Size: </label>
                            <select value.bind="pageSize" id="pageSize" class="pagination-select">
                                <option model.bind="5">5</option>
                                <option model.bind="10">10</option>
                                <option model.bind="20">20</option>
                                <option model.bind="50">50</option>
                            </select>
                        </div>
                    </ui-column>
                </ui-row>
                <!-- pagination -->
            </ui-panel-body>
        </ui-panel>
</template>
