<template>
<require from="blur-image"></require>
<!-- <require from="./client"></require>
<require from="./client-view"></require> -->
<require from="../lib/date-format"></require>
<!-- <require from="../lib/component/animation/loading"></require> -->

<ui-loader busy.bind="isWaiting" big></ui-loader> 
    <ui-row>
        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12">
                    <ui-row class="header-top">
                        <ui-column size="md-12 lg-12 xs-12">
                            <h4 class="pull-left heading_title">View Battery Information &nbsp;<i class="anra-ico_batterycharge_dark" style="font-size: 14px;"></i></h4>
                        </ui-column>
                    </ui-row>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                        <div class="wrapper">
                            <label class="upper">Name</label>
                            <span class="meetup">${battery.BatteryName}&nbsp;</span>
                        </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Purchase Date</label>
                        <span class="meetup">${battery.PurchaseDate}&nbsp;</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Serial Number</label>
                        <span class="meetup">${battery.SerialNumber}&nbsp;</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Status</label>
                        <span class="meetup">${battery.IsActive==true?'Active':'Inactive'}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Organization</label>
                        <span class="meetup">${organizations | filterOnProperty:'OrganizationId':battery.OrganizationId:'Name'}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Drone</label>
                        <span class="meetup">${drones | filterOnProperty:'DroneId':battery.DroneId:'Title'}</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Cell Count</label>
                        <span class="meetup">${battery.CellCount}&nbsp;</span>
                    </div>
                </ui-column>

                <ui-column size="md-6 lg-4 xs-6">
                        <div class="wrapper">
                            <label class="upper">Cell Capacity</label>
                            <span class="meetup">${battery.Capacity}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-6 lg-4 xs-6">
                        <div class="wrapper">
                            <label class="upper">Initial Cycle Count</label>
                            <span class="meetup">${battery.InitialCycleCount}&nbsp;</span>
                        </div>
                    </ui-column>
            </ui-row>

            <ui-row>
                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Firmware Version</label>
                        <span class="meetup">${battery.FirmwareVersion}&nbsp;</span>
                    </div>
                </ui-column>
                <ui-column size="md-6 lg-4 xs-6">
                    <div class="wrapper">
                        <label class="upper">Hardware Version</label>
                        <span class="meetup">${battery.HardwareVersion}&nbsp;</span>
                    </div>
                </ui-column>
            </ui-row>

            <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                    <div class="wrapper">
                        <label class="upper">Notes</label>
                        <span class="meetup">${battery.Notes}</span>
                    </div>
                </ui-column>   
            </ui-row>

            <ui-row>
                <ui-column class="boxForm" size="md-12 lg-12 xs-12">
                    <ui-input-group class="pull-right">
                        <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                        </button>&nbsp;
                        <button class="btn btn-primary btn-lg" click.delegate="edit(battery.BatteryId)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                        </button>
                    </ui-input-group>
                </ui-column>
            </ui-row>
        </ui-column>
    </ui-row>
        
</template>
    
    
    
    

