<template>
    <require from="blur-image"></require>
    <require from="./battery"></require>
    <require from="./battery-view"></require>
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
     <ui-loader busy.bind="isWaiting" big></ui-loader>   
    <!----Dashboard Block --->
    <ui-row show.bind="!isEditing && !isViewing">
        <ui-column size="md-12 lg-12 xs-12">
            <ui-row class="header-top">
                <ui-column size="md-6 lg-6 xs-8">
                    <h4 class="pull-left heading_title">${heading} &nbsp;<i class="anra-ico_batterycharge_dark" style="font-size: 14px;"></i> </h4>
                </ui-column>

                <ui-column size="md-6 lg-6 xs-4">
                    <div class="pull-right">
                        <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                        <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="tooltip_text"> Add New Battery </span>
                        </button>
                    </div>
                </ui-column>
            </ui-row>
        </ui-column>

        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table">
                        <table class="table table-custom table-striped  dataTable no-footer" aurelia-table="data.bind: batteries; display-data.bind: $batteries; 
                                current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                            <thead>
                                <tr>
                                    <th aut-sort="key: BatteryName">Name <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: PurchaseDate">Purchase Date <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: SerialNumber">Serial No. <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: CellCount">Cell Count <span class="glyphicon glyphicon-sort"></span></th>
                                    <th aut-sort="key: Capacity">Capacity <span class="glyphicon glyphicon-sort"></span></th>                                
                                    <th>Cycles/Flights</th>
                                    <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>                                
                                    <th>Cycles</th>
                                    <th colspan="3">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr repeat.for="item of $batteries">
                                    <td>${item.BatteryName}</td>
                                    <td>${item.PurchaseDate | dateFormat}</td>
                                    <td>${item.SerialNumber}</td>
                                    <td>${item.CellCount}</td>
                                    <td>${item.Capacity}</td>                                
                                    <td>${item.TotalCycles}/${item.TotalFlights}</td>
                                    <td>${item.DateCreated | dateFormat}</td>                                
                                    <td>
                                        <a href="javascript:;"  class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="showCycles(item.BatteryId)" title="Cycle">
                                            <i class="anra-ico_batterycharge_light"></i>
                                        </a>
                                    </td>
                                    <td colspan="3" nowrap>
                                        <aup-dropdown direction="down" right="false">
                                            <div slot="dropdown-toggle">Action</div>
                                            <div slot="dropdown-menu" class="dropdown_menu">
                                                <a href="javascript:;"  class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.BatteryId)" title="Edit">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>  
                                                    <span> Edit </span>
                                                </a>
                                                <a href="javascript:;" class=" ${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.BatteryId)" title="Delete">
                                                    <i class="fa fa-trash" aria-hidden="true"></i> 
                                                    <span>Delete </span>
                                                </a>
                                                <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.BatteryId)" title="View">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <span> View </span>
                                                </a>
                                            </div>
                                        </aup-dropdown>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ui-column>
            </ui-row>  
            
            <ui-row>
                <ui-column size="md-9 lg-9 xs-8">
                    <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                </ui-column>
                <ui-column size="md-3 lg-3 xs-4">
                    <div class="form-group pull-right">
                        <label for="pageSize">Page Size: </label>
                        <select value.bind="pageSize" id="pageSize" class="pagination-select">
                            <option model.bind="5">5</option>
                            <option model.bind="10">10</option>
                            <option model.bind="20">20</option>
                            <option model.bind="50">50</option>
                        </select>
                    </div>
                </ui-column>
            </ui-row> 
        </ui-column>
    </ui-row>

    <battery if.bind="isEditing" battery.bind="batteryAggregate.Battery" drones.bind="batteryAggregate.Drones" organizations.bind="batteryAggregate.OrganizationLookup" save.call="saveItem()"></battery>
    <battery-view if.bind="isViewing" battery.bind="batteryAggregate.Battery" drones.bind="batteryAggregate.Drones" organizations.bind="batteryAggregate.OrganizationLookup" save.call="saveItem()"></battery-view>
</template>
