<template>
  <require from="bootstrap-fileinput/css/fileinput.css"></require>
  <style>
    .file-drop-zone{
      overflow-y:auto;
      max-height:400px !important;
    }
  </style>
  <input id="file" type="file" name="file" multiple class="file-loading">
</template>
