<template>
    <ui-row>
        <ui-column size="lg-9 md-9" class="ui-nooverflow" fill>
            <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems" pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
        </ui-column>
        <ui-column size="lg-3 md-3" align="right" class="ui-nooverflow">
            <label for="pageSize" class="ui-thin ui-font-small">Page Size:</label> 
            <select value.bind="pageSize" id="pageSize" class="form-control">
                <option model.bind="5">5</option>
                <option model.bind="10">10</option>
                <option model.bind="20">20</option>
                <option model.bind="50">50</option>
            </select>
        </ui-column>
    </ui-row>
</template>