<template>
    <!----Dashboard Block --->
	<div class="">
        <div class="page-header-title"></div>
	</div>
    <section class="container-fluid bashboard-section small-das dash-box-5 new-design">
        <div class="container">
            <ul class="row bashboard-block nav nav-pills">
                <li class="col-md-2 bas-bx-1">
                    <a href="#/organizations">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_organization_dark"></i></div>
                            <h3>organizations</h3>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 bas-bx-2 active">
                    <a href="#/users">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_users_dark"></i></div>
                            <h3>users</h3>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 bas-bx-3 disable">
                    <!--<a href="#/clients">-->
                    <div class="das-bx">
                        <div class="image-sec"><i class="anra-ico_role_dark"></i></div>
                        <h3>roles</h3>
                    </div>
                    <!--</a>-->
                </li>
                <li class="col-md-2 bas-bx-4">
                    <a href="#/clients">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_client_dark"></i></div>
                            <h3>clients</h3>
                        </div>
                    </a>
                </li>
                <li class="col-md-2 bas-bx-5">
                    <a href="#/projects">
                        <div class="das-bx">
                            <div class="image-sec"><i class="anra-ico_project_dark"></i></div>
                            <h3>projects</h3>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </section>
  
    <section class="container-fluid minhight edit-view-mn">
        <div class="row">
            <div class="container das-middle-sec edit-view panel padding-10">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="margin-top-20">Associate Drones with: <span if.bind="isReady">${user.FullName} </span></h2> 
                        </div>                        
                        <div class="col-md-12">
                            <div>                                
                                <div class="table-responsive des-table first-text-center">
                                    <table class="table table-striped table-bordered dataTable no-footer" aurelia-table="data.bind: users; display-data.bind: $users">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Drone</th>
                                                <th>Make</th>
                                                <th>Model</th>
                                                <th>Legal Identification</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr repeat.for="drone of drones">
                                                <td>                                                    
													<div class="checkbox checkbox-primary"> <input id="checkbox2" type="checkbox" checked.bind="drone.isSelected"> <label for="checkbox2"></label></div>
                                                </td>
                                                <td>${drone.Title}</td>
                                                <td>${drone.BrandName}</td>
                                                <td>${drone.ModelName}</td>
                                                <td>${drone.LegalIdentification}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-primary btn-lg" click.delegate="save()">
                                <i class="fa fa-check" aria-hidden="true"></i> Save
                            </button>
                            &nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-times" aria-hidden="true"></i> Cancel
                            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>        
    </section>
</template>
