<template>
    <require from="blur-image"></require>
    <require from="./sensor-editor"></require>
    <require from="./sensor-view"></require>
    <require from="../lib/date-format"></require> 

    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
    <ui-row show.bind="!isEditing && !isViewing">
        <ui-column size="md-12 lg-12">
            <ui-row class="header-top">
                <ui-column size="md-6 lg-6 xs-8">
                    <h4 class="pull-left heading_title">${heading} &nbsp; <i class="fa fa-wifi"></i> </h4>
                </ui-column>

                <ui-column size="md-6 lg-6 xs-4">
                    <div class="pull-right">
                        <input type="text" class="search_bar hidden-xs" value.bind="filters[0].value" placeholder="Search" />
                        <button click.delegate="add()" type="button" class="btn btn-add btn-lg tooltip add_opr">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span class="tooltip_text"> Add New Sensor </span>
                        </button>
                    </div>
                </ui-column>
            </ui-row>
        </ui-column>

        <ui-column size="md-12 lg-12 xs-12">
            <ui-row>
                <ui-column size="md-12 lg-12 xs-12">
                    <div class="table-responsive des-table">
                        <table class="table table-striped table-custom dataTable no-footer" aurelia-table="data.bind: sensors; display-data.bind: $sensors;
                                current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
                            <thead>
                            <tr>
                                <th aut-sort="key: Name">Name <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: PurchaseDate">Purchase Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: SerialNumber">Serial Number <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: Weight">Weight (${massUnit}) <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: OrganizationName">Organization <span class="glyphicon glyphicon-sort"></span></th>
                                <th aut-sort="key: DateCreated; default: desc">Creation Date <span class="glyphicon glyphicon-sort"></span></th>
                                <th colspan="3">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr repeat.for="item of $sensors">
                                <td>${item.Name}</td>
                                <td>${item.PurchaseDate | dateFormat}</td>
                                <td>${item.SerialNumber}</td>
                                <td>${item.Weight}</td>
                                <td>${item.OrganizationName}</td>
                                <td>${item.DateCreated | dateFormat}</td>
                                <td colspan="3" class="action-btn">
                                <aup-dropdown direction="down" right="false">
                                    <div slot="dropdown-toggle">Action</div>
                                    <div slot="dropdown-menu" class="dropdown_menu">
                                        <a href="javascript:;" class="${permission.Edit == true ? 'ed' : 'ded'}" click.delegate="editItem(item.SensorId)" title="Edit">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            <span> Edit </span>
                                        </a>
                                        <a href="javascript:;" class="${permission.Delete == true ? 'ed' : 'ded'}" click.delegate="deleteItem(item.SensorId)" title="Delete">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                            <span> Delete </span>
                                        </a>
                                        <a href="javascript:;" class="${permission.View == true ? 'ed' : 'ded'}" click.delegate="viewItem(item.SensorId)" title="View">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                            <span> View </span>
                                        </a>
                                    </div>
                                </aup-dropdown>
                                

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </ui-column>
            </ui-row>
            
            <!-- pagination -->
            <ui-row>
                <ui-column size="md-9 lg-9 xs-8">
                    <aut-pagination current-page.bind="currentPage" page-size.bind="pageSize" total-items.bind="totalItems"
                        pagination-size.bind="5" boundary-links.bind="true"></aut-pagination>
                </ui-column>
                <ui-column size="md-3 lg-3 xs-4">
                    <div class="form-group pull-right">
                        <label for="pageSize">Page Size: </label>
                        <select value.bind="pageSize" id="pageSize" class="pagination-select">
                            <option model.bind="5">5</option>
                            <option model.bind="10">10</option>
                            <option model.bind="20">20</option>
                            <option model.bind="50">50</option>
                        </select>
                    </div>
                </ui-column>
            </ui-row>
            <!-- pagination -->
        </ui-column>
    </ui-row>
    
    <sensor-editor if.bind="isEditing" sensor.bind="sensorAggregate.Sensor" drones.bind="sensorAggregate.Drones" organizations.bind="sensorAggregate.OrganizationLookup" save.call="saveItem()"></sensor-editor>
    <sensor-view if.bind="isViewing" sensor.bind="sensorAggregate.Sensor" drones.bind="sensorAggregate.Drones" organizations.bind="sensorAggregate.OrganizationLookup" save.call="saveItem()"></sensor-view>
      
</template>
      
