<template>
    <require from="blur-image"></require>
    <!-- <require from="./client"></require>
    <require from="./client-view"></require> -->
    <require from="../lib/date-format"></require>
    <!-- <require from="../lib/component/animation/loading"></require> -->
    
    <ui-loader busy.bind="isWaiting" big></ui-loader> 
        <ui-row>
            <ui-column size="md-12 lg-12 xs-12">
                <ui-row>
                    <ui-column size="md-12 lg-12">
                        <ui-row class="header-top">
                            <ui-column size="md-6 lg-6 xs-8">
                                <h4 class="pull-left heading_title"> View Sensor Information &nbsp;<i class="fa fa-wifi"></i> </h4>
                            </ui-column>
                        </ui-row>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                            <div class="wrapper">
                                <label class="upper">Name</label>
                                <span class="meetup">${sensor.Name}&nbsp;</span>
                            </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Purchase Date</label>
                            <span class="meetup">${sensor.PurchaseDate}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Serial Number</label>
                            <span class="meetup">${sensor.SerialNumber}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Status</label>
                            <span class="meetup">${sensor.IsActive==true?'Active':'Inactive'}</span>
                        </div>
                    </ui-column>

                    

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Drones</label>
                            <span class="meetup">${drones | filterOnProperty:'DroneId':sensor.DroneId:'Title'}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Weight</label>
                            <span class="meetup">${sensor.Weight}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Firmware Version</label>
                            <span class="meetup">${sensor.FirmwareVersion}&nbsp;</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Hardware Version</label>
                            <span class="meetup">${sensor.HardwareVersion}</span>
                        </div>
                    </ui-column>

                    <ui-column size="md-4 lg-4 xs-4">
                        <div class="wrapper">
                            <label class="upper">Organization</label>
                            <span class="meetup">${organizations | filterOnProperty:'OrganizationId':sensor.OrganizationId:'Name'}</span>
                        </div>
                    </ui-column>



                    <ui-column size="md-8 lg-8 xs-8">
                        <div class="wrapper">
                            <label class="upper">Notes</label>
                            <span class="meetup">${sensor.Notes}&nbsp;</span>
                        </div>
                    </ui-column>

                </ui-row>

                <ui-row>
                    <ui-column class="boxForm" size="md-12 lg-12 xs-12">
                        <ui-input-group class="pull-right">
                            <button class="btn btn-primary btn-lg" click.delegate="cancel()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
                            </button>&nbsp;
                            <button class="btn btn-primary btn-lg" click.delegate="edit(battery.BatteryId)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                            </button>
                        </ui-input-group>
                    </ui-column>
                </ui-row>
            </ui-column>
        </ui-row>
</template>
