<template>
  <ui-panel class="x-dash-card bgLighter" minheight="20em" height="200px" scroll>
    <ui-header>
      <ui-header-title>Contingency Plans</ui-header-title>
      <ui-header-tool glyph="glyph-icon-plus" title="Add Contigency" click.trigger="onAdd()"></ui-header-tool>
      <ui-header-tool expand></ui-header-tool>
    </ui-header>
    <ui-panel-body scroll if.bind="operation">
      <div class="table-responsive des-table">
        <table class="table table-striped table-bordered table-hover dataTable no-footer" aurelia-table="data.bind: operation.contingency_plans; display-data.bind: $contingenyPlans  ;
                          current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;filters.bind: filters">
          <thead>
          <tr>
            <th width="10%"></th>
            <th width="20%">Response</th>
            <th width="60%">Description</th>
          </tr>
          </thead>
          <tbody>
          <tr repeat.for="item of $contingenyPlans">
            <td><a href="javascript:;" click.delegate="onEdit(item)"><i class="fa fa-pencil"></i></a></td>
            <td>${item.contingency_response}</td>
            <td>${item.contingency_location_description}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </ui-panel-body>
  </ui-panel>
</template>
