<template>
  <require from="drone-view/dials/airspeed"></require>
  <require from="drone-view/dials/attitude"></require>
  <require from="drone-view/dials/altimeter"></require>
  <require from="drone-view/dials/heading"></require>

  <require from="leaflet/dist/leaflet.css"></require>
  <require from="leaflet-draw/dist/leaflet.draw.css"></require>
  <require from="sebmatton/jQuery-Flight-Indicators/css/flightindicators.css"></require>
  <require from="Leaflet.vector-markers/dist/leaflet-vector-markers.css"></require>

  <style>
    #drone-view-map {
      position: absolute;
      bottom: 0;
      top: 0;
      width: 100%;
      margin-top: 35px;
    }

    #map-wrapper {
      height: 70vh;
      width: 100%;
    }

    div.dials-container {
      width: 20%;
      display: block;
    }

    #drone-view-map {
      marign-top: 10em;
    }

    #dial-containers-left {
      left: 0;
      bottom: 0px;
      position: absolute;
      display: block;
    }

    #dial-containers-right {
      bottom: 0px;
      right: 0;
      position: absolute;
      display: block;
    }

    .easy-button-button {
      padding: 5px;
      width: 30px;
    }
  </style>
  <ui-loader busy.bind="isWaiting" big></ui-loader>
  <ui-section style="height:85vh">
    <ui-panel class="x-dash-card bgDark" minheight="5em" height="100%">
      <ui-header>
        <ui-header-title style="font-weight:bold">${drone.Name}</ui-header-title>

        <ui-button show.bind="collisionCount>0"
                   click.delegate="showCollisions()"
                   warning small
                   badge-danger="${collisionCount}">
          Collision
        </ui-button>

        <ui-button click.delegate="showUrep()" small>UREPS</ui-button>
        <ui-button click.delegate="showContingencies()" small>CONTINGENCIES</ui-button>
        <ui-button click.delegate="showLunOperations()" small>LUN OPERATIONS</ui-button>
        <ui-button click.delegate="showWeather()" small>WEATHER</ui-button>
        <ui-drawer-toggle drawer.bind="drawerRight" class="icon-moon-cog" theme="info"></ui-drawer-toggle>
      </ui-header>

      <ui-panel-body>

        <ui-statsbar theme="lime" bg-dark small>
          <ui-stat no-wrap theme.bind="mode == 'Offline' ? 'danger':''" label.bind="mode">Mode</ui-stat>
          <ui-stat no-wrap label.bind="battery">Battery</ui-stat>
          <ui-stat no-wrap theme.bind="linkStatus == 'Lost' ? 'danger':''" label.bind="linkStatus">Status</ui-stat>
          <ui-stat no-wrap label.bind="lat">Latitude</ui-stat>
          <ui-stat no-wrap label.bind="lng">Longitude</ui-stat>
          <ui-stat no-wrap label.bind="altitude">Altitude (ft)</ui-stat>
          <ui-stat no-wrap label.bind="airspeed">Airspeed</ui-stat>
        </ui-statsbar>

        <div id="map-wrapper">
          <div id="drone-view-map"></div>
        </div>

        <div id="dial-containers-left">
          <airspeed-indicator></airspeed-indicator>
          <altimeter-indicator></altimeter-indicator>
        </div>

        <div id="dial-containers-right">
          <heading-indicator></heading-indicator>
          <attitude-indicator></attitude-indicator>
        </div>

      </ui-panel-body>
    </ui-panel>

    <ui-drawer ref="drawerRight" position="end" scroll padded>

      <ui-panel>
        <ui-header dark>
          <ui-header-title>Detects</ui-header-title>
          <ui-header-tool collapse></ui-header-tool>
        </ui-header>
        <ui-panel-body minheight="5em" height="100%">
          <ui-fieldset legend="Subscribe Detects">
            <ui-option-group cols="1">
              <ui-input-label>
                <ui-switch info theme="red" value.bind="detections.radar">RADAR</ui-switch>
              </ui-input-label>
              <ui-input-label>
                <ui-switch info theme="cyan" value.bind="detections.adsb">ADSB</ui-switch>
              </ui-input-label>
              <ui-input-label>
                <ui-switch info theme="blue" value.bind="detections.dsrc">DSRC</ui-switch>
              </ui-input-label>
              <ui-input-label>
                <ui-switch info theme="green" value.bind="detections.rf">RF</ui-switch>
              </ui-input-label>
              <ui-input-label>
                <ui-switch info theme="orange" value.bind="detections.collision">Collision</ui-switch>
              </ui-input-label>
            </ui-option-group>
          </ui-fieldset>
        </ui-panel-body>
      </ui-panel>

      <ui-panel>
        <ui-header dark>
          <ui-header-title>Detects Interval</ui-header-title>
          <ui-header-tool collapse></ui-header-tool>
        </ui-header>
        <ui-panel-body minheight="5em" height="100%">
          <ui-fieldset>
            <ui-input-group>
              <ui-input-label>
                <input type="number" min="1" max="5" step="1" value.bind="detections.dsrcTracksInterval"/>
                <label>&nbsp;DSRC Tracks</label>
              </ui-input-label>
            </ui-input-group>
            <ui-input-group>
              <ui-input-label>
                <input type="number" min="1" max="5" step="1" value.bind="detections.echoDyneTracksInterval"/>
                <label>&nbsp;RADAR Tracks</label>
              </ui-input-label>
            </ui-input-group>
            <ui-input-group>
              <ui-input-label>
                <input type="number" min="1" max="5" step="1" value.bind="detections.radarInterval"/>
                <label>&nbsp;RADAR Detects</label>
              </ui-input-label>
            </ui-input-group>
          </ui-fieldset>
        </ui-panel-body>
      </ui-panel>


      <ui-panel>
        <ui-header dark>
          <ui-header-title>TFRs</ui-header-title>
          <ui-header-tool collapse></ui-header-tool>
        </ui-header>
        <ui-panel-body minheight="5em">
          <ui-fieldset>
            <ui-option-group cols="1">
              <ui-input-label>
                <ui-switch info theme="muted" value.bind="notamsDisplayBool" change.trigger="notamsDisplay()">Tempory
                  Flight Restrictions
                </ui-switch>
              </ui-input-label>
            </ui-option-group>
          </ui-fieldset>
        </ui-panel-body>
      </ui-panel>


    </ui-drawer>
  </ui-section>
</template>
