<template>
  <style>
    .applyBorder{
      border:1px solid grey;
      border-radius:10px;
    }
    .applyConflictBorder {
      border: 1px solid grey;
      border-radius: 10px;
      background-color: #f16a67;
      color: white;
    }
    /*.ui-switch-control .ui-switch > .ui-switch-input:checked ~ .ui-switch-inner{
      background-color:red !important;
    }*/
  </style>
  <require from="common/converters/datetime-format"></require>
  <ui-panel class="x-dash-card bgLighter" minheight="20em" height="56vh" full fill stretch scroll>
    <ui-header>
      <ui-header-title>USS Messages</ui-header-title>
      <ui-header-tool glyph="glyph-icon-plus" title="Add Message" click.trigger="onAdd()"></ui-header-tool>
      <ui-header-tool refresh click.delegate="getListing()"></ui-header-tool>
      <ui-header-tool expand></ui-header-tool>
    </ui-header>
    <ui-panel-body scroll if.bind="operation" full fill>
      <ui-content full fill repeat.for="item of messages"
                  class="${item.severity == 'ALERT' || item.severity == 'EMERGENCY' || item.severity == 'CRITICAL' ? 'ui-bg-warning' : 'ui-bg-info'}">
        <div class="applyBorder">
          <ui-row>
            <ui-column width="15%">
              <div class="ui-thin ui-font-small">Origin:</div>
              <div class="ui-col-fill ui-strong">${item.origin}</div>
            </ui-column>
            <ui-column width="85%">
              <div class="ui-thin ui-font-small">Originator:</div>
              <div class="ui-col-fill ui-strong">${item.originator_id}</div>
            </ui-column>
          </ui-row>
          <ui-row>
            <ui-column>
              <div class="ui-thin ui-font-small">Type:</div>
              <div class="ui-strong">${item.message_type}</div>
            </ui-column>
          </ui-row>
          <ui-row>
            <ui-column>
              <div class="ui-thin ui-font-small">Sent:</div>
              <div class="ui-strong">${item.sent_time | dateFormat}</div>
            </ui-column>
          </ui-row>
          <ui-row>
            <ui-column class="ui-col-fill ui-strong" full>${item.free_text}</ui-column>
          </ui-row>
        </div>
      </ui-content>
      <div class="applyConflictBorder" repeat.for="conflict of conflictedOperation">
        <table width="100%" class="table table-striped table-sm">
          <tr>
            <td width="30%">Conflicted Gufi</td>
            <td width="70%">${conflict.operationconflict.conflicting_operation_gufi}</td>
          </tr>

          <tr>
            <td>Uss Name</td>
            <td> ${conflict.operationconflict.conflicting_uss_name}</td>
          </tr>
          <tr>
            <td>Action</td>
            <td> <ui-switch theme="muted" checked.bind="conflict.isVisible"
           on-label="Hide" off-label="Show"
           change.delegate="onConflictsChange(conflict)"></ui-switch></td>
          </tr>
        </table>
      </div>
</ui-panel-body>
  </ui-panel>
</template>
