<template>
  <require from="common/converters/utc-datetime-format"></require>
  <style>
    .state-ROGUE, .state-NON-CONFORMING {
      color: red;
      font-weight: bold;
    }

    .ui-button .ui-button-el, .ui-button .ui-normal, .ui-button .ui-info, .ui-button .ui-success {
      padding: 0px !important;
    }

    .ui-header .ui-header-title .ui-title {
      margin: -19px !important;
    }
  </style>
  <ui-panel class="x-dash-card bgLighter" minheight="20em" height="200px" scroll if.bind="operation">
    <ui-header>
      <ui-header-title>Operation</ui-header-title>
      <ui-button disabled.bind="operationConflicts.length == 0 || operation.state=='CLOSED' || operation.state=='ROGUE'"
                 badge-danger="${operationConflicts.length}" glyph="glyph-alert-exclaim" title="Conflicts"
                 click.trigger="showConflicts(operation)"></ui-button>
      <ui-button glyph="glyph-icon-cog" icon-hilight theme="muted" dropdown.bind="btnMenu">
      </ui-button>
      <ui-menu ref="btnMenu">
        <ui-menu-section>Actions</ui-menu-section>
        <ui-menu-item glyph="glyph-icon-edit" click.trigger="router.navigate('operation/'+operation.gufi)">
          Edit
        </ui-menu-item>
        <ui-menu-section>Options</ui-menu-section>
        <ui-menu-item glyph="glyph-icon-minus" click.trigger="closeOperation()" disabled.bind="canCancelOperation()">
          Close
        </ui-menu-item>
        <ui-menu-item glyph="glyph-icon-yes" click.trigger="showLunOperations()">
          Lun Operations
        </ui-menu-item>
      </ui-menu>

      <ui-header-tool refresh click.delegate="getOperation()"></ui-header-tool>

      <ui-header-tool expand theme="dark"></ui-header-tool>
    </ui-header>

    <ui-panel-body scroll>
      <table width="100%" class="table table-striped table-sm" if.bind="operation">
        <tr>
          <td width="30%">Gufi</td>
          <td width="70%">${operation.gufi}</td>
        </tr>

        <tr>
          <td>Uss Instance</td>
          <td>${operation.uss_instance_id}</td>
        </tr>

        <tr>
          <td>Status</td>
          <td class="state-${operation.state}">${operation.state}</td>
        </tr>

        <tr>
          <td>Begin Time</td>
          <td>${operation.operation_volumes[0].effective_time_begin | utcDateTimeFormat}</td>
        </tr>

        <tr>
          <td>End Time</td>
          <td>${operation.operation_volumes[0].effective_time_end | utcDateTimeFormat}</td>
        </tr>

        <tr>
          <td>FAA Rule</td>
          <td>${operation.faa_rule}</td>
        </tr>

        <tr>
          <td>Priority</td>
          <td>${operation.priority_elements.priority_status}</td>
        </tr>

        <tr>
          <td>Contact</td>
          <td>${operation.primary_contact_name}</td>
        </tr>

        <tr>
          <td>Phone</td>
          <td>${operation.primary_contact_phone}</td>
        </tr>
      </table>
    </ui-panel-body>
  </ui-panel>
</template>
