<template>
  <ui-panel class="x-dash-card bgLighter" minheight="20em" height="100%">
    <ui-header>
      <ui-header-title>Telemetry</ui-header-title>
      <ui-header-tool expand></ui-header-tool>
    </ui-header>
    <ui-panel-body>
      <ui-container padded>

        <ui-row nowrap>
          <ui-column padded width="50%">
            <div class="ui-row ui-row-middle">
              <div style="width:5em" class="ui-thin ui-font-small">Latitude:</div>
              <div class="ui-col-fill ui-strong">${lat}</div>
            </div>
          </ui-column>
          <ui-column padded width="50%">
            <div class="ui-row ui-row-middle">
              <div style="width:5em" class="ui-thin ui-font-small">Longitude:</div>
              <div class="ui-col-fill ui-strong">${lng}</div>
            </div>
          </ui-column>
        </ui-row>
      </ui-container>

    </ui-panel-body>
  </ui-panel>

</template>
