<template>
  <style>
    .togglecss {
      top: -3px;
      margin-left: 49%;
      color: #36e4c6;
      cursor: pointer;
    }
  </style>
  <div style="height:10px;background-color:#f5f5f5;">
    <span click.delegate="toggle()" class="glyphicon glyphicon-chevron-down togglecss" if.bind="!showCarousel"></span>
    <span click.delegate="toggle()" class="glyphicon glyphicon-chevron-up togglecss " if.bind="showCarousel"></span>
  </div>
  <div class="well carousel" if.bind="showCarousel">
    <a class="carousel-nav previous"
       click.trigger="previous()">
      <i class="fa fa-arrow-circle-o-left"></i>
    </a>
    <a class="carousel-nav next"
       click.trigger="next()">
      <i class="fa fa-arrow-circle-o-right"></i>
    </a>
    <ol>
      <li class="col-lg-12" repeat.for="item of items"
          class.bind="item.carouselCurrent ? 'current' : ''">
        <compose view="${$parent.template}"
                 view-model.bind="item" />
      </li>
    </ol>
  </div>
</template>
