<template>
  <require from="../lib/date-format"></require>
	<div style="margin-top:1px;" repeat.for="ele of item" class="carousel-item col-ld-2 col-lg-2 col-md-2">
		<a href="#/workspace/gallery/${ele.Gufi}"><img style="height:60px; width:80px" title="${ele.Name}" src="${ele.TimelineThumbLocation}" /> <h6> ${ele.Name.substring(0, 25).toUpperCase()} </h6> </a>
	</div>
</template>
