<template>
  <!--<div class="col-sm-6 col-md-12 card-container au-animate">
    <div repeat.for="col of cols">
      <div>${col}</div>
    </div>

    <button class="pull-right btn-primary" click.call="onAdd()">Add</button>
    <grid css-framework="bootstrap" data-source.bind="source" selected-item.two-way="selected" selectable.bind="true">
      <template replace-part="grid-template">

           <grid-column property="${col}" sortable sortable></grid-column>data

        &lt;!&ndash;<grid-column-button heading="Edit" caption="Edit" button-click.call="onEditItem(row.Id)"></grid-column-button>&ndash;&gt;
      </template>

      <template replace-part="grid-footer-template">
        <td colspan.bind="columns.length">
          <pagination page-size="10"></pagination>
          <div>Total items: ${dataSource.length}</div>
        </td>
      </template>
    </grid>
  </div>-->


</template>
