<template>
    <div if.bind="display">
      <div id="myModal" class="modal fade ml-dialog-3d" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" click.delegate="closeDialog()">&times;</button>
              <span class="modal-title">${title}</span>
            </div>
            <div class="modal-body">
              <template part="dialog-body" replaceable></template>
            </div>
            <div class="modal-footer" show.bind="displayFooter">
              <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal" click.delegate="closeDialog()">Close</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </template>
  