<template>
  <style>
    .gen_upload{
      position: absolute;
      top: 10%;
      left: 25%;
      width: 50%;
      background-color: #333;
    }

    .img_description{
      margin-bottom: 10px;
    }
  </style>
    <require from="components/dialog"></require>
    <require from="components/anra-generic-upload"></require>
    <anra-dialog class="gen_upload" if.bind="isUploading" display.two-way="isUploading" title.bind="title" display-footer.bind="true" on-close.call="close()">
        <template replace-part="dialog-body">
          <ui-row>
            <ui-column size="md-12 lg-12">
                <ui-input-group>
                  <ui-input-label> Title </ui-input-label>
                  <ui-input text class="input-ui" value.bind="entityName" placeholder="Title"></ui-input>
                </ui-input-group>
            </ui-column>

            <ui-column size="md-8 lg-11 xs-8">
                <ui-input-group>
                    <ui-input-label> Description </ui-input-label>
                    <ui-textarea clear counter rows="3" placeholder="Description" value.bind="uploadComment" auto-complete=""></ui-textarea>
                </ui-input-group>
            </ui-column>
          </ui-row>
          <div class="img_description"><strong>Accepted Format</strong>: ${allowedExtensions}</div>

          <anra-generic-upload class="gene_upload" reference-Id.bind="referenceId" entity-Id.bind="entityId" entity-name.bind="entityName" file-type.bind="fileType" 
              allowed-extensions.bind="allowedExtensions" upload-path.bind="uploadPath" 
              upload-comment.bind="uploadComment" upload-limit.bind="uploadLimit"  user-id.bind="userId"></anra-generic-upload>
        </template>

      <!-- <template replace-part="dialog-body">
        <div class="row">
          <div class="col-md-12">
            <fieldset class="form-group">
              <label class="control-label" for="title">Title</label>
              <input type="text" class="form-control" id="title" value.bind="entityName">
            </fieldset>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <fieldset class="form-group">
              <label class="control-label" for="description">Description</label>
              <textarea class="form-control" id="description" rows="2" value.bind="uploadComment"></textarea>
            </fieldset>
          </div>
        </div>
        <div><strong>Accepted Format</strong>: ${allowedExtensions}</div>
        <anra-generic-upload class="gene_upload" reference-Id.bind="referenceId" entity-Id.bind="entityId" entity-name.bind="entityName" file-type.bind="fileType" 
                          allowed-extensions.bind="allowedExtensions" upload-path.bind="uploadPath" 
                          upload-comment.bind="uploadComment" upload-limit.bind="uploadLimit"  user-id.bind="userId"></anra-generic-upload>
      </template> -->
    </anra-dialog>
  
  
  </template>
  