<template>
   <ai-dialog>
      <ai-dialog-body>
         <h5 class="text-center">${message}</h5>
      </ai-dialog-body>

      <ai-dialog-footer>
         <button class="btn btn-primary btn-lg" click.trigger = "controller.ok(message)">Ok</button>
         <button class="btn btn-primary btn-lg" click.trigger = "controller.cancel()">Cancel</button>
      </ai-dialog-footer>
	
   </ai-dialog>
	
</template>