<template>

  <style>
    .sidenav {
      height: 100%; /* 100% Full-height */
      width: 0; /* 0 width - change this with JavaScript */
      position: fixed; /* Stay in place */
      z-index: 1; /* Stay on top */
      top: 0;
      right: 0;
      background-color: #333333;
      overflow-x: hidden; /* Disable horizontal scroll */
      transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      color: white;
    }

    .sidenav label {
      color: white;
    }

    #menubutton {
      float: right;
      position: absolute;
      margin: 10px;
      top: 0;
      right: 0;
    }

    /* The navigation menu links */
    .sidenav a {
      padding: 0 8px 8px 32px;
      color: #818181;
      display: block;
      transition: 0.3s
    }

    /* Position and style the close button (top right corner) */
    .sidenav .closebtn {
      position: absolute;
      top: 0;
      font-size: 25px;
      right: 25px;
      margin-left: 5px;
      color: white;
      left: -15px;
    }

    /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
    #page-content {
      transition: margin-right .5s;
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }

    .tab-menu {
      padding: 5px;
      color: white;
    }

    .active-tab {
      background: #7f7171;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
      color: white;
    }

    #mySidenav .top-div {
      padding: 5px;
      background: #7f7171;
    }

    #mySidenav .normal-text {
      font-size: 15px !important;
    }

    #mySidenav .heading-text {
      font-size: 18px !important;
    }

  </style>

  <div id="mySidenav" class="sidenav" style="width:${navWidth}; overflow:${overflow}">
    <div style="float:right">
		<a href="javascript:void(0)" class="closebtn" show.bind="!expanded" click.delegate="toggleNav()">
			<i class="fa fa-chevron-right" aria-hidden="true"></i>
		</a>
	</div>
    <div class="mySidenav-inner">
      <div>
        <template part="side-bar-top-content" replaceable></template>
      </div>
      <template part="side-bar-content" replaceable></template>
    </div>
  </div>
  <a id="menubutton" href="javascript:;" click.delegate="toggleNav()" onclick="rtNav()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
  <div id="page-content" style="margin-right:${margin}">
    <template part="page-content" replaceable>
    </template>
  </div>
</template>
