html,
body {
  min-height: 100%;
}
.humane,
.humane-libnotify {
  position: fixed;
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-libnotify {
  text-align: center;
  font-size: 15px;
  top: 10px;
  right: 10px;
  opacity: 0;
  width: 150px;
  color: #fff;
  padding: 10px;
  background:#000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px -4px #000;
  box-shadow: 0 4px 4px -4px #000;
  -moz-transform: translateY(-40px);
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
}
.humane p,
.humane-libnotify p,
.humane ul,
.humane-libnotify ul {
  margin: 0;
  padding: 0;
}
.humane ul,
.humane-libnotify ul {
  list-style: none;
}
.humane.humane-libnotify-info,
.humane-libnotify.humane-libnotify-info {
 background:#000;
}
.humane.humane-libnotify-success,
.humane-libnotify.humane-libnotify-success {
  background:#000;
}
.humane.humane-libnotify-error,
.humane-libnotify.humane-libnotify-error {
 background:#000;
}
.humane.humane-animate,
.humane-libnotify.humane-libnotify-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane.humane-animate:hover,
.humane-libnotify.humane-libnotify-animate:hover {
  opacity: 0.2;
}
.humane.humane-animate,
.humane-libnotify.humane-libnotify-js-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.humane.humane-animate:hover,
.humane-libnotify.humane-libnotify-js-animate:hover {
  opacity: 0.2;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
}
