html,
body {
  min-height: 100%;
}
.humane,
.humane-original {
  position: fixed;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 100000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}
.humane,
.humane-original {
	font-family: 'PT Sans Caption', sans-serif;
	font-size: 17px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: 500px !important;
	top: 168px;
	left: 50% !important;
	transform: translate(-50%,0) !important;
	box-shadow: none;
	opacity:1;
}
.humane p,
.humane-original p,
.humane ul,
.humane-original ul {
  margin: 0;
  padding: 0;
}
.humane ul,
.humane-original ul {
  list-style: none;
}
.humane.humane-original-info,
.humane-original.humane-original-info {
  color: #3c763d;
	background-color: rgb(201, 247, 239);
    border-color: #9eeddf;
}
.humane.humane-original-success,
.humane-original.humane-original-success {
    color: #3c763d;
	background-color: rgb(201, 247, 239);
    border-color: #9eeddf;
}
.humane.humane-original-error,
.humane-original.humane-original-error {
  color: #3c763d;
	background-color: rgb(201, 247, 239);
    border-color: #9eeddf;
}
.humane.humane-animate,
.humane-original.humane-original-animate {
  opacity: 0.8;
}
.humane.humane-animate:hover,
.humane-original.humane-original-animate:hover {
  opacity: 0.6;
}
.humane.humane-js-animate,
.humane-original.humane-original-js-animate {
  opacity: 0.8;
}
.humane.humane-js-animate:hover,
.humane-original.humane-original-js-animate:hover {
  opacity: 0.6;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
}
