<template>  
  <nav class="navbar navbar-default navbar-fixed-right navbar-inverse " role="navigation">
    <div>
      <div class="container-fluid">
        <div class="row">
         <div class="op_title2" click.delegate="toggle(1)" > Airport Airspace
				<span class="glyphicon-arrow glyphicon-chevron-down f-r" if.bind="!toggleAirport"></span>
                <span class="glyphicon-arrow glyphicon-chevron-up f-r" if.bind="toggleAirport"></span>
		  </div>
		  <div show.bind="toggleAirport" class="airspace-main">
			  <!-- <div repeat.for="option of airportOptions" class="airspace-options airspace-1">
				<div class="airspace-option">
				  <div class="semi-bold" style="display:inline-block; vertical-align: text-bottom;">${option.name}</div>
				  <div class="switch demo3">
					<input type="radio" model.bind="option.value" checked.bind="$parent.selectedAirportOption"><label><i></i></label>
				  </div>
				  <div class="help-div" click.delegate="popup(option)"><i class="fa fa-question-circle"></i></div>
				  	<div show.bind="togglePoup" class="ui-overlay">
						<div class="ui-popup">
							<div class="close" click.delegate="close(1)">x</div>
                            <h3>${helpTitle}</h3>
                            <p>${helpText}</p>
						</div>
					</div> 
				</div>
			  </div> -->

			  <ui-column size="md-12 lg-12">
				<ui-row>
					<ui-column>
						<div repeat.for="option of airportOptions" class="airspace-options airspace-1">
							<ui-option-group name="shapes">
								<ui-radio class="radio_sidebar" model.bind="option.value" checked.bind="$parent.selectedAirportOption"></ui-radio>
								<span class="radio_name"> ${option.name} </span>
								<div class="help-div" click.delegate="popup(option)"><i class="fa fa-question-circle"></i></div>
								<div show.bind="togglePoup" class="ui-overlay">
									<div class="ui-popup">
										<div class="close" click.delegate="close(1)">x</div>
										<h3>${helpTitle}</h3>
										<p>${helpText}</p>
									</div>
								</div>
							</ui-option-group>
						</div>
					</ui-column>
				</ui-row>
			  </ui-column>
		  


          <div  class="panel-subheader panel-1">Controlled Airspace <div class="help-div" click.delegate="popup('controlledAirspace')"><i class="fa fa-question-circle"></i></div></div>
			<div class="airspace-main-inner">
				<div repeat.for="option of controlledAirspaceOptions" class="airspace-options airspace-2">
					<div class="airspace-option" >
					<div class="semi-bold" style="display:inline-block; vertical-align: text-bottom;">${option.name} Airspace</div>
					<div class="switch demo3">
						<span><i class="fa fa-eye m-r-5" ></i></span>
					</div>
					<div class="color-div"></div>
					</div>
				</div>
			</div>
		</div>
			
        <div  class="op_title2" click.delegate="toggle(2)">Caution
				<span class="glyphicon-arrow glyphicon-chevron-down f-r" if.bind="!toggleCaution"></span>
                <span class="glyphicon-arrow glyphicon-chevron-up f-r" if.bind="toggleCaution"></span>
		  </div>
		  <div show.bind="toggleCaution" class="airspace-main">
			  <div repeat.for="option of cautionaryOptions" class="airspace-options airspace-2">
				<div class="airspace-option" >
				  <div class="semi-bold" style="display:inline-block; vertical-align: text-bottom;">${option.name}</div>
				  <div class="switch demo3">
					 <span><i class="fa fa-eye m-r-5" ></i></span>
				  </div>
				  <div class="help-div" click.delegate="popup(option)"><i class="fa fa-question-circle"></i></div>
				</div>
			  </div>
          </div>
          <div  class="op_title2" click.delegate="toggle(3)">Advisory
				<span class="glyphicon-arrow glyphicon-chevron-down f-r" if.bind="!toggleAdvisory"></span>
                <span class="glyphicon-arrow glyphicon-chevron-up f-r" if.bind="toggleAdvisory"></span>
		  </div>
		  <div show.bind="toggleAdvisory" class="airspace-main">
			  <div repeat.for="option of advisoryOptions" class="airspace-options airspace-2">
				<div class="airspace-option" >
				  <div class="semi-bold" style="display:inline-block; vertical-align: text-bottom;">${option.name}</div>
				  <div class="switch demo3">
					<span><i class="fa fa-eye m-r-5" ></i></span>
				  </div>
				</div>				
			  </div>
          </div>

        </div>
      </div>

    </div>

  </nav>
</template>
