<template>

  <!-- <require from="../lib/component/animation/loading"></require> -->
  <require from="./network-side-bar"></require>

  <require from="../components/side-nav-bar"></require>

  <ui-loader busy.bind="isWaiting" big></ui-loader>

  <ui-drawer-toggle class="right-menu" id="" drawer.bind="drawerUSSExchange" class="icon-moon-cog" theme="info"></ui-drawer-toggle>
  <div if.bind="!isWaiting">
    <div style="display:block; width:100%;">
      <div id="map" style="height:100vh;width:100%;position:relative;"></div>
    </div>
  </div>

  <ui-drawer ref="drawerUSSExchange" position="end" scroll padded>
    <div class="lf_op3">
      <div class="check_list">
          <network-side-bar></network-side-bar>
      </div>
    </div>
  </ui-drawer>


</template>
