<template>
 <ui-page class="dashboard-page">
   <ui-loader busy.bind="isWaiting" big></ui-loader>
    <ui-section style="margin-top:15px; ">
        <ui-row>
            <ui-column size="md-4 lg-4 xs-6">
                <div class="box">
                   <div click.delegate="navigate('operations')">
                      <a>
                        <span class="count_dashboard">${dashboardItem.TotalFlights}</span><br/>
                        <span> Flights </span>
                        <i class="anr-ico ico_1"></i>
                      </a>
                   </div>   
                </div>
            </ui-column>
            <ui-column size="md-4 lg-4 xs-6">
                <div class="box">
                   <div>
                      <a href='#/network'>
                        <span class="count_dashboard">${dashboardItem.TotalDrones}</span><br/>
                        <span>Network View</span>
                        <i class="anr-ico ico_2"></i>
                      </a>
                   </div>   
                </div>
            </ui-column>
            <ui-column size="md-4 lg-4 xs-6">
                <div class="box">
                   <div click.delegate="navigate('operations')">
                      <a>
                        <span class="count_dashboard">${dashboardItem.TotalIncidents}</span><br/>
                        <span> Incident </span>
                        <i class="anr-ico ico_3"></i>
                      </a>
                   </div>   
                </div>
            </ui-column>

            <ui-column size="md-4 lg-4 xs-6">
                <div class="box">
                   <div click.delegate="navigate('operations')">
                      <a>
                        <span class="count_dashboard">${dashboardItem.TotalDrones}</span><br/>
                        <span> Drones </span>
                        <i class="anr-ico ico_4"></i>
                      </a>
                   </div>   
                </div>
            </ui-column>

            <ui-column size="md-4 lg-4 xs-6">
               <div class="box">
                  <div click.delegate="navigate('operations')">
                     <a>
                       <span class="count_dashboard">${dashboardItem.TotalEquipments}</span><br/>
                       <span> Equipments </span>
                       <i class="anr-ico ico_5"></i>
                     </a>
                  </div>   
               </div>
           </ui-column>

           <ui-column size="md-4 lg-4 xs-6">
               <div class="box">
                  <div click.delegate="navigate('operations')">
                     <a>
                     <span class="count_dashboard">${dashboardItem.TotalReports}</span><br/>
                     <span> Reports </span>
                     <i class="anr-ico ico_6"></i>
                     </a>
                  </div>   
               </div>
           </ui-column>
        </ui-row>


    <ui-section column-layout>
        <ui-content padded class="das-main">
           <ui-container>
              <ui-row>
                <ui-column size="md-6 lg-6 xs-12" padded>
                    <ui-panel>
                       <ui-panel-body padded>
                          <h5>Flight Summary</h5>
                          <div id="flightSummary" class="chart">
                          </div>
                       </ui-panel-body>
                      </ui-panel>
                </ui-column>
                <ui-column size="md-6 lg-6 sm-6 xs-12" padded>
                     <ui-panel>
                        <ui-panel-body padded>
                           <h5>Operational Summary</h5>
                           <div id="operationalSummary" class="chart">
                           </div>
                        </ui-panel-body>
                     </ui-panel>
                 </ui-column>
               </ui-row>

                <ui-row>
                  <ui-column size="md-12 lg-12">
                     <ui-panel>
                        <ui-panel-body padded>
                              <h5>Latest Flights</h5>
                              <div class="table-responsive des-table">
                                 <table class="table table-fixed table-custom table-striped dataTable no-footer" aurelia-table="data.bind: dashboardItem.Flights; display-data.bind: $displayData;
                                             current-page.bind: currentPage; page-size.bind: pageSize; total-items.bind: totalItems;">
                                      <thead>
                                          <tr>
                                              <th aut-sort="key: MissionName; default: desc"> Mission Name <span class="glyphicon glyphicon-sort"></span></th>
                                              <th aut-sort="key: EndTime; default: desc"> Date <span class="glyphicon glyphicon-sort"></span></th>
                                              <th aut-sort="key: OrganizationName; default: desc"> Organization <span class="glyphicon glyphicon-sort"></span></th>
                                              <th aut-sort="key: DroneName; default: desc"> Drone <span class="glyphicon glyphicon-sort"></span></th>
                                              <th aut-sort="key: Duration; default: desc"> Duration <span class="glyphicon glyphicon-sort"></span></th>
                                              <th aut-sort="key: StatusText; default: desc">Status <span class="glyphicon glyphicon-sort"></span></th>
                                              <th>Details</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                      <tr repeat.for="flight of $displayData">
                                        <td><a href="javascript:;">${flight.MissionName}</a></td>
                                        <td>${flight.EndTime}</td>
                                        <td>${flight.OrganizationName}</td>
                                        <td>${flight.DroneName}</td>
                                        <td>${flight.Duration}</td>
                                        <td>
                                            <div if.bind ="flight.StatusText == 'Accepted'" title="Accepted"><div class="accepted"></div> </div>
                                            <div if.bind ="flight.StatusText == 'Proposed' && item.IsAdminApprovalRequired== false" title="Proposed"><div class="proposed"></div> </div>
                                            <div if.bind ="flight.StatusText == 'Closed'" title="Closed"><div class="closed"></div> </div>
                                            <div if.bind ="flight.StatusText == 'Started'" title="started"><div class="started"></div> </div>
                                            
                                        </td>
                                        <td>
                                             <a href="javascript:;" class="ed" click.delegate="viewItem(flight.FlightId)"title="View">
                                                <i class="fa fa-eye" aria-hidden="true"></i>
                                             </a>
                                        </td>
                                      </tr>
                                      </tbody>
                                 </table>
                              </div>
                        </ui-panel-body>
                     </ui-panel>
                    
                  </ui-column>
               </ui-row>
            </ui-container>
        </ui-content>
      </ui-section>

 </ui-page>
</template>
